<html lang="ko"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org/">
<!--head-->
<div th:replace="/user/fragment/head :: head"></div>
<!--head 끝-->

<body id="subLayoutBody" class="vsc-initialized isPc">




<!-- appAlert -->
<div th:replace="/user/fragment/appAlert :: appAlert"></div>
<!-- //appAlert 끝 -->

<!-- header -->
<div th:replace="/user/fragment/header :: header"></div>
<!-- //header 끝 -->



<div id="body">

    <!-- Google Tag Manager (noscript) -->
    <noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PD2BQQ4" height="0" width="0"
                style="display:none;visibility:hidden"></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->

    <div class="wrap wrap--no-paddings">


        <div id="breadcrumb" class="breadcrumb pc-only" aria-label="breadcrumb">
            <nav class="breadcrumb__inner">
                <div class="breadcrumb__item">
                    <a href="javascript:;" class="breadcrumb__link" style="cursor: default;">홈</a>
                </div>


                <div class="breadcrumb__item">
                    <a href="javascript:;" class="breadcrumb__link" style="cursor: default;">이벤트</a>
                </div>


                <div class="breadcrumb__item breadcrumb__item--current" aria-current="page" data-element="toggle"
                     data-options="{&quot;mode&quot;: &quot;slide&quot;, &quot;speed&quot;: 100, &quot;clickToClose&quot;: true}">


                    <button type="button" class="breadcrumb__link breadcrumb__link--list" data-element="toggle__anchor"
                            aria-controls="toggle-2" aria-expanded="false">지난 이벤트
                    </button>


                    <div class="breadcrumb__siblings-list" data-element="toggle__panel" id="toggle-2">


                        <a href="javascript:void(0);" class="item" onclick="location.href='/user/event/eventList';">진행중인
                            이벤트</a>


                    </div>
                </div>


            </nav>
        </div>


        <div class="content" id="content">
            <main id="main" class="main ">

                <div class="page-title-wrap pc-only">
                    <div class="page-title">이벤트</div>
                </div>


                <div class="carousel--event">
                    <div class="main-carousel swiper-container carousel__contents swiper-container-fade swiper-container-initialized swiper-container-horizontal"
                         data-carousel="fullItemAuto" data-loop="true">
                        <div class="carousel-wrapper swiper-wrapper" style="transition-duration: 0ms;">

                            <div class="main-carousel__item swiper-slide swiper-slide-active"
                                 style="width: 1004px; opacity: 1; transform: translate3d(0px, 0px, 0px); transition-duration: 0ms;">
                                <div class="event-top-banner"
                                     style="background-image: url(https://static.jejuair.net/cms/images/event_scrn/20220308101120843.jpg)"
                                     title="간편계좌결제">
                                    <a href="/ko/event/eventDetail.do?eventNo=0000000371" class="event-banner-item">
                                        <div class="event-banner">
                                            <span class="event-banner__text" style="color: ;">3% 운임할인, 5% 포인트적립</span>


                                            <p class="event-banner__title" style="color: ;">
                                                '간편계좌등록' 결제<br>최대 8% 혜택 !
                                            </p>


                                            <div class="event-banner__bottom">


                                                <span class="event-banner__date" style="color: ;">2022.07.06&nbsp;~&nbsp;2022.08.31</span>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>

                            <div class="main-carousel__item swiper-slide swiper-slide-next"
                                 style="width: 1004px; opacity: 0; transform: translate3d(-1004px, 0px, 0px); transition-duration: 0ms;">
                                <div class="event-top-banner"
                                     style="background-image: url(https://static.jejuair.net/cms/images/event_scrn/20220630143158944.jpg)"
                                     title="">
                                    <a href="/ko/event/eventDetail.do?eventNo=0000000336" class="event-banner-item">
                                        <div class="event-banner">
                                            <span class="event-banner__text" style="color: #FFFFFF;">티빙 신규회원 7일 체험권 전원 증정</span>


                                            <p class="event-banner__title" style="color: #FFFFFF;">
                                                올 여름 제주항공과 <br>티빙 봐캉스!
                                            </p>


                                            <div class="event-banner__bottom">


                                                <span class="event-banner__date" style="color: #FFFFFF;">2022.07.11&nbsp;~&nbsp;2022.07.31</span>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>

                            <div class="main-carousel__item swiper-slide"
                                 style="width: 1004px; opacity: 0; transform: translate3d(-2008px, 0px, 0px); transition-duration: 0ms;">
                                <div class="event-top-banner"
                                     style="background-image: url(https://static.jejuair.net/cms/images/event_scrn/20220629134701257.jpg)"
                                     title="">
                                    <a href="/ko/event/eventDetail.do?eventNo=0000000369" class="event-banner-item">
                                        <div class="event-banner">
                                            <span class="event-banner__text" style="color: #000000;">`하나합` 가입 &amp; 자산연결하고</span>


                                            <p class="event-banner__title" style="color: #000000;">
                                                리프레시포인트+<br>커피쿠폰 받으세요!
                                            </p>


                                            <div class="event-banner__bottom">


                                                <span class="event-banner__date" style="color: #000000;">2022.07.06&nbsp;~&nbsp;2022.08.31</span>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>

                            <div class="main-carousel__item swiper-slide"
                                 style="width: 1004px; opacity: 0; transform: translate3d(-3012px, 0px, 0px); transition-duration: 0ms;">
                                <div class="event-top-banner"
                                     style="background-image: url(https://static.jejuair.net/cms/images/event_scrn/20220613164822222.jpg)"
                                     title="">
                                    <a href="/ko/event/eventDetail.do?eventNo=0000000331" class="event-banner-item">
                                        <div class="event-banner">
                                            <span class="event-banner__text"
                                                  style="color: ;">오직 제주항공회원만 누릴 수 있는 혜택</span>


                                            <p class="event-banner__title" style="color: ;">
                                                Only JEJU<br>'제주'는 제주항공!
                                            </p>


                                            <div class="event-banner__bottom">


                                                <span class="event-banner__date" style="color: ;">2022.06.16&nbsp;~&nbsp;2022.08.31</span>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>

                            <div class="main-carousel__item swiper-slide"
                                 style="width: 1004px; opacity: 0; transform: translate3d(-4016px, 0px, 0px); transition-duration: 0ms;">
                                <div class="event-top-banner"
                                     style="background-image: url(https://static.jejuair.net/cms/images/event_scrn/20220214091300974.jpg)"
                                     title="">
                                    <a href="/ko/event/eventDetail.do?eventNo=0000000185" class="event-banner-item">
                                        <div class="event-banner">
                                            <span class="event-banner__text" style="color: ;">Share The Meal 챌린지 </span>


                                            <p class="event-banner__title" style="color: ;">
                                                제주항공과 <br>#선한영향력 함께해요
                                            </p>


                                            <div class="event-banner__bottom">


                                                <span class="event-banner__date" style="color: ;">2022.02.15&nbsp;~&nbsp;2022.12.31</span>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>

                            <div class="main-carousel__item swiper-slide"
                                 style="width: 1004px; opacity: 0; transform: translate3d(-5020px, 0px, 0px); transition-duration: 0ms;">
                                <div class="event-top-banner"
                                     style="background-image: url(https://static.jejuair.net/cms/images/event_scrn/20220617095416248.jpg)"
                                     title="">
                                    <a href="/ko/event/eventDetail.do?eventNo=0000000256" class="event-banner-item">
                                        <div class="event-banner">
                                            <span class="event-banner__text"
                                                  style="color: #ffffff;">삼성페이로 모바일탑승권 이용하기</span>


                                            <p class="event-banner__title" style="color: #ffffff;">
                                                모바일탑승권<br>in 삼성페이
                                            </p>


                                            <div class="event-banner__bottom">


                                                <span class="event-banner__date" style="color: #ffffff;">2022.06.20&nbsp;~&nbsp;2022.12.31</span>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>

                        </div>

                        <div class="pc-only">
                            <button type="button" class="carousel__button-next" tabindex="0" role="button"
                                    aria-label="Next slide" aria-disabled="false"></button>
                            <button type="button" class="carousel__button-prev swiper-button-disabled" tabindex="0"
                                    role="button" aria-label="Previous slide" aria-disabled="true"></button>
                        </div>
                        <div class="carousel__pagination swiper-pagination swiper-pagination-clickable swiper-pagination-bullets">
                            <span class="swiper-pagination-bullet swiper-pagination-bullet-active" tabindex="0"
                                  role="button" aria-label="Go to slide 1"></span><span class="swiper-pagination-bullet"
                                                                                        tabindex="0" role="button"
                                                                                        aria-label="Go to slide 2"></span><span
                                class="swiper-pagination-bullet" tabindex="0" role="button"
                                aria-label="Go to slide 3"></span><span class="swiper-pagination-bullet" tabindex="0"
                                                                        role="button" aria-label="Go to slide 4"></span><span
                                class="swiper-pagination-bullet" tabindex="0" role="button"
                                aria-label="Go to slide 5"></span><span class="swiper-pagination-bullet" tabindex="0"
                                                                        role="button" aria-label="Go to slide 6"></span>
                        </div>

                        <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span></div>
                </div>

                <div data-element="tab" class="tab tab--default section-wrap">
                    <div class="sticky-wrap" style="padding-top: 0px;">
                        <div class="sticky__inner" data-sticky="">
                            <div class="tab__buttons tab__buttons--event">
                                <div class="tab__button">
                                    <button type="button" class="tab__anchor"
                                            onclick="location.href='/user/event/eventList';">진행중인 이벤트
                                    </button>
                                </div>
                                <div class="tab__button">
                                    <button type="button" class="tab__anchor is-active">지난 이벤트
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div data-element="tab__panel" class="tab__panel is-active" role="tabpanel" tabindex="0">


                        <div class="search-result search-result--integrate search-result--event past--event">
                            <div class="search-result__contents">


                                <div class="search-result__item">
                                    <a href="/user/event/pastEventDetail">
                                        <p class="search-result__text-large">'여수' 여행가는 달15,000원 할인</p>
                                        <span class="search-result__text-sub date">2022.07.06 ~ 2022.07.22</span>
                                    </a>
                                </div>

                                <div class="search-result__item">
                                    <a href="/user/event/pastEventDetail1">
                                        <p class="search-result__text-large">카카오페이바캉스 할인 쿠폰팩!</p>
                                        <span class="search-result__text-sub date">2022.07.04 ~ 2022.07.17</span>
                                    </a>
                                </div>

                                <div class="search-result__item">
                                    <a href="/user/event/pastEventDetail2">
                                        <p class="search-result__text-large">NH농협카드 결제 시최대 4만원 운임할인!</p>
                                        <span class="search-result__text-sub date">2022.07.04 ~ 2022.07.17</span>
                                    </a>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </main>
        </div>

    </div>
</div>



<!-- footer -->
<div th:replace="user/fragment/footer :: footer"></div>
<!-- / footer 끝 -->


<!-- 공통 스크립트 선언 -->

<!--<div th:replace="/user/fragment/js :: js"></div>-->
<script type="text/javascript" src="/user/lib/js/lib.min.js"></script>
<script type="text/javascript" src="/user/lib/js/common.js"></script>
<script type="text/javascript" src="/user/lib/js/plugin.js"></script>

<!-- 공통 스크립트 선언 끝 -->

<!--body, html 주석은 위치 고정-->
</body>
</html>
<!--body, html 주석은 위치 고정 끝-->
