<html lang="ko"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org/">

<!--head-->
<div th:replace="/user/fragment/head :: head"></div>
<!--head 끝-->
<body id="subLayoutBody">

<!--appAlert-->
<div th:replace="/user/fragment/appAlert :: appAlert"></div>
<!--appAlert 끝-->

<!--header-->
<div th:replace="/user/fragment/header :: header"></div>
<!--header 끝-->


<div id="body">

    <!-- Google Tag Manager (noscript) -->
    <noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PD2BQQ4" height="0" width="0"
                style="display:none;visibility:hidden"></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->

    <div class="wrap NC_1">


        <div id="breadcrumb" class="breadcrumb pc-only" aria-label="breadcrumb">
            <nav class="breadcrumb__inner">
                <div class="breadcrumb__item">
                    <a href="javascript:;" class="breadcrumb__link">홈</a>
                </div>

                <div class="breadcrumb__item">
                    <a href="javascript:" class="breadcrumb__link">회원 혜택 안내</a>
                </div>

                <div class="breadcrumb__item breadcrumb__item--current" aria-current="page" data-element="toggle"
                     data-options='{"mode": "slide", "speed": 100, "clickToClose": true}'>

                    <button type="button" class="breadcrumb__link breadcrumb__link--list" data-element="toggle__anchor">
                        포인트 조회
                    </button>
                    <div class="breadcrumb__siblings-list" data-element="toggle__panel">

                        <a href="point_main" class="item">리프레시 포인트</a>
                        <a href="point_buy" class="item">포인트 구매</a>
                        <a href="member_benefit_new" class="item">신규회원 혜택</a>

                    </div>
                </div>
            </nav>
        </div>

        <div class="content" id="content">
            <main id="main" class="main ">

                <form id="frm" name="frm">
                    <input type="hidden" id="apiRequestType" name="apiRequestType"/>
                    <input type="hidden" id="ffpNo" name="ffpNo" value=""/>
                    <input type="hidden" id="offerType" name="offerType" value="JPNT"/>
                    <input type="hidden" id="pageNo" name="pageNo" value="1"/>
                    <input type="hidden" id="perPageCnt" name="perPageCnt" value="10"/>
                    <input type="hidden" id="language" name="language" value="KR"/>
                    <input type="hidden" id="fromDate" name="fromDate"/>
                    <input type="hidden" id="toDate" name="toDate"/>
                    <input type="hidden" id="lang" name="lang" value="ko"/>
                    <input type="hidden" id="userId" name="userId" value=""/>
                    <input type="hidden" id="pgTxId" name="pgTxId" value=""/>
                    <input type="hidden" id="ffptradeid" name="ffptradeid" value=""/>
                    <input type="hidden" id="transObject" name="transObject" value=""/>
                    <input type="hidden" id="usableEarnPoint" name="usableEarnPoint" value="0"/>
                    <input type="hidden" id="cultureCd" name="cultureCd" value="ko-KR"/>
                    <input type="hidden" id="cstPlatform" name="cstPlatform" value="test"/>
                    <input type="hidden" id="serverMode" name="serverMode" value="prod"/>
                </form>
                <div class="page-title-wrap">


                    <div class="page-title">포인트 조회</div>
                    <div class="page-sub-title">나의 포인트 사용 내역을 확인해 보세요.</div>
                </div>
                <div class="new-top-wrap refresh_point_searh">
                    <div class="new-top-box">
                        <div class="new-top-box__inner">
                            <div class="pc-left">
                                <div class="mypage__grade">
                                    <span class="grade silver" aria-label="silver"></span>
                                </div>
                                <div class="link-wrap link-wrap--arrow">
                                    <a href="javascript:void(0);" onclick="MEMBER_LOGIN_LOGIN_SCRIPT.popup();"
                                       class="link-wrap__text">
                                        <span><em id="nameText"></em> SILVER</span>
                                    </a>
                                </div>
                            </div>
                            <div class="pc-right">
                                <div class="pc-box">
                                    <div class="mypage__point">
                                        <strong class="mypage__point--title ">사용가능 포인트</strong>
                                        <span>
                      	&nbsp;0P
					  </span>
                                    </div>
                                </div>
                                <div class="table-toggle">
                                    <div class="toggle" data-element="toggle" data-options='{"mode": "slide"}'>
                                        <div class="toggle__panel" data-element="toggle__panel">
                                            <div class="box-point-list">
                                                <ul class="member-point__list">
                                                    <li class="accumlate-point"><span class="text-title">등급 산정 탑승</span><strong
                                                            class="text-desc">
                                                        0.0회
                                                    </strong></li>
                                                    <li><span class="text-title">등급 산정 포인트</span><strong
                                                            class="text-desc">
                                                        0P
                                                    </strong></li><!--20210609 문구 수정-->
                                                    <li><span class="text-title">1개월 내 소멸 예정</span><strong
                                                            class="text-desc">
                                                        0P
                                                    </strong></li>
                                                    <li><span class="text-title">등급 산정 기간</span><strong id="fromToDay"
                                                                                                        class="text-desc"></strong>
                                                    </li>
                                                </ul>
                                                <div class="button-wrap">
                                                    <button id="goMyBoarding"
                                                            onclick="URL_LINK.getI18Url('/member/mypage/myFlightList.do')"
                                                            type="button" class="button button--optional"><span
                                                            class="button__text">나의 탑승 내역</span></button>
                                                </div>
                                            </div>
                                        </div>
                                        <button type="button" class="toggle__button arrow" data-element="toggle__anchor"
                                                aria-label="더보기"></button>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

                <div class="section-wrap pc-single-line">
                    <div class="tab tab--square tab--square-cols3 tab--square-small">
                        <div class="tab__buttons">
                            <div class="tab__button">
                                <button type="button" id="oneMonth" name="btnMonth" class="tab__anchor">1개월</button>
                            </div>
                            <div class="tab__button">
                                <button type="button" id="threeMonth" name="btnMonth" class="tab__anchor  is-active">
                                    3개월
                                </button><!-- active시 is-active class 추가 -->
                            </div>
                            <div class="tab__button">
                                <button type="button" id="sixMonth" name="btnMonth" class="tab__anchor">6개월</button>
                            </div>
                        </div>
                    </div>

                    <div class="input-wrap input--line">


                        <input type="hidden" id="inquiryStartDt" value="2022.04.19">
                        <input type="hidden" id="inquiryEndDt" value="2022.07.19">

                        <div class="input-row input-row--dash">
                            <div class="input-item"><!--error시 .input--error 추가-->
                                <div class="input-label label-top">날짜선택</div>
                                <div class="input-box">
                                    <button type="button" id="fromDatepicker" class="picker picker--button"
                                            data-element="modal_anchor" data-modal-type="datepicker"
                                            data-target="#datepicker01">2022.04.19 (화)
                                    </button>
                                </div>
                                <p tabindex="0" class="input__error">에러메세지 따로따로</p>
                            </div>
                            <div class="input-item"><!--error시 .input--error 추가-->
                                <div class="input-box">
                                    <button type="button" id="toDatepicker" class="picker picker--button"
                                            data-element="modal_anchor" data-modal-type="datepicker"
                                            data-target="#datepicker02">2022.07.19 (화)
                                    </button>
                                </div>
                                <p tabindex="0" class="input__error">에러메세지 따로따로</p>
                            </div>
                        </div>
                    </div>
                    <div class="button-wrap button-wrap--center">
                        <button type="button" id="btnSearch" class="button button--optional">
                            <span class="button__text">조회</span>
                        </button>
                    </div>
                </div>

                <!-- 조회리스트 -->
                <div class="section-wrap point">
                    <!--<div data-element="tab" data-options="{&quot;linkedTab&quot;: &quot;#linkedTab&quot;}"
                      class="tab tab--default">
                      <div class="tab__buttons">
                        <div data-element="tab__list" class="tab__button">
                          <button type="button" data-element="tab__anchor" class="tab__anchor is-active">내역</button>
                        </div>
                      </div>
                    </div>-->

                    <div id="linkedTab" data-element="tab__link" class="linked-tab">
                        <div data-element="tab__panel" class="tab__panel tab__panel--pat20">
                            <div data-element="tab" class="tab tab--2depth">
                                <!-- <div class="tab__buttons">
                                  <div data-element="tab__list" class="tab__button">
                                    <button type="button" data-element="tab__anchor" class="tab__anchor is-active">3개월</button>
                                  </div>
                                  <div data-element="tab__list" class="tab__button">
                                    <button type="button" data-element="tab__anchor" class="tab__anchor">6개월</button>
                                  </div>
                                  <div data-element="tab__list" class="tab__button">
                                    <button type="button" data-element="tab__anchor" class="tab__anchor">날짜선택</button>
                                  </div>
                                  <div data-element="tab__list" class="tab__button">
                                    <button type="button" data-element="tab__anchor" class="tab__anchor">에러메세지 따로따로</button>
                                  </div>
                                  <div data-element="tab__list" class="tab__button">
                                    <button type="button" data-element="tab__anchor" class="tab__anchor">에러메세지 따로따로</button>
                                  </div>
                                  <div data-element="tab__list" class="tab__button">
                                    <button type="button" data-element="tab__anchor" class="tab__anchor">조회</button>
                                  </div>
                                </div> -->  <!--20201-07-08 탭모양수정-->


                                <div class="select-chips full swiper-container">
                                    <ul class="chips-group swiper-wrapper">
                                        <li class="chip swiper-slide">
                                            <button type="button" class="chip-btn checked" data-val="Q01" data-index=0
                                                    data-element="tab__anchor">
                                                <span class="txt">전체</span>
                                            </button>
                                        </li>
                                        <li class="chip swiper-slide">
                                            <button type="button" class="chip-btn" data-val="Q02" data-index=1
                                                    data-element="tab__anchor">
                                                <span class="txt">적립</span>
                                            </button>
                                        </li>
                                        <li class="chip swiper-slide">
                                            <button type="button" class="chip-btn" data-val="Q04W" data-index=2
                                                    data-element="tab__anchor">
                                                <span class="txt">구매</span>
                                            </button>
                                        </li>
                                        <li class="chip swiper-slide">
                                            <button type="button" class="chip-btn" data-val="Q03" data-index=3
                                                    data-element="tab__anchor">
                                                <span class="txt">사용</span>
                                            </button>
                                        </li>
                                        <li class="chip swiper-slide">
                                            <button type="button" class="chip-btn" data-val="Q05" data-index=4
                                                    data-element="tab__anchor">
                                                <span class="txt">선물</span>
                                            </button>
                                        </li>
                                        <li class="chip swiper-slide">
                                            <button type="button" class="chip-btn" data-val="Q06" data-index=5
                                                    data-element="tab__anchor">
                                                <span class="txt">양도</span>
                                            </button>
                                        </li>
                                    </ul>
                                </div>

                                <!-- 전체 -->
                                <div data-element="tab__panel" class="tab__panel">
                                    <div id="tabAll" class="result-box result-box--point result-box--col3">

                                    </div>
                                    <!-- //전체 -->

                                    <!--  조회 내역이 없을 경우 노출 -->
                                    <div class="finish-item-wrap noSearch" style="display:none;">
                                        <div class="finish-item">
                                            <div class="finish-item__img">
                                                <img src="https://static.jejuair.net/hpgg/resources/images/icon/icon-result-none.png"
                                                     alt="">
                                            </div>
                                            <p class="finish-item__title">조회 결과가 없습니다.</p>
                                        </div>
                                    </div>
                                    <!--  //조회 내역이 없을 경우 노출 -->
                                </div>

                                <!-- 적립 -->
                                <div data-element="tab__panel" class="tab__panel" style="display:none;">
                                    <div id="tab1" class="result-box result-box--point result-box--col3">

                                    </div>
                                    <!--  조회 내역이 없을 경우 노출 -->
                                    <div class="finish-item-wrap noSearch" style="display:none;">
                                        <div class="finish-item">
                                            <div class="finish-item__img">
                                                <img src="https://static.jejuair.net/hpgg/resources/images/icon/icon-result-none.png"
                                                     alt="">
                                            </div>
                                            <p class="finish-item__title">조회 결과가 없습니다.</p>
                                        </div>
                                    </div>
                                    <!--  //조회 내역이 없을 경우 노출 -->
                                </div>
                                <!-- //적립 -->

                                <!-- 구매 -->
                                <div data-element="tab__panel" class="tab__panel" style="display:none;">
                                    <div id="tab2" class="result-box result-box--point result-box--col3">

                                    </div>
                                    <!--  조회 내역이 없을 경우 노출 -->
                                    <div class="finish-item-wrap noSearch" style="display:none;">
                                        <div class="finish-item">
                                            <div class="finish-item__img">
                                                <img src="https://static.jejuair.net/hpgg/resources/images/icon/icon-result-none.png"
                                                     alt="">
                                            </div>
                                            <p class="finish-item__title">조회 결과가 없습니다.</p>
                                        </div>
                                    </div>
                                    <!--  //조회 내역이 없을 경우 노출 -->
                                </div>
                                <!-- //구매 -->

                                <!-- 사용 -->
                                <div data-element="tab__panel" class="tab__panel" style="display:none;">
                                    <div id="tab3" class="result-box result-box--point result-box--col3">

                                    </div>
                                    <!--  조회 내역이 없을 경우 노출 -->
                                    <div class="finish-item-wrap noSearch" style="display:none;">
                                        <div class="finish-item">
                                            <div class="finish-item__img">
                                                <img src="https://static.jejuair.net/hpgg/resources/images/icon/icon-result-none.png"
                                                     alt="">
                                            </div>
                                            <p class="finish-item__title">조회 결과가 없습니다.</p>
                                        </div>
                                    </div>
                                    <!--  //조회 내역이 없을 경우 노출 -->
                                </div>
                                <!-- //사용 -->

                                <!-- 선물 -->
                                <div data-element="tab__panel" class="tab__panel" style="display:none;">
                                    <div id="tab4" class="result-box result-box--point result-box--col3">

                                    </div>
                                    <!--  조회 내역이 없을 경우 노출 -->
                                    <div class="finish-item-wrap noSearch" style="display:none;">
                                        <div class="finish-item">
                                            <div class="finish-item__img">
                                                <img src="https://static.jejuair.net/hpgg/resources/images/icon/icon-result-none.png"
                                                     alt="">
                                            </div>
                                            <p class="finish-item__title">조회 결과가 없습니다.</p>
                                        </div>
                                    </div>
                                    <!--  //조회 내역이 없을 경우 노출 -->
                                </div>
                                <!-- //선물 -->

                                <!-- 안내 -->
                                <div data-element="tab__panel" class="tab__panel" style="display:none;">
                                    <div id="tab5" class="result-box result-box--point result-box--col3">

                                    </div>
                                    <!--  조회 내역이 없을 경우 노출 -->
                                    <div class="finish-item-wrap noSearch" style="display:none;">
                                        <div class="finish-item">
                                            <div class="finish-item__img">
                                                <img src="https://static.jejuair.net/hpgg/resources/images/icon/icon-result-none.png"
                                                     alt="">
                                            </div>
                                            <p class="finish-item__title">조회 결과가 없습니다.</p>
                                        </div>
                                    </div>
                                    <!--  //조회 내역이 없을 경우 노출 -->
                                </div>
                                <!-- //안내 -->
                            </div>
                        </div>
                    </div>
                </div>
                <!-- //조회리스트 -->

                <div data-show="true" class="more-wrap">
                    <button type="button" id="btnMore" class="more__button"><span class="more__button-text">더보기</span>
                    </button>
                </div>

                <!-- 소멸 포인트 안내 -->
                <div class="section-wrap">
                    <div class="arrow-list">
                        <a href="#" class="arrow-list__item" data-element="modal_anchor" data-target="#modalLayer01"
                           data-modal-type="full">
                            <span class="arrow-list__text">소멸 포인트 안내</span>
                        </a>
                    </div>
                </div>
                <!-- //소멸 포인트 안내 -->

                <!-- 날짜 선택 -->
                <div id="datepicker01" class="modal modal-full modal-full--picker">
                    <div class="modal-header">
                        <h2 class="header__page-name">날짜를 선택해 주세요.</h2>
                    </div>

                    <div class="modal-content">
                        <div class="picker picker--full">
                            <input type="text"
                                   class="picker__input"
                                   id="selectDate"
                                   data-locale="ko"
                                   data-default-date="[2022.04.19]"
                                   data-picker="single"
                            >
                        </div>
                        <div class="booking-button">
                            <button type="button" class="button button--primary button--active"
                                    data-select-date="#selectDate">
                                <span class="button__text">선택</span>
                            </button>
                        </div>
                    </div>
                    <a href="#" rel="modal:close" class="modal__close"><span class="blind">닫기</span></a>
                </div>
                <!-- // 날짜 선택 -->
                <!-- 날짜 선택 -->
                <div id="datepicker02" class="modal modal-full modal-full--picker">
                    <div class="modal-header">
                        <h2 class="header__page-name">날짜를 선택해 주세요.</h2>
                    </div>

                    <div class="modal-content">
                        <div class="picker picker--full">
                            <input type="text" class="picker__input" id="selectDate2" data-default-date="['2022.07.19']"
                                   data-picker="single">
                        </div>
                        <div class="booking-button">
                            <button type="button" class="button button--primary button--active"
                                    data-select-date="#selectDate2">
                                <span class="button__text">선택</span>
                            </button>
                        </div>
                    </div>
                    <a href="#" rel="modal:close" class="modal__close"><span class="blind">닫기</span></a>
                </div>
                <!-- // 날짜 선택 -->

                <!-- 풀팝업 -->
                <div id="modalLayer01" class="modal modal-full modal-scroll">
                    <div class="modal-header">
                        <div class="modal-header__title">소멸 포인트 안내</div>
                    </div>
                    <div class="modal-content">
                        <ul class="list-guide">
                            <li class="list-guide__item">탑승 적립 포인트의 유효기간은 3년, 구매·선물 적립 포인트의 유효기간은 5년입니다.</li>
                            <li class="list-guide__item">유효기간이 임박한 포인트는 소멸예정일 한 달 전부터 소멸예정 포인트로 공지되며, 이메일 또는 제주항공 홈페이지에서
                                안내받으실 수 있습니다.
                            </li>
                            <li class="list-guide__item">유효기간이 지난 포인트는 자동 소멸됩니다.</li>
                            <li class="list-guide__item">제휴로 적립된 포인트의 유효기간은 1~2년입니다. (별도 안내 시 해당기간을 따름)</li>
                        </ul>
                    </div>
                    <a href="#" rel="modal:close" class="modal__close"><span class="blind">닫기</span></a>
                </div>

                <input type="hidden" id="msg00046" value="결제금액">
                <input type="hidden" id="msg00047" value="추가적립">
                <input type="hidden" id="msg00048" value="사용 포인트">
                <input type="hidden" id="msg00049" value="잔액 포인트">
                <input type="hidden" id="msg00050" value="환불가능 포인트">
                <input type="hidden" id="msg00051" value="소멸일자">
                <input type="hidden" id="msg00052" value="구매취소">
                <input type="hidden" id="msg00053" value="잔액환불">
                <input type="hidden" id="msg00054" value="일자">
                <input type="hidden" id="msg00055" value="받으실 분 이름">
                <input type="hidden" id="msg00056" value="보내신 분 이름">
                <input type="hidden" id="msg00057" value="선물포인트">
                <input type="hidden" id="msg00058" value="사용포인트">
                <input type="hidden" id="msg00059" value="받으실 분 회원번호">
                <input type="hidden" id="msg00060" value="[취소]환불완료 ">
                <input type="hidden" id="msg00062" value="선물취소">
            </main>
        </div>

    </div>
</div>


<!-- footer -->
<div th:replace="/user/fragment/footer :: footer"></div>
<!-- / footer 끝 -->


<!-- 공통 스크립트 선언 -->
<script type="text/javascript" src="/user/lib/js/lib.min.js"></script>
<script type="text/javascript" src="/user/lib/js/common.js"></script>
<script type="text/javascript" src="/user/lib/js/plugin.js"></script>

<div id="ifmWrap"
     style="height:100%; display:none; overflow:auto; text-align:center; -webkit-overflow-scrolling:touch;">
    <iframe src="" width="100%" height="100%" name="popupChkApp"></iframe>
</div>
</body>
</html>