<html lang="ko"
	  xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org/">
<!--head-->
<div th:replace="/user/fragment/head :: head"></div>
<!--head 끝-->

<body id="subLayoutBody" class="isPc vsc-initialized" style="height: 2405px;">


<!-- appAlert -->
<div th:replace="/user/fragment/appAlert :: appAlert"></div>
<!-- //appAlert 끝 -->

<!-- header -->
<div th:replace="/user/fragment/header :: header"></div>
<!-- //header 끝 -->

	<!-- //공지사항 시작 -->
	<div id="body">
		<!-- Google Tag Manager (noscript) -->
		<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PD2BQQ4" height="0" width="0"
				style="display:none;visibility:hidden"></iframe></noscript>
		<!-- End Google Tag Manager (noscript) -->
		<div class="wrap ">
			<!-- //본문 상단 메뉴 시작 -->
			<div id="breadcrumb" class="breadcrumb pc-only" aria-label="breadcrumb">
				<nav class="breadcrumb__inner">
					<div class="breadcrumb__item">
						<a href="javascript:;" class="breadcrumb__link">홈</a>
					</div>
					<div class="breadcrumb__item">
						<a href="javascript:;" class="breadcrumb__link">고객센터</a>
					</div>
					<div class="breadcrumb__item breadcrumb__item--current" aria-current="page" data-element="toggle"
						data-options='{"mode": "slide", "speed": 100, "clickToClose": true}'>
						<button type="button" class="breadcrumb__link breadcrumb__link--list"
							data-element="toggle__anchor">공지사항</button>
						<div class="breadcrumb__siblings-list" data-element="toggle__panel">
							<a href="/user/customerService/faqList" class="item">고객센터</a>
							<a href="/user/customerService/cabinLost" class="item">기내 유실물 센터</a>
						</div>
					</div>
				</nav>
			</div>
			<!-- //본문 상단 메뉴 끝 -->

			<div class="content" id="content">
				<main id="main" class="main ">
					<div class="page-title-wrap">
						<div class="page-title">공지사항</div>
						<div class="page-sub-title">새소식과 운임 공지를 <br class="mobile-only">확인해 보세요</div>
					</div>
					<div class="section-wrap mb40">
						<div class="news">
							<div class="news__item">
								<!-- //공지사항 게시글 시작 -->
								<div class="news__list on">
									<a href="/user/customerService/notice/noticeDetail">

										<span class="news__list-label bg-orange">중요</span>

										<p class="news__list-text">항공권 구매 시 유의사항 안내</p>
										<span class="news__list-date">2022.06.09</span>
									</a>
								</div>

								<div class="news__list ">
									<a href="/user/customerService/notice/noticeDetail">

										<p class="news__list-text">기상 악화로 인한 지연 및 결항 안내</p>
										<span class="news__list-date">2022.06.28</span>
									</a>
								</div>

								<div class="news__list ">
									<a href="/user/customerService/notice/noticeDetail">

										<p class="news__list-text">코로나 바이러스 각 국가 입출국 제한 안내 (22/06/27 기준)</p>
										<span class="news__list-date">2022.06.27</span>
									</a>
								</div>

								<div class="news__list ">
									<a href="/user/customerService/notice/noticeDetail">

										<p class="news__list-text">국제선 유류할증료 (2022년 7월)</p>
										<span class="news__list-date">2022.06.20</span>
									</a>
								</div>

								<div class="news__list ">
									<a href="/user/customerService/notice/noticeDetail">

										<p class="news__list-text">국내선 탑승 게이트 위탁 수하물 요금 시행 안내</p>
										<span class="news__list-date">2022.06.15</span>
									</a>
								</div>
								<!-- //공지사항 게시글 끝 -->
							</div>
						</div>
						<div class="paging-center"></div>
						<script src="https://static.jejuair.net/hpgg/resources/bizjs/commons/pagination.js"></script>
						<script>
							document.addEventListener("DOMContentLoaded", function () {
								pagination.createPagination('.paging-center', '/ko/customerServiceCenter/notice.do?pageNum={{pageNum}}&limit=' + CUSTOMERSERVICE_NOTICE_VARIABLES.limit,
									CUSTOMERSERVICE_NOTICE_VARIABLES.limit, 1, 49);
							});
						</script>
					</div>
				</main>
			</div>
		</div>
	</div>
	<!-- //공지사항 끝 -->

<!-- footer -->
<div th:replace="user/fragment/footer :: footer"></div>
<!-- / footer 끝 -->


<!-- 공통 스크립트 선언 -->

<!--<div th:replace="/user/fragment/js :: js"></div>-->
<script type="text/javascript" src="/user/lib/js/lib.min.js"></script>
<script type="text/javascript" src="/user/lib/js/common.js"></script>
<script type="text/javascript" src="/user/lib/js/plugin.js"></script>
<script type="text/javascript" src="/user/lib/js/head/head.js"></script>
<script type="text/javascript" src="/user/lib/js/head/head.js"></script>

<!-- 공통 스크립트 선언 끝 -->

<!--body, html 주석은 위치 고정-->
</body>
</html>
<!--body, html 주석은 위치 고정 끝-->
