<html lang="ko"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org/">

<!--head-->
<div th:replace="/user/fragment/head :: head"></div>
<!--head 끝-->

<body id="subLayoutBody">

<!--appAlert-->
<div th:replace="/user/fragment/appAlert :: appAlert"></div>
<!--appAlert 끝-->

<!-- header -->

<!--header-->
<div th:replace="/user/fragment/header :: header"></div>
<!--header 끝-->

<div id="body">

    <!-- Google Tag Manager (noscript) -->
    <noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PD2BQQ4" height="0" width="0"
                style="display:none;visibility:hidden"></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->

    <div class="wrap wrap--no-pab GD">
        <div id="breadcrumb" class="breadcrumb pc-only" aria-label="breadcrumb">
            <nav class="breadcrumb__inner">
                <div class="breadcrumb__item">
                    <a href="javascript:;" class="breadcrumb__link">홈</a>
                </div>

                <div class="breadcrumb__item">
                    <a href="javascript:;" class="breadcrumb__link">마이페이지</a>
                </div>

                <div class="breadcrumb__item breadcrumb__item--current" aria-current="page" data-element="toggle"
                     data-options='{"mode": "slide", "speed": 100, "clickToClose": true}'>


                    <button type="button" class="breadcrumb__link breadcrumb__link--list"
                            data-element="toggle__anchor">나의 탑승 내역
                    </button>

                    <div class="breadcrumb__siblings-list" data-element="toggle__panel">
                        <a href="/user/info_edit" class="item">회원정보 수정</a>
                        <a href="/user/mypage_main_member" class="item">마이페이지 메인</a>
                        <a href="/user/my_reserve" class="item">나의 예약 현황</a>
                    </div>
                </div>
            </nav>
        </div>


        <div class="content" id="content">
            <main id="main" class="main ">

                <input type="hidden" name="fromDate" id="fromDate" value='20220501'>
                <input type="hidden" name="toDate" id="toDate" value='20220701'>
                <input type="hidden" name="firstDate" id="firstDate" value='20210701'>


                <form name="frmFileDownload" id="frmFileDownload">
                    <input type="hidden" name="paxname" id="paxname" value=""/>
                    <input type="hidden" name="fltNo" id="fltNo" value=""/>
                    <input type="hidden" name="issueDate" id="issueDate" value=""/>
                    <input type="hidden" name="pnrNo" id="pnrNo" value=""/>
                    <input type="hidden" name="depstn" id="depstn" value=""/>
                    <input type="hidden" name="depstnName" id="depstnName" value=""/>
                    <input type="hidden" name="arrstn" id="arrstn" value=""/>
                    <input type="hidden" name="arrstnName" id="arrstnName" value=""/>
                    <input type="hidden" name="fltdate" id="fltdate" value=""/>
                </form>

                <div class="page-title-wrap">
                    <div class="page-title">나의 탑승 내역</div>
                    <div class="page-sub-title">조회 기간을 <br class="mobile-only">입력해 주세요.</div>
                </div>

                <div class="sub-section">
                    <!-- [수정 : 210215] pc-30 class 추가 -->
                    <div class="gray-box pc-search pc-search--flex pc-search--number">
                        <div class="input-wrap input--line">
                            <div class="input-row input-row--number" id="monthsNumberChanger">
                                <label for="inputNumber" class="input__label">기간선택</label>
                                <div data-element="form" class="input input--number">
                                    <button type="button" data-action="numCount" data-element="number__button"
                                            data-type="decrease" aria-label="빼기"
                                            class="input__number input__number-minus"></button>
                                    <input type="text" id="inputNumber" data-element="number__input" value="3"
                                           data-max="12" data-min="1" data-string-number="" class="input__number"
                                           disabled>
                                    <span class="text">개월</span>
                                    <button type="button" data-action="numCount" data-element="number__button"
                                            data-type="increase" aria-label="더하기"
                                            class="input__number input__number-plus"></button>
                                </div>
                            </div>
                            <div class="input-row input-row--label">
                                <!-- <div class="input-label mobile-only">직접입력</div> -->
                                <div class="input-item">
                                    <!-- 에러메세지 있을 경우 input--error class 추가-->
                                    <div class="input-box label-active">
                                        <label class="input__label">탑승일</label>
                                        <button type="button" class="picker picker--button is-select"
                                                data-element="modal_anchor" data-modal-type="datepicker"
                                                data-target="#datepicker01" data-action="openDatepicker"
                                                id="flightCalBtn">
                                            2022.05.01(일) ~ 2022.07.01(금)
                                        </button><!-- default : 오늘날짜 기준 이전 3개월 노출-->
                                    </div>
                                    <p tabindex="0" class="input__error">최근 12개월만 조회할 수 있습니다.</p>
                                </div>
                            </div>
                        </div>
                        <div class="button-wrap button-wrap--center">
                            <button type="button" class="button button--optional" data-action="flightSearch"><span
                                    class="button__text">조회 </span></button>
                        </div>
                    </div>
                </div>

                <div id="searchResultBox">
                    <div class="finish-item-wrap">
                        <div class="finish-item">
                            <div class="finish-item__img"><img
                                    src="https://static.jejuair.net/hpgg/resources/images/icon/icon-result-none.png"
                                    alt=""></div>
                            <p class="finish-item__title">조회 결과가 없습니다.</p>
                        </div>
                    </div>
                </div>


                <!-- datepicker -->
                <div id="datepicker01" class="modal modal-full modal-full--picker pd0">
                    <div class="modal-header">
                        <!-- <button class="header__button">
    <span class="hidden">이전으로</span>
</button> -->
                        <h2 class="modal-header__title mo-ml20">조회 기간 입력</h2>
                        <!-- <div class="header__button-wrap">
    <button class="header__close">
    <span class="blind">닫기</span>
    </button>
</div> -->
                    </div>

                    <div class="modal-content">
                        <!-- 스크롤 scrollbottom 숨김처리 -->
                        <div class="picker picker--full">
                            <input type="text" class="picker__input" id="selectBookingDate" data-locale="ko"
                                   data-min-date="2021-07-01" data-max-date="today" data-picker="range"
                                   data-range-text='{"start": "시작일", "end": "종료일", "current": "동일"}'>
                        </div>
                        <div class="booking-button">
                            <button type="button" class="button button--primary button--active"
                                    data-select-date="#selectBookingDate">
                                <span class="button__text">선택</span>
                            </button>
                        </div>
                    </div>
                    <a href="#" rel="modal:close" class="modal__close"><span class="blind">닫기</span></a>
                </div>
                <!-- // datepicker -->


                <script id="noDataTemplate" type="text/x-handlebars-template">
                    <div class="finish-item-wrap">
                        <div class="finish-item">
                            <div class="finish-item__img"><img
                                    src="https://static.jejuair.net/hpgg/resources/images/icon/icon-result-none.png"
                                    alt=""></div>
                            <p class="finish-item__title">조회 결과가 없습니다.</p>
                        </div>
                    </div>
                </script>

                <script id="searchDataTemplate" type="text/x-handlebars-template">
                    <div class="section-wrap">
                        <div class="search-result">
                            <div class="search-result__header">
                                <span class="search-result__total search-result__total--right">총 <strong>{{data.mtxCt}}</strong>건</span>
                            </div>
                        </div>
                    </div>

                    <div class="pc-flex1 pc-flex--boarding1 boarding-list-pc pc-10">
                        {{#each data.mtxTt}}
                        <div class="boarding-wrap">
                            <div class="boarding-box">
                                <div class="boarding">
                                    <div class="boarding__header">
                                        <div class="boarding__header--item1">
                                            <span>예약번호</span> : <span>{{pnrNo}}</span>
                                        </div>
                                    </div>
                                    <div class="boarding__info-wrap">
                                        <div class="boarding__info--top">
                                            <div class="boarding__info--top-item1"><span>탑승객 이름:&nbsp;{{paxname}}</span>
                                            </div>
                                            <div class="boarding__info--top-item2">
                                                <div class="boarding__info-date">{{fltdateFmt}}</div>
                                            </div>
                                        </div>
                                        <div class="boarding__info">
                                            <div class="boarding__info-before">
                                                <div class="boarding__info-title">{{depstnName}}</div>
                                                <div class="boarding__info-text">{{depstn}}</div>
                                            </div>
                                            <div aria-label="one-way" class="icon-mark one-way"></div>
                                            <div class="boarding__info-after">
                                                <div class="boarding__info-title">{{arrstnName}}</div>
                                                <div class="boarding__info-text">{{arrstn}}</div>
                                            </div>
                                        </div>
                                        <div class="gray-box-term price">


                                            <span class="gray-box__text">{{dataFormat fareAmount}}원({{dataFormat point}}P 적립)</span>


                                        </div>
                                        <div class="button-wrap3-row download">
                                            <div class="button-wrap">
                                                <button type="button" class="button" data-action="pdfDownload"
                                                        data-param-fltno="{{fltNo}}"
                                                        data-param-issuedate="{{issueDate}}"
                                                        data-param-paxname="{{paxname}}" data-param-pnrno="{{pnrNo}}"
                                                        data-param-depstn="{{depstn}}"
                                                        data-param-depstnname="{{depstnName}}"
                                                        data-param-arrstn="{{arrstn}}"
                                                        data-param-arrstnname="{{arrstnName}}"
                                                        data-param-fltdate="{{fltdate}}"><span
                                                        class="ico-down">PDF</span></button>
                                                <button type="button" class="button" data-action="pngDownload"
                                                        data-param-fltno="{{fltNo}}"
                                                        data-param-issuedate="{{issueDate}}"
                                                        data-param-paxname="{{paxname}}" data-param-pnrno="{{pnrNo}}"
                                                        data-param-depstn="{{depstn}}"
                                                        data-param-depstnname="{{depstnName}}"
                                                        data-param-arrstn="{{arrstn}}"
                                                        data-param-arrstnname="{{arrstnName}}"
                                                        data-param-fltdate="{{fltdate}}"><span
                                                        class="ico-down">PNG</span></button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--//boarding-->
                                <div class="boarding_end"></div>
                            </div>
                            <!--// boarding-box-->
                        </div>
                        <!--// boarding-wrap-->
                        {{/each}}
                    </div>
                </script>
            </main>
        </div>

    </div>
</div>

<!-- footer -->
<div th:replace="/user/fragment/footer :: footer"></div>
<!-- / footer 끝 -->

<div id="ifmWrap"
     style="height:100%; display:none; overflow:auto; text-align:center; -webkit-overflow-scrolling:touch;">
    <iframe src="" width="100%" height="100%" name="popupChkApp"></iframe>
</div>

<!-- 공통 스크립트 선언 -->
<script type="text/javascript" src="/user/lib/js/lib.min.js"></script>
<script type="text/javascript" src="/user/lib/js/common.js"></script>
<script type="text/javascript" src="/user/lib/js/plugin.js"></script>

</body>
</html>