<html lang="ko"
	  xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org/">
<!--head-->
<div th:replace="/user/fragment/head :: head"></div>
<!--head 끝-->

<body id="subLayoutBody">

<!-- appAlert -->
<div th:replace="/user/fragment/appAlert :: appAlert"></div>
<!-- //appAlert 끝 -->

<!-- header -->
<div th:replace="/user/fragment/header :: header"></div>
<!-- //header 끝 -->
	<div id="body">
		
		<!-- Google Tag Manager (noscript) -->
		<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PD2BQQ4" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
		<!-- End Google Tag Manager (noscript) -->

		<div class="wrap wrap ND" >
			
			
				<div id="breadcrumb" class="breadcrumb pc-only" aria-label="breadcrumb">
					<nav class="breadcrumb__inner">
						<div class="breadcrumb__item">
							<a href="javascript:;" class="breadcrumb__link">홈</a>
						</div>
						
						
							
								
									<div class="breadcrumb__item">
										<a href="javascript:;" class="breadcrumb__link">부가서비스 안내</a>
									</div>
								
								
							
						
							
								
								
									<div class="breadcrumb__item breadcrumb__item--current" aria-current="page" data-element="toggle" data-options='{"mode": "slide", "speed": 100, "clickToClose": true}'>
										
											
										
											
										
											
										
											
												<button type="button" class="breadcrumb__link breadcrumb__link--list" data-element="toggle__anchor">사전 좌석</button>
											
										
											
										
											
										
											
										
											
										

										<div class="breadcrumb__siblings-list" data-element="toggle__panel">
											
												
													<a href="javascript:void(0);" class="item" onclick="URL_LINK.getI18Url('/additionalService/service/preorderedBaggage.do')">사전 수하물</a>
												
											
												
													<a href="javascript:void(0);" class="item" onclick="URL_LINK.getI18Url('/additionalService/service/main.do')">부가서비스 소개</a>
												
											
												
													<a href="javascript:void(0);" class="item" onclick="URL_LINK.getI18Url('/additionalService/service/preorderedMeal.do')">사전 기내식</a>
												
											
												
											
												
													<a href="javascript:void(0);" class="item" onclick="URL_LINK.getI18Url('/additionalService/service/insurance.do')">보험 상품</a>
												
											
												
													<a href="javascript:void(0);" class="item" onclick="URL_LINK.getI18Url('/additionalService/service/afterPayGuide.do')">나중에 결제</a>
												
											
												
													<a href="javascript:void(0);" class="item" onclick="URL_LINK.getI18Url('/additionalService/service/bundleGuide.do')">번들 묶음 구매</a>
												
											
												
													<a href="javascript:void(0);" class="item" onclick="URL_LINK.getI18Url('/additionalService/service/carringBagGuide.do')">자전거 캐링백 서비스</a>
												
											
										</div>
									</div>
								
							
						
					</nav>
				</div>
			
	
			
			<div class="content" id="content">
				<main id="main" class="main ">
					
					<input type="hidden" id="langCd" value="ko" />
					<input type="hidden" id="cultureCode" value="ko_KR" />
					<input type="hidden" id="imgPath" value="https://static.jejuair.net/cms/images"/>

					<div class="page-title-wrap">
						<div class="page-title">사전 좌석</div><!-- 사전 좌석 -->
						<div class="page-sub-title">선호하는 좌석이 <br class="mobile-only">있으신가요?</div><!--  선호하는 좌석이 <br class="mobile-only">있으신가요? -->
					</div>
					<div class="section-wrap">
						<div class="tab tab--default tab-sticky" data-element="tab">
							<div class="tab__buttons">
								<div class="tab__button" data-element="tab__list">
									<button class="tab__anchor is-active" type="button" data-element="tab__anchor">사전 좌석 안내</button><!-- 사전 좌석 안내 -->
								</div>
							</div>
							<!-- 사전 좌석 안내 -->
							<div class="tab__panel cancel--pt" data-element="tab__panel">
								<div class="banner">
											<div class="banner_single-img" style="background-image: url(https://static.jejuair.net/cms/images/seat_gud/20211022212620641.jpg);"></div>
								</div>

								<div class="ND inner-editor">
								<div class="section-wrap">
									<div class="section-title">사전 좌석 이란?&nbsp;</div>
									<div class="section-sub-txt">여행을 떠나기 전 온라인으로 원하는 좌석을 미리 구매하는 서비스</div>
								</div>
								<div class="section-wrap">
									<div class="section-title">사전 좌석 혜택</div>
									<div class="border-box border-box__ico ">
										<ul class="step-wrap step-wrap__ico">
											<li>
												<i class="icon"><img alt="" src="https://static.jejuair.net/cms/images/seat_gud/20210830165406501.png"></i>
												<dl class="step-wrap__text">
													<dt>혜택 1</dt>
													<dd>원하는 자리를 미리 예약 가능</dd>
												</dl>
											</li>
											<li>
												<i class="icon"><img alt="" src="https://static.jejuair.net/cms/images/seat_gud/20210830165411008.png"></i>
												<dl class="step-wrap__text">
													<dt>혜택 2</dt>
													<dd>넓은 앞 좌석과 비지니스 라이트 좌석 예약 가능</dd>
												</dl>
											</li>
											<li>
												<i class="icon"><img alt="" src="https://static.jejuair.net/cms/images/seat_gud/20210830165415140.png"></i>
												<dl class="step-wrap__text">
													<dt>혜택 3</dt>
													<dd>공항에 일찍 갈 필요 없이 시간 절약</dd>
												</dl>
											</li>
											<li>
												<i class="icon"><img alt="" src="https://static.jejuair.net/cms/images/seat_gud/20211104202624967.png"></i>
												<dl class="step-wrap__text">
													<dt>혜택 4</dt>
													<dd>모바일 탑승권 자동 발급 가능</dd>
												</dl>
											</li>
										</ul>
									</div>
								</div>
								</div>
							</div>
							<!-- //사전 좌석 안내 -->

						</div>
					</div>
				</main>
			</div>
			
		</div>
	</div>



<!-- footer -->
<div th:replace="user/fragment/footer :: footer"></div>
<!-- / footer 끝 -->

<div id="ifmWrap" style="height:100%; display:none; overflow:auto; text-align:center; -webkit-overflow-scrolling:touch;">
	<iframe src="" width="100%" height="100%" name="popupChkApp"></iframe>
</div>


<!-- 공통 스크립트 선언 -->

<!--<div th:replace="/user/fragment/js :: js"></div>-->
<script type="text/javascript" src="/user/lib/js/lib.min.js"></script>
<script type="text/javascript" src="/user/lib/js/common.js"></script>
<script type="text/javascript" src="/user/lib/js/plugin.js"></script>
<script type="text/javascript" src="/user/lib/js/preorderedSeat.js"></script>
<script type="text/javascript" src="/user/lib/js/bizCommons.js"></script>

<!-- 공통 스크립트 선언 끝 -->

<!--body, html 주석은 위치 고정-->
</body>
<!--body, html 주석은 위치 고정 끝-->
<script>
// 좌석배치도 한눈에 보기 새창
$('.js-seat-open').on('click', function () {
	var checkChecked = $('#switchItem1').prop('checked');
	var langCd = I18N.language;
	if (checkChecked) {
		if(langCd == 'ko') {
			window.open("https://static.jejuair.net/hpgg/resources/images/seat/img-seat-bizlite.png", "_blank", "toolbar=yes,scrollbars=yes,resizable=yes,top=0,left=0,width=" + screen.width + ",height=" + screen.height);
		} else if(langCd == 'en') {
			window.open("https://static.jejuair.net/hpgg/resources/images/seat/img-seat-bizlite-en.png", "_blank", "toolbar=yes,scrollbars=yes,resizable=yes,top=0,left=0,width=" + screen.width + ",height=" + screen.height);
		} else if(langCd == 'ja') {
			window.open("https://static.jejuair.net/hpgg/resources/images/seat/img-seat-bizlite-ja.png", "_blank", "toolbar=yes,scrollbars=yes,resizable=yes,top=0,left=0,width=" + screen.width + ",height=" + screen.height);
		} else {
			window.open("https://static.jejuair.net/hpgg/resources/images/seat/img-seat-bizlite-cn.png", "_blank", "toolbar=yes,scrollbars=yes,resizable=yes,top=0,left=0,width=" + screen.width + ",height=" + screen.height);
		}
	} else {
		if(langCd == 'ko') {
			window.open("https://static.jejuair.net/hpgg/resources/images/seat/img-seat-normal.png", "_blank", "toolbar=yes,scrollbars=yes,resizable=yes,top=0,left=0,width=" + screen.width + ",height=" + screen.height);
		} else if(langCd == 'en') {
			window.open("https://static.jejuair.net/hpgg/resources/images/seat/img-seat-normal-en.png", "_blank", "toolbar=yes,scrollbars=yes,resizable=yes,top=0,left=0,width=" + screen.width + ",height=" + screen.height);
		} else if(langCd == 'ja') {
			window.open("https://static.jejuair.net/hpgg/resources/images/seat/img-seat-normal-ja.png", "_blank", "toolbar=yes,scrollbars=yes,resizable=yes,top=0,left=0,width=" + screen.width + ",height=" + screen.height);
		} else {
			window.open("https://static.jejuair.net/hpgg/resources/images/seat/img-seat-normal-cn.png", "_blank", "toolbar=yes,scrollbars=yes,resizable=yes,top=0,left=0,width=" + screen.width + ",height=" + screen.height);
		}
	}
});
</script>

</html>