<html lang="ko"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org/">
<!--head-->
<div th:replace="/user/fragment/head :: head"></div>
<!--head 끝-->

<body id="subLayoutBody" class="isPc vsc-initialized">

<!-- appAlert -->
<div th:replace="/user/fragment/appAlert :: appAlert"></div>
<!-- //appAlert 끝 -->

<!-- header -->
<div th:replace="/user/fragment/header :: header"></div>
<!-- //header 끝 -->


<div id="body">

    <!-- Google Tag Manager (noscript) -->
    <noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PD2BQQ4" height="0" width="0"
                style="display:none;visibility:hidden"></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->

    <div class="wrap wrap--button-fixed2 ND bundle-info">


        <div id="breadcrumb" class="breadcrumb pc-only" aria-label="breadcrumb">
            <nav class="breadcrumb__inner">
                <div class="breadcrumb__item">
                    <a href="javascript:;" class="breadcrumb__link" style="cursor: default;">홈</a>
                </div>


                <div class="breadcrumb__item">
                    <a href="javascript:;" class="breadcrumb__link" style="cursor: default;">부가서비스 안내</a>
                </div>


                <div class="breadcrumb__item breadcrumb__item--current" aria-current="page" data-element="toggle"
                     data-options="{&quot;mode&quot;: &quot;slide&quot;, &quot;speed&quot;: 100, &quot;clickToClose&quot;: true}">


                    <button type="button" class="breadcrumb__link breadcrumb__link--list" data-element="toggle__anchor"
                            aria-controls="toggle-2" aria-expanded="false">번들 묶음 구매
                    </button>


                    <div class="breadcrumb__siblings-list" data-element="toggle__panel" id="toggle-2">
                        <a href="/user/additionalInfo/advanceBaggage" class="item">사전 수하물</a>
                        <a href="/user/additionalInfo/additionalIntro" class="item">부가서비스 소개</a>
                        <a href="/user/additionalInfo/advanceMeal" class="item">사전 기내식</a>
                        <a href="/user/additionalInfo/advanceSeat" class="item">사전 좌석</a>
                        <a href="/user/additionalInfo/insurance" class="item">보험 상품</a>
                        <a href="/user/additionalInfo/afterPayment" class="item">나중에 결제</a>
                        <a href="/user/additionalInfo/bicycleService" class="item">자전거 캐링백 서비스</a>
                    </div>
                </div>


            </nav>
        </div>


        <div class="content" id="content">
            <main id="main" class="main ">

                <div class="page-title-wrap">
                    <div class="page-title">
                        부가서비스 번들
                    </div> <!-- 부가서비스 번들 -->
                    <div class="page-sub-title">
                        여러가지 부가서비스를 묶음으로 구매하여 개별 구매 대비 더 저렴하게 구매할 수 있습니다.
                    </div> <!-- 여러가지 부가서비스를 묶음으로 구매하여 개별 구매 대비 더 저렴하게 구매할 수 있습니다. -->
                </div>

                <div class="banner">
                    <div class="banner_single-img"
                         style="background-image: url(https://static.jejuair.net/hpgg/resources/images/@temp/bundleguide-image-01.png);"></div>
                </div>

                <div class="section-wrap">
                    <div class="section-title">
                        구매 가능 대상 및 시간
                    </div> <!-- 구매 가능 대상 및 시간 -->

                    <ul class="list-guide">
                        <li class="list-guide__item">
                            제주항공 모바일 웹/앱, PC에서 예약한 고객
                        </li> <!-- 제주항공 모바일 웹/앱, PC에서 예약한 고객 -->
                        <li class="list-guide__item">
                            국내/국제선 FLY, FLYBAG 운임을 예약한 고객
                        </li> <!-- 국내/국제선 FLY, FLYBAG 운임을 예약한 고객 -->
                        <li class="list-guide__item">
                            출발시간으로부터 24시간 전까지 구매 및 취소 가능
                        </li> <!-- 출발시간으로부터 24시간 전까지 구매 및 취소 가능 -->
                    </ul>

                </div>

                <div class="section-wrap">
                    <div class="section-title">
                        번들 구매시 혜택
                    </div> <!-- 번들 구매시 혜택 -->
                    <div class="border-box border-box__ico ">
                        <ul class="step-wrap step-wrap__ico">
                            <li>
                                <i class="icon"><img
                                        src="https://static.jejuair.net/hpgg/resources/images/icon/icon-service-option01-40.png"
                                        alt=""></i>
                                <dl class="step-wrap__text">
                                    <dt>
                                        혜택 1
                                    </dt> <!-- 혜택 1 -->
                                    <dd>
                                        개별구매 대비 최대 61% 할인
                                    </dd> <!-- 개별구매 대비 최대 OO% 할인 -->
                                </dl>
                            </li>
                            <li>
                                <i class="icon"><img
                                        src="https://static.jejuair.net/hpgg/resources/images/icon/icon-service-option08-40.png"
                                        alt=""></i>
                                <dl class="step-wrap__text">
                                    <dt>
                                        혜택 2
                                    </dt> <!-- 혜택 2 -->
                                    <dd>
                                        공항 현장 탑승 혜택 제공<br>(우선 탑승, 빠른 수하물 수취, 전용 수속 카운터 등)
                                    </dd> <!-- 공항 현장 탑승 혜택 제공<br>(우선 탑승, 빠른 수하물 수취, 전용 수속 카운터 등) -->
                                </dl>
                            </li>
                            <li>
                                <i class="icon"><img
                                        src="https://static.jejuair.net/hpgg/resources/images/icon/icon-service-option09-40.png"
                                        alt=""></i>
                                <dl class="step-wrap__text">
                                    <dt>
                                        혜택 3
                                    </dt> <!-- 혜택 3 -->
                                    <dd>
                                        기내 서비스 혜택 제공<br>(에어카페 현장 할인, 사전 기내식 주문 추가 할인 등)
                                    </dd> <!-- 기내 서비스 혜택 제공<br>(에어카페 현장 할인, 사전 기내식 주문 추가 할인 등) -->
                                </dl>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="section-wrap">
                    <div class="section-title">
                        번들 구성
                    </div> <!-- 번들 구성 -->
                    <!-- tab -->
                    <div class="tab tab--default" data-element="tab"
                         data-options="{&quot;linkedTab&quot;: &quot;#linkedTab1&quot;}">
                        <div class="tab__buttons">
                            <div class="tab__button" data-element="tab__list" role="presentation">
                                <button class="tab__anchor" type="button" data-element="tab__anchor" data-index="0"
                                        id="plugin-tab-4" role="tab" tabindex="" aria-selected="false"
                                        aria-expanded="false">
                                    국내선
                                </button> <!-- 국내선 -->
                            </div>
                            <div class="tab__button" data-element="tab__list" role="presentation">
                                <button class="tab__anchor is-active" type="button" data-element="tab__anchor"
                                        data-index="1" id="plugin-tab-5" role="tab" tabindex="" aria-selected="true"
                                        aria-expanded="true">
                                    국제선
                                </button> <!-- 국제선 -->
                            </div>
                        </div>
                    </div>

                    <div class="linked-tab" id="linkedTab1" data-element="tab__link">
                        <div class="tab__panel" data-element="tab__panel" aria-labelledby="plugin-tab-4" role="tabpanel"
                             tabindex="0" style="display: none;">
                            <div class="tab tab--2depth" data-element="tab">

                                <div class="select-chips full swiper-container bundle">
                                    <ul class="chips-group swiper-wrapper">
                                        <li class="chip swiper-slide">
                                            <button type="button" class="chip-btn is-active" data-index="0"
                                                    data-element="tab__anchor" role="tab" id="plugin-tab-4" tabindex=""
                                                    aria-selected="true" aria-expanded="true">
                                                <span class="txt">FLY 운임</span>
                                            </button>
                                        </li>
                                        <li class="chip swiper-slide">
                                            <button type="button" class="chip-btn" data-index="1"
                                                    data-element="tab__anchor" role="tab" id="plugin-tab-5" tabindex=""
                                                    aria-selected="false" aria-expanded="false">
                                                <span class="txt">FLYBAG 운임</span>
                                            </button>
                                        </li>
                                    </ul>
                                </div>

                                <div class="tab__panel is-active" data-element="tab__panel"
                                     aria-labelledby="plugin-tab-4" role="tabpanel" tabindex="0">
                                    <div class="swiper-full">
                                        <div class="swiper-full-in">
                                            <div class="package__items" data-carousel="bookingTicket">
                                                <div class="swiper-wrapper">
                                                    <div class="package__item swiper-slide">
                                                        <div class="package__item-inner">
                                                            <div class="package-pad">
                                                                <div class="package__top">
                                                                    <strong class="name">플러스</strong> <!-- 번들 FLY -->
                                                                </div>
                                                                <div class="package__info">
                                                                    <ul class="bundle_ico_list txt_in">
                                                                        <li><em class="bundle_ico ico_bag"></em>기내 수하물
                                                                            10KG (1개)
                                                                        </li> <!-- 기내 수하물 10kg (1개) -->
                                                                        <li><em class="bundle_ico ico_bag"></em>위탁 수하물
                                                                            20KG
                                                                        </li> <!-- 위탁 수하물 20kg -->
                                                                        <li><em class="bundle_ico ico_seat"></em>일반 좌석
                                                                            선택 무료
                                                                        </li> <!-- 일반 좌석 선택 무료 -->
                                                                        <li><em class="bundle_ico ico_first"></em>우선
                                                                            탑승서비스
                                                                        </li> <!-- 우선 탑승서비스 -->
                                                                        <li><em class="bundle_ico ico_bag"></em>빠른 수하물
                                                                            수취
                                                                        </li> <!-- 빠른 수하물 수취 -->
                                                                        <li><em class="bundle_ico ico_sale"></em>에어카페 현장
                                                                            할인
                                                                        </li> <!-- 에어카페 현장 할인 -->
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="package__item swiper-slide">
                                                        <div class="package__item-inner">
                                                            <div class="package-pad">
                                                                <div class="package__top">
                                                                    <strong class="name">프리미엄 플러스</strong>
                                                                    <!-- 번들 PREMIUM -->

                                                                </div>
                                                                <div class="package__info">
                                                                    <ul class="bundle_ico_list txt_in">
                                                                        <li><em class="bundle_ico ico_bag"></em>기내 수하물
                                                                            10KG (1개)
                                                                        </li> <!-- 기내 수하물 10kg (1개) -->
                                                                        <li><em class="bundle_ico ico_bag"></em>위탁 수하물
                                                                            30KG
                                                                        </li> <!-- 위탁 수하물 30kg -->
                                                                        <li><em class="bundle_ico ico_seat"></em>전 좌석 선택
                                                                            무료
                                                                        </li> <!-- 전 좌석 선택 무료 -->
                                                                        <li><em class="bundle_ico ico_first"></em>우선
                                                                            탑승서비스
                                                                        </li> <!-- 우선 탑승서비스 -->
                                                                        <li><em class="bundle_ico ico_bag"></em>빠른 수하물
                                                                            수취
                                                                        </li> <!-- 빠른 수하물 수취 -->
                                                                        <li><em class="bundle_ico ico_sale"></em>에어카페 현장
                                                                            할인
                                                                        </li> <!-- 에어카페 현장 할인 -->
                                                                        <li><em class="bundle_ico ico_free"></em>공항 카운터
                                                                            수속 무료
                                                                        </li> <!-- 공항 카운터 수속 무료 -->
                                                                        <li><em class="bundle_ico ico_premium"></em>전용
                                                                            수속 카운터
                                                                        </li> <!-- 표기된 수하물 허용량은 무료 위탁 수하물 포함 무게입니다. -->
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="guide-info guide-info--gray">
                                        <p class="guide-info__text">표기된 수하물 허용량은 무료 위탁 수하물 포함 무게입니다.</p>
                                        <!-- 표기된 수하물 허용량은 무료 위탁 수하물 포함 무게입니다. -->
                                    </div>
                                </div>
                                <!--// 국내선 / FLY 운임-->

                                <div class="tab__panel" data-element="tab__panel" aria-labelledby="plugin-tab-5"
                                     role="tabpanel" tabindex="0" style="display: none;">

                                    <div class="swiper-full">
                                        <div class="swiper-full-in">
                                            <div class="package__items" data-carousel="bookingTicket">
                                                <div class="swiper-wrapper">
                                                    <div class="package__item swiper-slide selected">
                                                        <div class="package__item-inner">
                                                            <div class="package-pad">
                                                                <div class="package__top">
                                                                    <strong class="name">플러스</strong> <!-- 번들 FLYBAG -->
                                                                </div>
                                                                <div class="package__info">
                                                                    <ul class="bundle_ico_list txt_in">
                                                                        <li><em class="bundle_ico ico_bag"></em>기내 수하물
                                                                            10KG (1개)
                                                                        </li> <!-- 기내 수하물 10kg (1개) -->
                                                                        <li><em class="bundle_ico ico_bag"></em>위탁 수하물
                                                                            20KG
                                                                        </li> <!-- 위탁 수하물 20kg -->
                                                                        <li><em class="bundle_ico ico_seat"></em>일반 좌석
                                                                            선택 무료
                                                                        </li> <!-- 일반 좌석 선택 무료 -->
                                                                        <li><em class="bundle_ico ico_first"></em>우선
                                                                            탑승서비스
                                                                        </li> <!-- 우선 탑승서비스 -->
                                                                        <li><em class="bundle_ico ico_bag"></em>빠른 수하물
                                                                            수취
                                                                        </li> <!-- 빠른 수하물 수취 -->
                                                                        <li><em class="bundle_ico ico_sale"></em>에어카페 현장
                                                                            할인
                                                                        </li> <!-- 에어카페 현장 할인 -->
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="package__item swiper-slide">
                                                        <div class="package__item-inner">
                                                            <div class="package-pad">
                                                                <div class="package__top">
                                                                    <strong class="name">프리미엄 플러스</strong>
                                                                    <!-- 번들 PREMIUM -->

                                                                </div>
                                                                <div class="package__info">
                                                                    <ul class="bundle_ico_list txt_in">
                                                                        <li><em class="bundle_ico ico_bag"></em>기내 수하물
                                                                            10KG (1개)
                                                                        </li> <!-- 기내 수하물 10kg (1개) -->
                                                                        <li><em class="bundle_ico ico_bag"></em>위탁 수하물
                                                                            30KG
                                                                        </li> <!-- 위탁 수하물 30kg -->
                                                                        <li><em class="bundle_ico ico_seat"></em>전 좌석 선택
                                                                            무료
                                                                        </li> <!-- 전 좌석 선택 무료 -->
                                                                        <li><em class="bundle_ico ico_first"></em>우선
                                                                            탑승서비스
                                                                        </li> <!-- 우선 탑승서비스 -->
                                                                        <li><em class="bundle_ico ico_bag"></em>빠른 수하물
                                                                            수취
                                                                        </li> <!-- 빠른 수하물 수취 -->
                                                                        <li><em class="bundle_ico ico_sale"></em>에어카페 현장
                                                                            할인
                                                                        </li> <!-- 에어카페 현장 할인 -->
                                                                        <li><em class="bundle_ico ico_free"></em>공항 카운터
                                                                            수속 무료
                                                                        </li> <!-- 공항 카운터 수속 무료 -->
                                                                        <li><em class="bundle_ico ico_premium"></em>전용
                                                                            수속 카운터
                                                                        </li> <!-- 전용 수속 카운터 -->
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="guide-info guide-info--gray">
                                        <p class="guide-info__text">표기된 수하물 허용량은 무료 위탁 수하물 포함 무게입니다.</p>
                                        <!-- 표기된 수하물 허용량은 무료 위탁 수하물 포함 무게입니다. -->
                                    </div>
                                </div>
                                <!--// 국내선 / FLYBAG 운임-->
                            </div>
                        </div>
                        <!--//tab__panel-->

                        <div class="tab__panel is-active" data-element="tab__panel" aria-labelledby="plugin-tab-5"
                             role="tabpanel" tabindex="0" style="">

                            <div class="tab tab--2depth" data-element="tab">

                                <div class="select-chips full swiper-container bundle">
                                    <ul class="chips-group swiper-wrapper">
                                        <li class="chip swiper-slide">
                                            <button type="button" class="chip-btn is-active" data-index="0"
                                                    data-element="tab__anchor" role="tab" id="plugin-tab-6" tabindex=""
                                                    aria-selected="true" aria-expanded="true">
                                                <span class="txt">FLY 운임</span>
                                            </button>
                                        </li>
                                        <li class="chip swiper-slide">
                                            <button type="button" class="chip-btn" data-index="1"
                                                    data-element="tab__anchor" role="tab" id="plugin-tab-7" tabindex=""
                                                    aria-selected="false" aria-expanded="false">
                                                <span class="txt">FLYBAG 운임</span>
                                            </button>
                                        </li>
                                    </ul>
                                </div>

                                <div class="tab__panel is-active" data-element="tab__panel"
                                     aria-labelledby="plugin-tab-6" role="tabpanel" tabindex="0">

                                    <div class="swiper-full">
                                        <div class="swiper-full-in">
                                            <div class="package__items" data-carousel="bookingTicket">
                                                <div class="swiper-wrapper">
                                                    <div class="package__item swiper-slide selected">
                                                        <div class="package__item-inner">
                                                            <div class="package-pad">
                                                                <div class="package__top">
                                                                    <strong class="name">플러스</strong> <!-- 번들 FLY -->
                                                                </div>
                                                                <div class="package__info">
                                                                    <ul class="bundle_ico_list txt_in">
                                                                        <li><em class="bundle_ico ico_bag"></em>기내 수하물
                                                                            10KG (1개)
                                                                        </li> <!-- 기내 수하물 10kg (1개) -->
                                                                        <li><em class="bundle_ico ico_bag"></em>위탁 수하물
                                                                            20KG
                                                                        </li> <!-- 위탁 수하물 20kg -->
                                                                        <li><em class="bundle_ico ico_seat"></em>일반 좌석
                                                                            선택 무료
                                                                        </li> <!-- 일반 좌석 선택 무료 -->
                                                                        <li><em class="bundle_ico ico_first"></em>우선
                                                                            탑승서비스
                                                                        </li> <!-- 우선 탑승서비스 -->
                                                                        <li><em class="bundle_ico ico_bag"></em>빠른 수하물
                                                                            수취
                                                                        </li> <!-- 빠른 수하물 수취 -->
                                                                        <li><em class="bundle_ico ico_sale"></em>에어카페 현장
                                                                            할인
                                                                        </li> <!-- 에어카페 현장 할인 -->
                                                                        <li><em class="bundle_ico ico_food"></em>사전 기내식
                                                                            주문 할인
                                                                        </li> <!-- 사전 기내식 주문 할인 -->
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="package__item swiper-slide">
                                                        <div class="package__item-inner">
                                                            <div class="package-pad">
                                                                <div class="package__top">
                                                                    <strong class="name">프리미엄 플러스</strong>
                                                                    <!-- 번들 PREMIUM -->

                                                                </div>
                                                                <div class="package__info">
                                                                    <ul class="bundle_ico_list txt_in">
                                                                        <li><em class="bundle_ico ico_bag"></em>기내 수하물
                                                                            10KG (1개)
                                                                        </li> <!-- 기내 수하물 10kg (1개) -->
                                                                        <li><em class="bundle_ico ico_bag"></em>위탁 수하물
                                                                            30KG
                                                                        </li> <!-- 위탁 수하물 30kg -->
                                                                        <li><em class="bundle_ico ico_seat"></em>전 좌석 선택
                                                                            무료
                                                                        </li> <!-- 전 좌석 선택 무료 -->
                                                                        <li><em class="bundle_ico ico_first"></em>우선
                                                                            탑승서비스
                                                                        </li> <!-- 우선 탑승서비스 -->
                                                                        <li><em class="bundle_ico ico_bag"></em>빠른 수하물
                                                                            수취
                                                                        </li> <!-- 빠른 수하물 수취 -->
                                                                        <li><em class="bundle_ico ico_sale"></em>에어카페 현장
                                                                            할인
                                                                        </li> <!-- 에어카페 현장 할인 -->
                                                                        <!--<li><em class="bundle_ico ico_jj"></em>JJ 라운지 이용권 (인천 출발편에 한함)</li> <!-- JJ 라운지 이용권 (인천 출발편에 한함) -->
                                                                        <!--20210910 삭제-->
                                                                        <li><em class="bundle_ico ico_food"></em>웰컴 스낵
                                                                        </li> <!-- 웰컴 스낵 -->
                                                                        <li><em class="bundle_ico ico_premium"></em>전용
                                                                            수속 카운터
                                                                        </li> <!-- 전용 수속 카운터 -->
                                                                        <li><em class="bundle_ico ico_food"></em>사전 기내식
                                                                            주문 할인
                                                                        </li> <!-- 사전 기내식 주문 할인 -->
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="guide-info guide-info--gray">
                                        <p class="guide-info__text">표기된 수하물 허용량은 무료 위탁 수하물 포함 무게입니다.</p>
                                        <!-- 표기된 수하물 허용량은 무료 위탁 수하물 포함 무게입니다. -->
                                    </div>
                                </div>
                                <!--// 국내선 / FLY 운임-->

                                <div class="tab__panel" data-element="tab__panel" aria-labelledby="plugin-tab-7"
                                     role="tabpanel" tabindex="0" style="display: none;">
                                    <div class="swiper-full">
                                        <div class="swiper-full-in">
                                            <div class="package__items" data-carousel="bookingTicket">
                                                <div class="swiper-wrapper">
                                                    <div class="package__item swiper-slide selected">
                                                        <div class="package__item-inner">
                                                            <div class="package-pad">
                                                                <div class="package__top">
                                                                    <strong class="name">플러스</strong> <!-- 번들 FLYBAG -->
                                                                </div>
                                                                <div class="package__info">
                                                                    <ul class="bundle_ico_list txt_in">
                                                                        <li><em class="bundle_ico ico_bag"></em>기내 수하물
                                                                            10KG (1개)
                                                                        </li> <!-- 기내 수하물 10kg (1개) -->
                                                                        <li><em class="bundle_ico ico_bag"></em>위탁 수하물
                                                                            20KG (괌/사이판 노선은 1개 23KG)
                                                                        </li> <!-- 위탁 수하물 30kg (괌/사이판 노선은 1개 23KG) -->
                                                                        <li><em class="bundle_ico ico_seat"></em>일반 좌석
                                                                            선택 무료
                                                                        </li> <!-- 일반 좌석 선택 무료 -->
                                                                        <li><em class="bundle_ico ico_first"></em>우선
                                                                            탑승서비스
                                                                        </li> <!-- 우선 탑승서비스 -->
                                                                        <li><em class="bundle_ico ico_bag"></em>빠른 수하물
                                                                            수취
                                                                        </li> <!-- 빠른 수하물 수취 -->
                                                                        <li><em class="bundle_ico ico_sale"></em>에어카페 현장
                                                                            할인
                                                                        </li> <!-- 에어카페 현장 할인 -->
                                                                        <li><em class="bundle_ico ico_food"></em>사전 기내식
                                                                            주문 할인
                                                                        </li> <!-- 사전 기내식 주문 할인 -->
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="package__item swiper-slide">
                                                        <div class="package__item-inner">
                                                            <div class="package-pad">
                                                                <div class="package__top">
                                                                    <strong class="name">프리미엄 플러스</strong>
                                                                    <!-- 번들 PREMIUM -->

                                                                </div>
                                                                <div class="package__info">
                                                                    <ul class="bundle_ico_list txt_in">
                                                                        <li><em class="bundle_ico ico_bag"></em>기내 수하물
                                                                            10KG (1개)
                                                                        </li> <!-- 기내 수하물 10kg (1개) -->
                                                                        <li><em class="bundle_ico ico_bag"></em>위탁 수하물
                                                                            30KG (괌/사이판 노선은 2개 23KG)
                                                                        </li> <!-- 위탁 수하물 30kg (괌/사이판 노선은 1개 23KG) -->
                                                                        <li><em class="bundle_ico ico_seat"></em>전 좌석 선택
                                                                            무료
                                                                        </li> <!-- 전 좌석 선택 무료 -->
                                                                        <li><em class="bundle_ico ico_first"></em>우선
                                                                            탑승서비스
                                                                        </li> <!-- 우선 탑승서비스 -->
                                                                        <li><em class="bundle_ico ico_bag"></em>빠른 수하물
                                                                            수취
                                                                        </li> <!-- 빠른 수하물 수취 -->
                                                                        <li><em class="bundle_ico ico_sale"></em>에어카페 현장
                                                                            할인
                                                                        </li> <!-- 에어카페 현장 할인 -->
                                                                        <li><em class="bundle_ico ico_food"></em>사전 기내식
                                                                            주문 할인
                                                                        </li> <!-- 사전 기내식 주문 할인 -->
                                                                        <!-- <li><em class="bundle_ico ico_jj"></em>JJ 라운지 이용권 (인천 출발편에 한함)</li> <!-- JJ 라운지 이용권 (인천 출발편에 한함) -->
                                                                        <!--20210910 삭제-->
                                                                        <li><em class="bundle_ico ico_food"></em>웰컴 스낵
                                                                        </li> <!-- 웰컴 스낵 -->
                                                                        <li><em class="bundle_ico ico_premium"></em>전용
                                                                            수속 카운터 (일부공항제외)
                                                                        </li> <!-- 전용 수속 카운터 (일부공항제외) -->

                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="guide-info guide-info--gray">
                                        <p class="guide-info__text">표기된 수하물 허용량은 무료 위탁 수하물 포함 무게입니다.</p>
                                        <!-- 표기된 수하물 허용량은 무료 위탁 수하물 포함 무게입니다. -->
                                    </div>
                                </div>
                                <!--// 국내선 / FLYBAG 운임-->
                            </div>
                        </div>
                        <!--//tab__panel-->
                    </div>
                    <!-- //linked-tab -->
                </div>

                <div class="section-wrap">
                    <div class="section-title">
                        번들 구매 방법
                    </div> <!-- 번들 구매 방법 -->

                    <!-- 아이콘 리스트 -->
                    <div class="main-sel">
                        <ul class="step-wrap thum-txt">
                            <li>
                                <div class="step-wrap__image">


                                    <img src="https://static.jejuair.net/hpgg/resources/images/@temp/guide_bundle_01.png"
                                         alt="국내/국제선 항공권 운임 선택">


                                </div>
                                <dl class="step-wrap__text">
                                    <dt>STEP 01</dt> <!-- STEP 01 -->
                                    <dd>국내/국제선 항공권 운임 선택</dd> <!-- 국내/국제선 항공권 운임 선택 -->
                                </dl>
                            </li>
                            <li>
                                <div class="step-wrap__image">


                                    <img src="https://static.jejuair.net/hpgg/resources/images/@temp/guide_bundle_02.png"
                                         alt="선택한 운임에 맞게 번들 종류 선택">


                                </div>
                                <dl class="step-wrap__text">
                                    <dt>STEP 02</dt> <!-- STEP 02 -->
                                    <dd>선택한 운임에 맞게 번들 종류 선택</dd> <!-- 선택한 운임에 맞게 번들 종류 선택 -->
                                </dl>
                            </li>

                            <li>
                                <div class="step-wrap__image">


                                    <img src="https://static.jejuair.net/hpgg/resources/images/@temp/guide_bundle_03.png"
                                         alt="번들에 포함된 부가서비스 선택 (좌석 지정 등)">


                                </div>
                                <dl class="step-wrap__text">
                                    <dt>STEP 03</dt> <!-- STEP 03 -->
                                    <dd>번들에 포함된 부가서비스 선택 (좌석 지정 등)</dd> <!-- 번들에 포함된 부가서비스 선택 (좌석 지정 등) -->
                                </dl>
                            </li>
                            <li>
                                <div class="step-wrap__image">


                                    <img src="https://static.jejuair.net/hpgg/resources/images/@temp/guide_bundle_04.png"
                                         alt="항공권 예매시 번들 포함 내역 확인">


                                </div>
                                <dl class="step-wrap__text">
                                    <dt>STEP 04</dt> <!-- STEP 04 -->
                                    <dd>항공권 예매시 번들 포함 내역 확인</dd> <!-- 항공권 예매시 번들 포함 내역 확인 -->
                                </dl>
                            </li>
                        </ul>
                    </div>
                    <!-- //아이콘리스트 -->
                </div>


                <div class="fixed-wrap section-wrap">
                    <div class="button-wrap button-wrap--stick pc-center">
                        <button type="button" class="button button--primary button--active"
                                onclick="javascript:URL_LINK.getI18Url('/ibe/booking/Availability.do')"><span
                                class="button__text">
				예매하기</span></button> <!-- 구매 -->
                    </div>
                </div>
            </main>
        </div>

    </div>
</div>


<!-- footer -->
<div th:replace="user/fragment/footer :: footer"></div>
<!-- / footer 끝 -->

<div id="ifmWrap" style="height:100%; display:none; overflow:auto; text-align:center; -webkit-overflow-scrolling:touch;">
    <iframe src="" width="100%" height="100%" name="popupChkApp"></iframe>
</div>


<!-- 공통 스크립트 선언 -->

<!--<div th:replace="/user/fragment/js :: js"></div>-->
<script type="text/javascript" src="/user/lib/js/lib.min.js"></script>
<script type="text/javascript" src="/user/lib/js/common.js"></script>
<script type="text/javascript" src="/user/lib/js/plugin.js"></script>
<script type="text/javascript" src="/user/lib/js/head/head.js"></script>

<!-- 공통 스크립트 선언 끝 -->

<!--body, html 주석은 위치 고정-->
</body>
</html>
<!--body, html 주석은 위치 고정 끝-->
