<html lang="ko"
	  xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org/">
<!--head-->
<div th:replace="/user/fragment/head :: head"></div>
<!--head 끝-->

<body id="subLayoutBody" class="isPc vsc-initialized">

<!-- appAlert -->
<div th:replace="/user/fragment/appAlert :: appAlert"></div>
<!-- //appAlert 끝 -->

<!-- header -->
<div th:replace="/user/fragment/header :: header"></div>
<!-- //header 끝 -->


<div id="body">

		<!-- Google Tag Manager (noscript) -->
		<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PD2BQQ4" height="0" width="0"
				style="display:none;visibility:hidden"></iframe></noscript>
		<!-- End Google Tag Manager (noscript) -->

		<div class="wrap ">

			<div id="breadcrumb" class="breadcrumb pc-only" aria-label="breadcrumb">
				<nav class="breadcrumb__inner">
					<div class="breadcrumb__item">
						<a href="javascript:;" class="breadcrumb__link">홈</a>
					</div>
					<div class="breadcrumb__item">
						<a href="javascript:;" class="breadcrumb__link">탑승 수속 안내</a>
					</div>
					<div class="breadcrumb__item breadcrumb__item--current" aria-current="page" data-element="toggle"
						data-options='{"mode": "slide", "speed": 100, "clickToClose": true}'>
						<button type="button" class="breadcrumb__link breadcrumb__link--list"
							data-element="toggle__anchor">수하물</button>
						<div class="breadcrumb__siblings-list" data-element="toggle__panel">
							<a href="javascript:void(0);" class="item"
								onclick="URL_LINK.getI18Url('/ibe/checkin/viewCheckin.do')">모바일 탑승권</a>
							<a href="javascript:void(0);" class="item"
								onclick="URL_LINK.getI18Url('/linkService/airport/info.do')">공항 정보</a>
							<a href="javascript:void(0);" class="item"
								onclick="URL_LINK.getI18Url('/linkService/fastProcedure/guide.do')">빠른 수속</a>
							<a href="javascript:void(0);" class="item"
								onclick="URL_LINK.getI18Url('/linkService/help/main.do')">도움이 필요한 고객</a>
						</div>
					</div>
				</nav>
			</div>
			<div class="content" id="content">
				<main id="main" class="main ">

					<div class="page-title-wrap">
						<div class="page-title">기내수하물</div>
						<div class="page-sub-title">고객님의 편안한 여행과 안정을 <br class="mobile-only">위해 기내 반입 수하물을 <br
								class="mobile-only">확인해주세요. </div>
					</div>

					<div class="section-wrap">
						<div class="section-title">기내 수하물 안내</div>
						<div class="line-box line-box--baggage">
							<div class="baggage-info">
								<div class="baggage-info__flex">
									<div class="baggage-info__icon">
										<img src="https://static.jejuair.net/hpgg/resources/images/icon/icon_baggabe_04.png"
											alt=''>
									</div>
									<span class="baggage-info__mark">+</span>
									<div class="baggage-info__icon">
										<img src="https://static.jejuair.net/hpgg/resources/images/icon/icon_baggabe_06.png"
											alt=''>
									</div>
									<span class="baggage-info__mark">=</span>
									<div class="baggage-info__icon">
										<img src="https://static.jejuair.net/hpgg/resources/images/icon/icon_baggabe_03.png"
											alt=''>
									</div>
								</div>
								<div class="baggage-info__text">개인휴대품, 기내수하물 허용량의 합 10kg 이내</div>
							</div>
						</div>
					</div>

					<div class="section-wrap">
						<div class="section-title">휴대 수하물 규격 허용량</div>
						<div class="baggage-img">

							<p class="baggage-img__area">
								<i class="baggage-img__icon">
									<span>10KG<br />Free</span>
								</i>
								<img src="https://static.jejuair.net/hpgg/resources/images/etc/baggage-01.png"
									data-src="https://static.jejuair.net/hpgg/resources/images/pc/baggage-01.png"
									alt='아이콘 설명'>
							</p>
							<div class="baggage-img__text-center">
								<p class="txt">40 X 20 X 55CM</p>
								<p class="txt">
									(A)&nbsp;&nbsp;(B)&nbsp;&nbsp;(C)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
								</p>
							</div>
						</div>
					</div>

					<div class="section-wrap">
						<div class="section-title">기내 휴대 가능 수하물</div>
						<div class="line-box line-box--baggage">
							<div class="baggage-info pc-row">
								<div class="pc-box">
									<div class="baggage-info__flex">
										<div class="baggage-info__icon">
											<img src="https://static.jejuair.net/hpgg/resources/images/icon/icon_baggabe_07.png"
												alt='아이콘 설명'>
										</div>
										<span class="baggage-info__mark">or</span>
										<div class="baggage-info__icon">
											<img src="https://static.jejuair.net/hpgg/resources/images/icon/icon_baggabe_04.png"
												alt='아이콘 설명'>
										</div>
									</div>
									<div class="baggage-info__text">기내허용 크기 캐리어 또는 배낭/크로스백 1개 <span
											class="light">(55x40x20CM 범위 내)</span>
									</div>
								</div>
								<div class="baggage-info__mark pc-n1">+</div>
								<div class="pc-box">
									<div class="baggage-info__flex">
										<div class="baggage-info__icon">
											<img src="https://static.jejuair.net/hpgg/resources/images/icon/icon_baggabe_06.png"
												alt='아이콘 설명'>
										</div>
									</div>
									<div class="baggage-info__text">*개인휴대품 1개 <br class=pc-only>(면세 쇼핑백 등)</div>
								</div>


							</div>
						</div>
						<ul class="list-guide list-guide--asterisk">
							<li class="list-guide__item">
								개인휴대품 <br />- 개인용품 (소형 디지털 기기, 핸드백, 카메라, 우산, 적량의 독서물, 유아용품, 외투 등)<br />- 보조장구 (지팡이, 목발
								등)<br />- 소량의 면세품
							</li>
							<li class="list-guide__item">
								휴대가능한 수하물인 경우라도 기내공간 부족등의 사유로 위탁수하물로 처리될 수 있습니다.
							</li>
						</ul>
					</div>



					<div class="section-wrap">
						<div class="section-title">기내에선 이렇게 보관해주세요</div>
						<div class="baggage-info">
							<div class="baggage-info__item">
								<div class="baggage-info__item-title">큰 휴대 수하물은 선반 위에!</div>
								<div class="baggage-info__item-img">
									<img src="https://static.jejuair.net/hpgg/resources/images/icon/icon_cabin_01.png"
										alt='이미지 설명'>
								</div>
							</div>
							<div class="baggage-info__item">
								<div class="baggage-info__item-title">작은 휴대 수하물은 앞 좌석 아래에!</div>
								<div class="baggage-info__item-img">
									<img src="https://static.jejuair.net/hpgg/resources/images/icon/icon_cabin_02.png"
										alt='이미지 설명'>
								</div>
							</div>
							<div class="baggage-info__item">
								<div class="baggage-info__item-title">휴대 수하물을 꺼낼 때는 조심히!</div>
								<div class="baggage-info__item-img">
									<img src="https://static.jejuair.net/hpgg/resources/images/icon/icon_cabin_03.png"
										alt='이미지 설명'>
								</div>
							</div>
						</div>
						<ul class="list-guide">
							<li class="list-guide__item">
							<li class="list-guide__item">기내에 반입된 모든 수하물은 반드시 기내 선반 또는 앞 좌석 밑에 보관해야 합니다.</li>
							<li class="list-guide__item">내리기 전, 두고 내리는 물건이 없는지 확인해 주세요.</li>
							<li class="list-guide__item">수하물을 올리고 내리실 때 수하물이 떨어지지 않도록 주의해 주세요.</li>
							</li>
						</ul>
					</div>

					<div class="container--large service-information-wrap pc-60 no-mgt">
						<!-- 탑승 게이트 위탁 수하물 안내 -->
						<div class="service-information" data-action="info-toggle" data-toggle-id="0000000133">
							<div class="service-information__title">
								<button type="button" class="service-information__anchor"
									data-element="toggle__anchor">탑승 게이트 위탁 수하물 안내</button>
							</div>
							<div class="service-information__content" data-element="toggle__panel">
							</div>
						</div>
						<!-- //탑승 게이트 위탁 수하물 안내 -->

						<!-- 기내 반입 금지 수하물 안내 -->
						<div class="service-information" data-action="info-toggle" data-toggle-id="0000000134">
							<div class="service-information__title">
								<button type="button" class="service-information__anchor"
									data-element="toggle__anchor">기내 반입 금지 수하물 안내</button>
							</div>
							<div class="service-information__content" data-element="toggle__panel">
							</div>
						</div>
						<!-- //기내 반입 금지 수하물 안내 -->
					</div>
				</main>
			</div>

		</div>
	</div>



<!-- footer -->
<div th:replace="user/fragment/footer :: footer"></div>
<!-- / footer 끝 -->

<div id="ifmWrap" style="height:100%; display:none; overflow:auto; text-align:center; -webkit-overflow-scrolling:touch;">
	<iframe src="" width="100%" height="100%" name="popupChkApp"></iframe>
</div>


<!-- 공통 스크립트 선언 -->

<!--<div th:replace="/user/fragment/js :: js"></div>-->
<script type="text/javascript" src="/user/lib/js/lib.min.js"></script>
<script type="text/javascript" src="/user/lib/js/common.js"></script>
<script type="text/javascript" src="/user/lib/js/plugin.js"></script>

<!-- 공통 스크립트 선언 끝 -->

<!--body, html 주석은 위치 고정-->
</body>
</html>
<!--body, html 주석은 위치 고정 끝-->
