<html lang="ko"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org/">

<!--head-->
<div th:replace="/user/fragment/head :: head"></div>
<!--head 끝-->
<style>
    .accordion__panel{
        max-height: 0;
        transition: all .35s;
        overflow: hidden;
        background-color: #333333;
    }
</style>

<body id="subLayoutBody" class="isPc" style="height: 938.5px;">


<!--appAlert-->
<div th:replace="/user/fragment/appAlert :: appAlert"></div>
<!--appAlert 끝-->

<!--header-->
<div th:replace="/user/fragment/header :: header"></div>
<!--header 끝-->


<div id="body">
    <input id="memIdx" th:value="${idx}" style="display: none">
    <div class="wrap wrap--button MO">
        <div class="content" id="content">
            <div id="category" value="inquiry"></div>
            <main class="main help_tab" id="main">
                <div class="page-title-wrap pc-only">
                    <div class="page-title">1:1 문의하기</div>
                </div>
                <div class="accordion accordion--inquire section-wrap">
                    <div class="accordion__header" style="border-bottom: 1px solid #333333">
                        <div class="section-title">나의 문의/답변 내역</div>
                    </div>
                    <span id="itemList">
                            <div class="accordion__group" v-for="(dto,i) in itemList"
                                 :key="i"
                                 style="border-top: none">
                                <div class="accordion__item" style="cursor: pointer">
                                    <div for="answer01" class="accordion__anchor" id="clickArea1">
                                        <input type="hidden" name="ansIdx" id="ansIdx" :value=`${dto.ansIdx}`>
                                            <div class="accordion__item-header" >
                                                <span class="label101" style="background-color: #888888; color: #FFFFFF; font-size: 13px">답변 여부: {{dto.ansAnswerCheck}}</span>
                                            </div>
                                            <strong class="accordion__title">
                                                {{dto.ansInquiryTitle}}
                                            </strong>

                                            <div class="accordion__text">
                                                {{dto.ansInquiryContent}}
                                            </div>
                                    </div>
                                    <div class="accordion__item-sub-info">
                                        <span class="date" style="color: #888888; font-size: 16px; display: block!important;">{{dto.ansInquiryRegdate}}</span>
                                        <div class="btn-wrap">
                                            <label>
                                                <button class="btn-wrap__button btn-wrap__button--delete" type="button" onclick="deleteInquiry()">
                                                    <span>삭제하기</span>
                                                </button>
                                            </label>
                                        </div>
                                    </div>
                                    <!-- 답변 div -->
                                    <div aria-labelledby="plugin-accordion-4" class="accordion__panel answerHidden" id="answerHidden"
                                         style="background: #f5f5f5; position: relative; padding: 20px 34px 15px 40px; font-size: 16px;box-sizing: border-box;
                                                   min-height: 100px; max-height: 100px; display: none;">
                                        <div class="accordion__text" style="font-size: 14px">
                                            {{dto.ansAnswerContent}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </span>
                </div>

                <div class="sub-section">
                    <div class="guide-info guide-info--gray customer-bottom-info" style="margin-bottom: 20px;">
                        <p class="guide-info__text">
                            더 자세한 문의는 고객센터를 이용해 주세요.
                            <span>전화 1599-1500 |</span>
                            <span> 상담시간 평일(월-금) 09:00 ~ 19:00</span>
                        </p>
                    </div>
                </div>
            </main>
            <div class="button-wrap customer_list_button" data-element="bottomContent">
                <button class="button button--primary button--active" type="button"
                        onclick="location.href='/user/qna_form'"><span
                        class="button__text">1:1 문의 작성하기</span></button>
            </div>
        </div>
    </div>
</div>


<div class="modalWrap" id="loginWrap" style="display:none;">
    <div class="modal modal--simple modalDiv" id="loginDiv">
        <div class="modal-content">
            <p class="alert-text">
                You have go log in for 1:1 inquiry. Please log in first.
            </p>
        </div>
    </div>
</div>


<!-- footer -->
<div th:replace="/user/fragment/footer :: footer"></div>
<!-- / footer 끝 -->

<!-- 공통 스크립트 선언 -->
<!-- 공통 스크립트 선언 -->
<script type="text/javascript" src="/user/lib/js/lib.min.js"></script>
<script type="text/javascript" src="/user/lib/js/common.js"></script>
<script type="text/javascript" src="/user/lib/js/plugin.js"></script>
<script type="text/javascript" src="/user/lib/js/mypage/inquiry_list.js"></script>
<script>
    $(document).on("click",".accordion__anchor", function (){
        dropdown(this)
    })

    function dropdown(select){
        let block = select.parentElement.querySelector(".accordion__panel")
        let anchor = select.parentElement.querySelector(".accordion__anchor")

        if(block.classList.contains("answerHidden")){
            block.style.display = "block"
            block.classList.remove("answerHidden");
            anchor.classList.add("is-active")
        }else{
            block.style.display = "none"
            block.classList.add("answerHidden")
            anchor.classList.remove("is-active")
        }
    }
</script>
<script>
    function deleteInquiry(){
        const yn = confirm("삭제하시겠습니까?");
        if(yn){
            let ansIdx = document.getElementById("ansIdx").value
            console.log(ansIdx)
            deleteView(ansIdx);
            location.href = `/user/qna_list`;
        }
    }

    function deleteView(i){
        $.ajax({
            url: `/api/inquiry/`+i,
            method: "DELETE"
        })
    }
</script>
</body>

</html>