<html lang="ko"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org/">
<!--head-->
<div th:replace="/user/fragment/head :: head"></div>
<!--head 끝-->

<body id="subLayoutBody" class="vsc-initialized">


<!-- appAlert -->
<div th:replace="/user/fragment/appAlert :: appAlert"></div>
<!-- //appAlert 끝 -->

<!-- header -->
<div th:replace="/user/fragment/header :: header"></div>
<!-- //header 끝 -->


<!-- //기내 유실물 센터 시작 -->
<div id="body">
    <!-- Google Tag Manager (noscript) -->
    <noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PD2BQQ4" height="0" width="0"
                style="display:none;visibility:hidden"></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->
    <div class="wrap MO">
        <!-- //본문 상단 메뉴 시작 -->
        <div id="breadcrumb" class="breadcrumb pc-only" aria-label="breadcrumb">
            <nav class="breadcrumb__inner">
                <div class="breadcrumb__item">
                    <a href="javascript:;" class="breadcrumb__link">홈</a>
                </div>
                <div class="breadcrumb__item">
                    <a href="javascript:;" class="breadcrumb__link">고객센터</a>
                </div>
                <div class="breadcrumb__item breadcrumb__item--current" aria-current="page" data-element="toggle"
                     data-options="{&quot;mode&quot;: &quot;slide&quot;, &quot;speed&quot;: 100, &quot;clickToClose&quot;: true}">
                    <button type="button" class="breadcrumb__link breadcrumb__link--list" data-element="toggle__anchor">
                        기내 유실물 센터
                    </button>
                    <div class="breadcrumb__siblings-list" data-element="toggle__panel">
                        <a href="javascript:void(0);" class="item"
                           onclick="URL_LINK.getI18Url('/customerService/csCenter/faqList.do')">고객센터</a>
                        <a href="javascript:void(0);" class="item"
                           onclick="URL_LINK.getI18Url('/customerServiceCenter/notice.do')">공지사항</a>
                    </div>
                </div>
            </nav>
        </div>
        <!-- //본문 상단 메뉴 끝 -->
        <div class="content" id="content">
            <main id="main" class="main ">
                <div class="page-title-wrap">
                    <div class="page-title">기내 유실물 센터</div>
                    <div class="page-sub-title">잃어버린 물건을 <br class="mobile-only">찾아 드릴게요</div>
                    <div class="link-wrap link-wrap--arrow link-wrap--left">
                        <a href="#" class="link-wrap__text" data-element="modal_anchor" data-target="#modalLayer01"
                           data-modal-type="full">유실물 센터 이용 방법</a>
                    </div>
                </div>
                <div class="section-wrap">
                    <div class="section-title">유실물 조회</div>
                    <div class="gray-box pc-15">
                        <div class="input-wrap input--line input-wrap--plex">
                            <div class="input-row">
                                <div class="input-item">
                                    <div class="input-label">기간</div>
                                    <div class="input-box">
                                        <div class="ticketing-date">
                                            <input type="hidden" id="inquiryStartDt" value="2022-05-30">
                                            <input type="hidden" id="inquiryEndDt" value="2022-06-29">
                                        </div>
                                        <button type="button" class="picker picker--button is-select"
                                                data-element="modal_anchor" data-modal-type="datepicker"
                                                data-target="#datepicker01" id="lostPeriod">2022.05.30(월) ~
                                            2022.06.29(수)
                                        </button>
                                    </div>
                                    <p tabindex="0" class="input__error">에러메세지</p>
                                    <p class="input__sub-text">최근 1개월만 조회할 수 있습니다.</p>
                                </div>
                                <div class="input-item">
                                    <div class="input-label">품목</div>
                                    <div class="input-box">
                                        <div class="select-wrap select-wrap--line">
                                            <select id="itemCd" title="품목" class="select-wrap__select" name="itemCd">
                                                <option value="">전체</option>

                                                <option value="핸드폰">핸드폰</option>

                                                <option value="책">책</option>

                                                <option value="안경">안경</option>

                                                <option value="베개">베개</option>

                                                <option value="의류">의류</option>

                                                <option value="전자제품">전자제품</option>

                                                <option value="지갑">지갑</option>

                                                <option value="서류">서류</option>

                                                <option value="악세서리">악세서리</option>

                                                <option value="가방류">가방류</option>

                                                <option value="기타">기타</option>

                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="input-item">
                                    <div class="input-label">색상</div>
                                    <div class="input-box">
                                        <div class="select-wrap select-wrap--line">
                                            <select id="hueCd" title="색상" class="select-wrap__select" name="hueCd">
                                                <option value="">전체</option>

                                                <option value="화이트">흰색(화이트)</option>

                                                <option value="블랙">검정색(블랙)</option>

                                                <option value="레드">빨간색(레드)</option>

                                                <option value="오렌지">주황색(오렌지)</option>

                                                <option value="옐로우">노랑색(옐로우)</option>

                                                <option value="그린">초록색(그린)</option>

                                                <option value="블루">파란색(블루)</option>

                                                <option value="브라운">갈색(브라운)</option>

                                                <option value="바이올렛">보라색(바이올렛)</option>

                                                <option value="핑크">분홍색(핑크)</option>

                                                <option value="기타">기타</option>

                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--스크립트 pc:항상 오픈/모바일:접혀있게-->
                            <!-- <div class="input-row toggle-row pc-25 pc-show">
                                 <div class="input-item">
                                     <label for="inp3-1" class="input-label">항공편 명</label>
                                     <div class="input-box">
                                         <div data-element="form" data-change="true" class="input input-wraping">
                                             <div class="default-text"><span>7</span><span>C</span></div>
                                             <input type="tel" id="inp3-1" class="input__text" data-element="input"
                                                    maxlength="4" placeholder="●●●●">
                                         </div>
                                     </div>
                                     <p tabindex="0" class="input__error">편명을 입력해 주세요.</p>
                                     <p class="input__sub-text">예) 1234</p>
                                 </div>-->

                            <!-- D : 에러시  input--error 클래스 추가 -->
                            <!--<div class="input-item">
                                <div class="input-box">
                                    <label for="inp" class="input__label">좌석번호</label>
                                    <div data-element="form" class="input">
                                        <input type="text" data-element="input" id="pickupSeatNo"
                                               class="input__text">
                                        <button type="button" data-element="remove" class="input__remove-button">
                                            <span class="hidden">삭제</span></button>
                                    </div>
                                </div>
                                <p tabindex="0" class="input__error">에러메세지</p>
                                <p class="input__sub-text">예) 10A</p>
                            </div>

                            <div class="input-item"></div>

                        </div>-->
                            <button type="button" class="btn-lost-more"></button>

                        </div>
                    </div>

                    <div class="sub-section">
                        <div class="button-wrap button-wrap--center">
                            <button type="button" id="select_btn" class="button button--optional button--active">
                                <span class="button__text">조회</span></button>
                        </div>
                    </div>

                    <!-- 날짜선택 -->
                    <div id="datepicker01" class="modal modal-full modal-full--picker" data-max-rate="none">
                        <div class="modal-header">
                            <h2 class="header__page-name">날짜를 선택해 주세요.</h2>
                        </div>
                        <div class="modal-content">
                            <div class="picker picker--full">
                                <input type="text" class="picker__input" id="selectDate" data-picker="range"
                                       data-text="1인 편도 운임 총액 기준" data-min-date="2022-05-30" data-max-date="today"
                                       data-format="Y.m.d (D)" data-defaultdate="20220530" data-selected=""
                                       data-range-text="{&quot;start&quot;: &quot;시작&quot;, &quot;end&quot;: &quot;종료&quot;, &quot;current&quot;: &quot;왕복&quot;}"
                                       data-locale="ko">
                            </div>
                            <div class="ticketing-date">
                                <div id="date-round" style="display : block" value="round">

                                    <div style=" display: flex; justify-content: center; margin-top: 10px;">
                                        <input type="text" name="cal-round" id="cal-round" value=""
                                               style="height: 30px; border: 0px solid #FFF; width: 250px; text-align: center; font-size: 18px;" />
                                    </div>
                                    <script>
                                        $(function () {
                                            $('input[name="cal-round"]').daterangepicker({
                                                opens: 'left',
                                                minDate: moment()

                                            }, function (start, end, label) {
                                                document.getElementById("roundStart").setAttribute("value", start.format('YYYY-MM-DD'));
                                                document.getElementById("roundEnd").setAttribute("value", end.format('YYYY-MM-DD'));
                                                console.log(document.getElementById("roundStart"));
                                                console.log(document.getElementById("roundEnd"));
                                                console.log("A new date selection was made: " + start.format('YYYY-MM-DD') + ' to ' + end.format('YYYY-MM-DD'));
                                            });
                                        });
                                    </script>
                                </div>
                                <div class="booking-button cal-button">
                                    <button type="button" class="button button--primary button--black pc-only"
                                            data-reset-date="#selectDate">
                                        <span class="button__text">초기화</span>
                                    </button>
                                    <button type="button" class="button button--primary button--active"
                                            data-select-date="#selectDate" rel="modal:close">
                                        <span class="button__text">선택</span>
                                    </button>
                                </div>
                            </div>
                            <a href="#" rel="modal:close" class="modal__close"><span class="blind">닫기</span></a>
                        </div>
                    </div>

                    <div class="section-wrap">
                        <div class="notice-box">
                            <div class="notice-box__title">꼭 알아두세요</div>
                            <p class="notice-box__text">유실물은 습득일로부터 1개월 후 주인이 나타나지 않으면 유실물은 자동 폐기됩니다.</p>
                            <p class="notice-text--type2">단, 쉽게 부패하는 물품은 수시로 폐기됩니다.</p>
                        </div>
                    </div>

                    <!-- 조회결과 -->
                    <div class="section-wrap" id="rslt">
                        <div class="search-result">
                            <div class="search-result__header" id="search-result__header"  >
                                <p class="search-result__header-title">조회 결과</p>
                                <span class="search-result__total" id="totalC">총 <strong class="totalCnt">{{totalElements}}</strong>개</span>
                            </div>
                            <div class="search-result__contents list-card-st" id="itemList">
                                <div class="list-card list-card--lost" id="resultsList">
                                    <!--데이터-->
                                    <div class="list-card__item" style="display: none;"
                                         v-for="(dto,i) in itemList"
                                         :key="i">          <!--vue로 반복문 돌리기-->
                                        <div class="list-card__image">
                                            <div class="label-wrap label-wrap--lost">
                                                <span class="label-wrap__item label-wrap__item--type3">보관</span>
                                                <input type="hidden" id="lostpropId" value="CAB0003822">
                                            </div>
                                        </div>
                                        <div class="list-card__info">
                                            <div class="list-card--lost__info-date">{{dto.lostRegDate}}</div>
                                            <strong class="list-card__title">{{dto.lostItem}}</strong>
                                            <div class="list-card--lost__info-list">
                                                <span class="flight">{{dto.lostSeatNum}}/</span>
                                                <span class="location">{{dto.lostAcqAirName}}</span>
                                            </div>
                                        </div>
                                    </div>
                                    <!--데이터끝-->
                                </div>

                                <!-- 데이터 없을때 -->
                                <div class="finish-item-wrap" style="display: none">
                                    <div class="finish-item">
                                        <div class="finish-item__img"><img
                                                src="https://static.jejuair.net/hpgg/resources/images/icon/icon-nodata-02.png"
                                                alt=""></div>
                                        <p class="finish-item__title">조회된 유실물이 없습니다.</p>
                                        <p class="finish-item__text">검색 조건을 바꿔서 다시 검색해 주세요.</p>
                                    </div>
                                </div>
                                <!-- //데이터 없을때 -->
                            </div>
                            <div class="more-wrap" style="display: none;">
                                <button type="button" class="more__button" id="moreBtn" data-type="more"><span
                                        class="more__button-text">더보기 (<span class="more__button--color"
                                                                             id="currentCnt">0</span>/<span
                                        class="totalCnt">0</span>)</span></button>
                            </div>
                        </div>
                    </div>
                    <!-- //조회결과 -->

                    <div class="section-wrap">
                        <div class="notice-box">
                            <div class="notice-box__title">유실물 문의</div>
                            <p class="notice-box__text">찾으시는 물건이 없나요? <br class="mobile-only">1599-1500 위 번호로 연락주시길 바랍니다.</p>
                        </div>
                    </div>
                    <!--<div class="section-wrap">
                        <div class="button-wrap pc-center">
                            <button type="button" onclick="CUSTOMERSERVICE_CABINLOST_SCRIPT.confirm();"
                                    class="button--optional button--active"><span class="button__text">문의하기</span></button>
                        </div>
                    </div>-->
                    <div id="modalLayer01" class="modal modal-full modal-scroll">
                        <div class="modal-header">
                            <div class="modal-header__title">유실물 센터 이용 방법</div>
                        </div>
                        <div class="modal-content">
                            <!-- use-way -->
                            <div class="use-way">
                                <div class="section-wrap">
                                    <div class="section-title">이용방법</div>
                                    <div class="section-sub-txt">항공기에서 물건을 잃어버린 기간과 품목 등을 검색하여 유실물을 찾아 보세요.</div>
                                </div>
                                <div class="section-wrap">
                                    <div class="section-title">이용절차</div>

                                    <div class="list-card list-card--step cs">
                                        <div class="list-card__item">
                                            <div class="list-card__image">
                                                <img src="https://static.jejuair.net/hpgg/resources/images/icon/icon-lost-step01.png"
                                                     alt="이미지">
                                            </div>
                                            <div class="list-card__info">
                                                <strong class="list-card__title">01.등록</strong>
                                                <p class="list-card__text">기내 유실물은 습득 후 2~3일 이내에 유실물 센터에 등록됩니다.</p>
                                            </div>
                                        </div>
                                        <div class="list-card__item">
                                            <div class="list-card__image">
                                                <img src="https://static.jejuair.net/hpgg/resources/images/icon/icon-lost-step02.png"
                                                     alt="이미지">
                                            </div>
                                            <div class="list-card__info">
                                                <strong class="list-card__title">02.보관</strong>
                                                <p class="list-card__text">유실물은 습득일로부터 1개월 동안 보관됩니다.</p>
                                                <ul class="list-guide list-guide--asterisk">
                                                    <li class="list-guide__item">단, 쉽게 부패하는 물품은 수시로 폐기됩니다.</li>
                                                </ul>
                                            </div>
                                        </div>

                                        <div class="list-card__item">
                                            <div class="list-card__image">
                                                <img src="https://static.jejuair.net/hpgg/resources/images/icon/icon-lost-step03.png"
                                                     alt="이미지">
                                            </div>
                                            <div class="list-card__info">
                                                <strong class="list-card__title">03.문의</strong>
                                                <p class="list-card__text">유실물을 찾으시면 [문의하기]에서 수령 방법에 대한 안내를 받습니다. </p>
                                            </div>
                                        </div>

                                        <div class="list-card__item">
                                            <div class="list-card__image">
                                                <img src="https://static.jejuair.net/hpgg/resources/images/icon/icon-lost-step04.png"
                                                     alt="이미지">
                                            </div>
                                            <div class="list-card__info">
                                                <strong class="list-card__title">04.수령</strong>
                                                <p class="list-card__text">방문 수령만 가능하며, 수령 시 신분증을 꼭 지참해 주세요.</p>
                                                <ul class="list-guide list-guide--asterisk">
                                                    <li class="list-guide__item">본인으로 확인되어야 수령할 수 있습니다.</li>
                                                </ul>
                                            </div>
                                        </div>

                                        <div class="list-card__item">
                                            <div class="list-card__image">
                                                <img src="https://static.jejuair.net/hpgg/resources/images/icon/icon-lost-step05.png"
                                                     alt="이미지">
                                            </div>
                                            <div class="list-card__info">
                                                <strong class="list-card__title">05.폐기</strong>
                                                <p class="list-card__text">습득일로부터 1개월 후 주인이 나타나지 않으면 유실물은 자동 폐기됩니다.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="section-wrap">
                                    <div class="section-title">기타 유실물 기관</div>
                                    <div class="section-sub-txt">항공기가 아닌 공항 시설에서 잃어버린 경우, 해당 공항의 유실물 관련 기관에 문의해 주세요.
                                    </div>

                                    <div class="lost_table_style">
                                        <dl>
                                            <dt>인천공항</dt>
                                            <dd>032-741-3110</dd>
                                            <dt>제주공항</dt>
                                            <dd>064-797-2521</dd>
                                            <dt>김포공항</dt>
                                            <dd>02-2660-4097</dd>
                                            <dt>청주공항</dt>
                                            <dd>
                                                <!-- 043-210-6440 CMS 테스트 해야됨 -->043-210-6440
                                            </dd><!-- 청주공항 연락처 변경  -->
                                            <dt>김해공항</dt>
                                            <dd>051-974-3776</dd>
                                            <dt>대구공항</dt>
                                            <dd>053-980-5230</dd>
                                        </dl>
                                    </div>

                                </div>
                            </div>
                            <!-- //use-way -->
                        </div>

                        <a href="#" rel="modal:close" class="modal__close"><span class="blind">닫기</span></a>
                    </div>
                    <!-- //유실물 센터 이용 방법 팝업 -->
                </div>
            </main>
        </div>
    </div>
</div>
<!-- //기내 유실물 센터 끝 -->

<!-- //유실물 상세 모달 시작 -->
<a href="#" rel="modal:close" class="modal__close"><span class="blind">닫기</span></a>


<div id="modalLayer02" class="modal modal-full modal--fixed-multi modal-scroll">
    <div class="modal-header">
        <div class="modal-header__title">유실물 상세</div>
    </div>
    <div class="modal-content">

        <div class="carousel carousel--full swiper-container carousel__bg-button" data-carousel="fullItem">
            <div class="carousel__item swiper-wrapper" id="itemImages">
            </div>
            <div class="carousel__button carousel__button-prev"></div>
            <div class="carousel__button carousel__button-next"></div>
            <div class="carousel__pagination"></div>
        </div>

        <div class="table-horizontal">
            <table>
                <caption>테이블의 설명</caption>
                <colgroup>
                    <col style="width:30%">
                    <col>
                </colgroup>
                <tbody class="table-horizontal__tbody">
                <tr>
                    <th scope="row" class="table-horizontal__th">관리번호</th>
                    <td class="table-horizontal__td" id="lostpropId2">
                        <div class="label-wrap label-wrap--lost">
                            <span class="label-wrap__item label-wrap__item--type2 badge" id="keepingStatCd"></span>
                            <span class="label-wrap__item label-wrap__item--type1 badge" id="keepingStatCd2"></span>
                        </div>
                    </td>
                </tr>
                <tr>
                    <th scope="row" class="table-horizontal__th">습득 날짜</th>
                    <td class="table-horizontal__td" id="detailPickupDt"></td>
                </tr>
                <tr>
                    <th scope="row" class="table-horizontal__th">폐기 날짜</th>
                    <td class="table-horizontal__td" id="keepingChgDt"></td>
                </tr>
                <tr>
                    <th scope="row" class="table-horizontal__th">품목</th>
                    <td class="table-horizontal__td" id="detailItemCd"></td>
                </tr>
                <tr>
                    <th scope="row" class="table-horizontal__th">습득 편명</th>
                    <td class="table-horizontal__td" id="detailPickupSpotCont"></td>
                </tr>
                <tr>
                    <th scope="row" class="table-horizontal__th">보관 장소</th>
                    <td class="table-horizontal__td" id="detailRegBranchId"></td>
                </tr>
                <tr>
                    <th scope="row" class="table-horizontal__th">색상</th>
                    <td class="table-horizontal__td" id="detailHueCd"></td>
                </tr>
                <tr>
                    <th scope="row" class="table-horizontal__th">상세 설명</th>
                    <td class="table-horizontal__td" id="imageReplacementSentenceCont"></td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="guide-info guide-info--gray pc-15">
            <p class="guide-info__text">확인된 유실물은 [문의하기]에서 수령 방법과 위치에 대한 안내를 받으신 후 방문하여 수령해 주세요.</p>
        </div>
    </div>
    <div class="fixed-wrap fixed-wrap--multi-line border-none">
        <div class="button-wrap">
            <button type="button" onclick="CUSTOMERSERVICE_CABINLOST_SCRIPT.confirm2();"
                    class="button button--primary button--active"><span class="button__text">문의하기</span></button>
        </div>
    </div>
    <a href="#" rel="modal:close" class="modal__close"><span class="blind">닫기</span></a>
</div>
<!-- //유실물 상세 모달 끝 -->
<!-- //유실물 문의 작성 시작 -->
<div id="modalLayer07" class="modal modal-full modal--fixed-multi modal-scroll">
    <input type="hidden" id="inquiryId" name="inquiryId">
    <input type="hidden" id="inquiryAnswerId" name="inquiryAnswerId">
    <input type="hidden" id="inquiryAnswerSeno" name="inquiryAnswerSeno">
    <div class="modal-header">
        <div class="modal-header__title">추가문의 작성</div>
    </div>
    <div class="modal-content">
        <div class="first-margin">
            <div class="section-title"><span class="title">추가문의 내용</span> <span class="color--org">*</span></div>
            <div class="section-sub-txt">주민등록번호와 같은 중요한 개인정보는 기재하지 마세요.</div>
        </div>
        <div class="textarea-wrap sub-box">
            <div data-element="form" class="textarea">
                <textarea id="textarea1" cols="30" rows="5" data-element="textarea" class="textarea__input"
                          placeholder=""></textarea>
            </div>
        </div>
    </div>
    <div class="fixed-wrap fixed-wrap--multi-line border-none">
        <!-- checkbox 없는 경우 border-none class 추가 -->
        <div class="button-wrap">
            <button type="button" id="updateAnswer" class="button button--primary button--active"><span
                    class="button__text">추가 문의하기</span></button>
            <!--활성화시 .button--active 추가 -->
        </div>
    </div>
    <a href="#" rel="modal:close" class="modal__close closepop"><span class="blind">닫기</span></a>
</div>
<!-- //유실물 문의 작성 끝 -->


<!-- footer -->
<div th:replace="user/fragment/footer :: footer"></div>
<!-- / footer 끝 -->


<!-- 공통 스크립트 선언 -->

<!--<div th:replace="/user/fragment/js :: js"></div>-->
<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>

<script type="text/javascript" src="/user/lib/js/lostItem/lostList.js"></script>
<script type="text/javascript" src="/user/lib/js/lib.min.js"></script>
<script type="text/javascript" src="/user/lib/js/common.js"></script>
<script type="text/javascript" src="/user/lib/js/plugin.js"></script>


<!-- 공통 스크립트 선언 끝 -->


<script>



</script>

<!--<script type="text/javascript"-->
<!--        src="/user/lib/js/cabinLost.js"></script>-->


<!--<script id="listTemplate" type="text/x-handlebars-template">-->
<!--    {{#each datas}}-->
<!--    <div class="list-card__item" data-element="modal_anchor" data-target="#modalLayer02" data-modal-type="full"-->
<!--         id="modalPop">-->
<!--        <div class="list-card__image">-->
<!--            <img src="/ko/customerService/cabinLost/getAttachThumFileSrcOne.json?attachfileNo={{imageAttachFileNo}}"-->
<!--                 alt="분실품">-->
<!--            <div class="label-wrap label-wrap&#45;&#45;lost">-->
<!--                {{#compare keepingStatCd '==' "01"}}-->
<!--                <span class="label-wrap__item label-wrap__item&#45;&#45;type3">{{keepingStatCdNm}}</span>-->
<!--                {{/compare}}-->
<!--                {{#compare keepingStatCd '==' "02"}}-->
<!--                <span class="label-wrap__item label-wrap__item&#45;&#45;type2">{{keepingStatCdNm}}</span>-->
<!--                {{/compare}}-->
<!--                <input type="hidden" id="lostpropId" value={{lostpropId}}>-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="list-card__info">-->
<!--            <div class="list-card&#45;&#45;lost__info-date">{{pickupDt}}</div>-->
<!--            <strong class="list-card__title">{{itemCd}}</strong>-->
<!--            <div class="list-card&#45;&#45;lost__info-list">-->
<!--                <span class="flight">{{pickupSpotCont}}</span>-->
<!--                <span class="location">{{regBranchId}}</span>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>&lt;!&ndash;//list-card__item&ndash;&gt;-->
<!--    {{/each}}-->
<!--</script>-->

<!--<script id="answerTemplate" type="text/x-handlebars-template">-->
<!--    {{#each datas}}-->
<!--    {{#compare inquiryAnswerSeno '===' 1}}-->
<!--    <div class="accordion__item" data-element="accordion__item" id="accordion_{{inquiryId}}">-->
<!--        <a href="#" class="accordion__anchor" data-element="accordion__anchor" data-id="{{inquiryId}}"-->
<!--           data-seno="{{inquiryAnswerSeno}}"-->
<!--           onclick="CUSTOMERSERVICE_CABINLOST_SCRIPT.expended('{{inquiryId}}','{{inquiryAnswerSeno}}');">-->
<!--            <div class="accordion__item-header">-->
<!--                {{#compare inquiryStatCd '==' "1"}}-->
<!--                <span class="label01">미답변</span>-->
<!--                {{/compare}}-->
<!--                {{#compare inquiryStatCd '==' "2"}}-->
<!--                <span class="label02">답변완료</span>-->
<!--                {{/compare}}-->
<!--            </div>-->
<!--            <strong class="accordion__title">유실물</strong>-->
<!--            <div class="accordion__text no-line-clamp">{{inquiryAnswerCont}}</div>-->
<!--        </a>-->
<!--        <div class="accordion__item-sub-info">-->
<!--            <div class="date">{{inquiryRegDt}}</div>-->
<!--            {{#compare inquiryStatCd '==' "1"}}-->
<!--            <div class="btn-wrap">-->
<!--                <button type="button" class="btn-wrap__button btn-wrap__button&#45;&#45;revise" data-element="modal_anchor"-->
<!--                        data-target="#modalLayer07" data-modal-type="full"-->
<!--                        onclick="CUSTOMERSERVICE_CABINLOST_SCRIPT.modify('{{inquiryId}}');"><span>수정</span></button>-->
<!--                <button type="button" class="btn-wrap__button btn-wrap__button&#45;&#45;delete"-->
<!--                        onclick="CUSTOMERSERVICE_CABINLOST_SCRIPT.del('{{inquiryId}}');"><span>삭제</span></button>-->
<!--            </div>-->
<!--            {{/compare}}-->
<!--        </div>-->

<!--    </div>-->
<!--    {{/compare}}-->
<!--    {{/each}}-->
<!--</script>-->

<!--<script id="subAnswerTemplate" type="text/x-handlebars-template">-->
<!--    {{#each datas}}-->
<!--    <div class="accordion__text">-->
<!--        <p class="text">{{inquiryAnswerCont}}</p>-->
<!--        {{#if isFlag}}-->
<!--        <div class="link-wrap link-wrap link-wrap&#45;&#45;left">-->
<!--            <a href="javascript:;" class="link-wrap__underline openModalLayer07" data-element="modal_anchor"-->
<!--               data-target="#modalLayer07" data-modal-type="full" data-id="{{inquiryId}}"><span>추가 문의</span></a>-->
<!--        </div>-->
<!--        {{/if}}-->
<!--        <p class="date">{{inquiryRegDt}}</p>-->
<!--    </div>-->
<!--    {{/each}}-->
<!--</script>-->
</body>

<!--</html>-->

<!--<script id="listTemplate" type="text/x-handlebars-template">-->
<!--    {{#each datas}}-->
<!--    <div class="list-card__item" data-element="modal_anchor" data-target="#modalLayer02" data-modal-type="full"-->
<!--         id="modalPop">-->
<!--        <div class="list-card__image">-->
<!--            <img src="/ko/customerService/cabinLost/getAttachThumFileSrcOne.json?attachfileNo={{imageAttachFileNo}}"-->
<!--                 alt="분실품">-->
<!--            <div class="label-wrap label-wrap&#45;&#45;lost">-->
<!--                {{#compare keepingStatCd '==' "01"}}-->
<!--                <span class="label-wrap__item label-wrap__item&#45;&#45;type3">{{keepingStatCdNm}}</span>-->
<!--                {{/compare}}-->
<!--                {{#compare keepingStatCd '==' "02"}}-->
<!--                <span class="label-wrap__item label-wrap__item&#45;&#45;type2">{{keepingStatCdNm}}</span>-->
<!--                {{/compare}}-->
<!--                <input type="hidden" id="lostpropId" value={{lostpropId}}>-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="list-card__info">-->
<!--            <div class="list-card&#45;&#45;lost__info-date">{{pickupDt}}</div>-->
<!--            <strong class="list-card__title">{{itemCd}}</strong>-->
<!--            <div class="list-card&#45;&#45;lost__info-list">-->
<!--                <span class="flight">{{pickupSpotCont}}</span>-->
<!--                <span class="location">{{regBranchId}}</span>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>&lt;!&ndash;//list-card__item&ndash;&gt;-->
<!--    {{/each}}-->
<!--</script>-->

<!--<script id="answerTemplate" type="text/x-handlebars-template">-->
<!--    {{#each datas}}-->
<!--    {{#compare inquiryAnswerSeno '===' 1}}-->
<!--    <div class="accordion__item" data-element="accordion__item" id="accordion_{{inquiryId}}">-->
<!--        <a href="#" class="accordion__anchor" data-element="accordion__anchor" data-id="{{inquiryId}}"-->
<!--           data-seno="{{inquiryAnswerSeno}}"-->
<!--           onclick="CUSTOMERSERVICE_CABINLOST_SCRIPT.expended('{{inquiryId}}','{{inquiryAnswerSeno}}');">-->
<!--            <div class="accordion__item-header">-->
<!--                {{#compare inquiryStatCd '==' "1"}}-->
<!--                <span class="label01">미답변</span>-->
<!--                {{/compare}}-->
<!--                {{#compare inquiryStatCd '==' "2"}}-->
<!--                <span class="label02">답변완료</span>-->
<!--                {{/compare}}-->
<!--            </div>-->
<!--            <strong class="accordion__title">유실물</strong>-->
<!--            <div class="accordion__text no-line-clamp">{{inquiryAnswerCont}}</div>-->
<!--        </a>-->
<!--        <div class="accordion__item-sub-info">-->
<!--            <div class="date">{{inquiryRegDt}}</div>-->
<!--            {{#compare inquiryStatCd '==' "1"}}-->
<!--            <div class="btn-wrap">-->
<!--                <button type="button" class="btn-wrap__button btn-wrap__button&#45;&#45;revise" data-element="modal_anchor"-->
<!--                        data-target="#modalLayer07" data-modal-type="full"-->
<!--                        onclick="CUSTOMERSERVICE_CABINLOST_SCRIPT.modify('{{inquiryId}}');"><span>수정</span></button>-->
<!--                <button type="button" class="btn-wrap__button btn-wrap__button&#45;&#45;delete"-->
<!--                        onclick="CUSTOMERSERVICE_CABINLOST_SCRIPT.del('{{inquiryId}}');"><span>삭제</span></button>-->
<!--            </div>-->
<!--            {{/compare}}-->
<!--        </div>-->

<!--    </div>-->
<!--    {{/compare}}-->
<!--    {{/each}}-->
<!--</script>-->

<!--<script id="subAnswerTemplate" type="text/x-handlebars-template">-->
<!--    {{#each datas}}-->
<!--    <div class="accordion__text">-->
<!--        <p class="text">{{inquiryAnswerCont}}</p>-->
<!--        {{#if isFlag}}-->
<!--        <div class="link-wrap link-wrap link-wrap&#45;&#45;left">-->
<!--            <a href="javascript:;" class="link-wrap__underline openModalLayer07" data-element="modal_anchor"-->
<!--               data-target="#modalLayer07" data-modal-type="full" data-id="{{inquiryId}}"><span>추가 문의</span></a>-->
<!--        </div>-->
<!--        {{/if}}-->
<!--        <p class="date">{{inquiryRegDt}}</p>-->
<!--    </div>-->
<!--    {{/each}}-->
<!--</script>-->