<!DOCTYPE html>
<html lang="ko"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org/">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>제주항공 | 고객조회</title>
    <link rel="stylesheet" type="text/css" href="/admin/lib/css/common.css">
    <link rel="icon" href="/admin/lib/images/favicon.ico">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

</head>

<body>
<div class="container" value="1">
    <div th:replace="/admin/fragment/menu :: menu"></div>

    <div class="containerbody">
        <!-- main -->
        <div id="category" value="customer"></div>
        <div class="main">
            <div class="details">
                <!-- order details list -->
                <div class="recentOrders">
                    <div class="calheader">
                        <h2>고객 조회</h2>
                    </div>
                    <div class="scheduleSearch">
                        <form action="#">
                            <div class="wrapper">
                                <fieldset class="selectDiv">
                                    <select name="menu" id="menu-select">
                                        <option value="">전체</option>
                                        <option value="userid">아이디</option>
                                        <option value="name">성명</option>
                                        <option value="hp">연락처</option>
                                    </select>
                                    <input type="text" class="searchBox" title="검색어를 입력하세요"
                                           placeholder="검색어를 입력하세요" id="customer" name="keyword" >
                                    <button type="submit" class="button search" value="검색">검색</button>
                                </fieldset>
                            </div>
                        </form>
                    </div>
                    <table>
                        <thead>
                        <tr class="topbanner">
                            <td class="index">NO</td>
                            <td class="userid">아이디</td>
                            <td class="name">성명</td>
                            <td class="birth">생년월일</td>
                            <td class="hp">연락처</td>
                            <td class="regDate">가입일자</td>
                        </tr>
                        </thead>

                        <tbody id="itemList">
                        <tr v-for="(dto,i) in itemList"
                            :key="i"
                            @click='locate(dto.memIdx)'>
                            <td class="mem_idx">{{dto.memIdx}}</td>
                            <td class="mem_userid">{{dto.memUserid}}</td>
                            <td class="mem_name">{{dto.memKoLastname}}{{dto.memKoFirstname}}</td>
                            <td class="mem_ssn">{{dto.memSsn}}</td>
                            <td class="mem_hp">{{dto.memHp}}</td>
                            <td class="mem_regDate">{{dto.memRegDate}}</td>
                        </tr>
                        </tbody>
                    </table>
                    <div class="paging" id="pageNum">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--아이콘 사용을 위한 설치 스크립트-->
<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
<script src="/admin/lib/js/common.js"> </script>
<script src="/admin/lib/js/pagination.js"></script>


</body>

</html>