<html lang="ko"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org/">

<!--head-->
<div th:replace="/user/fragment/head :: head"></div>
<!--head 끝-->

<body id="subLayoutBody">

<!--appAlert-->
<div th:replace="/user/fragment/appAlert :: appAlert"></div>
<!--appAlert 끝-->


<!-- //남은시간 연장 및 공지바 노출 -->
<!--header-->
<div th:replace="/user/fragment/header :: header"></div>
<!--header 끝-->


<div id="body">
    <!-- Google Tag Manager (noscript) -->
    <noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PD2BQQ4" height="0" width="0"
                style="display:none;visibility:hidden"></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->
    <div class="wrap NC">
        <div id="breadcrumb" class="breadcrumb pc-only" aria-label="breadcrumb">
            <nav class="breadcrumb__inner">
                <div class="breadcrumb__item">
                    <a href="javascript:;" class="breadcrumb__link">홈</a>
                </div>
                <div class="breadcrumb__item">
                    <a href="/user/member_benefit/member_benefit_new/member_benefit_new" class="breadcrumb__link">회원 혜택 안내</a>
                </div>
                <div class="breadcrumb__item breadcrumb__item--current" aria-current="page" data-element="toggle"
                     data-options='{"mode": "slide", "speed": 100, "clickToClose": true}'>
                    <button type="button" class="breadcrumb__link breadcrumb__link--list"
                            data-element="toggle__anchor">신규회원 혜택
                    </button>
                    <div class="breadcrumb__siblings-list" data-element="toggle__panel">

                        <a href="/user/point_main" class="item">리프레시 포인트</a>
                        <a href="/user/point_buy" class="item">포인트 구매</a>
                        <a href="/user/point_search" class="item">포인트 조회</a>
                    </div>
                </div>
            </nav>
        </div>


        <!-- 메인 컨텐츠 -->
        <div class="content" id="content">
            <main id="main" class="main ">
                <div class="page-title-wrap">
                    <div class="page-title">회원 전용 혜택</div>
                    <div class="page-sub-title">포인트 적립에서 운임할인까지<br>제주항공 회원 가입하고 혜택 받자!</div>
                </div>
                <div class="member-benefit">
                    <div class="tab tab--default" data-element="tab" id="tabSelect"
                         data-options='{"linkedTab": "#linkedTab2", "initIndex": "0"}'>
                        <div class="tab__button-wrap">
                            <div class="tab__buttons">
                                <div class="tab__button" data-element="tab__list">
                                    <button class="tab__anchor" type="button" data-element="tab__anchor"
                                            id="tabNew">신규회원 혜택
                                    </button>
                                </div>
                                <div class="tab__button" data-element="tab__list">
                                    <button class="tab__anchor" type="button" data-element="tab__anchor"
                                            id="tabProm">프로모션 코드
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="linked-tab" id="linkedTab2" data-element="tab__link">
                        <!-- 신규회원 혜택 -->
                        <div class="tab__panel cancel--pt" id="tabNew2" data-element="tab__panel">
                            <div class="banner">
                                <div class="banner_single-img"
                                     style="background-image: url(https://static.jejuair.net/hpgg/resources/images/banner/banner_nc_2_1.png);">
                                </div>
                            </div>

                            <div class="section-wrap">
                                <div class="section-title">신규회원 혜택</div>
                                <div class="border-box__ico benefit-box">
                                    <ul class="step-wrap step-wrap__ico">
                                        <li>
                                            <i class="icon">
                                                <img src="https://static.jejuair.net/hpgg/resources/images/@temp/member-benefit_01.png"
                                                     alt="이미지설명">
                                            </i>
                                            <dl class="step-wrap__text">
                                                <dt>혜택 1</dt>
                                                <dd>가입과 동시에 적립<br>리프레시 포인트 1,000P</dd>
                                            </dl>
                                        </li>
                                        <li>
                                            <i class="icon">
                                                <span class="app-only">앱 전용</span>
                                                <img src="https://static.jejuair.net/hpgg/resources/images/@temp/member-benefit_02.png"
                                                     alt="이미지설명">
                                            </i>
                                            <dl class="step-wrap__text">
                                                <dt>혜택 2</dt>
                                                <dd>국내선 최초 예약시<br>운임 7% 회원 할인</dd>
                                            </dl>
                                        </li>
                                        <li>
                                            <i class="icon">
                                                <span class="app-only">앱 전용</span>
                                                <img src="https://static.jejuair.net/hpgg/resources/images/@temp/member-benefit_03.png"
                                                     alt="이미지설명">
                                            </i>
                                            <dl class="step-wrap__text">
                                                <dt>혜택 3</dt>
                                                <dd>국제선 최초 예약시<br>운임 5% 회원 할인</dd>
                                            </dl>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <!-- 비로그인시 -->
                            <div class="button-wrap pc-center section-wrap">
                                <button type="button" class="button button--primary button--active" onclick="location.href='join'"><span
                                        class="button__text">회원가입</span></button>
                            </div>
                            <!-- / 비로그인시 -->


                            <div class="section-wrap">
                                <ul class="list-guide">
                                    <li class="list-guide__item">포인트 적립은 최초 신규 가입 시 자동 적용</li>
                                    <li class="list-guide__item">신규회원 할인은 성인 운임에만 적용</li>
                                    <li class="list-guide__item">신규회원 할인은 국제선/국내선 각각 최초 예약 시 사용 가능</li>
                                    <li class="list-guide__item">국내선/국제선 BIZ LITE 운임은 신규회원 할인 제외</li>
                                </ul>
                                <ul class="list-guide">
                                    <li class="list-guide__item">신규회원 할인 사용기간 : 가입일로부터 30일 이내</li>
                                    <li class="list-guide__item">신규회원 할인 탑승기간 : 가입일로부터 90일 이내</li>
                                    <li class="list-guide__item">운임 조회 시 회원할인으로 사용 가능</li>
                                    <li class="list-guide__item">사용채널 : 제주항공 모바일 앱 사용 전용</li>
                                </ul>
                            </div>

                            <!-- 아이콘 리스트 -->
                            <div class="section-wrap">
                                <div class="section-title">신규회원할인 사용방법</div>
                                <div class="main-sel">
                                    <ul class="step-wrap thum-txt">
                                        <li>
                                            <div class="step-wrap__image">
                                                <img src="https://static.jejuair.net/hpgg/resources/images/@temp/member_step01.png"
                                                     alt="이미지설명">
                                            </div>
                                            <dl class="step-wrap__text">
                                                <dt>STEP 01</dt>
                                                <dd>제주항공 홈페이지 회원 가입 후 로그인</dd>
                                            </dl>
                                        </li>
                                        <li>
                                            <div class="step-wrap__image">
                                                <img src="https://static.jejuair.net/hpgg/resources/images/@temp/member_step02.png"
                                                     alt="이미지설명">
                                            </div>
                                            <dl class="step-wrap__text">
                                                <dt>STEP 02</dt>
                                                <dd>신규회원 할인 조건에 맞는 여정 선택</dd>
                                            </dl>
                                        </li>
                                        <li>
                                            <div class="step-wrap__image">
                                                <img src="https://static.jejuair.net/hpgg/resources/images/@temp/member_step03.png"
                                                     alt="이미지설명">
                                            </div>
                                            <dl class="step-wrap__text">
                                                <dt>STEP 03</dt>
                                                <dd>탑승객 정보 입력 단계<br> 회원 할인 > 신규회원 할인 적용</dd>
                                            </dl>
                                        </li>
                                        <li>
                                            <div class="step-wrap__image">
                                                <img src="https://static.jejuair.net/hpgg/resources/images/@temp/member_step04.png"
                                                     alt="이미지설명">
                                            </div>
                                            <dl class="step-wrap__text">
                                                <dt>STEP 04</dt>
                                                <dd>항목별 운임 상세에서 신규가입 할인 확인 후 결제</dd>
                                            </dl>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!-- // 신규회원 혜택 -->

                        <!-- 프로모션 코드 -->
                        <div class="tab__panel cancel--pt" id="tabProm2" data-element="tab__panel">
                            <div class="banner">
                                <div class="banner_single-img"
                                     style="background-image: url(https://static.jejuair.net/hpgg/resources/images/banner/banner_nc_2_2.png);">
                                </div>
                            </div>

                            <div class="section-wrap">
                                <div class="section-title">프로모션 코드</div>
                                <div class="section-sub-txt">제주항공 회원만 사용 가능! 프로모션 코드 안내</div>
                                <div class="main-sel">
                                    <ul class="step-wrap thum-txt">
                                        <li>
                                            <div class="step-wrap__image">
                                                <img src="https://static.jejuair.net/hpgg/resources/images/@temp/member_step05.jpg"
                                                     alt="이미지설명">
                                            </div>
                                            <dl class="step-wrap__text">
                                                <dt>STEP 01</dt>
                                                <dd>프로모션 코드 확인</dd>
                                            </dl>
                                        </li>
                                        <li>
                                            <div class="step-wrap__image">
                                                <img src="https://static.jejuair.net/hpgg/resources/images/@temp/member_step06.jpg"
                                                     alt="이미지설명">
                                            </div>
                                            <dl class="step-wrap__text">
                                                <dt>STEP 02</dt>
                                                <dd>할인코드 입력</dd>
                                            </dl>
                                        </li>
                                        <li>
                                            <div class="step-wrap__image">
                                                <img src="https://static.jejuair.net/hpgg/resources/images/@temp/member_step07.jpg"
                                                     alt="이미지설명">
                                            </div>
                                            <dl class="step-wrap__text">
                                                <dt>STEP 03</dt>
                                                <dd>항공권 검색</dd>
                                            </dl>
                                        </li>
                                        <li>
                                            <div class="step-wrap__image">
                                                <img src="https://static.jejuair.net/hpgg/resources/images/@temp/member_step08.jpg"
                                                     alt="이미지설명">
                                            </div>
                                            <dl class="step-wrap__text">
                                                <dt>STEP 04</dt>
                                                <dd>항공권 구매</dd>
                                            </dl>
                                        </li>
                                    </ul>
                                </div>
                            </div>

                            <div class="section-wrap mt0">
                                <ul class="list-guide">
                                    <li class="list-guide__item">모든 프로모션 코드는 회원 로그인 후 본인이 포함 된 탑승 예약에 사용 가능</li>
                                    <li class="list-guide__item">프로모션 코드를 입력하여 항공권 검색하면 할인이 적용 된 운임으로 조회</li>
                                    <li class="list-guide__item">프로모션 코드 할인 혜택과 사용조건은 이벤트 별로 상이, 자세한 사항은 이벤트 페이지 참고
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <!-- // 프로모션 코드-->

                    </div>
                </div>
            </main>
        </div>
    </div>
</div>

<!-- footer -->
<div th:replace="/user/fragment/footer :: footer"></div>
<!-- / footer 끝 -->

<div id="ifmWrap"
     style="height:100%; display:none; overflow:auto; text-align:center; -webkit-overflow-scrolling:touch;">
    <iframe src="" width="100%" height="100%" name="popupChkApp"></iframe>
</div>


<!-- 공통 스크립트 선언 -->
<script type="text/javascript" src="/user/lib/js/lib.min.js"></script>
<script type="text/javascript" src="/user/lib/js/common.js"></script>
<script type="text/javascript" src="/user/lib/js/plugin.js"></script>


</body>

</html>