<html lang="ko"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org/">
<!--head-->
<div th:replace="/user/fragment/head :: head"></div>
<!--head 끝-->

<body id="subLayoutBody" class="isPc vsc-initialized" style="height: 2405px;">


<!-- appAlert -->
<div th:replace="/user/fragment/appAlert :: appAlert"></div>
<!-- //appAlert 끝 -->

<!-- header -->
<div th:replace="/user/fragment/header :: header"></div>
<!-- //header 끝 -->


<div id="body">

    <!-- Google Tag Manager (noscript) -->
    <noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PD2BQQ4" height="0" width="0"
                style="display:none;visibility:hidden"></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->

    <div class="wrap MO">


        <div id="breadcrumb" class="breadcrumb pc-only" aria-label="breadcrumb">
            <nav class="breadcrumb__inner">
                <div class="breadcrumb__item">
                    <a href="javascript:;" class="breadcrumb__link" style="cursor: default;">홈</a>
                </div>


                <div class="breadcrumb__item">
                    <a href="javascript:;" class="breadcrumb__link" style="cursor: default;">고객센터</a>
                </div>


                <div class="breadcrumb__item breadcrumb__item--current" aria-current="page" data-element="toggle"
                     data-options="{&quot;mode&quot;: &quot;slide&quot;, &quot;speed&quot;: 100, &quot;clickToClose&quot;: true}">


                    <button type="button" class="breadcrumb__link breadcrumb__link--list" data-element="toggle__anchor"
                            aria-controls="toggle-2" aria-expanded="false">고객센터
                    </button>


                    <div class="breadcrumb__siblings-list" data-element="toggle__panel" id="toggle-2"
                         style="display: none;">


                        <a href="javascript:void(0);" class="item"
                           onclick="URL_LINK.getI18Url('/customerServiceCenter/notice.do')">공지사항</a>


                        <a href="javascript:void(0);" class="item"
                           onclick="URL_LINK.getI18Url('/customerService/cabinLost/cabinLost.do')">기내 유실물 센터</a>


                    </div>
                </div>


            </nav>
        </div>


        <div class="content" id="content">
            <main id="main" class="main ">


                <form id="mainform" name="mainform" action="https://jejuair.secure.force.com/faq" method="post"
                      target="iframe">
                    <input type="hidden" name="language" value="ko">
                    <input type="hidden" name="userNo" value="">
                    <input type="hidden" name="userID" value="">
                    <input type="hidden" name="userNm" value="">
                    <input type="hidden" name="phone" value="">
                    <input type="hidden" name="email" value="">
                    <input type="hidden" name="agentId" value="sys_web.kr">
                </form>


                <input type="hidden" id="active" name="active" value="prod">
                <div class="iframe_help">
                    <iframe id="iframe" name="iframe" frameborder="0" marginwidth="0" marginheight="0" scrolling="no"
                            style="height: 2030px;"></iframe>
                </div>
            </main>
        </div>

    </div>
</div>



<!-- footer -->
<div th:replace="user/fragment/footer :: footer"></div>
<!-- / footer 끝 -->


<!-- 공통 스크립트 선언 -->

<!--<div th:replace="/user/fragment/js :: js"></div>-->
<script type="text/javascript" src="/user/lib/js/lib.min.js"></script>
<script type="text/javascript" src="/user/lib/js/common.js"></script>
<script type="text/javascript" src="/user/lib/js/plugin.js"></script>

<!-- 공통 스크립트 선언 끝 -->

<script type="text/javascript" src="/user/lib/js/faqList.js"></script>


<!--<div id="ifmWrap"-->
<!--     style="height:100%; display:none; overflow:auto; text-align:center; -webkit-overflow-scrolling:touch;">-->
<!--    <iframe src="" width="100%" height="100%" name="popupChkApp"></iframe>-->
<!--</div>-->

</body>
</html>