<html lang="ko"
	  xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org/">
<!--head-->
<div th:replace="/user/fragment/head :: head"></div>
<!--head 끝-->
<body id="subLayoutBody">

	<!-- appAlert -->
	<div th:replace="/user/fragment/appAlert :: appAlert"></div>
	<!-- //appAlert 끝 -->


    <!-- header -->
	<div th:replace="/user/fragment/header :: header"></div>
	<!-- //header 끝 -->

	<div id="body">

		<!-- Google Tag Manager (noscript) -->
		<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PD2BQQ4" height="0" width="0"
						  style="display:none;visibility:hidden"></iframe></noscript>
		<!-- End Google Tag Manager (noscript) -->

		<div class="wrap wrap wrap--button-fixed ND">

			<div id="breadcrumb" class="breadcrumb pc-only" aria-label="breadcrumb">
				<nav class="breadcrumb__inner">
					<div class="breadcrumb__item">
						<a href="javascript:;" class="breadcrumb__link">홈</a>
					</div>

					<div class="breadcrumb__item">
						<a href="javascript:;" class="breadcrumb__link">부가서비스 안내</a>
					</div>

					<div class="breadcrumb__item breadcrumb__item--current" aria-current="page" data-element="toggle"
						 data-options='{"mode": "slide", "speed": 100, "clickToClose": true}'>

						<button type="button" class="breadcrumb__link breadcrumb__link--list" data-element="toggle__anchor">사전
							수하물</button>

						<div class="breadcrumb__siblings-list" data-element="toggle__panel">

							<a href="/user/additionalInfo/additionalIntro" class="item">부가서비스 소개</a>
							<a href="/user/additionalInfo/advanceMeal" class="item">사전 기내식</a>
							<a href="/user/additionalInfo/advanceSeat" class="item">사전 좌석</a>
							<a href="/user/additionalInfo/insurance" class="item">보험 상품</a>
							<a href="/user/additionalInfo/afterPayment" class="item">나중에 결제</a>
							<a href="/user/additionalInfo/bundlePurchase" class="item">번들 묶음 구매</a>
							<a href="/user/additionalInfo/bicycleService" class="item">자전거 캐링백 서비스</a>
						</div>
					</div>
				</nav>
			</div>



			<div class="content" id="content">
				<main id="main" class="main ">

					<div class="page-title-wrap">
						<div class="page-title">
							사전 수하물
						</div> <!-- 사전 수하물 -->
						<div class="page-sub-title">
							짐이 많아도<br class="mobile-only"> 걱정하지 마세요.
						</div> <!-- 짐이 많아도<br class="mobile-only"> 걱정하지 마세요 -->
					</div>

					<!--상단 배너 영역-->
					<div class="banner">
						<div class="banner_single-img"
							 style="background-image: url(https://static.jejuair.net/hpgg/resources/images/@temp/guest-img_01.png);">
						</div>
					</div>
					<!--//상단 배너 영역-->

					<div class="section-wrap">
						<div class="section-title">
							사전 수하물이란?
						</div> <!-- 사전 수하물이란? -->
						<div class="section-sub-txt">
							여행을 떠나시기 전 온라인으로 사전에 (위탁/탁송)수하물을 구매하는 서비스 입니다.
						</div> <!-- 여행을 떠나시기 전 온라인으로 사전에 (위탁/탁송)수하물을 구매하는 서비스 입니다. -->
					</div>

					<div class="section-wrap">
						<div class="section-title">사전 수하물 안내</div> <!-- 사전 수하물 안내 -->
						<div class="border-box border-box__ico -type1">
							<ul class="step-wrap step-wrap__ico">
								<li>
									<i class="icon"><img
											src="https://static.jejuair.net/hpgg/resources/images/icon/icon-service-option01-40.png" alt=""></i>
									<dl class="step-wrap__text">
										<dt>
											혜택 1
										</dt> <!-- 혜택 1 -->
										<dd>
											공항 현장 구매보다 저렴한 할인가로 구매 가능
										</dd> <!-- 공항 현장 구매보다 저렴한 할인가로 구매 가능 -->
									</dl>
								</li>
								<li>
									<i class="icon"><img
											src="https://static.jejuair.net/hpgg/resources/images/icon/icon-service-option02-40.png" alt=""></i>
									<dl class="step-wrap__text">
										<dt>
											혜택 2
										</dt> <!-- 혜택 2 -->
										<dd>
											각 구간의 출발 24시간 전 까지 구매 가능
										</dd> <!-- 첫 구간 출발 24시간 전 까지 구매 가능 -->
									</dl>
								</li>
								<li>
									<i class="icon"><img
											src="https://static.jejuair.net/hpgg/resources/images/icon/icon-service-option03-40.png" alt=""></i>
									<dl class="step-wrap__text">
										<dt>
											혜택 3
										</dt> <!-- 혜택 3 -->
										<dd>
											국제, 국내 전 노선 구매 가능
										</dd> <!-- 국제, 국내 전 노선 구매 가능 -->
									</dl>
								</li>
							</ul>
						</div>

						<div class="button-wrap left">
							<button type="button" class="button button--small"
									onclick="javascript:location.href='/ko/linkService/boardingProcessGuide/baggageFare.do'"><span
									class="button__text">수하물 운임 조회</span></button><!-- 수하물 운임 조회 -->
						</div>

					</div>

<!--					&lt;!&ndash;유의사항&ndash;&gt;-->
<!--					<div class="section-wrap">-->
<!--						<div class="service-information" data-action="info-toggle" data-toggle-id="0000000105">-->
<!--							<div class="service-information__title">-->
<!--								<button type="button" class="service-information__anchor is-active" data-element="toggle__anchor"-->
<!--										aria-controls="toggle-2" aria-expanded="false">-->
<!--									사전 수하물 안내</button> &lt;!&ndash; 사전 수하물 안내 &ndash;&gt;-->
<!--							</div>-->
<!--							<div class="service-information__content" data-element="toggle__panel" id="toggle-2"></div>-->
<!--						</div>-->
<!--					</div>-->

<!--					<div class="button-wrap left">-->
<!--						<a href="javascript:void(0);" class="button button&#45;&#45;small" data-element="modal_anchor"-->
<!--						   data-target="#returnGuideInfoPop" data-modal-type="full"><span class="button__text">부가서비스 환불 규정</span></a>-->
<!--					</div>-->

<!--					&lt;!&ndash;//유의사항&ndash;&gt;-->

					<div class="fixed-wrap button-wrap pc-center section-wrap">
						<button type="button" class="button button--primary button--active"
								onclick="javascript:location.href='/ko/ibe/booking/Availability.do'"><span
								class="button__text">구매하기</span></button> <!-- 구매하기 -->
					</div>
				</main>
			</div>

		</div>
	</div>


	<!-- footer -->
	<div th:replace="user/fragment/footer :: footer"></div>
	<!-- / footer 끝 -->

	<div id="ifmWrap" style="height:100%; display:none; overflow:auto; text-align:center; -webkit-overflow-scrolling:touch;">
		<iframe src="" width="100%" height="100%" name="popupChkApp"></iframe>
	</div>


	<!-- 공통 스크립트 선언 -->

	<!--<div th:replace="/user/fragment/js :: js"></div>-->
	<script type="text/javascript" src="/user/lib/js/lib.min.js"></script>
	<script type="text/javascript" src="/user/lib/js/common.js"></script>
	<script type="text/javascript" src="/user/lib/js/plugin.js"></script>
	<script type="text/javascript" src="/user/lib/js/head/head.js"></script>

	<!-- 공통 스크립트 선언 끝 -->

	<!--body, html 주석은 위치 고정-->
</body>
</html>
<!--body, html 주석은 위치 고정 끝-->
