<html lang="ko"
	  xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org/">
<!--head-->
<div th:replace="/user/fragment/head :: head"></div>
<!--head 끝-->

<body id="subLayoutBody" class="isPc vsc-initialized" style="height: 2405px;">


<!-- appAlert -->
<div th:replace="/user/fragment/appAlert :: appAlert"></div>
<!-- //appAlert 끝 -->

<!-- header -->
<div th:replace="/user/fragment/header :: header"></div>
<!-- //header 끝 -->

	<div id="body">
		<!-- Google Tag Manager (noscript) -->
		<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PD2BQQ4" height="0" width="0"
				style="display:none;visibility:hidden"></iframe></noscript>
		<!-- End Google Tag Manager (noscript) -->
		<div class="wrap ">
			<div id="breadcrumb" class="breadcrumb pc-only" aria-label="breadcrumb">
				<nav class="breadcrumb__inner">
					<div class="breadcrumb__item">
						<a href="javascript:;" class="breadcrumb__link">홈</a>
					</div>

					<div class="breadcrumb__item">
						<a href="javascript:;" class="breadcrumb__link">고객센터</a>
					</div>

					<div class="breadcrumb__item breadcrumb__item--current" aria-current="page" data-element="toggle"
						data-options='{"mode": "slide", "speed": 100, "clickToClose": true}'>

						<button type="button" class="breadcrumb__link breadcrumb__link--list"
							data-element="toggle__anchor">공지사항</button>

						<div class="breadcrumb__siblings-list" data-element="toggle__panel">

							<a href="javascript:void(0);" class="item"
								onclick="URL_LINK.getI18Url('/customerService/csCenter/faqList.do')">고객센터</a>

							<a href="javascript:void(0);" class="item"
								onclick="URL_LINK.getI18Url('/customerService/cabinLost/cabinLost.do')">기내 유실물 센터</a>
						</div>
					</div>
				</nav>
			</div>

			<div class="content" id="content">
				<main id="main" class="main ">

					<input type="hidden" id="billboardNo" value="0000000171">
					<input type="hidden" id="langCd" value="ko">

					<div class="page-title-wrap pc-only">
						<div class="page-title">
							공지사항
						</div>
					</div>
					<div class="news-view_wrap">
						<div class="title">
							<div class="title news-view__title titlt-flex">
								<div class="title__page">항공권 구매 시 유의사항 안내</div>
								<p class="news-view__date">2022.06.09</p>
							</div>
						</div>
						<div class="news-view" id="newsView">
							<div>제주항공을 이용해주시는 고객 여러분께 감사 말씀 드립니다.
								<br><br>

								최근 국제선에 대한 수요가 증가하고 있으나, 국가별 출입국 정책 등 불가피한 사유로 운항스케줄이 지속 변동되고 있습니다.
								<br><br>
								제주항공은 운항 계획을 준수하기 위해 최선의 노력을 다할 것이나, 항공사가 예견할 수 없는 사유로 스케줄이 변동될 경우 부득이하게 운항 계획을 변경해야하는 상황입니다.
								<br><br>
								이에 고객 분들께서는 항공권 구매 시 운항시간 변경 또는 취소 등이 발생할 수 있음을 고려하여 주시고, 변동 사항 발생 즉시 항공권 구매 단계에서 입력하신 연락처를 통해 안내드리도록 하겠습니다.
								<br><br>
								불가피한 사유로 스케줄이 변경될 경우, 별도의 수수료 없이 변경 또는 취소가 가능하며 관련 문의는 항공권 구매처로 문의하여 주시기 바랍니다.
								<br><br>
								제주항공은 고객 여러분의 불편 최소화를 위해 최선을 다하겠습니다. 감사합니다.</div>
							<div class="finish-item-wrap" id="noData" style="display: none;">
								<div class="finish-item">
									<div class="finish-item__img"><img
											src="https://static.jejuair.net/hpgg/resources/images/dark_img/icon-check-completion.png"
											alt=""></div>
									<p class="finish-item__title">등록된 공지가 없습니다.</p>
								</div>
							</div>
						</div>
					</div>

					<div class="button-wrap" data-element="bottomContent">
						<button type="button" class="button button--primary button--active" onclick="history.back();">
							<span class="button__text">목록</span>
						</button>
					</div>
				</main>
			</div>
		</div>
	</div>

	<!-- footer -->
	<div th:replace="user/fragment/footer :: footer"></div>
	<!-- / footer 끝 -->

	<!-- 공통 스크립트 선언 -->

	<!--<div th:replace="/user/fragment/js :: js"></div>-->
	<script type="text/javascript" src="/user/lib/js/lib.min.js"></script>
	<script type="text/javascript" src="/user/lib/js/common.js"></script>
	<script type="text/javascript" src="/user/lib/js/plugin.js"></script>

	<!-- 공통 스크립트 선언 끝 -->

	<script type="text/javascript" src="/user/lib/js/noticeDetail.js"></script>

	<script>
		Handlebars.registerHelper('nl2br', function (text, isXhtml) {
			var breakTag = isXhtml ? '<br />' : '<br>'
			var withBr = Handlebars.escapeExpression(text).replace(
				/([^>\r\n]?)(\r\n|\n\r|\r|\n)/g,
				'$1' + breakTag + '$2'
			)
			return new Handlebars.SafeString(withBr);
		})

		//날짜 포맷
		Handlebars.registerHelper('dfmt', function (text) {
			var days = ['일', '월', '화', '수', '목', '금', '토'];
			var regexp = /[^0-9]/g;
			var val = text.replace(regexp, '');

			var y = val.substr(0, 4);
			var m = val.substr(4, 2);
			var d = val.substr(6, 2);
			var day = new Date(y, parseInt(m) - 1, d).getDay();
			var date = y + '년 ' + m + '월 ' + d + '일' + ' (' + days[day] + ')';

			return date;
		})
	</script>

	<script data-template="TDTP000001_PREVIEW" type="text/x-handlebars-template">

		<!--텍스트형-->
		{{#each datas}}
	<p style="background-color:rgba(255, 255, 255, 0); color:#333">
		<!-- <p style="background-color:{{bgColorCd}}; color:{{textColorCd}}"> -->
		{{nl2br ITTP000014}}
	</p>
	{{/each}}
	<br />
	<!--텍스트형-->
	</script>
	<script data-template="TDTP000002_PREVIEW" type="text/x-handlebars-template">
		<!-- 이미지 + 텍스트 -->
		{{#each datas}}
	<p>
		<img src="{{ITTP000013}}" alt="이미지설명"><br><br>
		{{nl2br ITTP000014}}
	</p>
	{{/each}}
	<br />
	<!-- 이미지 + 텍스트 -->
	<br>
	</script>

	<script data-template="TDTP000003_PREVIEW" type="text/x-handlebars-template">
		<!-- 지연 -->
	<p>
		<strong>지연 : 항공편 안내<span class="point_2"> 총 {{datas.length}}편</span></strong><br>
		<strong>일자 : {{dfmt ITTP000017}}<span class="point_2"> 총 {{datas.length}}편</span></strong>
	</p>
	<div class="tbl_data">
		<table>
			<tbody>
				<tr>
					<td class="th_st">편명</td>
					<td class="th_st">노선</td>
					<td class="th_st">운항시간 (기존)</td>
					<td class="th_st">운항시간 (변경)</td>
					<td class="th_st">총 지연시간</td>
				</tr>
				{{#each datas}}
				<tr>
					<td>{{ITTP000018}}</td>
					<td>{{ITTP000007}}</td>
					<td>{{ITTP000019}}</td>
					<td><span class="point_1">{{ITTP000020}}</span></td>
					<td><span class="point_2">{{ITTP000021}}</span></td>
				</tr>
				{{/each}}
			</tbody>
		</table>
	</div>
	<!-- 지연 -->
	<br>
	</script>

	<script data-template="TDTP000004_PREVIEW" type="text/x-handlebars-template">
		<!-- 결항 -->
	<p>
		<strong>결항 : 항공편 안내<span class="point_2"> 총 {{datas.length}}편</span></strong><br>
		<strong>일자 : {{dfmt ITTP000017}}<span class="point_2"> 총 {{datas.length}}편</span></strong>
	</p>
	<div class="tbl_data">
		<table>
			<tbody>
				<tr>
					<td class="th_st">편명</td>
					<td class="th_st">노선</td>
					<td class="th_st">운항시간 (출발)</td>
					<td class="th_st">조치사항</td>
				</tr>
				{{#each datas}}
				<tr>
					<td>{{ITTP000018}}</td>
					<td>{{ITTP000007}}</td>
					<td>{{ITTP000019}}</td>
					<td><span class="point_1">{{ITTP000023}}</span></td>
				</tr>
				{{/each}}
			</tbody>
		</table>
	</div>
	<!-- 결항 -->
	<br>
	</script>

	<script data-template="TDTP000006_PREVIEW" type="text/x-handlebars-template">
		<!-- 당첨자 발표 2단-->
	<p>
		{{nl2br ITTP000014}}
	</p>
	<p>
		<strong>{{ITTP000024}}<span class="point_1"> ({{ITTP000025}})</span></strong>
	</p>
	<div class="tbl_data">
		<table>
			<tbody>
				<tr>
					<td class="th_st">{{ITTP000026}}</td>
					<td class="th_st">{{ITTP000027}}</td>
				</tr>
				{{#each datas}}
				<tr>
					<td>{{ITTP000028}}</td>
					<td>{{ITTP000029}}</td>
				</tr>
				{{/each}}
			</tbody>
		</table>
	</div>
	<!-- 당첨자 발표 2단-->
	<br>
	</script>

	<script data-template="TDTP000005_PREVIEW" type="text/x-handlebars-template">
		<!-- 당첨자 발표 1단-->
	<p>
		{{nl2br ITTP000014}}
	</p>
	<p>
		<strong>{{ITTP000024}}<span class="point_1"> ({{ITTP000025}})</span></strong>
	</p>
	<div class="tbl_data">
		<table>
			<tbody>
				<tr>
					<td class="th_st">{{ITTP000026}}</td>
				</tr>
				{{#each datas}}
				<tr>
					<td>{{ITTP000028}}</td>
				</tr>
				{{/each}}
			</tbody>
		</table>
	</div>
	<!-- 당첨자 발표 1단-->
	<br>
	</script>

	<script data-template="TDTP000007_PREVIEW" type="text/x-handlebars-template">
		<!-- 유류할증료 국내선-->
	<p>
		<strong>{{nl2br ITTP000030}}</strong>
	</p>
	<div class="tbl_data">
		<table>
			<tbody>
				<tr>
					<td class="th_st">구간</td>
					<td class="th_st">{{ITTP000031}}</td>
					<td class="th_st">{{ITTP000032}}</td>
				</tr>
				{{#each datas}}
				<tr>
					<td>{{ITTP000033}}</td>
					<td>{{ITTP000034}}</td>
					<td>{{ITTP000035}}</td>
				</tr>
				{{/each}}
			</tbody>
		</table>
	</div>
	<!-- 유류할증료 국내선-->
	<br>
	</script>

	<script data-template="TDTP000013_PREVIEW" type="text/x-handlebars-template">
		<!-- 유류할증료 국제선-->
	<p>
		<strong>{{nl2br ITTP000030}}</strong>
	</p>
	<div class="tbl_data">
		<table>
			<tbody>
				<tr>
					<td class="th_st">구간</td>
					<td class="th_st">{{ITTP000031}}</td>
					<td class="th_st">{{ITTP000032}}</td>
				</tr>
				{{#each datas}}
				<tr>
					<td>{{ITTP000033}}</td>
					<td>{{ITTP000034}}</td>
					<td>{{ITTP000035}}</td>
				</tr>
				{{/each}}
			</tbody>
		</table>
	</div>
	<!-- 유류할증료 국제선-->
	<br>
	</script>

	<script data-template="TDTP000008_PREVIEW" type="text/x-handlebars-template">
		<!-- 좌석 요금 안내-->
	<p>
		<strong>{{nl2br ITTP000036}}</strong>
	</p>
	<p>
		{{nl2br ITTP000037}}
	</p>
	<div class="tbl_data">
		<table>
			<tbody>
				<tr>
					<td class="th_st">구분</td>
					<td class="th_st">요금</td>
				</tr>
				{{#each datas}}
				<tr>
					<td>{{ITTP000038}}</td>
					<td>{{ITTP000039}}</td>
				</tr>
				{{/each}}
			</tbody>
		</table>
	</div>
	<!-- 좌석 요금 안내-->
	<br>
	</script>

	<script data-template="TDTP000009_PREVIEW" type="text/x-handlebars-template">
		<!-- 운항 노선 안내-->
	<p>
		<strong>{{nl2br ITTP000036}}</strong>
	</p>
	<div class="tbl_data">
		<table>
			<tbody>
				<tr>
					<td class="th_st">노선</td>
					<td class="th_st">편명</td>
					<td class="th_st">시간 (요일)</td>
				</tr>
				{{#each datas}}
				<tr>
					<td>{{ITTP000007}}</td>
					<td>{{ITTP000018}}</td>
					<td>{{ITTP000040}}</td>
				</tr>
				{{/each}}
			</tbody>
		</table>
	</div>
	<p>
		{{nl2br ITTP000037}}
		<br><br>
	</p>
	<!-- 운항 노선 안내-->
	<br>
	</script>

	<script data-template="TDTP000010_PREVIEW" type="text/x-handlebars-template">
		<!-- 증편 운항 안내-->
	<p>
		<strong>{{nl2br ITTP000036}}</strong>
	</p>
	<p>
		{{nl2br ITTP000037}}
	</p>
	<div class="tbl_data">
		<table>
			<tbody>
				<tr>
					<td class="th_st">편명</td>
					<td class="th_st">노선</td>
					<td class="th_st">운항시간 (출발)</td>
					<td class="th_st">운행요일</td>
				</tr>
				{{#each datas}}
				<tr>
					<td>{{ITTP000018}}</td>
					<td>{{ITTP000007}}</td>
					<td>{{ITTP000022}}</td>
					<td>{{ITTP000041}}</td>
				</tr>
				{{/each}}
			</tbody>
		</table>
	</div>
	<!-- 증편 운항 안내-->
	<br>
	</script>

	<script data-template="TDTP000011_PREVIEW" type="text/x-handlebars-template">
		<!--버튼형-->
		{{#each datas}}
			{{#if ITTP000043}}
	<a href="{{ITTP000043}}" target="_blank"><button type="button"
			class="button button--primary button--active button--small"><span class="button__text"
				style="color: #fff;">{{ITTP000042}}</span></button></a>
	{{else}}
	<a href="{{ITTP000011}}" target="_blank" download="{{ITTP000011_nm}}"><button type="button"
			class="button button--primary button--active button--small"><span class="button__text"
				style="color: #fff;">{{ITTP000042}}</span></button></a>
	{{/if}}
	{{/each}}
	</script>
	<script data-template="TDTP000012_PREVIEW" type="text/x-handlebars-template">
	<!--에디터형-->
		{{{ITTP000014}}}
	<!--에디터형-->
	<br>
	</script>
	<script type="text/javascript" src="https://static.jejuair.net/hpgg/resources/bizjs/commons/bbr.js"></script>

	<div id="ifmWrap"
		style="height:100%; display:none; overflow:auto; text-align:center; -webkit-overflow-scrolling:touch;">
		<iframe src="" width="100%" height="100%" name="popupChkApp"></iframe>
	</div>
<script type="text/javascript" src="/user/lib/js/head/head.js"></script>
</body>

</html>