<html lang="ko"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org/">
<!--head-->
<div th:replace="/user/fragment/head :: head"></div>
<!--head 끝-->

<body id="subLayoutBody">

<!-- appAlert -->
<div th:replace="/user/fragment/appAlert :: appAlert"></div>
<!-- //appAlert 끝 -->

<!-- header -->
<div th:replace="/user/fragment/header :: header"></div>
<!-- //header 끝 -->

<div id="body">

    <!-- Google Tag Manager (noscript) -->
    <noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PD2BQQ4" height="0" width="0"
                style="display:none;visibility:hidden"></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->

    <div class="wrap wrap--button">


        <div class="content" id="content">
            <main id="main" class="main ">

                <div class="page-title-wrap pc-only">
                    <div class="page-title">홈페이지 이용약관</div><!-- 홈페이지 이용약관 -->
                </div>
                <div class="agreement" id="termBox">
                    <div>
                        제1조(목적)
                    </div>
                    <div>
                        이 약관은 ㈜제주항공(이하 "제주항공"이라 합니다)이 운영하는 제주항공 인터넷 웹사이트 이하 "www.jejuair.net"이라 합니다)에서 제공하는 인터넷 관련
                        서비스(이하 "서비스"라 합니다)를 이용함에 있어 제주항공과 이용자의 권리.의무 및 책임사항을 규정함을 목적으로 합니다.,
                    </div>
                    <div>
                        &nbsp;
                    </div>
                    <div>
                        제2조(정의)
                    </div>
                    <div>
                        ① "www.jejuair.net"이란 제주항공이 컴퓨터 등 정보통신설비와 정보통신망을 이용하여 정보 및 서비스를 이용자에게 제공하고 재화 또는 용역을 거래할 수 있도록
                        설정한 가상의 영업장을 말합니다.
                    </div>
                    <div>
                        ② "이용자"란 www.jejuair.net에 접속하여 이 약관에 따라 제주항공이 제공하는 서비스를 받는 회원 및 비회원을 말합니다.
                    </div>
                    <div>
                        ③ "회원"이라 함은 www.jejuair.net에 개인정보를 제공하여 회원등록을 한 자로서, 제주항공이 www.jejuair.net을 통하여 지속적으로 제공하는 정보 및
                        서비스를 계속적으로 이용할 수 있는 자를 말합니다.
                    </div>
                    <div>
                        ④ "비회원"이라 함은 회원으로 가입하지 않고 제주항공이 제공하는 정보 및 서비스를 이용하는 자를 말합니다.
                    </div>
                    <div>
                        &nbsp;
                    </div>
                    <div>
                        제3조 (약관의 명시와 개정)
                    </div>
                    <div>
                        ① 제주항공은 이 약관의 내용과 상호, 연락처(전자우편주소, 전화번호, 팩스번호 등) 등을 이용자가 알 수 있도록 www.jejuair.net의 초기 서비스화면(전면)에
                        게시합니다.
                    </div>
                    <div>
                        ② 제주항공은 약관의 규제 등에 관한 법률, 전자거래기본법, 전자서명법, 정보통신망 이용촉진 및 정보보호등에 관한 법률, 방문판매등에 관한 법률, 소비자보호법 등 관련법령을
                        위반하지 않는 범위에서 이 약관을 개정할 수 있습니다.
                    </div>
                    <div>
                        ③ 약관을 개정할 경우에는 개정사유 및 적용일자를 명시하여 현행약관과 함께 www.jejuair.net의 초기화면에 그 적용일자 7일 이전부터 적용일자 전일까지 공지합니다.
                    </div>
                    <div>
                        ④ 개정약관은 그 적용일자 전에 체결된 계약에 대해서도 적용됩니다. 다만 개정약관의 적용을 거절하는 뜻을 제주항공에 명시적으로 통지한 이용자에 대해서는 개정전의 약관조항이
                        적용됩니다.
                    </div>
                    <div>
                        ⑤ 이 약관에서 정하지 아니한 사항과 이 약관의 해석에 관하여는 전자거래소비자보호지침, 관계법령 또는 상관례에 따릅니다.
                    </div>
                    <div>
                        &nbsp;
                    </div>
                    <div>
                        제4조(www.jejuair.net의 업무사항)
                    </div>
                    <div>
                        제주항공이 www.jejuair.net을 통하여 수행하는 업무는 아래와 같습니다.
                    </div>
                    <div>
                        1. 항공권, 여행 등 관련 정보.서비스 제공
                    </div>
                    <div>
                        2. 항공권 구매계약 등 계약의 체결
                    </div>
                    <div>
                        3. 기타 제주항공이 정하는 업무
                    </div>
                    <div>
                        &nbsp;
                    </div>
                    <div>
                        제5조(서비스의 중단)
                    </div>
                    <div>
                        ① 제주항공은 컴퓨터 등 정보통신설비의 점검.보수.교체 등의 경우에 www.jejuair.net의 서비스 제공을 일시적으로 중단할 수 있습니다.
                    </div>
                    <div>
                        ② 제1항에 의한 서비스 중단의 경우 제주항공은 본 약관 제8조에서 정한 방법으로 이용자에게 통지합니다.
                    </div>
                    <div>
                        ③ 제주항공은 제1항의 사유로 서비스의 제공이 일시적으로 중단됨으로 인하여 이용자 또는 제3자가 입은 손해를 배상합니다. 다만 제주항공에 고의 또는 중대한 과실이 없는
                        경우에는 그러하지 아니합니다.
                    </div>
                    <div>
                        &nbsp;
                    </div>
                    <div>
                        제6조(회원가입)
                    </div>
                    <div>
                        ① 이용자는 www.jejuair.net에 정해진 가입양식에 따라 회원정보를 기입한 후 이 약관에 동의한다는 의사표시를 하는 방법으로 회원가입을 신청합니다.
                    </div>
                    <div>
                        ② 제주항공은 이용자가 다음 각호의 1에 해당하지 않는 한 회원가입신청을 승낙합니다.
                    </div>
                    <div>
                        1. 가입신청자가 이 약관 제7조 제4항에 의하여 회원자격을 상실 한 경우. 다만 회원자격 상실 후 3년이 경과한 자로서 제주항공의 회원 재가입 승낙을 얻은 경우는 예외로
                        합니다.
                    </div>
                    <div>
                        2. 등록 내용에 허위, 기재누락, 오기가 있는 경우
                    </div>
                    <div>
                        3. 기타 회원으로 등록하는 것이 기술적으로 현저히 지장이 있다고 판단되는 경우
                    </div>
                    <div>
                        ③ 회원가입계약의 성립시기는 제주항공의 승낙이 회원에게 도달한 시점으로 합니다.
                    </div>
                    <div>
                        ④ 회원은 제13조 제1항에 열거된 등록사항에 변경이 있는 경우, 즉시 전자우편 기타 이에 준하는 방법으로 www.jejuair.net에 그 변경사항을 알려야 합니다.
                    </div>
                    <div>
                        &nbsp;
                    </div>
                    <div>
                        제7조(회원탈퇴 및 자격상실 등)
                    </div>
                    <div>
                        ① 회원은 www.jejuair.net에 언제든지 탈퇴신청을 할 수 있으며, 이 경우 제주항공은 즉시 회원탈퇴를 처리합니다.
                    </div>
                    <div>
                        ② 회원이 다음 각호의 1에 해당하는 경우 제주항공은 서비스이용을 제한 또는 정지시킬 수 있습니다.
                    </div>
                    <div>
                        1. 가입 신청 시 허위 내용을 기재하거나 2 이상의 I.D.로 이중등록한 경우
                    </div>
                    <div>
                        2. www.jejuair.net에서 구매한 항공권 등의 대금지급채무 기타 www.jejuair.net 이용과 관련 회원이 부담하는 채무를 불이행하는 경우
                    </div>
                    <div>
                        3. 타인의 www.jejuair.net 이용을 방해하거나 타인의 개인정보를 도용하는 등 전자거래질서를 침해.위협하는 경우
                    </div>
                    <div>
                        4. www.jejuair.net을 이용하여 이 약관이 금지하는 행위 또는 법령, 공서양속 등에 반하는 행위를 하는 경우
                    </div>
                    <div>
                        ③ 제주항공이 서비스 이용을 제한.정지하고자 할 때에는 미리 그 사유, 일시, 기간을 전자우편, 전화, 서면 등으로 당해 이용자에게 통지합니다. 다만 긴급을 요할 경우에는
                        조치 후에 통지할 수 있습니다.
                    </div>
                    <div>
                        ④ 제주항공이 서비스이용을 제한.정지시킨 후 그 제재사유가 된 행위가 반복되거나 30일 이내에 그 사유가 시정되지 아니하는 경우 제주항공은 회원자격을 박탈할 수 있습니다.
                    </div>
                    <div>
                        ⑤ 제주항공이 회원자격을 박탈하는 경우에는 회원등록을 말소하며, 이 경우 말소 전에 회원에게 이를 통지합니다.
                    </div>
                    <div>
                        ⑥ 서비스이용의 제한.정지, 회원자격의 박탈로 인한 손해에 대해서 제주항공은 책임을 지지 않습니다.
                    </div>
                    <div>
                        &nbsp;
                    </div>
                    <div>
                        제8조(회원에 대한 통지)
                    </div>
                    <div>
                        ① 제주항공이 회원에 대한 통지를 하는 경우 회원이 제출한 전자우편주소로 할 수 있습니다.
                    </div>
                    <div>
                        ② 제주항공은 불특정 다수의 회원에게 통지하는 경우, 1주일 이상 www.jejuair.net에 공시함으로써 개별통지에 갈음할 수 있습니다.
                    </div>
                    <div>
                        &nbsp;
                    </div>
                    <div>
                        제9조(구매신청)
                    </div>
                    <div>
                        이용자는 www.jejuair.net에서 아래 방법에 의하여 구매신청을 할 수 있습니다.
                    </div>
                    <div>
                        1. 성명, 주소, 전화번호 입력
                    </div>
                    <div>
                        2. 재화 또는 용역의 선택
                    </div>
                    <div>
                        3. 결제방법의 선택
                    </div>
                    <div>
                        4. 이 약관에 동의한다는 표시(예: 마우스 클릭)
                    </div>
                    <div>
                        &nbsp;
                    </div>
                    <div>
                        제10조 (계약의 성립)
                    </div>
                    <div>
                        ① 제주항공은 제 9조에 정한 방법에 의한 구매신청에 대하여 다음 각 호의 1에 해당하지 않는 한 승낙합니다.
                    </div>
                    <div>
                        1. 신청 내용에 허위, 기재누락, 오기가 있는 경우
                    </div>
                    <div>
                        2. 구매신청에 대한 승낙이 영업상 또는 기술상 현저히 지장이 있다고 판단되는 경우
                    </div>
                    <div>
                        ② 제주항공의 승낙이 제 12조 제1항의 수신확인통지형태로 이용자에게 도달한 시점에 계약이 성립한 것으로 봅니다.
                    </div>
                    <div>
                        &nbsp;
                    </div>
                    <div>
                        제11조(결제방법)
                    </div>
                    <div>
                        www.jejuair.net에서 구매한 재화.용역에 대한 대금결제는 아래의 방법으로 할 수 있습니다.
                    </div>
                    <div>
                        1. 신용카드결제
                    </div>
                    <div>
                        2. 실시간 계좌이체
                    </div>
                    <div>
                        제12조(수신확인통지.구매신청 변경 및 취소)
                    </div>
                    <div>
                        ① 제주항공은 이용자의 구매신청이 있는 경우 이용자에게 수신확인통지를 합니다.
                    </div>
                    <div>
                        ② 수신확인통지를 받은 이용자는 의사표시의 불일치 등이 있는 경우에는 수신확인통지를 받은 후 즉시 구매신청 변경 및 취소를 요청할 수 있습니다.
                    </div>
                    <div>
                        &nbsp;
                    </div>
                    <div>
                        제13조(개인정보보호)
                    </div>
                    <div>
                        ① "회사"는 "정보통신망법" 등 관계 법령이 정하는 바에 따라 "회원"의 개인정보를 보호하기 위해 노력합니다. 개인정보의 보호 및 사용에 대해서는 관련법 및 "회사"의
                        개인정보처리방침이 적용됩니다. 다만, "회사"의 공식 사이트 이외의 링크된 사이트에서는 "회사"의 개인정보처리방침이 적용되지 않습니다.
                    </div>
                    <div>
                        &nbsp;
                    </div>
                    <div>
                        제14조(제주항공의 의무)
                    </div>
                    <div>
                        ① 제주항공은 법령과 이 약관이 금지하거나 공서양속에 반하는 행위를 하지 않으며 이 약관이 정하는 바에 따라 지속적이고 안정적인 서비스 제공 및 재화.용역의 공급에
                        노력합니다.
                    </div>
                    <div>
                        ② 제주항공은 이용자가 안전하게 서비스를 이용할 수 있도록 이용자의 개인정보(신용정보 포함)보호를 위한 보안 시스템을 갖추겠습니다.
                    </div>
                    <div>
                        ③ 제주항공이 상품이나 용역에 관하여 「표시.광고의공정화에관한법률」 제 3조 소정의 부당한 표시.광고행위를 함으로써 이용자가 손해를 입은 때에는 이를 배상할 책임을 집니다.
                    </div>
                    <div>
                        ④ 제주항공은 이용자가 원하지 않는 영리목적의 광고성 전자우편을 발송하지 않습니다.
                    </div>
                    <div>
                        제15조(회원의 I.D. 및 비밀번호에 대한 의무)
                    </div>
                    <div>
                        ① 제 13조의 경우를 제외한 I.D.와 비밀번호에 대한 관리책임은 회원에게 있습니다.
                    </div>
                    <div>
                        ② 회원은 제 3자에게 자신의 I.D. 및 비밀번호를 이용하게 해서는 안됩니다.
                    </div>
                    <div>
                        ③ 회원이 자신의 I.D. 및 비밀번호를 도용 당하거나 제 3자가 사용하고 있음을 인지한 경우에는 즉시 제주항공에 통보하여 그 안내에 따라야 합니다.
                    </div>
                    <div>
                        &nbsp;
                    </div>
                    <div>
                        제16조(이용자의 의무)
                    </div>
                    <div>
                        이용자는 이 약관 및 관계법령을 준수하여야 하며, 다음의 행위를 해서는 안됩니다.
                    </div>
                    <div>
                        1. 신청 또는 변경 시 허위내용의 기재
                    </div>
                    <div>
                        2. www.jejuair.net에 게시된 정보의 임의변경
                    </div>
                    <div>
                        3. 제주항공이 허용하고 있지 않은 정보나 컴퓨터 프로그램 등을 무단으로 송신 또는 게시하는 행위
                    </div>
                    <div>
                        4. 제주항공 기타 제 3자의 저작권 등 지적재산권 침해
                    </div>
                    <div>
                        5. 제주항공 기타 제 3자의 프라이버시를 침해하거나 업무를 방해하는 행위
                    </div>
                    <div>
                        6. 외설적 또는 폭력적 메시지.화상.음성 기타 공서양속에 반하는 정보를 송신 또는 게시하는 행위
                    </div>
                    <div>
                        &nbsp;
                    </div>
                    <div>
                        제17조(www.jejuair.net과 하위 웹사이트 간의 관계)
                    </div>
                    <div>
                        www.jejuair.net이 하위 웹사이트와 하이퍼 링크(하이퍼 링크의 대상에는 문자, 그림 및 동화상 등이 포함)방식 등으로 연결된 경우, 제주항공은 하위 웹사이트가
                        이용자와 독자적으로 체결한 재화.용역 공급계약 등 거래에 관하여 보증책임을 지지 않습니다.
                    </div>
                    <div>
                        &nbsp;
                    </div>
                    <div>
                        제18조(저작권의 귀속 및 이용제한)
                    </div>
                    <div>
                        ① 제주항공이 작성한 저작물에 대한 저작권 기타 지적재산권은 제주항공에 귀속합니다.
                    </div>
                    <div>
                        ② 이용자는 www.jejuair.net을 이용함으로써 얻은 정보를 제주항공의 사전 승낙없이 복제, 송신, 출판, 배포, 방송 기타 방법에 의하여 영리목적으로 이용하거나 제
                        3자로 하여금 이용하게 해서는 안됩니다.
                    </div>
                    <div>
                        &nbsp;
                    </div>
                    <div>
                        제19조(분쟁해결)
                    </div>
                    <div>
                        ① 제주항공은 이용자가 제기하는 정당한 의견이나 불만을 반영하고 그 피해를 보상처리하기 위하여 피해보상처리기구를 설치.운영합니다.
                    </div>
                    <div>
                        ② 제주항공은 이용자가 제기하는 불만사항 및 의견을 신속.적정하게 처리합니다. 다만 신속한 처리가 곤란한 경우에는 이용자에게 그 사유와 처리일정을 지체 없이 통보해
                        드립니다.
                    </div>
                    <div>
                        ③ 제주항공과 이용자간에 분쟁 발생시 전자거래기본법 제 28조 및 동 시행령 제 15조에 근거하여 설치된 전자거래분쟁조정위원회의 조정에 따를 수 있습니다.
                    </div>
                    <div>
                        제20조(관할법원 및 준거법)
                    </div>
                    <div>
                        ① 제주항공과 이용자간에 발생한 전자거래 분쟁에 관한 소는 서울지방법원에 제기합니다.
                    </div>
                    <div>
                        ② 제주항공과 이용자간에 제기된 전자<span style="font-size: 14px;">거래 소송에는 한국법을 적용합니다.</span></div>
                    <div>
                        &nbsp;
                    </div>
                    <div><br></div>
                    <div>
                        제주항공 Refresh Point 회원 일반 규정
                    </div>
                    <div><br></div>
                    <div>
                        제 1 조
                    </div>
                    <div><br></div>
                    <div>
                        제주항공의 Refresh Point 회원은 제주항공 공식 웹사이트 또는 모바일 웹&amp;앱에서 회원으로 가입을 완료하신 분을 말합니다. 가입 자격은 본 프로그램이 제한을
                        받지 않는 국가에 거주하시면 누구라도 가입 가능합니다. 회원 계정은 개별 회원에게 1인 1계정만 허용 됩니다.
                    </div>
                    <div><br></div>
                    <div>
                        제 2 조
                    </div>
                    <div><br></div>
                    <div>
                        회원님의 주소, 이메일 주소(e-mail address) 및 전화번호 등 개인정보의 변경이 있을 시 해당 정보를 제주항공 공식 웹사이트 또는 모바일 웹&amp;앱을 통해
                        수정 반영하셔야 합니다. 해당 정보의 변경 및 반영이 되지 않거나 지연 됨으로 인해 가입하신 회원에게 발생한 손해에 대해서는 제주항공은 책임을 지지 않습니다.
                    </div>
                    <div><br></div>
                    <div>
                        제 3 조
                    </div>
                    <div><br></div>
                    <div>
                        회원자격 및 혜택은 Refresh Point 회원 가입 일로부터 회원 본인에게만 제공됩니다. 회원 카드는 이미지 카드 형태로 발급 되며 회원 가입을 완료 하시면 공식
                        웹사이트 또는 모바일 웹&amp;앱에서 확인하실 수 있습니다. 또한 회원카드번호의 분실, 도난, 누출로 인한 피해는 제주항공이 책임을 지지 않습니다.
                    </div>
                    <div><br></div>
                    <div>
                        제 4 조
                    </div>
                    <div><br></div>
                    <div>
                        Refresh Point 적립은 지불하신 현금 운임에 비례하여 해당 항공편 탑승을 완료하신 Refresh Point 회원에게만 적립됩니다. 즉, 천재지변, 기상조건,
                        불가항력, 파업, 폭동, 소요, 출입국 금지, 동란, 전쟁, 기재 고장 등의 사유로 항공편 탑승이 완료되지 않은 경우에는 포인트 적립이 되지 않습니다. 포인트는 적립
                        일로부터 3년간 유효하며, 유효기간 내에 사용되지 않은 포인트는 소멸 처리 됩니다. 항공편 탑승 포인트 적립 이외에 제주항공 공식웹사이트 또는 모바일웹&amp;앱에서
                        포인트를 구매 하시거나 선물 또는 양도를 통해 받으신 포인트는 해당 시점에서 즉시 적립이 됩니다. 또한, 제주항공에서 인정한 공식 제휴 처를 통해서도 포인트를 적립 받으실
                        수 있습니다.
                    </div>
                    <div><br></div>
                    <div>
                        제 5 조
                    </div>
                    <div><br></div>
                    <div>
                        회원님이 Refresh Point 혜택을 제공받기 위해 제휴사를 이용할 경우 해당 제휴사의 규정에 따라야 합니다. Refresh Point 회원과 제휴사간의 개별적인 계약
                        조건은 제주항공과 무관합니다. 제휴사를 통해 적립한 Refresh Point는 제주항공이 제시하는 서비스로만 사용될 수 있습니다. 또한 Refresh Point의 제휴사
                        프로그램은 제휴사의 사정에 따라 사전 통보 없이 변경되거나 중단 될 수 있습니다.
                    </div>
                    <div><br></div>
                    <div>
                        제 6 조
                    </div>
                    <div><br></div>
                    <div>
                        Refresh Point는 항공권의 운임(클래스)에 따라 포인트가 차등 적립 되거나 회원 등급 혜택이 제한될 수 있습니다.
                    </div>
                    <div><br></div>
                    <div>
                        제 7 조
                    </div>
                    <div><br></div>
                    <div>
                        Refresh Point의 회원 자격은 실버, 실버플러스,골드, VIP 회원 등급으로 구분이 되며 각 회원 등급의 자격 유지 기간은 승급 일로부터 3년간 유효 합니다. 회원
                        등급의 승급 기준은 각 승급 조건을 충족하는 날이 속한 달의 익월 10일에 자동으로 승급 되며, 3년 간 해당 회원 등급의 자격 유지 조건을 미 충족할 경우에도 매 익월
                        10일에 등급 별 기준에 재 산정되어 반영 됩니다.
                    </div>
                    <div><br></div>
                    <div>
                        제 8 조
                    </div>
                    <div><br></div>
                    <div>
                        Refresh Point 양도<span style="font-size: 14px;">제도는 본인 외에 제주항공 회원에 한하여 최대 4인까지 양수 회원으로 등록이 가능하며, 등록된 양수 회원은 매년 1월 1일을 기준으로 연간 1회 변경이 가능합니다. 양도 가능한 적립 포인트는 등록된 양수 회원을 제외하고 타인에게 제공/양도할 수 없으며, 양도된 포인트는 재 양도가 불가능 합니다.</span>
                    </div>
                    <div><span style="font-size: 14px;"><br></span></div>
                    <div>
                        제 9 조
                    </div>
                    <div><br></div>
                    <div>
                        Refresh Point 회원님께서 등록하신 국가 및 주소지에 의해 지역별 혜택의 구분이 있을 수 있습니다.
                    </div>
                    <div><br></div>
                    <div>
                        제 10 조
                    </div>
                    <div><br></div>
                    <div>
                        포인트 항공권 사용 시 발생되는 세금, 유류할증료, 수수료(포인트 항공권 직접 발급 수수료 포함) 등의 제반 수수료는 이용하시는 회원님께서 부담하셔야 합니다.
                    </div>
                    <div><br></div>
                    <div>
                        제 11 조
                    </div>
                    <div><br></div>
                    <div>
                        제주항공은 회원 계정을 검색하여 회원의 제반 실적이 잘못된 경우에는 이를 임의로 정정할 수 있습니다.
                    </div>
                    <div><br></div>
                    <div>
                        제 12 조
                    </div>
                    <div><br></div>
                    <div>
                        제주항공은 회원님께서 Refresh Point 규정을 위반하신 경우 회원 자격을 박탈 할 수 있습니다. 또한 제주항공에서 규정한 방법 이외에 본 프로그램의 포인트를
                        금전적으로 환산하여 교환할 의사를 밝히거나, 실제 유상 판매 또는 교환하는 행위를 엄격히 금지 하며, 해당 행위가 적발 될 경우 모든 적립된 포인트가 말소 됩니다.
                    </div>
                    <div><br></div>
                    <div>
                        제 13 조
                    </div>
                    <div><br></div>
                    <div>
                        제주항공 이용실적 또는 포인트와 관련된 제반 이의는 해당 항공편 탑승일 또는 포인트 발행일로부터 1년 이내에 제기하셔야 합니다.
                    </div>
                    <div><br></div>
                    <div>
                        제 14 조
                    </div>
                    <div><br></div>
                    <div>
                        Refresh Point 회원 혹은 대리인이 각종 증빙서류 위/변조, 서류의 허위기재, 회원 규정 위반 혹은 악용 시에는 회원자격 박탈, 회원계좌 폐쇄, 적립 포인트 삭제
                        혹은 발급된 보너스를 취소시킬 수 있으며, 해당 회원 및 대리인에 대해 (재)가입을 불허할 수 있습니다. 또한 부당한 방법에 의해 포인트를 발급, 사용한 경우 제주항공은
                        유상 운임에 상응하는 현금 배상 청구 및 필요한 법적 조치를 취할 수 있습니다.
                    </div>
                    <div><br></div>
                    <div>
                        제 15 조
                    </div>
                    <div><br></div>
                    <div>
                        회원 개인의 신상에 변동이 생기더라도 누적된 포인트는 제 3자에게 이전되지 않으며 사망한 회원의 누적 포인트는 상속될 수 없으며 소멸됩니다.
                    </div>
                    <div><br></div>
                    <div>
                        제 16 조
                    </div>
                    <div><br></div>
                    <div>
                        Refresh Point의 제반 규정은 관련 법령의 제정, 개정 및 폐지된 경우, 국제적 제휴를 위하여 Global Standard와의 균형을 맞추기 위해 불가피한 경우,
                        일반 항공권 가격의 상당한 변동으로 인하여 발생한 포인트 제도의 불균형을 시정하기 위하여 필요한 경우, 항공 수요의 급격한 변화, 기타 항공산업의 중대한 위기를 초래할
                        우려가 있는 불가항력적인 사정이 상당 기간 동안 지속되는 경우, 국가 경제의 심각한 악화, 국가 신용도의 급격한 하락, 기타 이에 준하는 경제 상황의 중대한 변동으로 인하여
                        불가피한 경우 등 상당한 이유가 있는 경우 3개월 사전 고지 후 변경될 수 있습니다. 다만, 규정 변경 발효일 이전까지 회원님께서 취득한 포인트의 경우에는 포인트 공제로
                        지급되는 포인트 항공권에 대하여 발효일로부터 12개월까지는 변경전의 공제기준이 적용됩니다.
                    </div>
                    <div><br></div>
                    <div>
                        제 17 조
                    </div>
                    <div><br></div>
                    <div>
                        제주항공은 포인트 적립 기록이 없는 회원님에 대해 전자메일, 포인트 실적 및 각종 프로모션 홍보물 등을 발송하지 않을 수도 있습니다. 또한 특별 보너스 포인트 등의 프로모션
                        정보를 회원님의 정보 내용, 지리적 위치 등에 따라 선별적으로 회원님께 제공할 수 있습니다. 프로모션 정보 및 Refresh Point 프로그램 변경 등의 정보는
                        Refresh Point의 회원 데이터베이스에 있는 주소에 한하여 발송합니다.
                    </div>
                    <div><br></div>
                    <div>
                        제 18 조
                    </div>
                    <div><br></div>
                    <div>
                        본 약관과 관련하여 가장 최근에 발행된 회원안내서 또는 ㈜제주항공 홈페이지에 등재된 내용이 이전의 모든 규정과 조건보다 우선합니다.
                    </div>
                    <div>
                        &nbsp;
                    </div>
                </div>
            </main>
        </div>

    </div>
</div>


<!--<footer.html>-->
<div th:replace="/user/fragment/footer.html :: footer"></div>
<!--</footer> 끝-->


<div id="ifmWrap"
     style="height:100%; display:none; overflow:auto; text-align:center; -webkit-overflow-scrolling:touch;">
    <iframe src="" width="100%" height="100%" name="popupChkApp"></iframe>
</div>


<!-- 공통 스크립트 선언 -->

<!--<div th:replace="/user/fragment/js :: js"></div>-->
<script type="text/javascript" src="/user/lib/js/lib.min.js"></script>
<script type="text/javascript" src="/user/lib/js/common.js"></script>
<script type="text/javascript" src="/user/lib/js/plugin.js"></script>

<!-- 공통 스크립트 선언 끝 -->

<!--body, html 주석은 위치 고정-->
</body>
</html>
<!--body, html 주석은 위치 고정 끝-->
