<html lang="ko"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org/">
<!--head-->
<div th:replace="/user/fragment/head :: head"></div>
<!--head 끝-->

<body id="subLayoutBody">

<!-- appAlert -->
<div th:replace="/user/fragment/appAlert :: appAlert"></div>
<!-- //appAlert 끝 -->

<!-- header -->
<div th:replace="/user/fragment/header :: header"></div>
<!-- //header 끝 -->


<div id="body">

    <!-- Google Tag Manager (noscript) -->
    <noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PD2BQQ4" height="0" width="0"
                style="display:none;visibility:hidden"></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->

    <div class="wrap wrap--button">


        <div class="content" id="content">
            <main id="main" class="main ">

                <div class="page-title-wrap pc-only">
                    <div class="page-title">항공교통이용자 서비스 계획</div><!-- 항공교통이용자 서비스 계획 -->
                </div>
                <div class="agreement" id="termBox"> <div class="section-sub-txt">

                    <p>제주항공은 국토교통부 항공교통이용자 보호기준에 따라 아래와 같이 서비스 계획을 게시합니다.</p>
                    <p><br>
                    </p><p>
                    <b>1. 초과판매로 인하여 탑승하지 못한 고객이 발생할 경우 최선을 다해 합리적인 방안을 마련하겠습니다.</b>
                    </p>
                    <p>&nbsp;- 자발적으로 좌석을 양보해 주실 손님을 찾아 최대한 비자발적으로 탑승하지 못하는 손님이 발생하지 않도록 노력하겠습니다.</p>
                    <p>&nbsp;- 그럼에도 불구하고 어쩔 수 없이 초과판매로 탑승하지 못하는 상황이 발생하는 경우에는 소비자분쟁해결기준에 따라 규정된 보상을 하겠습니다.</p>
                    <p><br></p><p><b>2. 위탁하신 수하물이 안전하게 정시에 운송될 수 있도록 항상 노력하겠습니다.</b></p>
                    <p>&nbsp;- 위탁하신 수하물이 항공기상 또는 제주항공 관리하에서 분실 또는 파손되는 경우에는 국제협약과 국내법에 따라 합리적으로 보상될 수 있도록 하겠습니다.</p>
                    <p>&nbsp; &nbsp;다만, 수하물 고유한 결함, 특수한 성질 또는 숨은 하자로 인해 발생한 경우에는 보상이 어려우며 이 사항은 너그러운 이해를 부탁드립니다.</p>
                    <p>&nbsp; &nbsp;(확인 방법 : 서비스 안내 &gt; 공항서비스 &gt; 수하물 &gt; 수하물 분실 및 배상)</p>
                    <p>&nbsp;- 위탁하신 수하물 지연으로 고객께 손해가 발생한 경우에도 보상을 하겠습니다.</p>
                    <p>&nbsp; &nbsp;다만, 제주항공이 합리적으로 요구되는 모든 조치를 하거나 조치가 불가능하다는 것이 확실한 경우에는 보상대상에서 제외될 수 있습니다.</p>
                    <p><br></p><p><b>&nbsp;3. 고객에게 항공권 취소, 환불, 변경에 소요되는 비용 등에 대해 편리하고 정확하게 안내하고 있습니다.</b></p>
                    <p>&nbsp;- 고객이 홈페이지, 앱, 고객센터를 통해 항공권을 예약하는 과정에서 “취소, 환불, 변경 등 거래 조건”을 확인하실 수 있도록 안내하고 있습니다.</p>
                    <p>&nbsp;- 항공권 구입 과정에서 별도로 항공권 운임규정 메뉴를 통해 세부 사항을 확인하실 수 있도록 안내하고 있으며 최종적으로 환불규정에 대해 확인하고 동의하는 절차도 마련하였습니다.</p>
                    <p>&nbsp; &nbsp;또한 홈페이지에 변경수수료 및 취소위약금을 게시하여, 고객이 항공권 예약전후로 언제든지 확인하실 수 있도록 안내하고 있습니다.</p>
                    <p>&nbsp; &nbsp;(확인 방법 : 항공권 예매 &gt; 국내선 운임/국제선 운임 &gt; 위약금 안내)</p>
                    <p><br></p><p><b>&nbsp;4. 이동지역에서의 지연이 발생할 경우 대비할 수 있도록 항시 준비하고 있습니다.</b></p>
                    <p>&nbsp;- 제주항공은 사전에 충분한 정비와 준비를 통해 고객 불편을 최소화하고 정시 운항이 시행될 수 있도록 노력하고 있습니다.</p>
                    <p>&nbsp;- 고객이 항공기에 탑승하여 국내선 3시간, 국제선 4시간을 초과하여 대기하는 이동지역에서의 지연이 발생하지 않도록 하겠습니다.</p>
                    <p>&nbsp; &nbsp;다만, 정부기관 지시, 기상 등 안전과 보안상 이유로 불가피하게 항공기를 이동지역에 대기시킬 수 밖에 없는 경우나, 탑승구로 돌아가기 어려운 경우 또는 탑승구 외에 다른 지역에서 승객하기가 어려운 경우는 포함되지 않습니다.</p>
                    <p>&nbsp;- 이동지역 내 지연이 2시간 이상 지속되는 경우, 탑승객에게 적절한 음식물을 제공하겠습니다. 다만, 이와 같은 서비스가 안전 또는 보안에 위협이 될 수 있는 경우는 제외됩니다.</p>
                    <p>&nbsp;- 이동지역 내 지연되는 경우 탑승객에게 매 30분 간격으로 지연사유와 진행사항을 알려드리겠습니다. 이동지역 내 지연에 대한 비상계획을 이행할 수 있는 인</p>
                    <p>&nbsp;적, 물적 자원을 투입하겠습니다.</p><p><br></p><p><b>5. 고객에게 결항/지연 등 항공기의 운항스케줄 변경사항에 대해 안내하고 있습니다.</b></p>
                    <p>&nbsp;- 고객에게 항공권을 판매한 뒤에 항공기 운항 스케줄은 사업계획 변경, 정부의 사업계획 불인가, 지연, 결항 등으로 인해 변경될 수 있습니다.</p>
                    <p>&nbsp;- 운항스케줄이 변경되는 경우에는 문자, 전화, 이메일 등 고객이 예약시 남겨 놓은 연락처를 통해 변경 사항을 안내해드리고 있습니다.</p>
                    <p>&nbsp; &nbsp;다만, 출발시간 임박시점(국내선 30분, 국제선 1시간 이내)에서는 공항 현장에서의 안내로 대체합니다.</p>
                    <p><br></p><p><b>6. 수하물, 공동운항, 항공기 좌석배치, 비상구 위치 정보를 제공하고 있습니다.</b></p>
                    <p>&nbsp;- 고객이 항공권을 구입하는 시점 또는 구입한 이후에 위탁수하물 허용량과 개수를 확인할 수 있으며 전자 항공권(E-Ticket)에도 안내하고 있습니다.</p>
                    <p>&nbsp;- 홈페이지를 통해서도 언제든지 무료 수하물 허용량과 초과수하물 발생시 수수료 확인이 가능합니다.</p>
                    <p>&nbsp; &nbsp;(확인 방법 : 서비스 안내 &gt; 공항서비스 &gt; 수하물 &gt; 수하물 안내)</p>
                    <p>&nbsp;- 공동운항편은 고객이 항공권을 구입할 때에 실제 운항하는 항공사와 항공기에 대해 안내하고 있으며, 판매사와 운항사간 운임차이가 발생할 수 있다는 것과 수하물 정책에 대해서도 안내하고 있습니다.</p>
                    <p>&nbsp;- 제주항공이 보유한 항공기의 좌석배치와 비상구 위치는 홈페이지에 안내되어 있으며 언제든지 확인이 가능합니다.</p>
                    <p>&nbsp; &nbsp;(확인 방법 : 회사소개 &gt; 항공기 소개)</p>
                    <p>&nbsp;- 제주항공은 수하물 요금변동이나 무료 수하물 허용량 등 수하물 정책에 변경이 있을 경우 최소 3개월간 변경 사항에 대해 홈페이지에 게시하겠습니다.</p>

                </div></div>
            </main>
        </div>

    </div>
</div>


<!--<footer.html>-->
<div th:replace="/user/fragment/footer.html :: footer"></div>
<!--</footer> 끝-->


<div id="ifmWrap"
     style="height:100%; display:none; overflow:auto; text-align:center; -webkit-overflow-scrolling:touch;">
    <iframe src="" width="100%" height="100%" name="popupChkApp"></iframe>
</div>


<!-- 공통 스크립트 선언 -->

<!--<div th:replace="/user/fragment/js :: js"></div>-->
<script type="text/javascript" src="/user/lib/js/lib.min.js"></script>
<script type="text/javascript" src="/user/lib/js/common.js"></script>
<script type="text/javascript" src="/user/lib/js/plugin.js"></script>
<script type="text/javascript" src="/user/lib/js/head/head.js"></script>

<!-- 공통 스크립트 선언 끝 -->

<!--body, html 주석은 위치 고정-->
</body>
</html>
<!--body, html 주석은 위치 고정 끝-->