<!DOCTYPE html>
<html lang="ko"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org/">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>제주항공 | 기내식 목록</title>
    <link rel="stylesheet" type="text/css" href="/admin/lib/css/common.css">
    <link rel="icon" href="/admin/lib/images/favicon.ico">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
</head>


<body>
<div class="container" value="9-1">
    <div th:replace="/admin/fragment/menu :: menu"></div>

    <div class="containerbody">
        <!-- main -->
        <div id="category" value="food"></div>
        <div class="main">
            <div class="details">
                <!-- order details list -->
                <div class="recentOrders">
                    <div class="calheader">
                        <h2>기내식 목록</h2>
                    </div>
                    <div class="scheduleSearch">
                        <form action="#">
                            <div class="wrapper">
                                <fieldset class="selectDiv">
                                    <input type="text" class="searchBox" title="검색어를 입력하세요"
                                           placeholder="검색어를 입력하세요">
                                    <button type="submit" class="button search" value="검색">검색</button>
                                </fieldset>
                            </div>
                        </form>
                    </div>
                    <table>
                        <thead>

                        <tr class="topbanner">
                            <td class="fo_idx">번호</td>
                            <td class="fo_name">기내식명</td>
                            <td class="fo_price">기내식명(영어)</td>
                            <td class="fo_food_num">가격</td>
                            <td class="fo_departure_location">출발지</td>
                            <td class="fo_regist_date">등록일자</td>
                        </tr>
                        </thead>

                        <tbody id="itemList">
                        <tr v-for="(dto,i) in itemList"
                            :key="i"
                            @click="location.href=`/admin/food/view/${dto.foodIdx}`">
                            <td class="fo_idx"><a :href=`/admin/food/view/${dto.foodIdx}`>{{dto.foodIdx}}</a></td>
                            <td class="fo_name"><a :href=`/admin/food/view/${dto.foodIdx}`>{{dto.foodKorName}}</a></td>
                            <td class="fo_price"><a :href=`/admin/food/view/${dto.foodIdx}`>{{dto.foodEngName}}</a></td>
                            <td class="fo_food_num"><a :href=`/admin/food/view/${dto.foodIdx}`>{{dto.foodKrwPrice}}</a></td>
                            <td class="fo_departure_location"><a :href=`/admin/food/view/${dto.foodIdx}`>{{dto.foodStartingPoint}}</a></td>
                            <td class="fo_regist_date"><a :href=`/admin/food/view/${dto.foodIdx}`>{{dto.foodRegDate}}</a></td>
                        </tr>
                        </tbody>
                    </table>
                    <div class="paging" id="pageNum">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--아이콘 사용을 위한 설치 스크립트-->
<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
<script src="/admin/lib/js/common.js"> </script>
<script src="/admin/lib/js/pagination.js"></script>
</body>
</html>