<html lang="ko"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org/">
<!--head-->
<div th:replace="/user/fragment/head :: head"></div>
<!--head 끝-->

<body id="subLayoutBody">

<!-- appAlert -->
<div th:replace="/user/fragment/appAlert :: appAlert"></div>
<!-- //appAlert 끝 -->

<!-- header -->
<div th:replace="/user/fragment/header :: header"></div>
<!-- //header 끝 -->


<div id="body">

    <!-- Google Tag Manager (noscript) -->
    <noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PD2BQQ4" height="0" width="0"
                style="display:none;visibility:hidden"></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->

    <div class="wrap wrap--button FT">


        <div class="content" id="content">
            <main id="main" class="main ">

                <input type="hidden" id="langCd" value="ko">
                <input type="hidden" id="tabIndex" value="0">
                <input type="hidden" id="pageNum" value="1">

                <div class="title">
                    <div class="page-title-wrap pc-only">
                        <div class="page-title">투자정보</div><!-- 투자정보 -->
                    </div>
                </div>

                <div class="pc-30">
                    <div data-element="tab" class="tab tab--default" data-options="{&quot;initIndex&quot;:0}">
                        <div class="tab__buttons">
                            <div data-element="tab__list" class="tab__button" role="presentation">
                                <button type="button" data-element="tab__anchor" class="tab__anchor is-active"
                                        data-index="0" id="plugin-tab-3" role="tab" tabindex="" aria-selected="true"
                                        aria-expanded="true">재무정보
                                </button><!-- 재무정보 -->
                            </div>
                            <div data-element="tab__list" class="tab__button" role="presentation">
                                <button type="button" data-element="tab__anchor" class="tab__anchor" data-index="1"
                                        id="plugin-tab-4" role="tab" tabindex="" aria-selected="false"
                                        aria-expanded="false">공시정보
                                </button><!-- 공시정보 -->
                            </div>
                            <div data-element="tab__list" class="tab__button" role="presentation">
                                <button type="button" data-element="tab__anchor" class="tab__anchor" data-index="2"
                                        id="plugin-tab-5" role="tab" tabindex="" aria-selected="false"
                                        aria-expanded="false">공지사항
                                </button><!-- 공지사항 -->
                            </div>
                        </div>

                        <div data-element="tab__panel" class="tab__panel is-active" aria-labelledby="plugin-tab-3"
                             role="tabpanel" tabindex="0">
                            <div class="gray-box pc-search pc-search--flex footer-search">
                                <div class="input-wrap input--line">
                                    <div class="input-row">
                                        <div class="input-item select_box">
                                            <div class="input-box">
                                                <div class="select-wrap select-wrap--line">
                                                    <select class="select-wrap__select selected" title="검색분류 선택"
                                                            id="searchType0" style="height: 100%"><!-- 검색분류 선택 -->
                                                        <option value="0" selected="">제목</option><!-- 제목 -->
                                                        <option value="1">내용</option><!-- 내용 -->
                                                        <option value="2">제목+내용</option><!-- 제목+내용 -->
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="input-item">
                                            <div class="input-box">
                                                <div data-element="form" class="input">
                                                    <input type="text" data-element="input" id="searchText0"
                                                           class="input__text" value="" title="검색어 입력" required="">
                                                    <!-- 검색어 입력 -->
                                                    <button type="button" data-element="remove"
                                                            class="input__remove-button"><span class="hidden">삭제</span>
                                                    </button><!-- 삭제 -->
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="button-wrap button-wrap--center">
                                    <button type="button" class="button button--optional"
                                            onclick="ABOUT_IR_PAGE_SCRIPT.getNoticeList(1, ABOUT_IR_PAGE_VARIABLES.limit, false, 'Y')">
                                        <span class="button__text">검색</span><!-- 검색 -->
                                    </button>
                                </div>
                            </div>
                            <div class="sub-section">
                                <div class="news footer_news" id="finanList"><!--공지사항 template-->

                                    <div class="news__item">

                                        <div class="news__list ">
                                            <a href="/ko/about/ir/noticeDetail.do?billboardNo=0000000154">

                                                <p class="news__list-text">제주항공 제 17기 결산공고 안내</p>
                                                <span class="news__list-date">2022.03.23</span>
                                            </a>
                                        </div>

                                        <div class="news__list ">
                                            <a href="/ko/about/ir/noticeDetail.do?billboardNo=0000000145">

                                                <p class="news__list-text">제주항공 제16기 결산공고 안내</p>
                                                <span class="news__list-date">2021.04.01</span>
                                            </a>
                                        </div>

                                        <div class="news__list ">
                                            <a href="/ko/about/ir/noticeDetail.do?billboardNo=0000000144">

                                                <p class="news__list-text">제주항공 제15기 결산공고 안내</p>
                                                <span class="news__list-date">2020.03.25</span>
                                            </a>
                                        </div>

                                        <div class="news__list ">
                                            <a href="/ko/about/ir/noticeDetail.do?billboardNo=0000000143">

                                                <p class="news__list-text">제주항공 제14기 결산공고 안내</p>
                                                <span class="news__list-date">2019.03.27</span>
                                            </a>
                                        </div>

                                        <div class="news__list ">
                                            <a href="/ko/about/ir/noticeDetail.do?billboardNo=0000000142">

                                                <p class="news__list-text">제주항공 제13기 결산공고 안내</p>
                                                <span class="news__list-date">2018.03.26</span>
                                            </a>
                                        </div>

                                        <div class="news__list ">
                                            <a href="/ko/about/ir/noticeDetail.do?billboardNo=0000000141">

                                                <p class="news__list-text">제주항공 제12기 결산공고 안내</p>
                                                <span class="news__list-date">2017.03.29</span>
                                            </a>
                                        </div>

                                        <div class="news__list ">
                                            <a href="/ko/about/ir/noticeDetail.do?billboardNo=0000000140">

                                                <p class="news__list-text">제주항공 제11기 결산공고 안내</p>
                                                <span class="news__list-date">2016.03.08</span>
                                            </a>
                                        </div>

                                        <div class="news__list ">
                                            <a href="/ko/about/ir/noticeDetail.do?billboardNo=0000000139">

                                                <p class="news__list-text">제주항공 제10기 결산공고 안내</p>
                                                <span class="news__list-date">2015.03.26</span>
                                            </a>
                                        </div>

                                    </div>
                                    <div class="paging-center paging-notice">
                                        <div class="paging"><span class="page-first"><a href="javascript:;" class="off">처음</a></span><span
                                                class="page-prev"><a href="javascript:;" class="off">이전</a></span><span
                                                class="page-num on"><a href="javascript:;">1</a></span><span
                                                class="page-next"><a href="javascript:;" class="off">다음</a></span><span
                                                class="page-last"><a href="javascript:;" class="off">끝</a></span></div>
                                    </div>


                                    <script>
                                        pagination.createPagination('.paging-notice', 'javascript:ABOUT_IR_PAGE_SCRIPT.getNoticeList({{pageNum}}, {{limit}})',
                                            ABOUT_IR_PAGE_VARIABLES.limit, 1, 8);
                                    </script>
                                </div>
                            </div>
                        </div>
                        <div data-element="tab__panel" class="tab__panel" aria-labelledby="plugin-tab-4" role="tabpanel"
                             tabindex="0" style="display: none;">
                            <!--iframe영역-->
                            <div class="iframe_wrap">
                                <div class="iframe_SearchCompany">
                                    <iframe title="공시 정보 frame" height="950"
                                            src="https://dart.fss.or.kr/html/search/SearchCompanyIR3_M.html?textCrpNM=00555874"
                                            frameborder="0" scrolling="no"></iframe>
                                </div>
                            </div>
                            <!--//iframe영역-->
                        </div>
                        <div data-element="tab__panel" class="tab__panel" aria-labelledby="plugin-tab-5" role="tabpanel"
                             tabindex="0" style="display: none;">
                            <div class="gray-box pc-search pc-search--flex footer-search">
                                <div class="input-wrap input--line">
                                    <div class="input-row">
                                        <div class="input-item select_box">
                                            <div class="input-box">
                                                <div class="select-wrap select-wrap--line">
                                                    <select class="select-wrap__select selected" title="검색분류 선택"
                                                            id="searchType2" style="height: 100%"><!-- 검색분류 선택 -->
                                                        <option value="0" selected="">제목</option><!-- 제목 -->
                                                        <option value="1">내용</option><!-- 내용 -->
                                                        <option value="2">제목+내용</option><!-- 제목+내용 -->
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="input-item">
                                            <div class="input-box">
                                                <div data-element="form" class="input">
                                                    <input type="text" data-element="input" id="searchText2"
                                                           class="input__text" value="" title="검색어 입력" required="">
                                                    <!-- 검색어 입력 -->
                                                    <button type="button" data-element="remove"
                                                            class="input__remove-button"><span class="hidden">삭제</span>
                                                    </button><!-- 삭제 -->
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="button-wrap button-wrap--center">
                                    <button type="button" class="button button--optional"
                                            onclick="ABOUT_IR_PAGE_SCRIPT.getNoticeList(1, ABOUT_IR_PAGE_VARIABLES.limit, false, 'N')">
                                        <span class="button__text">검색</span><!-- 검색 -->
                                    </button>
                                </div>
                            </div>
                            <div class="sub-section">
                                <div class="news footer_news" id="noticeList">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>

    </div>
</div>


<!--<footer.html>-->
<div th:replace="/user/fragment/footer.html :: footer"></div>
<!--</footer> 끝-->


<div id="ifmWrap" style="height:100%; display:none; overflow:auto; text-align:center; -webkit-overflow-scrolling:touch;">
    <iframe src="" width="100%" height="100%" name="popupChkApp"></iframe>
</div>


<!-- 공통 스크립트 선언 -->

<!--<div th:replace="/user/fragment/js :: js"></div>-->
<script type="text/javascript" src="/user/lib/js/lib.min.js"></script>
<script type="text/javascript" src="/user/lib/js/common.js"></script>
<script type="text/javascript" src="/user/lib/js/plugin.js"></script>

<!-- 공통 스크립트 선언 끝 -->

<!--body, html 주석은 위치 고정-->
</body>
</html>
<!--body, html 주석은 위치 고정 끝-->