<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org/">

<!--head-->
<div th:replace="/user/fragment/head :: head"></div>
<!--head 끝-->

<body id="bookingLayoutBody">

	<!--appAlert-->
	<div th:replace="/user/fragment/appAlert :: appAlert"></div>
	<!--appAlert 끝-->

	<!--header-->
	<div th:replace="/user/fragment/header :: header"></div>
	<!--header 끝-->

	<div id="body">

		<!-- Google Tag Manager (noscript) -->
		<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PD2BQQ4" height="0" width="0"
				style="display:none;visibility:hidden"></iframe></noscript>
		<!-- End Google Tag Manager (noscript) -->

		<div class="wrap wrap--booking NA pc-wide step-ui" hide-to-scroll=[&#034;.toast&#034;]>




			<div class="content" id="content">
				<main id="main" class="main ">

					<form id="frmNext" name="frmNext" method="post">
						<input type="hidden" id="pnrData" name="pnrData" value="">
						<input type="hidden" id="rpnr" name="rpnr" value="">
						<input type="hidden" id="payType" name="payType" value="">
						<input type="hidden" id="bookType" name="bookType" value="">
						<input type="hidden" id="tripType" name="tripType" value="">
						<input type="hidden" id="inflType" name="inflType" value="">
						<input type="hidden" id="domIntType" name="domIntType" value="">
						<input type="hidden" id="cultureCode" name="cultureCode" value="">
						<input type="hidden" id="cartData" name="cartData" value="">
						<input type="hidden" id="seatData" name="seatData" value="">
						<input type="hidden" id="emdInfo" name="emdInfo" value="">
						<input type="hidden" id="saleTypeCd" name="saleTypeCd" value="">
						<input type="hidden" id="productTypeCode" name="productTypeCode" value="">
						<input type="hidden" id="GAProducts" name="GAProducts" value="">
						<input type="hidden" id="selectedJourneys" name="selectedJourneys" value="">
						<input type="hidden" id="exchangePnrData" name="exchangePnrData" value="">
						<input type="hidden" id="totalPoint" name="totalPoint" value="" />
						<input type="hidden" id="isBizLiteClass" name="isBizLiteClass" value="" />
						<input type="hidden" id="resvDetailReq" name="resvDetailReq" value="" />
						<input type="hidden" id="bundleMaintain" name="bundleMaintain" value="" />
						<input type="hidden" id="ssrAgentId" name="ssrAgentId" value="" />

					</form>


					<div class="page-title-wrap">
						<div class="page-sub-title">추가 수하물로 <br class="mobile-only">마음까지 넉넉한 여행</div>
						<!-- 추가 수하물로 <br class="mobile-only">마음까지 넉넉한 여행 -->
						<div class="page-title-add">온라인 사전 구매 시 할인 혜택을 받을 수 있어요!</div>
						<!-- 사전 수하물은 가는 편 항공기 출발 24시간 전까지만 구매할 수 있어요! -->
					</div>




					<div id="divPanel" class="tab tab--scroll tab--icon tab--seat tab__scroll line2" data-element="tab"
						data-options='{"tabType": "scroll"}'>



						<div id="divBeforePanel" class="sticky-wrap">
							<div class="sticky__inner pc-large" data-sticky>
								<div class="tab__inner">
									<div id="divArrow" style="display: none">
										<button class="button tab__scroll-left" data-tab-direction="prev">
											<span class="hidden">왼쪽 탭으로 이동</span>
										</button>
										<button class="button tab__scroll-right" data-tab-direction="next">
											<span class="hidden">오른쪽 탭으로 이동</span>
										</button>
									</div>
									<div class="tab__scroll-wrap tab__scroll-wrap--full line2"
										data-element="tab__scroll-wrap">
										<div id="divPassengerTab" class="tab__buttons" data-element="tab__scroll"></div>
									</div>
									<!--  
							<div class="default-message" data-default-message>
								<i class="default-message__arrow" aria-hidden="true" style="left: 45px;"></i>
								<p class="default-message__text">번들 구매한 경우 10% 추가 할인됩니다.</p>
								<button type="button" class="default-message__close" aria-label="닫기"></button>
							</div> -->
									<!-- 번들 구매한 경우 10% 추가 할인됩니다. -->
								</div>
							</div>
						</div>

						<div id="divMCFBRFQ-" class="tab__panel is-active" data-element="tab__panel" aria-labelledby="plugin-tab-4" role="tabpanel" tabindex="0">
							<div class="sub-tab-wrap">
								<div class="sub-tab" style="display: none;">
									<button name="btnjourneysName" class="sub-tab-btn on" type="button">가는 편</button>
								</div>
								<div class="sub-tab__panel on">
									<div name="divBag" class="sub-section">
										<div class="section-title">
											<span class="icon icon-bag"></span>위탁 수하물
										</div>
										<div name="divXB0" class="button-list pc-flex pc-row3 pc-row3--baggage">
											<div name="divDefault" class="button-list__item selected" role="button" style="cursor:pointer">
												<div class="top-area">
													<div class="title">
														<span name="baggageValue" style="display: none">0</span>
														<span class="title__sub weight"><strong>0KG</strong></span>
														<span class="title__sub able">기본 제공 없음</span>
													</div>
													<div name="divSsrCode" style="display: none">XBXB</div>
												</div>
												<div class="bottom-area">
													<div class="price-wrap">
														<div class="price">
															<span>
																<span class="price_txt">0</span>
																<span class="unit">원</span>
															</span>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>

					</div>
				</main>
			</div>
		</div>


		<div id="divBottomSheet" class="booking-sticky booking-sticky--reservation" data-element="toggle"
			 data-options='{"mode": "slide"}'>
			<div class="reservation-container">
				<div class="booking-sticky__top">
					<div class="toggle-wrap toggle-wrap--button" style="display: flex; align-items: center">
						<div class="label" style="display: flex; align-items: center">
							<span>예상 결제금액</span>
						</div>

						<button id="btnSummary" type="button" class="summary" data-element="toggle__anchor">
							<span id="spanCost" class="cost"></span>
							<span id="spanPoint" class="point" style="display: none">+</span>
						</button>
					</div>

					<button type="button" class="button button--primary button--black pc-only"
							id="btnPrevPC" style="display: none">
						<span class="button__text">이전</span><!-- 이전 -->
					</button>

					<button type="button" class="button button--primary pc-only button--active pc-only"
							id="btnNextPC">
                                    <span id="spanNextPC" class="button__text"><a
											href="../seat_select/seat_select.html">오는 편 좌석 선택하기</a></span>
						<!-- 오는 편 좌석 선택하기 -->
					</button>
				</div>

				<div class="booking-sticky__bottom line -limitH" data-element="toggle__panel">
					<div class="title">
						<h3 class="title__section title__section--small">항목별 운임 상세</h3><!-- 항목별 운임 상세 -->
					</div>
					<h4 class="text__default text--bold">항공 운송료</h4><!-- 항공 운송료 -->
					<div id="airFreightCharges" class="itemize__item">
						<div class="flex-text" id="divFare">
							<div class="flex-text__title">항공운임</div><!-- 항공운임 -->
							<div class="flex-text__additional"></div>
						</div>
						<div class="flex-text" id="divTax">
							<div class="flex-text__title">공항시설 사용료</div><!-- 공항시설 사용료 -->
							<div class="flex-text__additional"></div>
						</div>
						<div class="flex-text" id="divFuel">
							<div class="flex-text__title">유류할증료</div><!-- 유류할증료 -->
							<div class="flex-text__additional"></div>
						</div>
					</div>

					<div id="extraServiceFee" class="conatinaer--default pc-20" style="display: none">
						<h4 class="text__default text--bold">부가서비스</h4><!-- 부가서비스 -->
						<div class="itemize__item">
							<div class="flex-text" id="divSeat">
								<div class="flex-text__title">좌석 선택</div><!-- 좌석 선택 -->
								<div class="flex-text__additional" id="divSeatFee"></div>
							</div>
							<div id="divBaggage" class="flex-text" style="display: none">
								<div class="flex-text__title">수하물</div><!-- 수하물 -->
								<div id="divBaggageFee" class="flex-text__additional"></div>
							</div>
							<div id="divMeal" class="flex-text" style="display: none">
								<div class="flex-text__title">기내식</div><!-- 기내식 -->
								<div id="divMealFee" class="flex-text__additional"></div>
							</div>
							<div id="divLounge" class="flex-text" style="display: none">
								<div class="flex-text__title">라운지</div><!-- 라운지 -->
								<div id="divLoungeFee" class="flex-text__additional"></div>
							</div>
							<div id="divInsu" class="flex-text" style="display: none">
								<div class="flex-text__title">여행자 보험</div><!-- 여행자 보험 -->
								<div id="divInsuFee" class="flex-text__additional"></div>
							</div>
						</div>
					</div>
				</div>

				<div class="button-wrap mobile-only">
					<button type="button" class="button button--primary button--black" id="btnPrevMobile"
							style="display: none">
						<span class="button__text">이전</span><!-- 이전 -->
					</button>

					<button type="button" class="button button--primary button--active" id="btnNextMobile">
                                    <span id="spanNextMobile" class="button__text"><a
											href="../seat_select/seat_select.html">오는 편 좌석 선택하기</a></span>
						<!-- 오는 편 좌석 선택하기 -->
					</button>
				</div>
			</div>
		</div>



		<!-- 부가서비스 건너뛰기-->
		<!-- IM00326752 4/14 건너뛰기 숨기기  <div id="divSkip" class="skip-wrap seat_skip is-active" style="display: none">
		<div class="skip-box">
			<p class="skip__text" text="다음에 구매할게요!">다음에 구매할게요!</p>
			<a href="javascript:void(0)" class="skip__link" onclick="ancillarySkipClick();" text="건너뛰기">건너뛰기</a>
		</div>
	</div> -->
		<!--//부가서비스 건너뛰기-->




		<!-- 공통 컨펌(타이틀 + 내용) -->
		<div id="divModalConfirm" class="modal modal--simple">
			<div class="modal-content">
				<h2 id="confirmTitle" class="alert-title"></h2>
				<p id="confirmText" class="alert-text"></p>
			</div>
			<div class="modal__button-area button-wrap">
				<button id="btnSkip" type="button" class="button button--secondary">
					<span class="button__text">건너뛰기</span><!-- 건너뛰기 -->
				</button>
				<button id="btnAdd" type="button" class="button button--secondary button--active add--ml-10">
					<span class="button__text">추가하기</span><!-- 추가하기 -->
				</button>
			</div>
			<a href="javascript:void(0)" rel="modal:close" class="modal__close">
				<span class="blind">닫기</span>
			</a>
		</div>
		<!-- // 공통 컨펌(타이틀 + 내용) -->

		<a href="javascript:void(0)" id="nonSelectConfirm" data-element="modal_anchor" data-target="#divModalConfirm"
			style="display: none">
			수하물 선택 안한 경우 confirm
		</a>

		<!-- alert 팝업 -->
		<div id="divAlertModalLayer" class="modal modal--simple">
			<div class="modal-content">
				<p id="alertText" class="alert-text"></p>
			</div>
			<div class="modal__button-area button-wrap"><button id="btnAlert" type="button"
					class="button button--secondary button--active" rel="modal:close"
					onclick="javascript:closeCurrentModal(this);"><span class="button__text">확인</span></button></div>
			<!-- 확인 -->
		</div>
		<div style="display: none;"><a href="#" data-element="modal_anchor" id="sessionLayer"
				data-target="#sessionLayerForm" data-modal-type="default"></a></div>

		<div id="sessionLayerForm" class="modal modal--simple modal-layer NA_1_23"></div>

		<div id="ancillaryRefundRullLayerForm"></div>
		<!-- 제휴카드 할인 레이어 -->
		<div id="partnerCardDiscountLayer" class="modal modal-full modal-scroll NA_1_31"></div>
		<button type="button" id="btnModalOpen" data-element="modal_anchor" style="display: none;"></button>
		</main>
	</div>
	</div>
	</div>

	<!-- footer -->
	<div th:replace="/user/fragment/footer :: footer"></div>
	<!-- / footer 끝 -->

	<!-- 공통 스크립트 선언 -->
	<script type="text/javascript" src="/user/lib/js/lib.min.js"></script>
	<script type="text/javascript" src="/user/lib/js/common.js"></script>
	<script type="text/javascript" src="/user/lib/js/plugin.js"></script>
	<script>
		const passengerNum = 4;
		let divFare = 55000;
		let divTax = 5000;
		let divFuel = 20000;
		const span = document.getElementById('spanCost');

		$('#divFare').find('.flex-text__additional')[0].innerHTML = divFare + ' 원';
		$('#divTax').find('.flex-text__additional')[0].innerHTML = divTax + ' 원';
		$('#divFuel').find('.flex-text__additional')[0].innerHTML = divFuel + ' 원';
		span.innerHTML = '<span className="price_txt">' + Number(divFare + divTax + divFuel) + '</span><span className="unit"> 원</span>';

		for (let i = 0; i < passengerNum; i++) {
			let passengerHTML = '<div class="tab__button" data-element="tab__list" role="presentation"><button class="tab__anchor" type="button" data-element="tab__anchor" onclick="btnMember_Click(this);" data-index="' + i + '" id="passenger"' + i + 'role="tab" tabindex="" select-seat="" aria-selected="true" aria-expanded="true"><span class="passenger"><span class="num">' + (i + 1) + '</span><strong class="name">임/성호</strong><span name="passengerTypeCode" style="display: none">ADT</span> <span name="passengerKey" style="display: none" value="' + i + '"></span><span name="unitKey" style="display: none"></span><span name="seat" class="seat" ></span><span name="variant" style="display: none"></span></span></button></div>'
			$('#divPassengerTab').append(passengerHTML);
		}





	</script>

	<div id="ifmWrap"
		style="height:100%; display:none; overflow:auto; text-align:center; -webkit-overflow-scrolling:touch;">
		<iframe src="" width="100%" height="100%" name="popupChkApp"></iframe>
	</div>
</body>

</html>