<html lang="ko"
	  xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org/">
<!--head-->
<div th:replace="/user/fragment/head :: head"></div>
<!--head 끝-->

<body id="subLayoutBody" class="vsc-initialized">


<!-- appAlert -->
<div th:replace="/user/fragment/appAlert :: appAlert"></div>
<!-- //appAlert 끝 -->

<!-- header -->
<div th:replace="/user/fragment/header :: header"></div>
<!-- //header 끝 -->


<div id="body">

	<!-- Google Tag Manager (noscript) -->
	<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PD2BQQ4" height="0" width="0"
					  style="display:none;visibility:hidden"></iframe></noscript>
	<!-- End Google Tag Manager (noscript) -->

	<div class="wrap wrap--button-fixed2 ND">


		<div id="breadcrumb" class="breadcrumb pc-only" aria-label="breadcrumb">
			<nav class="breadcrumb__inner">
				<div class="breadcrumb__item">
					<a href="javascript:;" class="breadcrumb__link">홈</a>
				</div>

				<div class="breadcrumb__item">
					<a href="javascript:;" class="breadcrumb__link">부가서비스 안내</a>
				</div>

				<div class="breadcrumb__item breadcrumb__item--current" aria-current="page" data-element="toggle" data-options="{&quot;mode&quot;: &quot;slide&quot;, &quot;speed&quot;: 100, &quot;clickToClose&quot;: true}">

					<button type="button" class="breadcrumb__link breadcrumb__link--list" data-element="toggle__anchor">보험
						상품</button>

					<div class="breadcrumb__siblings-list" data-element="toggle__panel">

						<a href="javascript:void(0);" class="item" onclick="URL_LINK.getI18Url('/additionalService/service/preorderedBaggage.do')">사전
							수하물</a>

						<a href="javascript:void(0);" class="item" onclick="URL_LINK.getI18Url('/additionalService/service/main.do')">부가서비스 소개</a>

						<a href="javascript:void(0);" class="item" onclick="URL_LINK.getI18Url('/additionalService/service/preorderedMeal.do')">사전 기내식</a>

						<a href="javascript:void(0);" class="item" onclick="URL_LINK.getI18Url('/additionalService/service/preorderedSeat.do')">사전 좌석</a>

						<a href="javascript:void(0);" class="item" onclick="URL_LINK.getI18Url('/additionalService/service/afterPayGuide.do')">나중에 결제</a>

						<a href="javascript:void(0);" class="item" onclick="URL_LINK.getI18Url('/additionalService/service/bundleGuide.do')">번들 묶음 구매</a>

						<a href="javascript:void(0);" class="item" onclick="URL_LINK.getI18Url('/additionalService/service/carringBagGuide.do')">자전거 캐링백
							서비스</a>
					</div>
				</div>

			</nav>
		</div>



		<div class="content" id="content">
			<main id="main" class="main ">

				<div class="page-title-wrap">
					<div class="page-title">보험 상품</div>
					<!--보험 상품-->
					<div class="page-sub-title">여행 중 발생 가능한 <br class="mobile-only">상해,질병,배상책임손해를 <br class="mobile-only">보장하는
						보험입니다.</div>
					<!--여행 중 발생 가능한 <br class="mobile-only">상해, 질병, 배상 책임손해 <br class="mobile-only">보장하는 보험입니다.-->
				</div>
				<div class="banner">
					<div class="banner_single-img" style="background-image: url(https://static.jejuair.net/hpgg/resources/images/@temp/insurancebanner.png);">
					</div>
				</div>

				<div class="tab tab--default" data-element="tab">
					<div class="tab__buttons">
						<div class="tab__button" data-element="tab__list">
							<button class="tab__anchor is-active" type="button" data-element="tab__anchor">해외여행</button>
							<!--해외여행-->
						</div>
						<div class="tab__button" data-element="tab__list">
							<button class="tab__anchor" type="button" data-element="tab__anchor">국내여행</button>
							<!--국내여행-->
						</div>
					</div>
					<!-- 해외 여행 -->
					<div class="tab__panel" data-element="tab__panel">
						<div class="list-wrap">
							<div class="section-title">해외여행보험 (에이스손해보험)</div>
							<!--해외여행자 보험-->
							<div class="section-sub-title">편안한 여행의 시작, 해외여행보험 준비는 필수
								<br>
								<br>
								혜택1. 해외 치료비 최대 7천만원 보장<br>
								제주항공을 통해 에이스손해보험 Chubb 여행보험 가입 시 최대 7천만원까지 가입 가능 합니다. (고급형 기준)<br>
								<br>
								혜택2. 24시간 긴급의료지원서비스<br>
								해외여행 중 긴급한 상황 발싱 시, 세계 어느 곳에서나 24시간 한국어로 현지 병원 수배, 현지 병원 담당자와 통역 서비스 등 필요한 서비스를 받을 수
								있습니다.
							</div>
							<!--편안한 여행의 시작, 해외여행보험 준비는 필수-->
							<ul class="list-guide">
								<li class="list-guide__item">해외여행, 출장 등을 목적으로 주거지를 출발하여 여행을 마치고 주거지에 도착할 때까지 발생되는
									상해사고, 질병 등의 위험을 보장해주는 보험입니다. (특약가입시)</li>
								<li class="list-guide__item">Chubb 여행보험 콜센터 : 1666-5075<br>Chubb 24시간 긴급의료지원서비스
									(Chubb Assistance) : 02-3499-3500</li>
							</ul>
						</div>

						<div class="fixed-wrap button-wrap section-wrap">
							<button type="button" class="button button--primary button--active" data-target-open="sheet01"><span class="button__text">가입</span></button>
							<!--가입-->
						</div>

					</div>
					<!-- //해외 여행 -->

					<!-- 국내 여행 -->
					<div class="tab__panel" data-element="tab__panel">
						<div class="list-wrap">
							<div class="section-title">국내여행보험 (에이스손해보험)</div>
							<div class="section-sub-title">안전한 국내여행의 시작, 국내여행이라고 잊지 마세요</div>
							<!--국내여행이라고 잊지 마세요.<br>안전한 국내여행의 시작, 에이스손해보험-->
							<ul class="list-guide">
								<!--국내 여행자 보험-->
								<li class="list-guide__item">
									국내여행, 출장 등을 목적으로 주거지를 출발하여 여행을 마치고 주거지에 도착할 때까지 발생되는 상해사고, 질병 등의 위험을 보장해주는
									보험입니다. (특약가입시)
								</li>
								<li class="list-guide__item">Chubb 여행보험 콜센터 : 1666-5075<br>Chubb 24시간 긴급의료지원서비스
									(Chubb Assistance) : 02-3499-3500</li>
							</ul>
						</div>

						<div class="fixed-wrap button-wrap section-wrap">
							<button type="button" class="button button--primary button--active" data-target-open="sheet02"><span class="button__text">가입</span></button>
						</div>
					</div>
					<!-- //국내 여행 -->
				</div>



				<!-- 해외 여행자 보험 -->
				<div data-target="sheet01" class="bottom-sheet ND_4" data-element="bottomSheet">
					<div class="bottom-sheet__top">
						<div class="title">
							<h2 class="title__main">해외여행보험 (에이스손해보험)</h2>
						</div>
					</div>
					<div class="bottom-sheet__bot bottom-sheet__bot--button">
						<div class="list-wrap" id="termBox1"></div>
					</div>
					<div class="fixed-wrap button-wrap pc-center pc-30">
						<button type="button" class="button button--primary button--active" id="joinInsurance1"><span class="button__text">동의 후 가입</span></button>
						<!--동의 후 가입-->
					</div>
					<button type="button" class="bottom-sheet__button-close" data-element="bottomSheet__button-close" aria-label="하단시트 닫기"></button>
				</div>
				<!-- //해외 여행자 보험 -->

				<!-- 국내 여행자 보험 -->
				<div data-target="sheet02" class="bottom-sheet ND_4" data-element="bottomSheet">
					<div class="bottom-sheet__top">
						<div class="title">
							<h2 class="title__main">국내여행보험 (에이스손해보험)</h2>
						</div>
					</div>
					<div class="bottom-sheet__bot bottom-sheet__bot--button ">
						<div class="list-wrap" id="termBox2"></div>
					</div>
					<div class="fixed-wrap button-wrap pc-center pc-30">
						<button type="button" class="button button--primary button--active" id="joinInsurance2"><span class="button__text">동의 후 가입</span></button>
					</div>
					<button type="button" class="bottom-sheet__button-close" data-element="bottomSheet__button-close" aria-label="하단시트 닫기"></button>
				</div>
				<!-- //국내 여행자 보험 -->
			</main>
		</div>

	</div>
</div>


<!-- footer -->
<div th:replace="user/fragment/footer :: footer"></div>
<!-- / footer 끝 -->

<div id="ifmWrap" style="height:100%; display:none; overflow:auto; text-align:center; -webkit-overflow-scrolling:touch;">
	<iframe src="" width="100%" height="100%" name="popupChkApp"></iframe>
</div>


<!-- 공통 스크립트 선언 -->

<!--<div th:replace="/user/fragment/js :: js"></div>-->
<script type="text/javascript" src="/user/lib/js/lib.min.js"></script>
<script type="text/javascript" src="/user/lib/js/common.js"></script>
<script type="text/javascript" src="/user/lib/js/plugin.js"></script>

<!-- 공통 스크립트 선언 끝 -->

<!--body, html 주석은 위치 고정-->
</body>
</html>
<!--body, html 주석은 위치 고정 끝-->
