
<html lang="ko"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org/">
<div id="footer" class="footer pc-only">
    <!-- pc -->
    <footer class="footer__inner">
        <!-- 상단 푸터 -->
        <div class="footer__top">
            <div class="footer__top-item">
                <a href="javascript:void(0);" class="footer__top-link" data-action="menu" data-menu-name="about">제주항공 소개</a>
            </div>
            <div class="footer__top-item">
                <a href="javascript:void(0);" class="footer__top-link" data-action="menu" data-menu-name="irNotice">투자정보</a>
            </div>
            <div class="footer__top-item">
                <a href="javascript:void(0);" class="footer__top-link" data-action="menu" data-menu-name="incruit">채용안내</a>
            </div>
            <div class="footer__top-item">
                <a href="javascript:void(0);" class="footer__top-link" data-action="menu" data-menu-name="carriageTemrs">여객운송약관</a>
            </div>
            <div class="footer__top-item">
                <a href="javascript:void(0);" class="footer__top-link" data-action="menu" data-menu-name="homepageTerms">홈페이지 이용약관</a>
            </div>
            <div class="footer__top-item footer__top-item--privacy">
                <a href="javascript:void(0);" class="footer__top-link" data-action="menu" data-menu-name="personalTerms">개인정보처리방침</a>
            </div>
            <div class="footer__top-item">
                <a href="javascript:void(0);" class="footer__top-link" data-action="menu" data-menu-name="sitemap">사이트맵</a>
            </div>

            <!-- family site -->
            <div class="footer__top-item footer__top-item--family">
                <div class="family-wrap" data-element="toggle" data-options='{"mode": "slide", "speed": 100, "clickToClose": true}'>
                    <button type="button" class="button-family" data-element="toggle__anchor">Family Site</button>
                    <div class="family-list" data-element="toggle__panel">
                        <a href="javascript:void(0);" class="family-link" data-action="menu" data-menu-name="familyAekyung">㈜애경산업</a>
                        <a href="javascript:void(0);" class="family-link" data-action="menu" data-menu-name="familyAtecltd">㈜에이텍</a>
                        <a href="javascript:void(0);" class="family-link" data-action="menu" data-menu-name="familyAekyngst">애경S.T</a>
                        <a href="javascript:void(0);" class="family-link" data-action="menu" data-menu-name="familyAkis">에이케이아이에스㈜</a>
                        <a href="javascript:void(0);" class="family-link" data-action="menu" data-menu-name="familyAdmission">애드미션</a>
                        <a href="javascript:void(0);" class="family-link" data-action="menu" data-menu-name="familyNeopharm">네오팜</a>
                        <a href="javascript:void(0);" class="family-link" data-action="menu" data-menu-name="familyAkp">애경유화㈜</a>
                        <a href="javascript:void(0);" class="family-link" data-action="menu" data-menu-name="familyAkc">애경화학㈜</a>
                        <a href="javascript:void(0);" class="family-link" data-action="menu" data-menu-name="familyAkchemtech">에이케이켐텍</a>
                        <a href="javascript:void(0);" class="family-link" data-action="menu" data-menu-name="familyKospa">코스파</a>
                        <a href="javascript:void(0);" class="family-link" data-action="menu" data-menu-name="familyAkplaza">AK PLAZA</a>
                        <a href="javascript:void(0);" class="family-link" data-action="menu" data-menu-name="familyAekyunggroup">AK홀딩스</a>
                        <a href="javascript:void(0);" class="family-link" data-action="menu" data-menu-name="familyAkdjbcc">애경개발</a>
                    </div>
                </div>
            </div>
            <!-- / family site 끝 -->
        </div>
        <!-- / 상단 푸터 끝 -->

        <hr class="footer__spacer">

        <!-- 하단 푸터 -->
        <div class="footer__bottom">
            <a href="#" class="footer__logo"  data-action="menu" data-menu-name="main">
                <img src="/user/lib/images/JEJUair-Logo-gray.png" alt="제주항공로고" loading="lazy"/>
            </a>

            <div class="footer__bottom-contents">
                <div class="footer__bottom-info">
                    <div class="info-item">
                        <a href="javascript:URL_LINK.getI18Url('/terms/page/transportationServicePlan.do');" class="link">항공교통이용자 서비스 계획</a>
                    </div>
                    <div class="info-item">
                        <a href="javascript:URL_LINK.getI18Url('https://www.avsec365.or.kr/');" class="link">항공위험물안내 </a>
                    </div>
                    <div class="info-item">
                        <a href="javascript:URL_LINK.getI18Url('https://static.jejuair.net/hpgg/resources/pdf/Application_for_Damage_Redress.pdf');" class="link">항공교통이용자 피해구제 계획</a>
                    </div>
                    <div class="info-item">
                        <a href="javascript:URL_LINK.getI18Url('https://static.jejuair.net/cms/images/file_upload/20211119133243857.pdf');" class="link">항공안전투자공시</a>
                    </div>
                </div>


                <div class="footer__bottom-util">
                    <a href="javascript:void(0);" class="util-app-ios" data-action="menu" data-menu-name="iOSBtn"><img src="/user/lib/images/icon-footer-app-ios.png" alt="" loading="lazy"> IOS</a>
                    <a href="javascript:void(0);" class="util-app-aos" data-action="menu" data-menu-name="AndroidBtn"><img src="/user/lib/images/icon-footer-app-aos.png" alt="" loading="lazy"> Android</a>
                </div>


                <p class="footer__bottom-address"><span>사업자등록번호 : 616-81-50527</span><span>대표이사 : 김이배</span><br>
                    제주특별자치도 제주시 신대로 64(연동, 건설공제회관 3층)
                </p>
                <p class="footer__bottom-copy">Copyright ⓒ JEJUAIR. All Rights Reserved.</p>
            </div>
        </div>
        <!-- / 하단 푸터 끝 -->
    </footer>
    <!-- //pc 끝 -->
</div>
</html>