<html lang="ko"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org/">

<!--head-->
<div th:replace="/user/fragment/head :: head"></div>
<!--head 끝-->

<body id="subLayoutBody" class="isPc vsc-initialized">

<!--appAlert-->
<div th:replace="/user/fragment/appAlert :: appAlert"></div>
<!--appAlert 끝-->


<!--header-->
<div th:replace="/user/fragment/header :: header"></div>
<!--header 끝-->


<div id="body">

    <!-- Google Tag Manager (noscript) -->
    <noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PD2BQQ4" height="0" width="0"
                style="display:none;visibility:hidden"></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->

    <div class="wrap wrap--no-pab GD">


        <div id="breadcrumb" class="breadcrumb pc-only" aria-label="breadcrumb">
            <nav class="breadcrumb__inner">
                <div class="breadcrumb__item">
                    <a href="javascript:;" class="breadcrumb__link" style="cursor: default;">홈</a>
                </div>


                <div class="breadcrumb__item">
                    <a href="javascript:;" class="breadcrumb__link" style="cursor: default;">마이페이지</a>
                </div>


                <div class="breadcrumb__item breadcrumb__item--current" aria-current="page" data-element="toggle"
                     data-options="{&quot;mode&quot;: &quot;slide&quot;, &quot;speed&quot;: 100, &quot;clickToClose&quot;: true}">


                    <button type="button" class="breadcrumb__link breadcrumb__link--list" data-element="toggle__anchor"
                            aria-controls="toggle-2" aria-expanded="false">나의 예약 현황
                    </button>


                    <div class="breadcrumb__siblings-list" data-element="toggle__panel" id="toggle-2">


                        <a href="javascript:void(0);" class="item"
                           onclick="location.href='/user/my_history';">나의 탑승 내역</a>


                        <!--                        <a href="javascript:void(0);" class="item"-->
                        <!--                           onclick="location.href='/user/inter_price';">나의 기프티켓</a>-->


                        <a href="javascript:void(0);" class="item"
                           onclick="location.href='/user/info_edit_mypage';">회원정보 조회</a>


                        <a href="javascript:void(0);" class="item"
                           onclick="location.href='/user/mypage_main_member';">마이페이지 메인</a>


                    </div>
                </div>


            </nav>
        </div>


        <div class="content" id="content">
            <main id="main" class="main ">


                <form id="formDetail" name="formDetail" method="post" target="_self">
                    <input type="hidden" name="resvDetailReq" value="">
                    <input type="hidden" name="domIntType" value="">
                    <input type="hidden" name="rpnr" value="">
                </form>

                <form id="formExchange" name="formExchange" method="post" target="_self">
                    <input type="hidden" name="pnrData" value="">
                    <input type="hidden" name="processType" value="">
                    <input type="hidden" name="tripType" value="">
                    <input type="hidden" name="domIntType" value="">
                    <input type="hidden" name="rpnr" value="">
                </form>

                <form id="formCheckin" name="formCheckin" method="post" target="_self">
                    <input type="hidden" name="checkinReq" value="">
                </form>

                <form id="formAutoBoardingPass" name="formAutoBoardingPass" method="post" target="_self">
                    <input type="hidden" name="resvDetailReq" value="">
                    <input type="hidden" name="domIntType" value="">
                    <input type="hidden" name="viewFlag" value="">
                    <input type="hidden" name="passengerObj" value="">
                </form>
                <div class="page-title-wrap pc-only">
                    <div class="page-title">예약현황</div>
                </div>
                <div class="container--small pc-15" style="display: none;" id="divResvList">
                    <div class="pc-flex1 pc-flex--boarding1 boarding-list-pc" id="reservationList"></div>
                </div>
                <div data-show="true" class="more-wrap -page-none">
                    <button type="button" class="more__button" onclick="moreResvList();" id="resvListBtnMore"
                            style="display: none;"><span class="more__button-text"><span>더보기</span></span></button>
                </div>

                <div class="finish-item-wrap" style="" id="divResvNoList">
                    <div class="finish-item nodata">
                        <div class="finish-item__img">
                            <img src="/user/lib/images/icon-nodata-03.png" alt="">
                        </div>
                        <p class="finish-item__title">예매하신 여정이 없습니다.</p>
                        <div class="container--large pc-40">
                            <div class="button-wrap button-wrap--center">
                                <button type="button" class="button button--secondary button--active"
                                        onclick="location.href='../booking/Availability.do'">
                                    <span class="button__text">항공권 조회</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>


                <button type="button" id="btnModalOpen" data-element="modal_anchor" style="display: none;"></button>

                <div id="alertModalLayer" class="modal modal--simple">
                    <div class="modal-content"><p class="alert-text"></p></div>
                    <div class="modal__button-area button-wrap">
                        <button type="button" class="button button--secondary button--active" rel="modal:close"
                                onclick="javascript:closeCurrentModal(this);"><span class="button__text">확인</span>
                        </button>
                    </div>
                </div>

                <div id="untkForm" class="modal modal-full modal-scroll" data-width="910">
                    <div class="modal-header">
                        <div class="modal-header__title"><span>항공편 스케줄 변경 안내</span></div>
                    </div>
                    <div class="modal-content"></div>
                </div>
            </main>
        </div>

    </div>
</div>


<div id="footer" class="footer pc-only">

    <!-- pc -->
    <footer class="footer__inner">
        <div class="footer__top">
            <div class="footer__top-item">
                <a href="javascript:void(0);" class="footer__top-link" data-action="menu"
                   data-menu-name="about">회사소개</a>
            </div>

            <div class="footer__top-item">
                <a href="javascript:void(0);" class="footer__top-link" data-action="menu" data-menu-name="esg">ESG
                    경영</a>
            </div>


            <div class="footer__top-item">
                <a href="javascript:void(0);" class="footer__top-link" data-action="menu"
                   data-menu-name="irNotice">투자정보</a>
            </div>


            <div class="footer__top-item">
                <a href="javascript:void(0);" class="footer__top-link" data-action="menu"
                   data-menu-name="incruit">채용안내</a>
            </div>

            <div class="footer__top-item">
                <a href="javascript:void(0);" class="footer__top-link" data-action="menu"
                   data-menu-name="carriageTemrs">여객운송약관</a>
            </div>
            <div class="footer__top-item">
                <a href="javascript:void(0);" class="footer__top-link" data-action="menu"
                   data-menu-name="homepageTerms">홈페이지 이용약관</a>
            </div>
            <div class="footer__top-item footer__top-item--privacy">
                <a href="javascript:void(0);" class="footer__top-link" data-action="menu"
                   data-menu-name="personalTerms">개인정보처리방침</a>
            </div>
            <div class="footer__top-item">
                <a href="javascript:void(0);" class="footer__top-link" data-action="menu"
                   data-menu-name="sitemap">사이트맵</a>
            </div>

            <div class="footer__top-item footer__top-item--family">
                <div class="family-wrap" data-element="toggle"
                     data-options="{&quot;mode&quot;: &quot;slide&quot;, &quot;speed&quot;: 100, &quot;clickToClose&quot;: true}">
                    <button type="button" class="button-family" data-element="toggle__anchor" aria-controls="toggle-3"
                            aria-expanded="false">Family Site
                    </button>
                    <div class="family-list" data-element="toggle__panel" id="toggle-3">
                        <a href="javascript:void(0);" class="family-link" data-action="menu"
                           data-menu-name="familyAekyung">㈜애경산업</a>
                        <a href="javascript:void(0);" class="family-link" data-action="menu"
                           data-menu-name="familyAtecltd">㈜에이텍</a>
                        <a href="javascript:void(0);" class="family-link" data-action="menu"
                           data-menu-name="familyAekyngst">애경S.T</a>
                        <a href="javascript:void(0);" class="family-link" data-action="menu"
                           data-menu-name="familyAkis">에이케이아이에스㈜</a>
                        <a href="javascript:void(0);" class="family-link" data-action="menu"
                           data-menu-name="familyAdmission">애드미션</a>
                        <a href="javascript:void(0);" class="family-link" data-action="menu"
                           data-menu-name="familyNeopharm">네오팜</a>
                        <a href="javascript:void(0);" class="family-link" data-action="menu" data-menu-name="familyAkp">애경유화㈜</a>
                        <a href="javascript:void(0);" class="family-link" data-action="menu" data-menu-name="familyAkc">애경화학㈜</a>
                        <a href="javascript:void(0);" class="family-link" data-action="menu"
                           data-menu-name="familyAkchemtech">에이케이켐텍</a>
                        <a href="javascript:void(0);" class="family-link" data-action="menu"
                           data-menu-name="familyKospa">코스파</a>
                        <a href="javascript:void(0);" class="family-link" data-action="menu"
                           data-menu-name="familyAkplaza">AK PLAZA</a>
                        <a href="javascript:void(0);" class="family-link" data-action="menu"
                           data-menu-name="familyAekyunggroup">AK홀딩스</a>
                        <a href="javascript:void(0);" class="family-link" data-action="menu"
                           data-menu-name="familyAkdjbcc">애경개발</a>
                    </div>
                </div>
            </div>

        </div>
        <hr class="footer__spacer">
        <div class="footer__bottom">


            <a href="#" class="footer__logo" data-action="menu" data-menu-name="main" style="background: ;">
                <img src="https://static.jejuair.net/cms/images/banner_image/20211108172526406.png" alt="제주항공로고"
                     loading="lazy">
            </a>

            <div class="footer__bottom-contents">


                <div class="footer__bottom-info">


                    <div class="info-item">
                        <a href="javascript:URL_LINK.getI18Url('/terms/page/transportationServicePlan.do');"
                           class="link">항공교통이용자 서비스 계획</a>
                    </div>


                    <div class="info-item">
                        <a href="javascript:URL_LINK.getI18Url('https://static.jejuair.net/hpgg/resources/pdf/Application_for_Damage_Redress.pdf');"
                           class="link">항공교통이용자 피해구제 계획</a>
                    </div>


                    <div class="info-item">
                        <a href="javascript:URL_LINK.getI18Url('https://www.avsec365.or.kr/');"
                           class="link">항공위험물안내 </a>
                    </div>


                    <div class="info-item">
                        <a href="javascript:URL_LINK.getI18Url('http://static.jejuair.net/cms/images/file_upload/20220628173251946.pdf');"
                           class="link">항공안전투자공시</a>
                    </div>

                </div>


                <div class="footer__bottom-util">
                    <a href="javascript:void(0);" class="util-app-ios" data-action="menu" data-menu-name="iOSBtn"><img
                            src="https://static.jejuair.net/hpgg/resources/images/icon/icon-footer-app-ios.png" alt=""
                            loading="lazy"> IOS</a>
                    <a href="javascript:void(0);" class="util-app-aos" data-action="menu"
                       data-menu-name="AndroidBtn"><img
                            src="https://static.jejuair.net/hpgg/resources/images/icon/icon-footer-app-aos.png" alt=""
                            loading="lazy"> Android</a>
                </div>

                <p class="footer__bottom-address"><span>사업자등록번호 : 616-81-50527</span><span>대표이사 : 김이배</span><br>
                    제주특별자치도 제주시 신대로 64(연동, 건설공제회관 3층)</p>
                <p class="footer__bottom-copy">Copyright ⓒ JEJUAIR. All Rights Reserved.</p>

            </div>
        </div>
    </footer>
    <!-- //pc -->

</div>


<!-- footer -->
<div th:replace="/user/fragment/footer :: footer"></div>
<!-- / footer 끝 -->


<div id="ifmWrap"
     style="height:100%; display:none; overflow:auto; text-align:center; -webkit-overflow-scrolling:touch;">
    <iframe src="" width="100%" height="100%" name="popupChkApp"></iframe>
</div>


<!-- 공통 스크립트 선언 -->
<script type="text/javascript" src="/user/lib/js/lib.min.js"></script>
<script type="text/javascript" src="/user/lib/js/common.js"></script>
<script type="text/javascript" src="/user/lib/js/plugin.js"></script>
<script type="text/javascript" src="/user/lib/js/head/head.js"></script>

</body>

</html>