<!DOCTYPE html>
<html lang="ko"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org/" xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>제주항공 | 운항스케줄 조회</title>
    <link rel="stylesheet" type="text/css" href="/admin/lib/css/common.css">
    <link rel="icon" href="/admin/lib/images/favicon.ico">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

</head>


<body>
    <div class="container" value="0-1">
        <div th:replace="/admin/fragment/menu :: menu"></div>

        <div class="containerbody" >
            <!-- main -->
            <div id="category" value="flight_schedule"></div>
            <div class="main">
                <div class="details">
                    <!-- order details list -->
                    <div class="recentOrders">
                        <div class="calheader">
                            <h2>운항스케줄 조회</h2>
                        </div>
                        <div class="scheduleSearch">
                            <form action="#">
                                <div class="wrapper">
                                    <fieldset class="selectDiv">
                                        <select name="menu" id="menu-select">
                                            <option value="all">전체</option>
                                            <option value="aircraft">항공기명</option>
                                            <option value="destination">출발지</option>
                                            <option value="arrival">도착지</option>
                                        </select>
                                        <input type="text" class="searchBox" title="검색어를 입력하세요"
                                            placeholder="검색어를 입력하세요">
                                            <button type="submit" class="button search" value="검색">검색</button>
                                    </fieldset>
                                </div>
                            </form>
                        </div>
                        <table>
                            <thead>
                                <tr class="topbanner">
                                    <td class="no">NO</td>
                                    <td class="airplaneName">항공기명</td>
                                    <td class="departureTime">출발일자</td>
                                    <td class="departureTime">출발시간</td>
                                    <td class="departureLocation">출발지</td>
                                    <td class="arrivalTime">도착일자</td>
                                    <td class="arrivalLocation">도착지</td>
                                    <td class="arriveTime">도착시간</td>
                                    <td class="regdate">등록일시</td>
                                </tr>
                            </thead>

                            <tbody id="itemList">
                                <tr v-for="(dto,i) in itemList"
                                    :key="i"
                                    @click="location.href=`/admin/flight_schedule/view/${dto.schIdx}`">
                                    <td class="sch_idx"><a :href=`/admin/flight_schedule/view/${dto.schIdx}`>{{dto.schIdx}}</a></td>
                                    <td class="sch_aircraft_name">{{dto.schAircraftName}}</td>
                                    <td class="sch_departure_date">{{dto.schDepartureDate}}</td>
                                    <td class="sch_departure_time">{{dto.schDepartureTime}}</td>
                                    <td class="sch_departure">{{dto.schDeparture}}</td>
                                    <td class="sch_arrival_date">{{dto.schArrivalDate}}</td>
                                    <td class="sch_arrival_time">{{dto.schArrivalTime}}</td>
                                    <td class="sch_arrival">{{dto.schArrival}}</td>
                                    <td class="sch_reg_date">{{dto.schRegDate}}</td>
                                </tr>

                            </tbody>
                        </table>
                        <div class="paging" id="pageNum"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--아이콘 사용을 위한 설치 스크립트-->
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <script src="/admin/lib/js/common.js"> </script>
    <script src="/admin/lib/js/pagination.js"></script>

</body>

</html>