<html lang="ko"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org/">
<!--head-->
<div th:replace="/user/fragment/head :: head"></div>
<!--head 끝-->


<body id="subLayoutBody" class="isPc vsc-initialized">



<!-- appAlert -->
<div th:replace="/user/fragment/appAlert :: appAlert"></div>
<!-- //appAlert 끝 -->

<!-- header -->
<div th:replace="/user/fragment/header :: header"></div>
<!-- //header 끝 -->


<div id="body">

    <!-- Google Tag Manager (noscript) -->
    <noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PD2BQQ4" height="0" width="0"
                style="display:none;visibility:hidden"></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->

    <div class="wrap wrap--no-pab">


        <div id="breadcrumb" class="breadcrumb pc-only" aria-label="breadcrumb">
            <nav class="breadcrumb__inner">
                <div class="breadcrumb__item">
                    <a href="javascript:;" class="breadcrumb__link" style="cursor: default;">홈</a>
                </div>


                <div class="breadcrumb__item">
                    <a href="javascript:;" class="breadcrumb__link" style="cursor: default;">탑승 수속 안내</a>
                </div>


                <div class="breadcrumb__item breadcrumb__item--current" aria-current="page" data-element="toggle"
                     data-options="{&quot;mode&quot;: &quot;slide&quot;, &quot;speed&quot;: 100, &quot;clickToClose&quot;: true}">


                    <button type="button" class="breadcrumb__link breadcrumb__link--list" data-element="toggle__anchor"
                            aria-controls="toggle-2" aria-expanded="false">수하물
                    </button>


                    <div class="breadcrumb__siblings-list" data-element="toggle__panel" id="toggle-2">


                        <a href="javascript:void(0);" class="item"
                           onclick="URL_LINK.getI18Url('/ibe/checkin/viewCheckin.do')">모바일 탑승권</a>


                        <a href="javascript:void(0);" class="item"
                           onclick="URL_LINK.getI18Url('/linkService/airport/info.do')">공항 정보</a>


                        <a href="javascript:void(0);" class="item"
                           onclick="URL_LINK.getI18Url('/linkService/fastProcedure/guide.do')">빠른 수속</a>


                        <a href="javascript:void(0);" class="item"
                           onclick="URL_LINK.getI18Url('/linkService/help/main.do')">도움이 필요한 고객</a>


                    </div>
                </div>


            </nav>
        </div>


        <div class="content" id="content">
            <main id="main" class="main ">

                <div class="page-title-wrap">
                    <div class="page-title">운송제한 물품</div>
                    <div class="page-sub-title">여행 시 제한되는 수하물이 있으니 미리 꼭 확인해 주세요.</div>
                </div>


                <!-- 제한 물품 컨텐츠 선택 -->
                <div class="select-wrap select-wrap--line mobile-only">
                    <select title="운송 제한 물품 선택" class="select-wrap__select ctg">
                        <option value="1">반입 제한 품목 안내</option>
                        <option value="2">면세점 구입 물품</option>
                        <option value="3">기타 여객운송 위험물</option>
                    </select>
                </div>

                <div class="common-tab pc-only pc-30">
                    <a href="javascript: void(0)" class="common-tab-btn active">반입 제한 품목 안내</a>
                    <a href="javascript: void(0)" class="common-tab-btn">면세점 구입 물품</a>
                    <a href="javascript: void(0)" class="common-tab-btn">기타 여객운송 위험물</a>
                </div>
                <!-- 제한 물품 컨텐츠 선택 -->

                <!-- 반입 제한 품목 안내 -->
                <div class="restricted show ">
                    <div class="limit-artical">
                        <div class="limit-artical__item">


                            <a href="#"
                               onclick="window.open('https://static.jejuair.net/hpgg/resources/pdf/baggLimit.pdf')"
                               class="icon-01">
                                <p class="limit-artical__title">안전한 여행을 <br class="mobile-only">위한 항공기 <br
                                        class="mobile-only">반입금지물품</p>
                            </a>


                        </div>
                        <div class="limit-artical__item icon-02">


                            <a href="#" onclick="window.open('https://www.avsec365.or.kr')" class="icon-02">
                                <p class="limit-artical__title">위탁 수하물 <br class="mobile-only">운송 제한</p>
                            </a>


                        </div>
                    </div>

                    <div class="section-wrap">
                        <div class="accordion accordion--default">
                            <div data-element="accordion" class="accordion__group" role="presentation">
                                <div data-element="accordion__item" class="accordion__item">
                                    <a href="#" data-element="accordion__anchor" class="accordion__anchor is-active"
                                       id="plugin-accordion-4" aria-expanded="false"
                                       aria-controls="plugin-accordion-4-panel">
                                        <div class="accordion__text">부치는 짐 물품</div>
                                    </a>
                                    <div data-element="accordion__panel" class="accordion__panel is-active"
                                         aria-labelledby="plugin-accordion-4" role="region" style="display: none;">
                                        <div class="accordion__text accordion__text--limit">
                                            <div class="limit-img img-01">
                                                <img src="https://static.jejuair.net/hpgg/resources/images/etc/limit-01.png"
                                                     alt="객실반입(기내휴대) 물품 이미지">
                                            </div>
                                            <div class="limit-text-wrap">
                                                <div class="limit-text">
                                                    <p class="limit-text__title">칼‧가위류</p>
                                                    <p class="limit-text__desc">과도, 커터칼, 접이식 칼, 6CM 초과하는 가위</p>
                                                </div>
                                                <div class="limit-text">
                                                    <p class="limit-text__title">공구류</p>
                                                    <p class="limit-text__desc">드릴날, 망치 6CM 초과하는 드라이버 10CM 초과하는 렌치,
                                                        스패너</p>
                                                </div>
                                                <div class="limit-text">
                                                    <p class="limit-text__title">총기류, 호신용품류</p>
                                                    <p class="limit-text__desc">실탄(공포탄), 총기부품</p>
                                                </div>
                                                <div class="limit-text">
                                                    <p class="limit-text__title">스포츠용품류</p>
                                                    <p class="limit-text__desc">골프채 야구 배트, 아령</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div data-element="accordion__item" class="accordion__item">
                                    <a href="#" data-element="accordion__anchor" class="accordion__anchor"
                                       id="plugin-accordion-5" aria-expanded="false"
                                       aria-controls="plugin-accordion-5-panel">
                                        <div class="accordion__text">객실반입(기내휴대) 물품</div>
                                    </a>
                                    <div data-element="accordion__panel" class="accordion__panel"
                                         aria-labelledby="plugin-accordion-5" role="region" style="display: none;">
                                        <div class="accordion__text accordion__text--limit">
                                            <div class="limit-img img-02">
                                                <img src="https://static.jejuair.net/hpgg/resources/images/etc/limit-02.png"
                                                     alt="부치는 침 물품 이미지">
                                            </div>
                                            <div class="limit-text-wrap">
                                                <div class="limit-text">
                                                    <p class="limit-text__title">일회용 라이터</p>
                                                    <p class="limit-text__desc">1인당 1개까지 객실 반입 가능</p>
                                                </div>
                                                <div class="limit-text">
                                                    <p class="limit-text__title">보조배터리</p>
                                                    <p class="limit-text__desc">100Wh 이하 5개, 100Wh-160Wh 2개까지 객실 반입
                                                        가능<br>100wh 이하 보조베터리의 경우 의료용 등 목적에 따라 항공사 승인을 통해 6개 이상 반입 가능(최대
                                                        20개)</p>
                                                </div>
                                                <div class="limit-text">
                                                    <p class="limit-text__title">전자 담배</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div data-element="accordion__item" class="accordion__item">
                                    <a href="#" data-element="accordion__anchor" class="accordion__anchor"
                                       id="plugin-accordion-6" aria-expanded="false"
                                       aria-controls="plugin-accordion-6-panel">
                                        <div class="accordion__text">액체류(화장품, 겔, 음료) 물품</div>
                                    </a>
                                    <div data-element="accordion__panel" class="accordion__panel"
                                         aria-labelledby="plugin-accordion-6" role="region" style="display: none;">
                                        <div class="accordion__text accordion__text--limit">
                                            <div class="limit-img img-03">
                                                <img src="https://static.jejuair.net/hpgg/resources/images/etc/limit-03.png"
                                                     alt="액체류(화장품,젤,음료) 물품 이미지">
                                            </div>
                                            <div class="limit-text-wrap">
                                                <div class="limit-text w100">
                                                    <p class="limit-text__title">국제선 객실(휴대 수하물) 반입 시</p>
                                                    <p class="limit-text__desc">물, 음료, 식품, 화장품 등 액체, 스프레이, 겔류로 된 물품은
                                                        100ML 이하의 개별 용기에 담아, 1인당 1L까지 허용</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
                <!-- //반입 제한 품목 안내 -->

                <!-- 면세점 구입 물품 -->
                <div class="restricted section-wrap">
                    <ul class="list-guide">
                        <li class="list-guide__item">공항 면세점 구입물품 또는 시내 면세점에서 구입한 후 공항 면세점에서 전달받은 주류, 화장품 등의 액체류는 아래 조건을
                            모두 준수하는 경우 기내에 반입할 수 있습니다.
                        </li>
                        <li class="list-guide__item">면세점에서 제공하는 투명 봉인 봉투 또는 국제표준 방식으로 제조된 훼손탐지가능봉투 (STEB, Security
                            Tamper Evident Bag)로 포장
                        </li>
                        <li class="list-guide__item">면세품 구입 당시 받은 영수증이 훼손탐지가 능봉투 안에 동봉 또는 부착된 경우에만 용량에 관계없이 반입 가능</li>
                        <li class="list-guide__item">기내에서 판매하는 액체류 면세품 중 비행여정의 단계(환승/통과 포함)에서 보안검색 대상이 될 수 있는 액체류는
                            훼손탐지가능봉투로 포장
                        </li>
                        <li class="list-guide__item">최종 목적지행 항공기 탑승 전까지 미개봉 상태 유지</li>
                    </ul>
                    <p class="notice-text notice-text--type2">기내 휴대 가능 수하물 개수인 1인당 1개를 초과하여 다량의 면세품을 구입하는 경우, 항공기 탑승 시
                        탑승구 위탁 수하물 수수료가 부과될 수 있습니다.</p>
                    <p class="notice-text notice-text--type2">해외공항 환승/통과 시, 한국과 다른 보안규정에 따라 기내에서 구입하는 액체류 면세품을 포기하게 되거나
                        압수당하는 일이 발생할 수 있으니 반드시 객실승무원에게 미리 알려주시기 바랍니다.</p>
                </div>
                <!-- //면세점 구입 물품 -->

                <!-- 기타 여객운송 위험물 -->
                <div class="restricted section-wrap">
                    <ul class="list-guide">
                        <li class="list-guide__item">여분의 충전 배터리, 휴대폰 리튬 배터리, 전자담배, 라이터는 위탁 수하물 안에 넣을 수 없습니다.</li>
                        <li class="list-guide__item">리튬배터리 장착 전동휠(전동 보드, 전동 킥보드, 세그웨이, 호버 보드 등)은 배터리상 화재 위험이 있어 기내 반입과
                            위탁 운송을 할 수 없습니다.
                        </li>
                        <li class="list-guide__item">소지허가증이 필요 없는 전자 충격기는 기내 반입할 수 없으며 , 위탁 수하물 운송은 가능합니다. (단, 배터리 분리형
                            제품만 가능하며, 파워뱅크 기능 제품은 위탁 수하물로 운송할 수 없습니다.)
                        </li>
                        <li class="list-guide__item">제주항공은 국제항공 운송협회 위험물 규정 (IATA Dangerous Goods Regularion) 에 따라 가스총,
                            호신용 스프레이, 즉석발열조리식품(예: 핫앤쿡)은 기내반입 및 위탁수하물로 운송할 수 없습니다.
                        </li>
                        <li class="list-guide__item">성분이 불분명하거나 위험물로 의심되는 물품은 운송이 거절 될 수 있사오니, 기내 반입 또는 위탁 하고자 할 시에는 해당
                            제품 또는 물질에 대한 MSDS(물질안전보건자료)를 지참하여 주시기 바랍니다.
                        </li>
                    </ul>
                </div>
                <!-- //기타 여객운송 위험물 -->
            </main>
        </div>

    </div>
</div>


<!-- footer -->
<div th:replace="user/fragment/footer :: footer"></div>
<!-- / footer 끝 -->



<script>
    $(document).ready(function () {

        $('.select-wrap__select').on('change', function () {
            var chgVal = $(this).val()
            $('.restricted').removeClass('show')
            $('.restricted').eq(chgVal - 1).addClass('show')
            $('.common-tab-btn').removeClass('active')
            $('.common-tab-btn').eq(chgVal - 1).addClass('active')
        });
        $('.common-tab-btn').on('click', function () {
            var chgVal = $(this).index()
            $('.restricted').removeClass('show')
            $('.restricted').eq(chgVal).addClass('show')
            $('.ctg option').eq(chgVal).attr('selected', 'selected')
            $('.common-tab-btn').removeClass('active')
            $('.common-tab-btn').eq(chgVal).addClass('active')
        });

    });

</script>

<div id="ifmWrap"
     style="height:100%; display:none; overflow:auto; text-align:center; -webkit-overflow-scrolling:touch;">
    <iframe src="" width="100%" height="100%" name="popupChkApp"></iframe>
</div>
<script type="text/javascript" src="/64eUBUeRMVPTlqH-grKuOHvY/kupYtS2D3a/Clx4AQ/LyRlKRN/EZmY"></script>
<div class="jjLoading" data-load="Y" style="display: none;">
    <!--
       <div class="loading">
          <div class="loading__img">
            <img src="https://static.jejuair.net/hpgg/resources/images/etc/img_loading.gif">
            <div class="loading__text">LOADING</div>
          </div>
        </div>
    -->
    <div class="loading2">
        <div class="loading__img">
            <img src="https://static.jejuair.net/hpgg/resources/images/etc/loading2.gif">
        </div>

        <div class="loading2_dim"></div>
    </div>
</div>


<!-- 공통 스크립트 선언 -->

<!--<div th:replace="/user/fragment/js :: js"></div>-->
<script type="text/javascript" src="/user/lib/js/lib.min.js"></script>
<script type="text/javascript" src="/user/lib/js/common.js"></script>
<script type="text/javascript" src="/user/lib/js/plugin.js"></script>

<!-- 공통 스크립트 선언 끝 -->

<!--body, html 주석은 위치 고정-->
</body>

</html>
<!--body, html 주석은 위치 고정 끝-->