<html lang="ko"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org/">

<!--head-->
<div th:replace="/user/fragment/head :: head"></div>
<!--head 끝-->

<body id="subLayoutBody" class="isPc">

<!--appAlert-->
<div th:replace="/user/fragment/appAlert :: appAlert"></div>
<!--appAlert 끝-->

<!--header-->
<div th:replace="/user/fragment/header :: header"></div>
<!--header 끝-->

<div id="body">
    <main id="view">
        <!-- Google Tag Manager (noscript) -->
        <noscript>
            <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PD2BQQ4" height="0" width="0"
                    style="display:none;visibility:hidden"></iframe>
        </noscript>
        <!-- End Google Tag Manager (noscript) -->

        <div id="breadcrumb" class="breadcrumb pc-only" aria-label="breadcrumb">
            <nav class="breadcrumb__inner">
                <div class="breadcrumb__item">
                    <a href="/user" class="breadcrumb__link">홈</a>
                </div>

                <div class="breadcrumb__item">
                    <a href="/user/mypage_main_member" class="breadcrumb__link">마이페이지</a>
                </div>

                <div class="breadcrumb__item breadcrumb__item--current" aria-current="page" data-element="toggle" data-options='{"mode": "slide", "speed": 100, "clickToClose": true}'>

                    <button type="button" class="breadcrumb__link breadcrumb__link--list" data-element="toggle__anchor">마이페이지 메인</button>

                    <div class="breadcrumb__siblings-list" data-element="toggle__panel">
                        <a href="/user/my_history" class="item">나의 탑승 내역</a>
                        <a href="/user/info_edit" class="item">회원정보 수정</a>
                        <a href="/user/my_reserve" class="item">나의 예약 현황</a>
                    </div>
                </div>
            </nav>
        </div>


        <div class="content" id="content">
            <div id="category" value="customer"></div>
            <main id="main" class="main ">

                <div class="title pc-only">
                    <div class="page-title-wrap">
                        <div class="page-title">마이페이지</div>
                        <div class="title__additional">
                            <input type="hidden" id="memIdx" th:value="${idx}">
                            <input type="hidden" id="userid" th:value="${userid}">
                            <span>{{view.memKoLastname}}{{view.memKoFirstname}}</span>
                            고객님, &nbsp;어디로 여행가세요?
                        </div>
                        <div class="button-wrap left">
                            <button type="button" class="button button--primary button--black"
                                    onclick="location.href='/user/ticket_reservation'">
                                <span class="button__text">항공권 예약</span>
                            </button>
                        </div>

                    </div>
                </div>

                <div class="new-top-wrap">

                    <div class="new-top-box">
                        <div class="new-top-box__inner">
                            <div class="pc-left" style="padding-top: 50px">
                                <div class="mypage__info">
                                    <div class="name">회원번호</div>
                                    <div class="number">{{view.memIdx}}</div>
                                    <div class="link-wrap link-wrap--arrow" style="margin-top: 30px">
                                        <a href="/user/info_edit_mypage" class="link-wrap__text"
                                           data-action="memberInfoModify"><span>회원정보 조회</span></a>
                                    </div>
                                </div>
                            </div>
                            <div class="pc-right">
                                <div class="pc-box">
                                    <div class="mypage__point" style="display: flex">
                                        <strong class="mypage__point--title" style="line-height: 45px; font-size: 16px">사용가능
                                            포인트</strong>
                                        <span id="memPoint" style="padding-left: 20px">{{view.memPoint}}</span>P
                                    </div>
                                </div>
                                <div class="box-link-list mypage__link">
                                    <a href="/user/viewReservationList" style="width: 33.3% !important;">
                                        <div>나의 예약</div>
                                    </a>

                                    <a href="/user/qna_list" style="width: 33.3% !important;">
                                        <div>나의 1:1 문의</div>
                                    </a>

                                    <a onclick="benefitOpen()" style="width: 33.4% !important;">
                                        <div>나의 혜택</div>
                                    </a>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <form id="frmForAvail" name="frmForAvail" method="post">
                    <input type="hidden" id="availSearchData" name="availSearchData">
                </form>
                <form id="frmResvDetail" name="frmResvDetail" method="post">
                    <input type="hidden" name="resvDetailReq" value="">
                    <input type="hidden" name="rpnr" value="">
                </form>
                <div id="divResvList" class="section-wrap">
                    <div class="section-title">
                        <span>예약 현황</span>
                        <div class="link-wrap link-wrap--arrow">
                            <a href="/user/my_reserve"
                               class="link-wrap__text"><span>전체보기</span></a>
                        </div>
                    </div>

                    <div class="boarding-no-data">
                        <div class="box-no-data">
                            <div class="box-no-data-txt">
                                <div class="loading__img2">
                                    <img src="https://static.jejuair.net/hpgg/resources/images/etc/loading_gray.gif"
                                         alt="">
                                    <p class="loading__text2" text="조회중입니다.">잠시만 기다려 주세요.</p>
                                </div>
                            </div>
                        </div>

                        <!--
                        <div class="box-no-data-txt">
                            "다가오는 예약이 없어요.
                            <br>
                            "이번엔 어디로 떠나 볼까요?
                            <div class="link-wrap">
                                <a href="/user/ticket_reservation" class="link-wrap__underline">
                                    <span>예매하러 가기</span>
                                </a>
                            </div>
                        </div>
                        -->
                    </div>


                    <div class="button-wrap left sub-section">
                        <button type="button" class="button button--optional -w100" onclick="location.href='/user/my_history'">
                            <span class="button__text">지난 탑승 내역 보기</span>
                        </button>
                    </div>
                </div>
            </main>

        </div>

        <!-- 회원카드 팝업 -->
        <div id="popContainer">
            <div id="myBenefit" class="modal modal-full modal-bg--org modal-scroll"
                 style="display: none; margin: 0 auto; height: 420px !important; min-height: unset; z-index: 5;
                        position: fixed; left: 50%; transform: translateX( -50% );">
                <div class="modal-header" style="background-color: #ff5000">
                    <div class="modal-header__title color--wit">나의 혜택</div>
                </div>
                <div class="modal-content pc-h-auto" style="height: 300px !important; width: 640px; background-color: #ff5000; z-index: 10">
                    <!-- IM00320936 나의혜택_팝업 PC에서만 사이즈 줄임 -->
                    <div class="member-card">
                        <div class="member-card__item">

                            <div class="member-card__grade">
                                <p class="member-card__grade-title" id="memberGrade"></p>
                            </div>

                            <div class="gray-box">
                                <div class="member-card__list">
                                    <ul class="member-card__list-info">
                                        <li><span class="text-title">성명</span><strong class="text-desc">{{view.memKoFirstname}}{{view.memKoLastname}}</strong></li>
                                        <li><span class="text-title">회원번호</span><strong class="text-desc">{{view.memIdx}}</strong></li>
                                        <li><span class="text-title">사용 가능 포인트</span><strong class="text-desc text-desc--org">{{view.memPoint}}P</strong></li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <p class="list-card-line"></p>

                        <div class="member-card__item">
                            <div class="list-card list-card--grade-info mb10">

                            </div>
                        </div>
                    </div>

                </div>
                <button class="modal__close" onclick="benefitClose()"><span class="blind">닫기</span></button>
            </div>
        </div>
        <!-- //회원카드 팝업 -->

        <form role="form" method="post"></form>
    </main>
</div>


<!-- footer -->
<div th:replace="/user/fragment/footer :: footer"></div>
<!-- / footer 끝 -->

<!-- 공통 스크립트 선언-->
<script type="text/javascript" src="/user/lib/js/lib.min.js"></script>
<script type="text/javascript" src="/user/lib/js/common.js"></script>
<script type="text/javascript" src="/user/lib/js/plugin.js"></script>
<script type="text/javascript" src="/user/lib/js/mypage/main_view.js"></script>

<!-- 혜택 모달 실행 -->
<script>
    function benefitOpen(){
        let modal = document.getElementById("myBenefit")
        modal.style.display = "block"

        let popContainer = document.getElementById("popContainer")
        popContainer.classList.add('jquery-modal', 'jquery-modal--full')
        popContainer.style.backgroundColor = "rgba(0, 0, 0, 0.4)"
    }
</script>

<!--혜택 모달 종료 -->
<script>
    function benefitClose(){
        let modal = document.getElementById("myBenefit")
        modal.style.display = "none"

        let popContainer = document.getElementById("popContainer")
        popContainer.classList.remove('jquery-modal', 'jquery-modal--full')
        popContainer.style.backgroundColor = "transparent"
    }
</script>
<script>
    let sessionIdx = document.getElementById("memIdx").getAttribute("value")
    console.log(sessionIdx)
</script>
</body>

</html>