<!DOCTYPE html>
<html lang="ko"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org/" xmlns:v-bind="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>제주항공 | 예약자명 조회</title>
    <link rel="stylesheet" type="text/css" href="/admin/lib/css/common.css">
    <link rel="stylesheet" type="text/css" href="/admin/lib/css/reservationCSS/reservation_namelist.css">
    <link rel="icon" href="/admin/lib/images/favicon.ico">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

</head>

<body>
    <div class="container" value="2-2">
        <div th:replace="/admin/fragment/menu :: menu"></div>

        <div class="containerbody">
            <!-- main -->
            <div id="category" value="reservation"></div>
            <div class="main">
                <div class="details">
                    <div>
                        <div class="bodytext_area box_inner">
                            <dl class="myinfo">
                                <form action="#" class="regForm">
                                    <div class="tableBorder">
                                        <div class="pageTitle">
                                            <h2>예약자 조회</h2>
                                        </div>

                                        <ul class="leg_list">
                                            <div class="reser_topbanner" style="width: 100%;">
                                                <div class="subtitle" style="float: right;">
                                                    <div style="width: auto; float: right;">
                                                        <span>예약번호 </span>
                                                        <input type="text" class="searchBox" title="예약번호"
                                                            placeholder=" 예약번호" style="margin-right: 20px">
                                                        <span>예약자명 </span>
                                                        <input type="text" class="searchBox" title="예약자명"
                                                            placeholder=" 예약자명">
                                                        <button class="button searc">검색</button>
                                                    </div>
                                                </div>
                                            </div>

                                            <table class="reser_list">
                                                <h4 class="subtitle">조회 결과</h4>
                                                <thead>
                                                    <tr class="topbanner">
                                                        <td class="res_number">예약 번호</td>
                                                        <td class="res_name">성명</td>
                                                        <td class="res_email">이메일</td>
                                                        <td class="res_ph">연락처</td>
                                                        <td class="res_status">예약 상태</td>
                                                    </tr>
                                                </thead>

                                                <tbody id="itemList">
                                                    <tr class="lists"
                                                        v-for="dto in itemList">
                                                        <td class="res_idx"><a :href=`/admin/reservation/namelist/view/${dto.resIdx}`>{{dto.resIdx}}</a></td>
                                                        <td class="res_ko_name">{{dto.memKoFirstname}}{{dto.memKoLastname}}</td>
                                                        <td class="res_email">{{dto.memEmail}}</td>
                                                        <td class="res_hp">{{dto.memHp}}</td>
                                                        <td><span class="res_status">{{dto.resStatus}}</span></td>
                                                    </tr>
                                                </tbody>
                                            </table>

                                            <div class="paging" id="pageNum"></div>
                                        </ul>
                                    </div>

                                </form>
                            </dl>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
        <!--아이콘 사용을 위한 설치 스크립트-->
        <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
        <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
        <script src="/admin/lib/js/common.js"></script>
        <script src="/admin/lib/js/pagination.js"></script>
</body>

</html>