<!DOCTYPE html>
<html lang="ko"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org/" xmlns:v-bind="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>제주항공 | 취항지 정보 조회</title>
    <link rel="stylesheet" type="text/css" href="/admin/lib/css/common.css">
    <link rel="icon" href="/admin/lib/images/favicon.ico">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

</head>

<body>
    <div class="container" value="0-5">
        <div th:replace="/admin/fragment/menu :: menu"></div>

        <div class="containerbody">
            <!-- main -->
            <div id="category" value="destination"></div>
            <div class="main">
                <div class="details">
                    <!-- order details list -->
                    <div class="recentOrders">
                        <div class="calheader">
                            <h2>취항지 정보 조회</h2>
                        </div>
                        <div class="scheduleSearch">
                            <form action="#">
                                <div class="wrapper">
                                    <fieldset class="selectDiv">
                                        <select name="menu" id="menu-select">
                                            <option value="all">전체</option>
                                            <option value="KOREA">대한민국</option>
                                            <option value="SOUTHEASTASIA">동남아시아</option>
                                            <option value="NORTHEASTASIA">동북아시아</option>
                                            <option value="OCEANIA">대양주</option>
                                        </select>
                                        <input type="text" class="searchBox" title="검색어를 입력하세요"
                                            placeholder="검색어를 입력하세요">
                                            <button type="submit" class="button search" value="검색">검색</button>
                                    </fieldset>
                                </div>
                            </form>
                        </div>
                        <table>
                            <thead>
                                <tr class="topbanner">
                                    <td class="indexNumber">NO</td>
                                    <td class="continent">대륙 구분</td>
                                    <td class="destination">취항지</td>
                                    <td class="regDate">등록일자</td>
                                </tr>
                            </thead>

                            <tbody id="itemList">
                            <tr v-for="(dto,i) in itemList"
                                :key="i"
                                @click='locate(dto.desIdx)'>
                                    <td class="des_idx">{{dto.desIdx}}</td>
                                    <td class="des_continent">{{dto.desContinent}}</td>
                                    <td class="ded_destination">{{dto.desDestination}}</td>
                                    <td class="adm_reg_date">{{dto.desRegDate}}</td>
                                </tr>

                            </tbody>
                        </table>

                        <div class="paging" id="pageNum"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--아이콘 사용을 위한 설치 스크립트-->
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <script src="/admin/lib/js/common.js"> </script>
    <script src="/admin/lib/js/pagination.js"></script>
</body>

</html>