<html lang="ko"
	  xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org/">
<!--head-->
<div th:replace="/user/fragment/head :: head"></div>
<!--head 끝-->

<body id="subLayoutBody">

<!-- appAlert -->
<div th:replace="/user/fragment/appAlert :: appAlert"></div>
<!-- //appAlert 끝 -->

<!-- header -->
<div th:replace="/user/fragment/header :: header"></div>
<!-- //header 끝 -->


<div id="body">

	<!-- Google Tag Manager (noscript) -->
	<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PD2BQQ4" height="0" width="0"
					  style="display:none;visibility:hidden"></iframe></noscript>
	<!-- End Google Tag Manager (noscript) -->

	<div class="wrap ND main-nd">

		<div id="breadcrumb" class="breadcrumb pc-only" aria-label="breadcrumb">
			<nav class="breadcrumb__inner">
				<div class="breadcrumb__item">
					<a href="javascript:;" class="breadcrumb__link">홈</a>
				</div>

				<div class="breadcrumb__item">
					<a href="javascript:;" class="breadcrumb__link">부가서비스 안내</a>
				</div>

				<div class="breadcrumb__item breadcrumb__item--current" aria-current="page" data-element="toggle"
					 data-options='{"mode": "slide", "speed": 100, "clickToClose": true}'>

					<button type="button" class="breadcrumb__link breadcrumb__link--list" data-element="toggle__anchor">부가서비스
						소개</button>

					<div class="breadcrumb__siblings-list" data-element="toggle__panel">
						<a href="/user/additionalInfo/advanceBaggage" class="item">사전 수하물</a>
						<a href="/user/additionalInfo/advanceMeal" class="item">사전 기내식</a>
						<a href="/user/additionalInfo/advanceSeat" class="item">사전 좌석</a>
						<a href="/user/additionalInfo/insurance" class="item">보험 상품</a>
						<a href="/user/additionalInfo/afterPayment" class="item">나중에 결제</a>
						<a href="/user/additionalInfo/bundlePurchase" class="item">번들 묶음 구매</a>
						<a href="/user/additionalInfo/bicycleService" class="item">자전거 캐링백 서비스</a>
					</div>
				</div>

			</nav>
		</div>

		<div class="content" id="content">
			<main id="main" class="main ">

				<div class="page-title-wrap" style="display: none;">
					<div class="page-title">
						부가서비스 안내
					</div>
				</div>

				<!--개인화-->
				<div id="section-person">

					<div class="swiper-boarding">
						<div class="main-carousel swiper-container" data-carousel="fullItem" data-loop="true">
							<div class="carousel-wrapper swiper-wrapper">
								<!-- 개인화 타입 변수 설정 -->
								<div class="main-carousel__item swiper-slide">
									<div class="main-carousel__bg"
										 style="background-image: url(https://static.jejuair.net/cms/images/add_ind_domain/20211001094834175.png);">
										<div class="hidden"></div>
									</div>
									<div class="main-carousel__text">

										<div class="title">필요한 여행상품, 로그인하고 한 번에!</div>
										<!--비로그인 또는 로그인 상태이고 로그인 링크가 아닐경우-->

										<div class="link-wrap--arrow">
											<a href="https://www.jejuair.net/ko/member/auth/login.do"
											   class="link-wrap__text"><span>로그인하기</span></a>
										</div>
									</div>
								</div>

								<!-- 개인화 타입 변수 설정 -->

								<div class="main-carousel__item swiper-slide">
									<div class="main-carousel__bg"
										 style="background-image: url(https://static.jejuair.net/cms/images/add_ind_domain/20211001094554996.png);">
										<div class="hidden"></div>
									</div>
									<div class="main-carousel__text">

										<div class="title">풍족한 여행을 준비해 봤어요</div>
										<!--비로그인 또는 로그인 상태이고 로그인 링크가 아닐경우-->

										<div class="link-wrap--arrow">
											<a href="https://www.jejuair.net/ko/ibe/mypage/viewOnOffReservationList.do"
											   class="link-wrap__text"><span>다른 곳에서 항공권을 예매하셨나요?</span></a>
										</div>
									</div>
								</div>
							</div>
							<div class="pc-only">
								<button type="button" class="carousel__button-next"></button>
								<button type="button" class="carousel__button-prev"></button>
							</div>
							<div class="carousel__pagination swiper-pagination"></div>
						</div>
					</div>



				</div>
				<div class="section-wrap">
					<div class="section-title">비행 전에 챙길수록 이득!</div> <!-- 비행 전에 챙길수록 이득! -->
					<!-- 아이콘 리스트 -->
					<div class="main-sel">

						<div class="box-list box-list__gray mt0">
							<div class="box-list-col">
								<div class="box-list__item">
									<div class="box-list__info bundle-icon">
										<div class="box-list__title">번들 선택</div> <!-- 번들 선택 -->
										<p class="box-list__text">부가서비스 개별 구매 대비 할인<span class="text--color-org"></span></p>
										<!-- 부가서비스 개별 구매 대비 할인 -->
										<div class="button-wrap">
											<a href="/user/ticket_reservation"
											   class="button button--small"><span class="button__text">예매하기</span></a> <!-- 구매하기 -->
											<a href="/user/additionalInfo/bundlePurchase"
											   class="button button--small"><span class="button__text">자세히 보기</span></a> <!-- 자세히 보기 -->
										</div>
									</div>
								</div>
							</div>

							<div class="box-list-col">
								<div class="box-list__item">
									<div class="box-list__info baggage-icon">
										<div class="box-list__title">사전 수하물 추가</div> <!-- 사전 수하물 추가 -->
										<p class="box-list__text">공항 현장 구매 대비 할인 <span class="text--color-org"></span></p>
										<!-- 공항 현장 구매 대비 할인 -->
										<div class="button-wrap">

											<a href="/user/ticket_reservation"
											   class="button button--small"><span class="button__text">구매하기</span></a> <!-- 구매하기 -->

											<a href="/user/additionalInfo/advanceBaggage"
											   class="button button--small"><span class="button__text">자세히 보기</span></a> <!-- 자세히 보기 -->
										</div>
									</div>
								</div>
							</div>

							<div class="box-list-col">
								<div class="box-list__item">
									<div class="box-list__info seat-icon">
										<div class="box-list__title">사전 좌석 선택</div> <!-- 사전 좌석 선택 -->
										<p class="box-list__text">원하는 자리 미리 예약 가능<span class="text--color-org"></span></p>
										<!-- 원하는 자리 미리 예약 가능 -->
										<div class="button-wrap">
											<a href="/user/ticket_reservation"
											   class="button button--small"><span class="button__text">구매하기</span></a> <!-- 구매하기 -->
											<a href="/user/additionalInfo/advanceSeat"
											   class="button button--small"><span class="button__text">자세히 보기</span></a> <!-- 자세히 보기 -->
										</div>
									</div>
								</div>
							</div>

							<div class="box-list-col">
								<div class="box-list__item">
									<div class="box-list__info meal-icon">
										<div class="box-list__title">사전 기내식 주문</div> <!-- 사전 기내식 주문 -->
										<p class="box-list__text">하늘 위에서 즐기는 한 끼<span class="text--color-org"></span></p>
										<!-- 하늘 위에서 즐기는 한 끼 -->
										<div class="button-wrap">
											<a href="/user/ticket_reservation"
											   class="button button--small"><span class="button__text">구매하기</span></a> <!-- 구매하기 -->
											<a href="/user/additionalInfo/advanceMeal"
											   class="button button--small"><span class="button__text">자세히 보기</span></a> <!-- 자세히 보기 -->
										</div>
									</div>
								</div>
							</div>

						</div>

					</div>
					<!-- //아이콘리스트 -->
				</div>

				<div class="section-wrap" data-anchor>
					<div class="sticky-wrap mobile-only">
						<div class="sticky__inner" data-sticky>
							<div class="event-detail__anchor-list sticky flex" data-anchor-list>
								<!-- 211215 보험은 한국어일 때만 노출 -->
								<a href="#titleAnchor01" class="event-detail__anchor is-active"><span>보험</span></a><!-- 보험 -->

								<a href="#titleAnchor02" class="event-detail__anchor"><span>멤버십</span></a> <!-- 멤버십 -->

							</div>
						</div>
					</div>

					<!-- 보험 -->
					<!-- 211215 보험은 한국어일 때만 노출 -->
					<div class="section-wrap">
						<div id="titleAnchor01" class="event-detail__contents" data-anchor-panel>
							<div class="section-title">걱정을 덜어주는 보험상품</div>
							<div class="box-list__img">
								<a  class="box-list__item">
									<div class="box-list__info">
										<div class="img_item">
											<img src="https://static.jejuair.net/hpgg/resources/images/@temp/@temp_nd9_01.png" alt=""
												 loading="lazy">
										</div>
										<div class="box-list__title">여행자 보험</div>
										<p class="box-list__text">국내/해외 어디든<br>탄탄한 여행자 보험으로 한번에</p>
									</div>
								</a>

							</div>
						</div>
					</div>

					<!-- //보험 -->

					<!-- 멤버쉽 -->
					<div class="section-wrap">
						<div id="titleAnchor02" class="event-detail__contents" data-anchor-panel="">
							<div class="section-title">제주항공 단골이라면?</div> <!-- 제주항공 단골이라면? -->
							<div class="box-list__img">

								<a class="box-list__item">
									<div class="box-list__info">
										<div class="img_item">
											<img src="https://static.jejuair.net/hpgg/resources/images/@temp/@temp_nd9_12.png" alt=""
												 loading="lazy">
										</div>
										<div class="box-list__title">스포츠 멤버십</div> <!-- 스포츠 멤버십 -->
										<p class="box-list__text">각종 스포츠 장비를<br>1년 내내 수하물 요금 없이 무료!</p>
										<!-- 각종 스포츠 장비를 1년 내내 <br>수하물 요금 없이 무료로 운송 -->
									</div>
								</a>
								<a class="box-list__item">
									<div class="box-list__info">
										<div class="img_item">
											<img src="https://static.jejuair.net/hpgg/resources/images/@temp/@temp_nd9_13.png" alt=""
												 loading="lazy">
										</div>
										<div class="box-list__title">자전거 캐링백 서비스</div>
										<p class="box-list__text">자전거 걱정은 그만.<br>캐링백이 준비되어 있어요</p>
									</div>
								</a>
							</div>
						</div>
					</div>
					<!--//멤버쉽-->


				</div>

				<div class="section-wrap">
					<div class="section-title">#인기 제휴상품</div> <!-- #인기 제휴상품 -->
					<div class="hashtag-box">

						<a>JJ멤버스
							파트너스</a>

						<a >호텔/숙박</a>

						<a >보험상품</a>

						<a >렌터카</a>

						<a>WI-FI</a>

					</div>
				</div>

				<div class="section-wrap">
					<div class="banner-warp">

						<a class="sub-banner" style="background-color:#c7eafe;">
							<div class="sub-banner__image">
								<img src="https://static.jejuair.net/cms/images/banner_image/20210920134853085.png" alt=''
									 loading="lazy" />
							</div>
							<div class="sub-banner__text">

								<div class="banner-title">나중에 결제</div>
								<p class="banner-text">여정 및 운임 미리 선점!<br />24 or 72시간 후 결제!</p>

							</div>
						</a>

						<a class="sub-banner" style="background-color:#fec7c7;">
							<div class="sub-banner__image">
								<img src="https://static.jejuair.net/cms/images/banner_image/20210920135055356.png" alt=''
									 loading="lazy" />
							</div>
							<div class="sub-banner__text">

								<div class="banner-title">기프티켓</div>
								<p class="banner-text">여행을 선물하세요.<br />추억은 덤으로 드릴게요.</p>

							</div>
						</a>
					</div>
				</div>
			</main>
		</div>

		<div class="quick-menu mobile-only">
			<!-- D : 활성화 클래스 on -->
			<a href="javascript:void(0);" class="quick-menu__item n1 " onclick="URL_LINK.getI18Url('/main/base/index.do')">



				<img src="https://static.jejuair.net/hpgg/resources/images/upload/icon_bottombar_home_off_56x2.png" alt="홈"
					 loading="lazy">


				<!--2021-04-13 이미지로 변경-->
				<span>홈</span> <!-- 홈 -->
			</a>
			<a href="javascript:void(0);" class="quick-menu__item n2 "
			   onclick="URL_LINK.getI18Url('/ibe/booking/Availability.do')">



				<img src="https://static.jejuair.net/hpgg/resources/images/upload/icon_bottom   bar_reservation_off_56x2.png"
					 alt="항공권예매" loading="lazy">


				<!--2021-04-13 이미지로 변경-->
				<span>예매</span> <!-- 항공권예매 -->
			</a>
			<a href="javascript:void(0);" class="quick-menu__item n3 "
			   onclick="URL_LINK.getI18Url('/ibe/checkin/viewCheckin.do')">



				<img src="https://static.jejuair.net/hpgg/resources/images/upload/icon_bottombar_mboardingpass_off_56x2.png"
					 alt="모바일 탑승권" loading="lazy">


				<!--2021-04-13 이미지로 변경-->
				<span>모바일 탑승권</span> <!-- 모바일 탑승권 -->
			</a>
			<a href="javascript:void(0);" class="quick-menu__item n4 on"
			   onclick="URL_LINK.getI18Url('/additionalService/service/main.do')">


				<img src="https://static.jejuair.net/hpgg/resources/images/upload/icon_bottombar_service_on_56x2.png"
					 alt="부가서비스" loading="lazy">



				<!--2021-04-13 이미지로 변경-->
				<span>부가서비스</span> <!-- 부가서비스 -->
			</a>
			<a href="javascript:void(0);" class="quick-menu__item n5 " onclick="URL_LINK.getI18Url('/member/mypage/main.do')">



				<img src="https://static.jejuair.net/hpgg/resources/images/upload/icon_bottombar_mypage_off_56x2.png"
					 alt="마이페이지" loading="lazy">


				<!--2021-04-13 이미지로 변경-->
				<span>마이페이지</span> <!-- 마이페이지 -->
			</a>
		</div>

	</div>
</div>

<!-- footer -->
<div th:replace="user/fragment/footer :: footer"></div>
<!-- / footer 끝 -->

<div id="ifmWrap" style="height:100%; display:none; overflow:auto; text-align:center; -webkit-overflow-scrolling:touch;">
	<iframe src="" width="100%" height="100%" name="popupChkApp"></iframe>
</div>


<!-- 공통 스크립트 선언 -->

<!--<div th:replace="/user/fragment/js :: js"></div>-->
<script type="text/javascript" src="/user/lib/js/lib.min.js"></script>
<script type="text/javascript" src="/user/lib/js/common.js"></script>
<script type="text/javascript" src="/user/lib/js/plugin.js"></script>
<script type="text/javascript" src="/user/lib/js/head/head.js"></script>


<!-- 공통 스크립트 선언 끝 -->

<!--body, html 주석은 위치 고정-->
</body>
</html>
<!--body, html 주석은 위치 고정 끝-->
