<html lang="ko"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org/">

<!--head-->
<div th:replace="/user/fragment/head :: head"></div>
<!--head 끝-->
<body id="bookingLayoutBody">


<!--appAlert-->
<div th:replace="/user/fragment/appAlert :: appAlert"></div>
<!--appAlert 끝-->

<!--header-->
<div th:replace="/user/fragment/header :: header"></div>
<!--header 끝-->


<div id="body">

    <!-- Google Tag Manager (noscript) -->
    <noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PD2BQQ4" height="0" width="0"
                style="display:none;visibility:hidden"></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->

    <div class="wrap wrap--booking NA NA_1">
        <div class="content" id="content">
            <main id="main" class="main ">


                <form id="tripSellForm">
                    <input type="hidden" id="tripSellData" name="tripSellData">
                    <input type="hidden" id="bundleData" name="bundleData">
                    <input type="hidden" id="tripSelltime" name="tripSelltime">
                </form>
                <!--가는편 - s -->
                <div class="bundle_wrap on-the-way">
                    <div class="title booking-title">
                        <div class="title__box">
                            <div class="selected-bundle">
                                <div class="flex-text" name="divRouteData">
                                    <span class="text">가는 편</span><!-- 가는 편 -->
                                    <strong class="selected"></strong>
                                    <span data-element="tooltip" role="tooltip" class="tooltip"
                                          data-set='{"width": "170", "left":"-80", "arrow" : "80", "hover": true}'>
						<button type="button" aria-label="툴팁 열기" data-element="tooltip__anchor"
                                class="tooltip__button"></button>
						<span data-element="tooltip__panel" class="tooltip__panel">
							<span aria-hidden="true" class="tooltip-arrow"></span>
											
								<span class="tooltip-desc tooltip-desc--icon">기내수하물 10KG 제공</span>						
											
								<span class="tooltip-desc tooltip-desc--icon">위탁수하물 15KG 제공</span>						
											
								<span class="tooltip-desc tooltip-desc--icon">리프레시 포인트 7,450P 적립</span>						
							
						</span>
					</span>
                                    <div class="booking-title__info">
                                        <span class="to"><span class="time"></span><span class="place"></span></span>
                                        <span></span>
                                        <span class="icon-to"></span>
                                        <span class="from"><span class="time"></span><span class="place"></span><span
                                                class="day"></span></span>
                                    </div>
                                </div>
                            </div>
                            <div class="bundle_name_wrap pc-only">
                                <p class="bundle_name_title">선택한 번들 :</p><!-- 선택한 번들 -->
                                <p class="bundle_name"></p>
                                <!--번들명 입력-->
                            </div>
                        </div>
                    </div>
                    <!--가는편 title-->
                    <div class="bundle_cont_inner" id="DEP_area">
                        <div class="title_wrap" style="display: none;">
                            <div class="title pt10">번들 서비스가 제공되지 않습니다.</div><!-- 이번 구간은 번들 선택이 불가능합니다. -->
                            <div class="sub_txt">탑승자 정보 입력 후 부가서비스 구매를 이용해 주세요.</div>
                            <!-- 탑승자 정보 입력 후부 서비스 구매를 이용해 주세요. -->
                        </div>
                        <div class="title_wrap">
                            <div class="title">실속만점 번들은 어떠세요?</div>
                        </div><!-- 실속만점 번들은 어떠세요? -->
                        <!--번들 목록 - s-->
                        <div data-element="tab">
                            <div class="bundle_box_wrap tab__button-wrap">
                                <div class="bundle_scroll"></div>
                            </div>
                        </div>
                        <!--번들 목록 - e-->
                    </div>
                </div>
                <!--가는편 - e -->
                <!--오는편 - s -->
                <div class="bundle_wrap come-way container--default pc-30" id="ARR_area">
                    <div class="title booking-title">
                        <div class="title__box">
                            <div class="selected-bundle">
                                <div class="flex-text" name="divRouteData">
                                    <span class="text">오는 편</span><!--오는 편-->
                                    <strong class="selected"></strong>
                                    <span data-element="tooltip" role="tooltip" class="tooltip"
                                          data-set='{"width": "170", "left":"-80", "arrow" : "80", "hover": true}'>
						<button type="button" aria-label="툴팁 열기" data-element="tooltip__anchor"
                                class="tooltip__button"></button>
						<span data-element="tooltip__panel" class="tooltip__panel">
							<span aria-hidden="true" class="tooltip-arrow"></span>
											
								<span class="tooltip-desc tooltip-desc--icon">기내수하물 10KG 제공</span>						
											
								<span class="tooltip-desc tooltip-desc--icon">위탁수하물 15KG 제공</span>						
											
								<span class="tooltip-desc tooltip-desc--icon">리프레시 포인트 5,950P 적립</span>						
							
						</span>
					</span>
                                    <div class="booking-title__info">
                                        <span class="to"><span class="time"></span><span class="place"></span></span>
                                        <span></span>
                                        <span class="icon-to"></span>
                                        <span class="from"> <span class="time"></span><span class="place"></span><span
                                                class="day"></span></span>
                                    </div>
                                </div>
                            </div>
                            <div class="bundle_name_wrap pc-only">
                                <p class="bundle_name_title">선택한 번들 :</p><!-- 선택한 번들 -->
                                <p class="bundle_name"></p>
                                <!--선택한 번들명-->
                            </div>
                        </div>
                    </div>
                    <!--오는편 title-->

                    <div class="bundle_cont_inner" id="ARR_area">
                        <div class="title_wrap" style="display: none;">
                            <div class="title pt10">번들 서비스가 제공되지 않습니다.</div><!-- 이번 구간은 번들 선택이 불가능합니다. -->
                            <div class="sub_txt">탑승자 정보 입력 후 부가서비스 구매를 이용해 주세요.</div>
                            <!-- 탑승자 정보 입력 후부 서비스 구매를 이용해 주세요. -->
                        </div>
                        <div class="title_wrap">
                            <div class="title">실속만점 번들은 어떠세요?</div>
                        </div><!-- 실속만점 번들은 어떠세요? -->
                        <!--번들 목록 - s-->
                        <div data-element="tab">
                            <div class="bundle_box_wrap tab__button-wrap">
                                <div class="bundle_scroll"></div>
                            </div>
                        </div>
                        <!--번들 목록 - e-->
                    </div>
                </div>
                <!--오는편 - e -->

                <!--하단 예상 결제 금액 영역-->
                <div class="booking-sticky booking-sticky--reservation" data-element="toggle"
                     data-options='{"mode": "slide"}'>
                    <div class="reservation-container">
                        <div class="booking-sticky__top">
                            <div class="toggle-wrap toggle-wrap--button toggle-wrap--height">
                                <div class="label">
                                    <span>예상 결제금액</span><!-- 예상 결제금액 -->

                                </div>
                                <button type="button" class="summary" data-element="toggle__anchor"
                                        id="btnTotAmount"></button>
                            </div>
                            <button type="button" name="btnNext" id="btnNext1" class="button button--primary pc-only"
                                    disabled>
                                <span class="button__text"><a href="view_passenger_input/view_passenger_input.html">탑승객 정보 입력하기</a></span>
                                <!-- 탑승객 정보 입력하기 -->
                            </button>
                        </div>
                        <div class="booking-sticky__bottom -limitH" data-element="toggle__panel">
                            <div class="title">
                                <h3 class="title__section title__section--small">항목별 운임 상세</h3><!-- 항목별 운임 상세 -->
                            </div>
                            <h4 class="text__default text--exbold">항공 운송료</h4><!-- 항공 운송료 -->
                            <div class="itemize__item">
                                <div class="flex-text">
                                    <div class="flex-text__title">항공운임</div><!-- 항공운임 -->
                                    <div class="flex-text__additional" id="divFare"></div>
                                </div>
                                <div class="flex-text">
                                    <div class="flex-text__title">공항이용료 및 제반시설</div><!-- 공항이용료 및 제반시설 -->
                                    <div class="flex-text__additional" id="divTax"></div>
                                </div>
                                <div class="flex-text">
                                    <div class="flex-text__title">유류할증료</div><!-- 유류할증료 -->
                                    <div class="flex-text__additional" id="divFuel"></div>
                                </div>
                                <div class="flex-text" id="divFOC" style="display: none;">
                                    <div class="flex-text__title color-org">개인 신분 할인</div><!-- 개인 신분 할인 -->
                                    <div class="flex-text__additional color-org"></div>
                                </div>
                                <div class="flex-text" id="divPromotion">
                                    <div class="flex-text__title color-org">프로모션 할인</div><!-- 프로모션 할인 -->
                                    <div class="flex-text__additional color-org"></div>
                                </div>
                                <div id="divVcDiscount" class="flex-text" style="display: none;">
                                    <div class="flex-text__title color-org">기프티켓 할인</div><!-- 기프티켓 할인 -->
                                    <div class="flex-text__additional color-org"></div>
                                </div>
                            </div>
                            <h4 class="text__default text--exbold pc-60">부가서비스</h4><!-- 부가서비스 -->
                            <div class="itemize__item">
                                <div class="flex-text" id="divDEPBundle" style="display: none;">
                                    <div class="flex-text__title"></div>
                                    <div class="flex-text__additional"></div>
                                </div>
                                <div class="flex-text" id="divARRBundle" style="display: none;">
                                    <div class="flex-text__title"></div>
                                    <div class="flex-text__additional"></div>
                                </div>
                            </div>
                            <ul class="guide-info guide-info--gray" id="taxDesc" style="display: none;">
                                <li class="guide-info__text">한국 출발 세금(BP)에는 국제 여객항공이용료(인천/김포공항 17,000원, 기타 12,000원),
                                    출국납부금 10,000원, 국제 빈곤퇴치기여금 1,000원이 포함되어 있습니다.
                                </li>
                                <!-- 한국출발 세금(BP)에는 국제 여객항공이용료(인천/김포공항 17,000원, 기타 12,000원), 출국납부금 10,000, 국제 빈곤퇴치기여금 1,000원이 포함되어 있습니다. -->
                                <li class="guide-info__text">공항이용료의 경우 선택하신 여정 종류(TRANSFER/TRANSIT)에 따라 금액이 변동될 수
                                    있습니다.
                                </li>
                                <!-- 공항이용료의 경우 선택하신 여정 종류(TRANSFER/TRANSIT)에 따라 금액이 변동 될 수 있습니다. -->
                            </ul>
                        </div>
                    </div>
                    <div class="button-wrap mobile-only">
                        <button type="button" name="btnNext" id="btnNext2" class="button button--primary" disabled>
                            <span class="button__text">탑승객 정보 입력하기</span><!-- 탑승객 정보 입력하기 -->
                        </button>
                    </div>
                </div>

                <div style="display: none;"><a href="#" data-element="modal_anchor" id="sessionLayer"
                                               data-target="#sessionLayerForm" data-modal-type="default"></a></div>

                <div id="sessionLayerForm" class="modal modal--simple modal-layer NA_1_23"></div>

                <div id="partnerCardDisCountLayer" class="modal modal-full modal-scroll NA_1_31"></div>
                <!-- alert 팝업 -->
                <div id="alertModalLayer" class="modal modal--simple">
                    <div class="modal-content"><p class="alert-text"></p></div>
                    <div class="modal__button-area button-wrap">
                        <button type="button" class="button button--secondary button--active" rel="modal:close"
                                onclick="javascript:closeCurrentModal(this);"><span class="button__text">확인</span>
                        </button>
                    </div><!-- 확인 -->
                </div>
            </main>
        </div>
    </div>
</div>


<!-- footer -->
<div th:replace="/user/fragment/footer :: footer"></div>
<!-- / footer 끝 -->

<div id="ifmWrap"
     style="height:100%; display:none; overflow:auto; text-align:center; -webkit-overflow-scrolling:touch;">
    <iframe src="" width="100%" height="100%" name="popupChkApp"></iframe>
</div>

<!-- 공통 스크립트 선언 -->
<script type="text/javascript" src="/user/lib/js/lib.min.js"></script>
<script type="text/javascript" src="/user/lib/js/common.js"></script>
<script type="text/javascript" src="/user/lib/js/plugin.js"></script>

<script>
    BIZ_COMMONS_SCRIPT.callI18n("0000000321")
    let currentDate = '2022.06.29.21.08'.replace(/[^0-9]/g, '')
    let availSearchData = JSON.parse('{"lowfareIncludeTaxesAndFee":"false","passengers":[{"type":"ADT","count":"1"}],"tripType":"RT","cultureCode":"ko-KR","discountInfo":{},"domIntType":"I","voucherInfo":{},"tripRoute":[{"originAirport":"ICN","flightDate":"2022-07-07","sortOptions":"EarliestDeparture,EarliestArrival","originName":"서울(인천)","destinationAirport":"NRT","destinationName":"도쿄(나리타)","journeyKey":"N0N_MTEwNn4gfn5JQ05_MDcvMDcvMjAyMiAxMDozNX5OUlR_MDcvMDcvMjAyMiAxMjo1NX5_","fareAvailabilityKey":"MH5Nfn43Q35NT1dLSn5LSTAzfn41fjF_TklDTk5SVDAwNTAwMTB_WCEw"},{"originAirport":"NRT","flightDate":"2022-07-21","sortOptions":"EarliestDeparture,EarliestArrival","originName":"도쿄(나리타)","destinationAirport":"ICN","destinationName":"서울(인천)","journeyKey":"N0N_MTEwNX4gfn5OUlR_MDcvMjEvMjAyMiAxMzo1NX5JQ05_MDcvMjEvMjAyMiAxNjozNX5_","fareAvailabilityKey":"MH5Xfn43Q35XT1dLSn5LSTAzfn4zfjF_TklDTk5SVDAwMzAwMTB_WCEy"}],"bookType":"Common","currencyCode":"KRW"}');

    let tripType = availSearchData.tripType;
    let domIntType = availSearchData.domIntType;
    let cultureCode = availSearchData.cultureCode;
    let bookType = availSearchData.bookType;
    let PssToken = "";
    let tripSellJson;
    let selectedBundles = [];
    let selectedAddBundles = {}
    let currency = "";
    let seatOccupancyShow = 900000
    let tripSelltime = 0;

    $(document).ready(function () {
        $(document).ajaxStart(function () {
            Progress.show();
        });
        $(document).ajaxStop(function () {
            Progress.hide();
        });

        document.getElementById("btnNext1").addEventListener("click", addBundle, false);
        document.getElementById("btnNext2").addEventListener("click", addBundle, false);

        $(document).on('click', 'input:checkbox[id^=chk_]', clickUnique);
        if (tripType === 'OW') {
            $("#ARR_area").hide();
        }
        if (domIntType === 'I') {
            $("#taxDesc").show();
        }

        delete availSearchData.tripType;
        delete availSearchData.domIntType;
        if (typeof availSearchData.discountInfo !== 'undefined') {
            if (Object.keys(availSearchData.discountInfo).length === 0) {
                delete availSearchData.discountInfo;
            }
        }
        let action_id = "";
        let skin_id = "mobile";
        if (USER_DEVICE.getName() != "APP") {
            if (USER_DEVICE.getName() == "PC") {
                action_id = "act_7";
                skin_id = "normal";
            } else {
                action_id = "act_8";
            }
        } else {
            action_id = "act_9"
        }

        NetFunnel_Action({service_id: "service_2", skin_id: skin_id, action_id: action_id}, function (ev, ret) {
            $.ajax({
                url: 'makeSell.json',
                type: 'post',
                dataType: "json",
                data: {
                    availSearchData: JSON.stringify(availSearchData)
                },
                success: function (data) {
                    if (typeof data.data.code == 'undefined') {
                        tripSellJson = data;
                        tripSellJson.voucherInfo = availSearchData.voucherInfo;
                        PssToken = tripSellJson.data.token;
                        if (typeof availSearchData.discountInfo != 'undefined') {
                            tripSellJson.discountInfo = availSearchData.discountInfo;
                        }
                        tripSellJson.bookType = bookType;
                        tripSellJson.tripType = tripType;
                        tripSellJson.domIntType = domIntType;
                        tripSellJson.cultureCode = cultureCode;
                        for (let i = 0; i < tripSellJson.data.journeys.length; i++) {
                            let departureDateStart = tripSellJson.data.journeys[i].designator.departure
                            let departureDateEnd = tripSellJson.data.journeys[i].designator.arrival
                            let fareType = "";
                            if (tripSellJson.data.journeys[i].segments[0].fares[0].productClass === 'B') {
                                fareType = "FLY"
                            } else if (tripSellJson.data.journeys[i].segments[0].fares[0].productClass === 'V') {
                                fareType = "FLYBAG"
                            } else if (tripSellJson.data.journeys[i].segments[0].fares[0].productClass === 'Y') {
                                fareType = "FLEX"
                            } else if (tripSellJson.data.journeys[i].segments[0].fares[0].productClass === 'N') {
                                fareType = "BIZ LITE"
                            }
                            $("div[name=divRouteData]").eq(i).find('.selected')[0].textContent = fareType
                            $("div[name=divRouteData]").eq(i).find('.to').find('.time')[0].textContent = departureDateStart.replace(/-/gi, '').substring(9, 14)
                            $("div[name=divRouteData]").eq(i).find('.to').find('.place')[0].textContent = tripSellJson.data.journeys[i].designator.originName
                            $("div[name=divRouteData]").eq(i).find('.from').find('.time')[0].textContent = departureDateEnd.replace(/-/gi, '').substring(9, 14)
                            $("div[name=divRouteData]").eq(i).find('.from').find('.place')[0].textContent = tripSellJson.data.journeys[i].designator.destinationName
                            if (departureDateStart.replace(/-/gi, '').substring(0, 8) != departureDateEnd.replace(/-/gi, '').substring(0, 8)) {
                                $("div[name=divRouteData]").eq(i).find('.from').find('.day')[0].textContent =
                                    "(+" + dUtil.diffTime(departureDateEnd.replace(/-/gi, '').substring(0, 8), departureDateStart.replace(/-/gi, '').substring(0, 8), "DAY") + "일)"
                            }
                        }

                        $('.bundle_item').on('click', function () {
                            var topVal = $('.bundle_wrap').eq(1).offset().top
                            $('html,body').animate({scrollTop: topVal})
                        });


                        let farePrice = 0;
                        let bottomServiceFare = 0;
                        let bottomYQ = 0;
                        let taxCurrency = "";
                        let discount = 0;
                        let voucher = 0;
                        for (let i = 0; i < tripSellJson.data.journeys.length; i++) {
                            let journeyJson = tripSellJson.data.journeys[i]
                            for (let j = 0; j < journeyJson.segments.length; j++) {
                                let segmentJson = journeyJson.segments[j]
                                for (let m = 0; m < segmentJson.fares.length; m++) {
                                    let fares = segmentJson.fares[m]
                                    for (let k = 0; k < fares.passengerFares.length; k++) {
                                        let paxTypeCnt = 0
                                        let passengerJson = fares.passengerFares[k]
                                        let paxType = passengerJson.passengerType
                                        for (let pKey in tripSellJson.data.passengers) {
                                            if (paxType === tripSellJson.data.passengers[pKey].passengerTypeCode) {
                                                paxTypeCnt++
                                            }
                                        }
                                        for (let h = 0; h < passengerJson.serviceCharges.length; h++) {
                                            let serviceChargeJson = passengerJson.serviceCharges[h];
                                            if (serviceChargeJson.type === 'FarePrice') {
                                                farePrice += serviceChargeJson.amount * paxTypeCnt
                                                currency = serviceChargeJson.currencyCode
                                            } else {
                                                if (serviceChargeJson.type === 'Discount') {
                                                    if (bookType != 'Voucher') {
                                                        discount += serviceChargeJson.amount * paxTypeCnt
                                                    } else {
                                                        voucher += serviceChargeJson.amount * paxTypeCnt
                                                    }
                                                } else if (serviceChargeJson.type === 'PromotionDiscount') {
                                                    discount += serviceChargeJson.amount * paxTypeCnt
                                                } else {
                                                    if (serviceChargeJson.code.indexOf('YQ') > -1) {
                                                        bottomYQ += serviceChargeJson.amount * paxTypeCnt
                                                    } else {
                                                        bottomServiceFare += serviceChargeJson.amount * paxTypeCnt
                                                    }
                                                    taxCurrency = serviceChargeJson.currencyCode
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                        //프로모션 할인이 있는 경우
                        if (discount > 0 && bookType == 'Promotion') {
                            $("#divPromotion").find('.flex-text__additional').text("")
                            sUtil.FmtcurrencyCvt(I18N.language, currency, "-" + discount, $("#divPromotion").find('.flex-text__additional'))
                            $("#divPromotion").show();
                        } else if (discount > 0 && bookType == 'FOC') {
                            $("#divFOC").show();
                            sUtil.FmtcurrencyCvt(I18N.language, currency, "-" + discount, $("#divFOC").find('.flex-text__additional'))
                            $("#divPromotion").find('.flex-text__additional')[0].textContent = '미적용'
                            discount = 0;
                        } else {
                            $("#divPromotion").find('.flex-text__additional')[0].textContent = '미적용'
                        }
                        // 기프티켓 할인
                        if (bookType == "Voucher") {
                            sUtil.FmtcurrencyCvt(I18N.language, currency, (farePrice - voucher) * -1, $("#divVcDiscount").find(".flex-text__additional"));
                            $("#divVcDiscount").show();
                        } else {
                            $("#divVcDiscount").hide();
                        }

                        //항공 운임
                        if (bookType != 'Voucher') {
                            sUtil.FmtcurrencyCvt(I18N.language, currency, farePrice, $("#divFare"))
                            sUtil.FmtcurrencyCvt(I18N.language, currency, (tripSellJson.data.breakdown.totalAmount), $("#btnTotAmount"));
                        } else {
                            //voucher 는 운임으로 표시 - tripsell 에는 discountedFare 가 없어서 계산해야함
                            sUtil.FmtcurrencyCvt(I18N.language, currency, farePrice - voucher, $("#divFare"))
                            sUtil.FmtcurrencyCvt(I18N.language, currency, (tripSellJson.data.breakdown.totalAmount - $("#divVcDiscount").text().replace(/[^0-9]/gi, '')), $("#btnTotAmount"));
                        }
                        sUtil.FmtcurrencyCvt(I18N.language, taxCurrency, bottomServiceFare, $("#divTax"))
                        sUtil.FmtcurrencyCvt(I18N.language, taxCurrency, bottomYQ, $("#divFuel"))

                        printBundles('DEP');
                        if (tripType != 'OW') {
                            printBundles('ARR');
                        }
                        $("button[name=btnNext]").addClass('button--active');
                        $("button[name=btnNext]").attr("disabled", false);


                        setOccupancyTimeOut = setTimeout(function () {
                            showSeatOccupancy();
                        }, seatOccupancyShow);
                        setInterval(occupancyTime, 1000);

                    } else {
                        let datas = {title: data.data.code, message: data.data.message};
                        $.JJAlert(datas, function () {
                            if (USER_DEVICE.getName() == "APP") {
                                APPCALL.goMain();
                            } else {
                                location.href = "/";
                            }
                        });
                    }
                },
                complete: function () {
                    NetFunnel_Complete();
                }
            });
        });
    });


    const printBundles = function (type) {
        let journeyKey = "";
        let skipBundleList = false;

        if (type === "DEP") {
            journeyKey = tripSellJson.data.journeys[0].journeyKey
            let departureDateTime = tripSellJson.data.journeys[0].designator.departure.replace(/[^0-9]/gi, '').substring(0, 12)
            if (dUtil.diffTime(departureDateTime, currentDate.substring(0, 12), "HOUR") <= 24 || 'N' == 'Y') {
                skipBundleList = true;
                $("#DEP_area").find('.title_wrap').eq(0).show();
                $("#DEP_area").find('.title_wrap').eq(1).hide();
            }
        } else {
            journeyKey = tripSellJson.data.journeys[1].journeyKey
            let departureDateTime = tripSellJson.data.journeys[1].designator.departure.replace(/[^0-9]/gi, '').substring(0, 12)
            if (dUtil.diffTime(departureDateTime, currentDate.substring(0, 12), "HOUR") <= 24 || 'N' == 'Y') {
                skipBundleList = true;
                $("#ARR_area").find('.title_wrap').eq(0).show();
                $("#ARR_area").find('.title_wrap').eq(1).hide();
            }
        }
        if (!skipBundleList) {
            $.ajax({
                url: 'getBundleList.json',
                type: 'post',
                dataType: "json",
                data: {
                    journeyKey: journeyKey,
                    currencyCode: tripSellJson.data.currencyCode,
                    cultureCode: cultureCode.replace("_", "-")
                },
                beforeSend: function (request) {
                    request.setRequestHeader("PssToken", tripSellJson.data.token);
                },
                success: function (data) {
                    let bundles = "";
                    if (data.code != '0000' || typeof data.data.bundles === 'undefined' || data.data.bundles.length == 0) {

                        if (type === "DEP") {
                            $("#DEP_area").find('.title_wrap').eq(0).show();
                            $("#DEP_area").find('.title_wrap').eq(1).hide();
                        } else {
                            $("#ARR_area").find('.title_wrap').eq(0).show();
                            $("#ARR_area").find('.title_wrap').eq(1).hide();
                        }
                    } else {
                        $.each(data.data.bundles, function (idx, item) {
                            bundles += '<div class="bundle_item"><div class="bundle_box" data-element="toggle" data-options=\'{"mode": "slide"}\'>'
                            bundles += '<div class="bundle_box__btn_wrap"><input type="checkbox" name ="chk_' + type + '" id="chk_' + type + idx + '" data-name="' + item.bundleName + '" data-price = "' + item.price + '" value="' + item.bundleCode + '"/>'
                            bundles += '<label for="chk_' + type + idx + '"><dl><dt class="bundle_name">' + item.bundleName + '</dt><dd class="bundle__price">'
                            bundles += '<div class="before"><div class="discount">' + parseInt((item.firstPrice - item.price) / item.firstPrice * 100) + '% 할인</div>'
                            bundles += '<div class="del">' + sUtil.FmtcurrencyCvt(I18N.language, tripSellJson.data.currencyCode, item.firstPrice) + '</div></div>'
                            bundles += '<div class="after">' + sUtil.FmtcurrencyCvt(I18N.language, tripSellJson.data.currencyCode, item.price) + '</div></dd></dl>'
                            bundles += '<div class="bundle_ico_list"><div class="text">' + BIZ_COMMONS_SCRIPT.getI18n("0000000321.msg00030").replace('{0}', item.bundleServiceDesc.split('\r\n').length) + '</div></div>'
                            bundles += '<div class="bundle_box__content" data-element="toggle__panel"><div class="bundle_ico_list txt_in"><ul>'
                            for (let i = 0; i < item.bundleServiceDesc.split('\r\n').length; i++) {
                                if (item.bundleServiceDesc.split('\r\n')[i] != '') {
                                    bundles += '<li><strong>' + item.bundleServiceDesc.split('\r\n')[i] + '</strong></li>'
                                }
                            }
                            bundles += '</ul></div></div>'
                            bundles += '</label></div><button type="button" class="bundle_box__anchor" data-element="toggle__anchor"><span>자세히 보기</span></button></div></div>'
                        });
                        if (type === "DEP") {
                            $("#DEP_area").find('.bundle_scroll')[0].innerHTML = bundles
                        } else {
                            $("#ARR_area").find('.bundle_scroll')[0].innerHTML = bundles
                        }
                        $('.bundle_box').toggle()
                    }
                }
            });
        } else {
            if (type === "DEP") {
                $("#DEP_area").find('.title_wrap').eq(1).hide();
            } else {
                $("#ARR_area").find('.title_wrap').eq(1).hide();
            }
        }
    }

    const clickUnique = function () {
        if ($(this).prop("checked")) {
            if ($(this).attr('id').indexOf('DEP') > -1) {
                if ($('input:checkbox[id^="chk_DEP"]:checked').length > 1) {
                    for (let i = 0; i < $('input:checkbox[id^="chk_DEP"]:checked').length; i++) {
                        if ($(this).attr('id') != $('input:checkbox[id^="chk_DEP"]:checked').eq(i).attr('id')) {
                            let removeBundle = $('input:checkbox[id^="chk_DEP"]:checked').eq(i);
                            removeBundle.prop("checked", false)
                            $("#btnTotAmount").find('.price_txt')[0].textContent = sUtil.setComma(Number($("#btnTotAmount").find('.price_txt')[0].textContent.replace(/,/gi, '')) - (removeBundle.data('price') * Object.keys(tripSellJson.data.passengers).length))
                            break;
                        }
                    }
                }
                $("#divDEPBundle").find('.flex-text__title').eq(0).text($(this).data('name'))
                sUtil.FmtcurrencyCvt(I18N.language, currency, $(this).data('price') * Object.keys(tripSellJson.data.passengers).length, $("#divDEPBundle").find('.flex-text__additional').eq(0))
                $(".bundle_name_title")[0].textContent = '선택한 번들 :';
                $(".bundle_name_title").eq(0).next()[0].textContent = $(this).next().find('.bundle_name').text()
                $("#divDEPBundle").show()
                if (domIntType === 'I') {
                    let diffTime = dUtil.diffTime(availSearchData.tripRoute[0].flightDate.replace(/[^0-9]/g, '') + $(".booking-title").eq(0).find('.time').eq(0).text().replace(/[^0-9]/g, ''), currentDate, "HOUR");
                    if (diffTime < 72) {
                        $('#alertModalLayer').find('.alert-text').text("기내식 사전 주문은 출발 72시간 전까지 주문 가능합니다. 기내식 사전 주문을  할 수 없습니다.");
                        fullPopOpen('alertModalLayer')
                    }
                }
            }
            if ($(this).attr('id').indexOf('ARR') > -1) {
                if ($('input:checkbox[id^="chk_ARR"]:checked').length > 1) {
                    for (let i = 0; i < $('input:checkbox[id^="chk_ARR"]:checked').length; i++) {
                        if ($(this).attr('id') != $('input:checkbox[id^="chk_ARR"]:checked').eq(i).attr('id')) {
                            let removeBundle = $('input:checkbox[id^="chk_ARR"]:checked').eq(i);
                            removeBundle.prop("checked", false)
                            $("#btnTotAmount").find('.price_txt')[0].textContent = sUtil.setComma(Number($("#btnTotAmount").find('.price_txt')[0].textContent.replace(/,/gi, '')) - (removeBundle.data('price') * Object.keys(tripSellJson.data.passengers).length))
                            break;
                        }
                    }
                }
                $("#divARRBundle").find('.flex-text__title').eq(0).text($(this).data('name'))
                sUtil.FmtcurrencyCvt(I18N.language, currency, $(this).data('price') * Object.keys(tripSellJson.data.passengers).length, $("#divARRBundle").find('.flex-text__additional').eq(0))
                $(".bundle_name_title")[1].textContent = '선택한 번들 :';
                $(".bundle_name_title").eq(1).next()[0].textContent = $(this).next().find('.bundle_name').text()
                $("#divARRBundle").show()
                if (domIntType === 'I') {
                    let diffTime = dUtil.diffTime(availSearchData.tripRoute[1].flightDate.replace(/[^0-9]/g, '') + $(".booking-title").eq(1).find('.time').eq(0).text().replace(/[^0-9]/g, ''), currentDate, "HOUR");
                    if (diffTime < 72) {
                        $('#alertModalLayer').find('.alert-text').text("기내식 사전 주문은 출발 72시간 전까지 주문 가능합니다. 기내식 사전 주문을  할 수 없습니다.");
                        fullPopOpen('alertModalLayer')
                    }
                }
            }
            sUtil.FmtcurrencyCvt(I18N.language, currency, Number($("#btnTotAmount").find('.price_txt')[0].textContent.replace(/,/gi, '')) + ($(this).data('price') * Object.keys(tripSellJson.data.passengers).length), $("#btnTotAmount"))
        } else {
            if ($(this).attr('id').indexOf('DEP') > -1) {
                $(".bundle_name_title").eq(0).next()[0].textContent = '';
                $("#divDEPBundle").hide()
            }
            if ($(this).attr('id').indexOf('ARR') > -1) {
                $(".bundle_name_title").eq(1).next()[0].textContent = '';
                $("#divARRBundle").hide()
            }
            sUtil.FmtcurrencyCvt(I18N.language, currency, Number($("#btnTotAmount").find('.price_txt')[0].textContent.replace(/,/gi, '')) - ($(this).data('price') * Object.keys(tripSellJson.data.passengers).length), $("#btnTotAmount"))
        }
    }

    const addBundle = function () {
        let goNextStep = true;
        let selectedSeg = 0;
        if ($('input:checkbox[id^="chk_"]:checked').length > 0) {
            let passengers = [];
            for (let i = 0; i < Object.keys(tripSellJson.data.passengers).length; i++) {
                let passenger = {
                    passengerKey: Object.keys(tripSellJson.data.passengers).toString()
                }
                passengers.push(passenger)
            }
            $(".bundle_cont_inner").each(function (idx) {
                if (typeof $(this).find('input:checkbox[id^="chk_"]:checked').val() != 'undefined') {
                    selectedSeg++;
                    let bundle = {
                        journeyKey: tripSellJson.data.journeys[idx].journeyKey,
                        bundleCode: $(this).find('input[id^="chk_"]:checked').val(),
                        bundleName: $(this).find('input[id^="chk_"]:checked').data('name'),
                        currencyCode: tripSellJson.data.currencyCode,
                        passengers: passengers,
                        amount: $(this).find('input[id^="chk_"]:checked').data('price')
                    }
                    selectedBundles.push(bundle)
                    selectedAddBundles = {
                        bundles: selectedBundles
                    }
                }
            })
            $.ajax({
                url: 'addBundles.json',
                type: 'POST',
                beforeSend: function (request) {
                    request.setRequestHeader("PssToken", tripSellJson.data.token);
                },
                data: {
                    addBundleData: JSON.stringify(selectedAddBundles)
                },
                success: function (data) {
                    if (data.data.code != '0000') {
                        $('#alertModalLayer').find('.alert-text').text("bundle 구매에 실패 일단은 탑승객 입력화면으로 이동.")
                        fullPopOpen('alertModalLayer')
                        goPaxInput()
                    } else {
                        goPaxInput()
                    }
                }
            });
        } else {
            goPaxInput()
        }
    }
    const goPaxInput = function () {
        $('#tripSellData').val(JSON.stringify(tripSellJson));
        $('#bundleData').val(JSON.stringify(selectedBundles));
        $('#tripSelltime').val(seatOccupancyShow - (tripSelltime * 1000));
        $('#tripSellForm').attr({
            'method': 'POST',
            'onsubmit': 'return true',
            'action': '../booking/viewPassengerInput.do'
        }).submit();
    };

    // 제휴카드할인
    const callPartnerCardDisCount = function (_this) {
        $.ajax({
            type: "post",
            dataType: "html",
            url: "../layer/viewPartnerDisCount.json",
            async: false,
            traditional: true,
            data: {
                temp: "temp"
            },
            success: function (data) {
                $("#partnerCardDisCountLayer").html(data);
                //modalUI(_this);
            }
        });
    }

    function occupancyTime() {
        tripSelltime = tripSelltime + 1
    }

</script>

</body>
</html>