<html lang="ko"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org/">
<!--head-->
<div th:replace="/user/fragment/head :: head"></div>
<!--head 끝-->
<script type="text/javascript" src="/user/lib/js/ticket_reservation/json_loading.js"></script>
<body id="subLayoutBody">

<!-- appAlert -->
<div th:replace="/user/fragment/appAlert :: appAlert"></div>
<!-- //appAlert 끝 -->

<!-- header -->
<div th:replace="/user/fragment/header :: header"></div>
<!-- //header 끝 -->


<div id="body">

    <!-- Google Tag Manager (noscript) -->
    <noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PD2BQQ4" height="0" width="0"
                style="display:none;visibility:hidden"></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->

    <div class="wrap wrap--button NA NA_1_A">

        <div class="content" id="content">
            <main id="main" class="main ">

                <div class="page-title-wrap pc-only">
                    <div class="page-title">확인 및 결제</div><!-- 확인 및 동의 -->
                </div>
                <div class="section-wrap">
                    <div class="pc-pay-wrap">
                        <div class="left">
                            <div class="section-title">여정 상세</div><!-- 여정 상세 -->
                        </div>
                        <div class="right">

                            <div class="journeys__title">
                                <div class="journeys__heading">


                                    가는 편<!-- 가는 편 -->

                                </div>
                                <div class="journeys__passengers">
                                    <div class="person">
                                        <div class="person__item">
                                            <i aria-label="성인" class="icon adult"></i><!-- 성인 -->
                                            <span class="passengerNum"></span><span class="hidden">명</span>
                                            <!-- <span>{0}</span><span class="hidden">명</span> -->
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="journeys boarding-list-pc">
                                <div class="boarding-wrap reserve">
                                    <div class="boarding-box">
                                        <div class="boarding">
                                            <div class="boarding__header">
                                                <div class="boarding__header--item1">
                                                    <span class="aircraft_name"></span>
                                                </div>
                                                <div class="boarding__header--item2">
                                                    <span class="marked--brand"></span>
                                                </div>
                                            </div>
                                            <div class="boarding__info-wrap">
                                                <div class="boarding__info--top">
                                                    <div class="boarding__info--top-item1">
                                                        <span class="departure_date"></span><em
                                                            class="mo-br departure_time"></em>
                                                    </div>
                                                    <div class="boarding__info--top-item2">
                                                        <span class="arrival_date"></span><em
                                                            class="mo-br arrival_time"></em>
                                                    </div>
                                                </div>
                                                <div class="boarding__info">
                                                    <div class="boarding__info-before">
                                                        <div class="boarding__info-title departure_port"></div>

                                                    </div>
                                                    <div aria-label="one-way" class="icon-mark one-way"></div>
                                                    <div class="boarding__info-after">
                                                        <div class="boarding__info-title arrival_port"></div>

                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="pc-pay-wrap" id="roundBackInfo" style="display: none">
                        <div class="left">
                            <div class="section-title"></div>
                        </div>
                        <div class="right">

                            <div class="journeys__title" style="margin-top: 40px">
                                <div class="journeys__heading">오는 편</div>
                                <div class="journeys__passengers">
                                    <div class="person">
                                        <div class="person__item">
                                            <i aria-label="성인" class="icon adult"></i><!-- 성인 -->
                                            <span class="passengerNum"></span><span class="hidden">명</span>
                                            <!-- <span>{0}</span><span class="hidden">명</span> -->
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="journeys boarding-list-pc">
                                <div class="boarding-wrap reserve">
                                    <div class="boarding-box">
                                        <div class="boarding">
                                            <div class="boarding__header">
                                                <div class="boarding__header--item1">
                                                    <span class="aircraft_name"></span>
                                                </div>
                                                <div class="boarding__header--item2">
                                                    <span class="marked--brand"></span>
                                                </div>
                                            </div>
                                            <div class="boarding__info-wrap">
                                                <div class="boarding__info--top">
                                                    <div class="boarding__info--top-item1">
                                                        <span class="departure_date"></span><em
                                                            class="mo-br departure_time"></em>
                                                    </div>
                                                    <div class="boarding__info--top-item2">
                                                        <span class="arrival_date"></span><em
                                                            class="mo-br arrival_time"></em>
                                                    </div>
                                                </div>
                                                <div class="boarding__info">
                                                    <div class="boarding__info-before">
                                                        <div class="boarding__info-title departure_port"></div>

                                                    </div>
                                                    <div aria-label="one-way" class="icon-mark one-way"></div>
                                                    <div class="boarding__info-after">
                                                        <div class="boarding__info-title arrival_port"></div>

                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="section-wrap pc-pay-wrap2">
                    <div data-element="toggle" class="toggle-item pc-pay-wrap" data-options='{"mode": "slide"}'>
                        <div class="toggle-item__title left">
                            <button type="button" data-element="toggle__anchor" data-open="true"
                                    class="toggle-item__anchor"><span class="section-title">항목별 운임 상세</span></button>
                            <!-- 항목별 운임 상세 -->
                        </div>
                        <div data-element="toggle__panel" class="toggle-item__content pdt-none pdb-none right">
                            <div class="itemize itemize--line">
                                <div class="itemize__item">
                                    <h4 class="itemize__title">항공 운송료</h4><!-- 항공 운송료 -->

                                    <div class="flex-text">
                                        <div class="flex-text__title">항공운임</div><!-- 항공운임 -->
                                        <div class="flex-text__additional">


                                            <span class='price_txt pd0 divFare'>0</span>
                                            <span class='unit'>원</span>


                                        </div>
                                    </div>

                                    <div class="flex-text">
                                        <div class="flex-text__title">유류할증료</div><!-- 유류할증료 -->
                                        <div class="flex-text__additional">
                                            <span class='price_txt pd0 divFuel'>0</span>
                                            <span class='unit'>원</span>

                                        </div>
                                    </div>
                                    <div class="flex-text">
                                        <div class="flex-text__title">
                                            공항시설 사용료<!-- 공항시설 사용료 -->
                                        </div>
                                        <div class="flex-text__additional">
                                            <span class='price_txt pd0 divTax'>0</span>
                                            <span class='unit'>원</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="itemize__item">
                                    <h4 class="itemize__title">부가서비스</h4><!-- 부가서비스 -->
                                    <div class="flex-text">
                                        <div class="flex-text__title">사전 좌석</div><!-- 사전 좌석 -->
                                        <div class="flex-text__additional">
                                            <span class='price_txt pd0 divSeat'>0</span>
                                            <span class='unit'>원</span>
                                        </div>
                                    </div>
                                    <div class="flex-text">
                                        <div class="flex-text__title">사전 수하물</div><!-- 사전 수하물 -->
                                        <div class="flex-text__additional">
                                            <span class='price_txt pd0 divBaggageFee'>0</span>
                                            <span class='unit'>원</span>
                                        </div>
                                    </div>
                                    <div class="flex-text">
                                        <div class="flex-text__title">사전 기내식</div>
                                        <div class="flex-text__additional">
                                            <span class='price_txt pd0 divFood'>0</span>
                                            <span class='unit'>원</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="section-wrap pc-pay-wrap2">
                    <div data-element="toggle" class="toggle-item pc-pay-wrap" data-options='{"mode": "slide"}' style="display: flex;">
                        <div class="toggle-item__title left">
                            <div class="section-title">포인트 사용</div>
                        </div>
                        <div class="right toggle-item__content" style="display: block !important;">
<!--                              pdt-none pdb-none-->
                            <div class="itemize itemize--line">
                                <div class="itemize__item" style="border: 0px solid #dddddd;">
                                    <h4 class="itemize__title">현재 포인트 내역</h4><!-- 항공 운송료 -->
                                </div>
                                <div class="itemize__item" style="border: 0px solid #dddddd;">
                                    <div class="flex-text" style="align-items: center">
                                        <div class="flex-text__title">가용 포인트</div>
                                        <div class="flex-text__additional" style="display: flex; align-items: center">
                                            <input type="text" data-element="input" id="hasPoint" name="payPoint" class="input__text align-right" readonly style="width: 600px">
                                            <button type="button" data-element="remove" class="input__remove-button show">
                                                <span class="hidden">삭제</span>
                                            </button>
                                        </div>
                                    </div>

                                    <div class="flex-text" style="align-items: center">
                                        <div class="flex-text__title">사용 포인트</div>
                                        <div class="flex-text__additional" style="display: flex; align-items: center">
                                            <input type="number" min="0" data-element="input" id="inputPoint" name="payPoint" class="input__text align-right" style="width: 600px" value="0">
                                            <button type="button" data-element="remove" class="input__remove-button show">
                                                <span class="hidden">삭제</span>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="fixed-wrap button-wrap pc-center section-wrap pc-type01" style="padding-left: 0">
                                        <button id="btnPoint" name="btnNext" type="button" class="button button--primary button--active">
                                            <span class="button__text change_point">사용하기</span><!-- 다음 -->
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="arrow-list arrow-list--payment only-right">
                    <div id="btnPaxDetail" class="arrow-list__item" style="margin-top: 30px">
                        <div class="payment-amount">
                            <div class="payment-amount__title">예상 결제금액</div><!-- 예상 결제금액 -->
                            <p class="payment-amount__sum">
                                <a href="javascript:void(0)">

                                    <span class='price_txt pd0 spanCost'></span>
                                    <span class='unit'>원</span>
                                </a>
                            </p>
                        </div>
                    </div>
                    <div class="arrow-list__item" >
                        <div class="payment-amount">
                            <div class="payment-amount__title">포인트 사용</div><!-- 예상 결제금액 -->
                            <p class="payment-amount__sum">
                                <a>
                                    <span class='price_txt pd0 spanPoint'>0</span>
                                    <span class='unit'>P</span>
                                </a>
                            </p>
                        </div>
                    </div>
                    <div class="arrow-list__item" >
                        <div class="payment-amount">
                            <div class="payment-amount__title">최종 결제금액</div><!-- 예상 결제금액 -->
                            <p class="payment-amount__sum">
                                <a>
                                    <span class='price_txt pd0 spanFinalCost'></span>
                                    <span class='unit'>원</span>
                                </a>
                            </p>
                        </div>
                    </div>
                </div>

                <div class="container--large">
                    <div class="fixed-wrap button-wrap pc-center section-wrap pc-type01">
                        <button id="btnNext" name="btnNext" type="button" class="button button--primary button--active">
                            <span class="button__text">카카오페이 결제하기</span><!-- 다음 -->
                        </button>
                    </div>
                </div>

                <button type="button" id="btnModalOpen" data-element="modal_anchor" style="display: none;"></button>
            </main>
        </div>
    </div>
</div>
<div id="passModal" class="modal_container" style="display: none; position: absolute; top: 0; left: 0; background-color: rgba(0, 0, 0, 0.4); height: 200%; width: 100%; z-index: 2000">
    <div id="paxDetailLayer" class="modal modal-full modal-scroll modal-small" style="overflow: hidden; display: block; position: absolute; top: 25%; left: 45%; min-height: auto">
        <div class="modal-header">
            <div class="modal-header__title">탑승객별 운임 상세</div>
        </div>
        <div class="modal-content" style="height: 575px;">
            <div class="receipt-style" id="totalPsFares">
                <dl class="line-list-item">
                    <dt class="title total">
                        <div class="txt-left">총 결제금액</div>
                        <div class="right">
                            <p><span class="price_txt spanCost"></span><span class="unit">&nbsp원</span></p>
                        </div>
                    </dt>
                    <dd class="list">
                        <ul>
                            <li>
                                <div class="txt-left">항공 운송료</div>
                                <div class="txt-right">
                                    <p><span class="price_txt divTotalFare"></span><span class="unit">&nbsp원</span></p>
                                </div>
                            </li>
                            <li>
                                <div class="txt-left">부가서비스</div>
                                <div class="txt-right">
                                    <p><span class="price_txt divTotalService"></span><span class="unit">&nbsp원</span></p>
                                </div>
                            </li>
                        </ul>
                    </dd>
                </dl>
            </div>
            <div class="line-list-wrap" id="passengerFareList">
                <div class="passenger-info">
                    <div class="person">
                        <div class="person__item">
                            <i aria-label="성인" class="icon adult"></i><span class="passengerNum">2</span><span class="hidden">명</span>
                        </div>
                    </div>
                </div>
            </div>
            <a href="javascript:void(0)" rel="modal:close" class="modal__close"><span class="blind">닫기</span></a>
        </div>
    </div>
</div>

<!--<footer.html>-->
<div th:replace="/user/fragment/footer.html :: footer"></div>
<!--</footer> 끝-->


<!-- 공통 스크립트 선언 -->

<!--<div th:replace="/user/fragment/js :: js"></div>-->

<script type="text/javascript" src="/user/lib/js/lib.min.js"></script>
<script type="text/javascript" src="/user/lib/js/common.js"></script>
<script type="text/javascript" src="/user/lib/js/plugin.js"></script>



<!-- 공통 스크립트 선언 끝 -->

<script type="text/javascript" src="/user/lib/js/ticket_reservation/view_confirm.js"></script>
<script type="text/javascript" src="/user/lib/js/head/head.js"></script>
<!--body, html 주석은 위치 고정-->
</body>
</html>
<!--body, html 주석은 위치 고정 끝-->