<html lang="ko"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org/">

<!--head-->
<div th:replace="/user/fragment/head :: head"></div>
<!--head 끝-->
<script type="text/javascript" src="/user/lib/js/ticket_reservation/json_loading.js"></script>
<body id="subLayoutBody">

<!--appAlert-->
<div th:replace="/user/fragment/appAlert :: appAlert"></div>
<!--appAlert 끝-->
<!--header-->
<div th:replace="/user/fragment/header :: header"></div>
<!--header 끝-->

<div id="body">


    <!-- Google Tag Manager (noscript) -->
    <noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PD2BQQ4" height="0" width="0"
                style="display:none;visibility:hidden"></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->

    <div class="wrap wrap--button-fixed">


        <div class="content" id="content">
            <main id="main" class="main guide-small">

                <div class="finish-item-wrap">
                    <div class="finish-item complete">
                        <div class="finish-item__img"><img
                                src="https://static.jejuair.net/hpgg/resources/images/icon/icon-check-completion.png"
                                alt=""></div>
                        <p class="finish-item__title">항공편 결제가 완료되었습니다.</p><!-- 항공권 결제가 완료되었습니다. -->
                    </div>
                </div>
                <div class="sub-section">
                    <div class="gray-box">
                        <dl class="join-info">
                            <div class="join-info__row">
                                <p style="margin-bottom: 30px; font-weight: bolder; font-size: 20px; color: #0d0d0d">가는 편</p>
                            </div>
                            <div class="join-info__row">

                                <dt class="w65">여정</dt><!-- 여정 -->
                                <dd>
                                    <span class="departure_port"></span>
                                    <span class="one-way" aria-label="oneway"><img
                                            src="https://static.jejuair.net/hpgg/resources/images/icon/icon-graybox-oneway.png"
                                            alt=""></span>
                                    <span class="arrival_port"></span>
                                </dd>
                            </div>
                            <div class="join-info__row">
                                <dt class="w65">예약번호</dt><!-- 예약번호 -->
                                <dd><span class="res_idx"></span></dd>
                            </div>
                        </dl>
                    </div>
                </div>

                <div class="sub-section roundback_hidden" style="display: none">
                    <div class="gray-box">
                        <dl class="join-info">
                            <div class="join-info__row">
                                <p style="margin-bottom: 30px; font-weight: bolder; font-size: 20px; color: #0d0d0d">오는 편</p>
                            </div>
                            <div class="join-info__row">
                                <dt class="w65">여정</dt><!-- 여정 -->
                                <dd>
                                    <span class="departure_port"></span>
                                    <span class="one-way" aria-label="oneway"><img
                                            src="https://static.jejuair.net/hpgg/resources/images/icon/icon-graybox-oneway.png"
                                            alt=""></span>
                                    <span class="arrival_port"></span>
                                </dd>
                            </div>
                            <div class="join-info__row">
                                <dt class="w65">예약번호</dt><!-- 예약번호 -->
                                <dd><span class="res_idx"></span></dd>
                            </div>
                        </dl>
                    </div>
                </div>


                <div class="section-wrap">
                    <div class="temp-banner" style="background-color: #dcfbf6;cursor: pointer;"
                         onclick="window.open('https://card.hyundaicard.com/EVENT?id=gjm4&amp;eventCode=GJM98&amp;jjout=Y')">
                        <div class="img-area">
                            <img src="https://static.jejuair.net/cms/images/banner_image/20220607114733895.png" alt="">
                        </div>
                        <p class="txt one-line" style="color: #333333;">현대카드 the Green 이벤트 <br>국내선 항공권을 드려요</p>
                    </div>
                </div>


                <div class="section-wrap">
                    <div class="temp-banner" style="background-color: white;cursor: pointer;"
                         onclick="window.open('https://bank1s.co.kr/scash/join?siteCode=JP&amp;ctgCode=1&amp;jjout=Y')">
                        <div class="img-area">
                            <img src="https://static.jejuair.net/cms/images/banner_image/20220722110438582.png" alt="">
                        </div>
                        <p class="txt one-line" style="color: #343434;">여행 전 필수 체크! <br>편의점 6천원쿠폰 100%증정 <br></p>
                    </div>
                </div>





                <div class="fixed-wrap button-wrap button-flex pc-center section-wrap">


                    <button name="btnHome" type="button" class="button button--primary button--black">
                        <span class="button__text">메인</span><!-- 메인 -->
                    </button>


                    <button name="btnList" type="button" class="button button--primary button--active">
                        <span class="button__text">나의 예약현황</span><!-- 나의 예약현황 -->
                    </button>


                </div>
                <div id="refreshPointPopRefreshPointGuide" class="modal modal-full modal-scroll">
                    <div class="modal-header">
                        <div class="modal-header__title">리프레시 포인트 안내</div><!-- 리프레시 포인트 안내 -->
                    </div>
                    <div class="modal-content">
                        <div class="container--small">
                            <div class="title">
                                <div class="title__wrap">
                                    <h2 class="title__section--small">리프레시 포인트 활용법</h2><!-- 리프레시 포인트 활용법 -->
                                    <p class="title__additional">쓸수록 쓸모 있는 나만의 혜택! 항공 마일리지의 새로운 기준!<br class="pc-only">
                                        리프레시 포인트 이렇게 사용해 보세요.</p>
                                    <!-- 쓸수록 쓸모 있는 나만의 혜택! 항공 마일리지의 새로운 기준!<br class="pc-only"> 리프레시 포인트 이렇게 사용해 보세요. -->
                                </div>
                            </div>
                        </div>
                        <div class="container--large pc-40">
                            <div class="gray-box">
                                <div class="title__section--small">포인트 더 빨리 모으는 방법!</div><!-- 포인트 더 빨리 모으는 방법! -->
                            </div>
                        </div>
                        <div class="refresh-list-box pc-30">
                            <div class="list-wrap">
                                <h3 class="text__default text--bold">적립</h3><!-- 적립 -->
                                <ul class="list-guide">
                                    <li class="list-guide__item">회원가입 시 1,000 P 적립</li><!-- 회원가입 시 1,000 P 적립 -->
                                    <li class="list-guide__item">순수 항공 운임 기준 5% 적립</li><!-- 순수 항공 운임 기준 5% 적립 -->
                                    <li class="list-guide__item">3회, 11회 탑승 추가 포인트 적립</li><!-- 3회, 11회 탑승 추가 포인트 적립 -->
                                    <li class="list-guide__item">1년 이내 탑승후 포인트 적립</li><!-- 1년 이내 탑승후 포인트 적립 -->
                                </ul>
                            </div>
                        </div>
                        <div class="refresh-list-box pc-30">
                            <div class="list-wrap">
                                <h3 class="text__default text--bold">구매</h3><!-- 구매 -->
                                <ul class="list-guide">
                                    <li class="list-guide__item">부족한 만큼 포인트 구매로 항공권 예약까지 !</li>
                                    <!-- 부족한 만큼 포인트 구매로 항공권 예약까지 ! -->
                                </ul>
                            </div>
                        </div>
                        <div class="refresh-list-box pc-30">
                            <div class="list-wrap">
                                <h3 class="text__default text--bold">보너스 챙기기</h3><!-- 보너스 챙기기 -->
                                <ul class="list-guide">
                                    <li class="list-guide__item">제주항공에서 제공하는 다양한 이벤트에 참여하여 보너스 포인트 챙겨가기</li>
                                    <!-- 제주항공에서 제공하는 다양한 이벤트에 참여하여 보너스 포인트 챙겨가기 -->
                                </ul>
                                <div class="container--default align-center pc-30">
                                    <button type="button" id="btnEvent" class="button button--optional button--active">
                                        <span class="button__text">이벤트 참여하기</span></button><!-- 이벤트 참여하기 -->
                                </div>
                            </div>
                        </div>
                        <div class="container--large pc-40">
                            <div class="gray-box">
                                <div class="title__section--small">포인트를 가치 있게 사용하는 방법</div><!-- 포인트를 가치 있게 사용하는 방법 -->
                            </div>
                        </div>
                        <div class="refresh-list-box pc-30">
                            <div class="list-wrap">
                                <h3 class="text__default text--bold">사용</h3><!-- 사용 -->
                                <ul class="list-guide">
                                    <li class="list-guide__item">가족, 보내기 회원 포인트 보내기 및 합산 (포인트 항공권 구매)</li>
                                    <!-- 가족, 보내기 회원 포인트 보내기 및 합산 (포인트 항공권 구매) -->
                                    <li class="list-guide__item">사전 수하물 구매</li><!-- 사전 수하물 구매 -->
                                    <li class="list-guide__item">사전 좌석 구매</li><!-- 사전 좌석 구매 -->
                                    <li class="list-guide__item">사전 기내식 주문</li><!-- 사전 기내식 주문 -->
                                </ul>
                            </div>
                            <div class="container--default align-center pc-30">
                                <button type="button" id="btnPoint" class="button button--optional button--active"><span
                                        class="button__text">포인트 사용</span></button><!-- 포인트 사용 -->
                            </div>
                        </div>
                        <div class="refresh-list-box pc-30">
                            <div class="list-wrap">
                                <h3 class="text__default text--bold">포인트 보내기/ 받기</h3><!-- 포인트 보내기/ 받기 -->
                                <ul class="list-guide">
                                    <li class="list-guide__item">감사한 마음을 포인트로 가족, 연인, 보내기 회원에게 포인트를 선물하세요.</li>
                                    <!-- 감사한 마음을 포인트로 가족, 연인, 보내기 회원에게 포인트를 선물하세요. -->
                                </ul>
                            </div>
                        </div>
                    </div>
                    <a href="javascript:void(0)" rel="modal:close" class="modal__close"><span
                            class="blind">닫기</span></a><!-- 닫기 -->
                </div>
                <form role="form" method="post"></form>
            </main>
        </div>

    </div>
</div>


<!-- footer -->
<div th:replace="/user/fragment/footer :: footer"></div>
<!-- / footer 끝 -->

<div id="ifmWrap"
     style="height:100%; display:none; overflow:auto; text-align:center; -webkit-overflow-scrolling:touch;">
    <iframe src="" width="100%" height="100%" name="popupChkApp"></iframe>
</div>
<script type="text/javascript" src="/user/lib/js/ticket_reservation/view_payment_complete.js"></script>
<!-- 공통 스크립트 선언 -->
<script type="text/javascript" src="/user/lib/js/lib.min.js"></script>
<script type="text/javascript" src="/user/lib/js/common.js"></script>
<script type="text/javascript" src="/user/lib/js/plugin.js"></script>

</body>
</html>