<html lang="ko"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org/">
<!--head-->
<div th:replace="/user/fragment/head :: head"></div>
<!--head 끝-->

<body id="subLayoutBody">

<!-- appAlert -->
<div th:replace="/user/fragment/appAlert :: appAlert"></div>
<!-- //appAlert 끝 -->

<!-- header -->
<div th:replace="/user/fragment/header :: header"></div>
<!-- //header 끝 -->


<div id="body">

    <!-- Google Tag Manager (noscript) -->
    <noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PD2BQQ4" height="0" width="0"
                style="display:none;visibility:hidden"></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->

    <div class="wrap wrap--login pc-small">


        <div class="content" id="content">
            <main id="main" class="main ">


                <div class="page-title-wrap">
                    <div class="page-title">로그인</div>
                    <div class="page-sub-title">포인트 적립에서 운임할인까지<br>회원전용 혜택을 받아보세요.</div>
                </div>
                <!--//20210519 title영역 수정-->
                <input type="hidden" id="bookType" value="">
                <div class="login">
                    <form id="frm" action="/user/loginOk" method="POST">
                        <input type="hidden" name="apiRequestType" id="apiRequestType">
                        <input type="hidden" name="targetUrl" id="targetUrl" value="">
                        <input type="hidden" name="nonTargetUrl" id="nonTargetUrl" value="">
                        <input type="hidden" name="security" id="security" value="">
                        <input type="hidden" name="snsType" id="snsType">
                        <input type="hidden" name="snsId" id="snsId">

                        <div class="login__input-area">
                            <div class="input-row">
                                <!-- D : 에러메세지 노출 시 'input--error' 클래스 추가 -->
                                <div id="idAreaForm" data-element="form" class="input">
                                    <!-- <label for="userId" class="input__label">아이디 <span title="required" class="input__label-asterisk">*</span></label> -->
                                    <!--20210427 label 추가-->
                                    <input type="text" data-element="input" id="memUserid" name="memUserid"
                                           class="input__text input__Userid" tabindex="1" placeholder="아이디">
                                    <!--placeholder 삭제-->
                                    <button type="button" data-element="remove" class="input__remove-button"><span
                                            class="hidden">삭제</span></button>
                                </div>
                                <!-- 6자 미만 입력 시 or 띄어쓰기 입력 시 -->
                                <p tabindex="0" id="idErrorArea" class="input__error">

                                </p>
                                <!-- //6자 미만 입력 시 or 띄어쓰기 입력 시 -->

                                <!-- 탈퇴한 ID 입력 시
                            <p tabindex="0" class="input__error">탈퇴한 적이 있는 아이디는 사용할 수 없습니다.<br>다른 아이디로 가입해 주세요.</p>
                            //탈퇴한 ID 입력 시 -->
                            </div>
                            <!-- D : 에러메세지 노출 시 'input--error' 클래스 추가 -->
                            <div class="input-row input-row--password">
                                <div id="pwAreaForm" data-element="form" class="input ">
                                    <!-- <label for="userPwd" class="input__label">비밀번호 <span title="required" class="input__label-asterisk">*</span></label> -->
                                    <!--20210427 label 추가-->
                                    <input type="password" data-element="input" id="memUserpw" name="memUserpw"
                                           class="input__text input__password" tabindex="2" placeholder="비밀번호">
                                    <!--placeholder 삭제-->
                                    <button type="button" data-element="remove" class="input__remove-button"><span
                                            class="hidden">삭제</span></button>
                                    <button type="button" data-element="toggleShow" class="input__show-button"
                                            aria-label="비밀번호 보기"></button>
                                </div>
                                <!-- 등록되지 않은 아이디 or 아이디/비밀번호 불일치 시 -->
                                <p tabindex="0" id="pwErrorArea" class="input__error">

                                </p>
                                <!-- //등록되지 않은 아이디 or 아이디/비밀번호 불일치 시 -->
                            </div>

                        </div>
                        <div class="login__check">
                        <div th:if="${message =='fail'}"><span style="font-size: 14px; color: #FF5000; margin-top: 20px; text-align: left;">아이디, 비밀번호를 확인하세요.</span></div>
				<span class="checkbox checkbox--small">
					<input type="checkbox" class="checkbox__input" name="userIdSave" id="userIdSave"
                           data-element="checkbox">
					<label for="userIdSave" class="checkbox__label">
						<i class="checkbox__ico" aria-hidden="true"></i>
						<span>아이디&nbsp;저장</span>
					</label>
				</span>
                        </div>
                        <div class="button-wrap button-wrap--login">
                            <div class="button-wrap">
                                <button type="submit" class="button button--primary">
                                    <span class="button__text">로그인</span></button>
                            </div>

                        </div>

                        <div class="link-wrap link-wrap--login">
                            <!--20210519 class명 삭제-->
                            <a href="/user/findEmailUserInfo" class="link-wrap__item" data-action="menu" data-menu-name="findUserInfo">아이디/비밀번호&nbsp;찾기</a>
                            <a href="#" class="link-wrap__item" data-action="menu" data-menu-name="join">회원가입</a>
                        </div>
                    </form>
                </div>
                <a href="#" class="hidden" data-element="modal_anchor" data-target="#modalLayer01"
                   data-modal-type="full" style="color: #fff;"></a>
                <div id="modalLayer01" class="modal modal-full modal-scroll">
                    <div class="modal-header">
                        <div class="modal-header__title">미가입&nbsp;계정&nbsp;안내</div>
                    </div>
                    <div class="modal-content">
                        <div class="finish-item-wrap finish-item-wrap--full">
                            <div class="finish-item no-data">
                                <div aria-hidden="true" class="finish-item__img"></div>
                                <p class="finish-item__title">가입되어&nbsp;있지&nbsp;않은&nbsp;계정입니다.</p>
                                <p class="finish-item__text">회원으로 가입하시면 <br>각종 회원 전용 서비스를 이용하실 수 있습니다.</p>
                            </div>
                        </div>

                    </div>
                    <div class="fixed-wrap fixed-wrap--multi-line border-none ">
                        <div class="button-wrap">
                            <button type="button" class="button button--primary button--active " data-action="menu"
                                    data-menu-name="join"><span class="button__text">회원가입하기</span></button>
                        </div>
                    </div>

                    <a href="#" rel="modal:close" class="modal__close"><span class="blind">Close</span></a>
                </div>
            </main>
        </div>

    </div>
</div>


<!--<footer.html>-->
<div th:replace="/user/fragment/footer.html :: footer"></div>
<!--</footer> 끝-->


<div id="ifmWrap" style="height:100%; display:none; overflow:auto; text-align:center; -webkit-overflow-scrolling:touch;">
    <iframe src="" width="100%" height="100%" name="popupChkApp"></iframe>
</div>

<!--
<div class="background">
    <form class="login" id="login" method="POST" action="/user/loginOk">
        <div class="login_box"><img class="login_logo" src="/user/lib/images/Jejuair_logo.png"></div>
        <div class="login_box"><span>ID</span><input id="memUserId" name="memUserId" type="text" class="textBox"></div>
        <div class="login_box"><span>PASSWORD</span><input id="memUserPw" name="memUserPw" type="password" class="textBox"></div>
        <div class="login_box"><button type="submit" class="button register" value="로그인">로그인</button></div>
        <div th:if="${message =='fail'}"><span style="font-size: 14px; color: var(--orange);">아이디, 비밀번호를 확인하세요.</span></div>
    </form>
</div>
-->

<script>
    console.log("들어옴")
    $(function () {
        $('.button').on('click', function(){
            isLogin();
        })

        function isLogin(){
            if( !$('#memUserid').val() || !$('#memUserpw').val()){
                alert('아이디 비밀번호를 확인하세요');
                return false;
            }
        }
    });

    $('.input__Userid').on('input', checkInput);
    $('.input__password').on('input', checkInput);

    function checkInput() {
        let inputMemUserId = $('.input__Userid').val();
        let inputMemUserPassword = $('.input__password').val();
        let button = $('.button--primary');

        if (inputMemUserId === '' || inputMemUserPassword === '') {
            // 기본 로그인 버튼 색상
            button.removeClass('button--active');
        } else {
            // ID 비밀번호 입력 시에 로그인 버튼 배경색 변경
            button.addClass('button--active');
        }
    }


</script>

<script>


</script>
<!-- 공통 스크립트 선언 -->

<!--<div th:replace="/user/fragment/js :: js"></div>-->
<script type="text/javascript" src="/user/lib/js/lib.min.js"></script>
<script type="text/javascript" src="/user/lib/js/common.js"></script>
<script type="text/javascript" src="/user/lib/js/plugin.js"></script>
<script type="text/javascript" src="/user/lib/js/head/head.js"></script>

<!-- 공통 스크립트 선언 끝 -->

<!--body, html 주석은 위치 고정-->
</body>
</html>
<!--body, html 주석은 위치 고정 끝-->
