<html lang="ko"
	  xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org/">
<!--head-->
<div th:replace="/user/fragment/head :: head"></div>
<!--head 끝-->


<body id="subLayoutBody" class="vsc-initialized">


<!-- appAlert -->
<div th:replace="/user/fragment/appAlert :: appAlert"></div>
<!-- //appAlert 끝 -->

<!-- header -->
<div th:replace="/user/fragment/header :: header"></div>
<!-- //header 끝 -->


<div id="body">
	<!-- Google Tag Manager (noscript) -->
	<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PD2BQQ4" height="0" width="0"
					  style="display:none;visibility:hidden"></iframe></noscript>
	<!-- End Google Tag Manager (noscript) -->
	<div class="wrap NF">
		<div id="breadcrumb" class="breadcrumb pc-only" aria-label="breadcrumb">
			<nav class="breadcrumb__inner">
				<div class="breadcrumb__item">
					<a href="javascript:;" class="breadcrumb__link">홈</a>
				</div>
				<div class="breadcrumb__item">
					<a href="javascript:;" class="breadcrumb__link">탑승 수속 안내</a>
				</div>
				<div class="breadcrumb__item breadcrumb__item--current" aria-current="page" data-element="toggle"
					 data-options='{"mode": "slide", "speed": 100, "clickToClose": true}'>
					<button type="button" class="breadcrumb__link breadcrumb__link--list"
							data-element="toggle__anchor">수하물</button>
					<div class="breadcrumb__siblings-list" data-element="toggle__panel">
						<a href="javascript:void(0);" class="item" onclick="URL_LINK.getI18Url('/ibe/checkin/viewCheckin.do')">모바일
							탑승권</a>
						<a href="javascript:void(0);" class="item" onclick="URL_LINK.getI18Url('/linkService/airport/info.do')">공항
							정보</a>
						<a href="javascript:void(0);" class="item"
						   onclick="URL_LINK.getI18Url('/linkService/fastProcedure/guide.do')">빠른 수속</a>
						<a href="javascript:void(0);" class="item" onclick="URL_LINK.getI18Url('/linkService/help/main.do')">도움이 필요한
							고객</a>
					</div>
				</div>
			</nav>
		</div>
		<div class="content" id="content">
			<main id="main" class="main ">
				<div class="page-title-wrap">
					<div class="page-title">수하물 안내</div>
					<div class="page-sub-title">여행을 <br class="mobile-only">계획 중이신가요?</div>
					<div class="text__default text--color-gray add--mt-10">여행을 준비하실 때 꼭 알아야 할 수하물 정보를 안내해 드리니 여행 전에 꼭 확인해 주세요.
					</div>
				</div>
				<div class="container--default">
					<div class="section-wrap">
						<div class="section-title">휴대 수하물</div>
						<div class="arrow-list arrow-list--box">
							<a href="/ko/linkService/boardingProcessGuide/cabinBaggage.do" class="arrow-list__item">
								<span class="arrow-list__text arrow-list__text--title">기내 수하물</span>
							</a>
						</div>
					</div>
					<div class="section-wrap">
						<div class="section-title">위탁 수하물</div>
						<div class="arrow-list arrow-list--box">
							<a href="/ko/linkService/boardingProcessGuide/trustBaggage.do" class="arrow-list__item">
								<span class="arrow-list__text arrow-list__text--title">위탁 수하물</span>
							</a>
							<a href="/ko/linkService/boardingProcessGuide/specialBaggage.do" class="arrow-list__item">
								<span class="arrow-list__text arrow-list__text--title">특수 수하물</span>
							</a>
							<a href="/ko/linkService/boardingProcessGuide/baggageFare.do" class="arrow-list__item">
								<span class="arrow-list__text arrow-list__text--title">수하물 운임</span>
							</a>
						</div>
					</div>
					<div class="section-wrap">
						<div class="section-title">기타 안내</div>
						<div class="arrow-list arrow-list--box">
							<a href="/ko/linkService/boardingProcessGuide/transportLimitation.do" class="arrow-list__item">
								<span class="arrow-list__text arrow-list__text--title">운송제한 물품</span>
							</a>
							<a href="/ko/linkService/boardingProcessGuide/liability.do" class="arrow-list__item">
								<span class="arrow-list__text arrow-list__text--title">수하물 분실 및 배상</span>
							</a>
						</div>
					</div>
				</div>
			</main>
		</div>
	</div>


	<!-- footer -->
	<div th:replace="user/fragment/footer :: footer"></div>
	<!-- / footer 끝 -->


	<!-- 공통 스크립트 선언 -->

	<!--<div th:replace="/user/fragment/js :: js"></div>-->
	<script type="text/javascript" src="/user/lib/js/lib.min.js"></script>
	<script type="text/javascript" src="/user/lib/js/common.js"></script>
	<script type="text/javascript" src="/user/lib/js/plugin.js"></script>

	<!-- 공통 스크립트 선언 끝 -->

	<!--body, html 주석은 위치 고정-->
</body>
</html>
<!--body, html 주석은 위치 고정 끝-->
