<html lang="ko"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org/">
<!--head-->
<div th:replace="/user/fragment/head :: head"></div>
<!--head 끝-->

<body id="subLayoutBody">

<!-- appAlert -->
<div th:replace="/user/fragment/appAlert :: appAlert"></div>
<!-- //appAlert 끝 -->

<!-- header -->
<div th:replace="/user/fragment/header :: header"></div>
<!-- //header 끝 -->


<div id="body">

    <!-- Google Tag Manager (noscript) -->
    <noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PD2BQQ4" height="0" width="0"
                style="display:none;visibility:hidden"></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->

    <div class="wrap wrap--button">


        <div class="content" id="content">
            <main id="main" class="main ">

                <div class="page-title-wrap pc-only">
                    <div class="page-title">개인정보처리방침</div><!-- 개인정보처리방침 -->
                </div>

                <div class="sub-section footer-policy-search">
                    <div class="input-wrap input--line">
                        <div class="select-wrap select-wrap--line">
                            <select class="select-wrap__select selected" id="termList" title="개인정보처리방침 이전 이력 목록">
                                <!-- 개인정보처리방침 이전 이력 목록 -->
                                <option value="0000000560">2022.02.28</option>
                                <option value="0000000558">2021.12.06</option>
                                <option value="0000000556">2021.08.31</option>
                                <option value="0000000489">2021.06.28</option>
                                <option value="0000000488">2021.04.07</option>
                                <option value="0000000487">2021.01.29</option>
                                <option value="0000000486">2020.12.01</option>
                                <option value="0000000485">2020.05.25</option>
                                <option value="0000000484">2020.02.28</option>
                                <option value="0000000483">2019.11.25</option>
                                <option value="0000000482">2019.01.04</option>
                                <option value="0000000481">2018.10.12</option>
                                <option value="0000000480">2018.07.27</option>
                                <option value="0000000479">2018.07.01</option>
                                <option value="0000000478">2018.05.31</option>
                                <option value="0000000477">2018.05.11</option>
                                <option value="0000000085">2018.02.26</option>
                                <option value="0000000084">2018.01.05</option>
                                <option value="0000000083">2017.11.15</option>
                                <option value="0000000082">2017.08.14</option>
                                <option value="0000000081">2017.07.01</option>
                                <option value="0000000080">2017.02.03</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="agreement" id="termBox">
                    <style>
                        .cms li {
                            word-break: keep-all;
                            word-wrap: break-word;
                            font-size: 14px;
                        }

                        .cms ol > li {
                            margin-top: 40px;
                            font-weight: 700;
                            font-size: 16px;
                        }

                        .cms ol > li > ol {
                            margin-bottom: 22px;
                        }

                        .cms ol > li > ol > li {
                            margin-top: 8px;
                            font-weight: 400;
                            font-size: 14px;
                            padding-left: 7px;
                        }

                        .cms ol > li > ol > li > ol > li {
                            padding-left: 20px;
                        }

                        .cms ol {
                            counter-reset: ol;
                            list-style-type: none;
                        }

                        .cms ol > li > ol {
                            counter-reset: part2;
                            list-style-type: none;
                        }

                        .cms ol > li > ol > li > ol {
                            counter-reset: part3;
                            list-style-type: none;
                        }

                        .cms ol > li::before {
                            counter-increment: ol;
                            content: counter(ol, decimal) ". ";
                        }

                        .cms ol > li > ol > li::before {
                            counter-increment: part2;
                            content: counter(part2, decimal) ") ";
                            margin-left: -7px;
                        }

                        .cms ol > li > ol > li > ol > li::before {
                            counter-increment: part3;
                            content: "(" counter(part3, decimal) ") ";
                            margin-left: -20px;
                        }

                        .cms ul {
                            list-style-type: none;
                            margin: 8px 0;
                        }

                        .cms ul > li {
                            text-indent: -5px;
                        }

                        .cms ul > li > ul {
                            padding-left: 7px;
                        }

                        .cms ul > li > ul > li {
                            font-size: 13px;
                            color: #888;
                        }

                        .cms ul > li::before {
                            content: '';
                            display: inline-block;
                            transform: translate(-0.3em, -0.3em);
                            width: 2px;
                            height: 2px;
                            background-color: #707070;
                        }

                        .cms ul > li > ul > li::before {
                            content: '';
                            display: inline-block;
                            transform: translate(-0.3em, -0.3em);
                            width: 4px;
                            height: 1px;
                            background: #707070;
                        }

                        .cms a {
                            border-bottom: 1px solid #ff5000;
                            color: #ff5000;
                        }
                    </style>

                    <div class="cms">

                        <p>주식회사 제주항공(이하 ‘회사')은 이용자의 개인정보를 중요시하며, 모든 개인정보를 관련 법령 또는 이용자의 동의에 근거하여 처리하고 있습니다.</p>
                        <p>회사는 본 개인정보 처리방침을 통하여 이용자의 개인정보가 어떠한 용도와 방식으로 이용되며 이용자의 개인정보를 보호하기 위해 회사가 어떠한 조치를 취하고 있는지
                            알려드립니다.</p>
                        <p><br></p>
                        <p><br></p>
                        <p><br></p>
                        <p>1. 수집하는 개인정보의 항목 및 수집방법</p>
                        <p>2. 개인정보의 수집 및 이용목적</p>
                        <p>3. 개인정보의 처리위탁</p>
                        <p>4. 개인정보의 제3자 제공</p>
                        <p>5. 개인정보의 보유 및 이용기간</p>
                        <p>6. 개인정보의 파기절차 및 파기방법</p>
                        <p>7. 이용자 및 법정대리인의 권리와 그 행사방법</p>
                        <p>8. 개인정보 자동수집 장치의 설치, 운영 및 그 거부에 관한 사항</p>
                        <p>9. 개인정보의 안전성 확보조치</p>
                        <p>10. 개인정보 보호책임자 및 담당부서 연락처</p>
                        <p>11. 회사의 고지 의무</p>
                        <p>12. 개인정보 처리방침 변경이력</p>
                        <p><br></p>
                        <p><br></p>
                        <p>※ 현재 개인정보 처리방침 시행일자 : 2022년 02월 28일</p>
                        <p><br></p>
                        <p><br></p>
                        <p><br></p>
                        <p>1. 수집하는 개인정보 항목 및 수집방법</p>
                        <p><br></p>
                        <p>1) 수집 항목</p>
                        <p>회사는 회원가입 및 회원의 서비스 이용 과정에서 아래와 같은 개인정보를 수집 합니다.</p>
                        <p><br></p>
                        <p>필수항목 : 아이디, 비밀번호, 성명, 성별, 생년월일, 국적, 거주국가, 이메일 주소, 전화번호(휴대폰번호, 자택번호 중 택일), 연계정보(CI),
                            중복가입확인정보(DI), 만14세 미만은 법정대리인정보, 이용자 식별정보(SNS간편회원 가입시), (기업우대 가입시)기업명, 기업코드</p>
                        <p><br></p>
                        <p>선택항목 : 여권번호, 탑승자명, (기업우대 가입시)근무부서, 직책</p>
                        <p><br></p>
                        <p>비회원의 항공권 예약 및 서비스 관련 질의 답변, 이용자의 이벤트 참여 등 서비스 제공 과정에서 해당 서비스 이용자에 한하여 아래와 같은 정보가 수집 될 수
                            있습니다.</p>
                        <p>&nbsp;</p>
                        <p>필수항목 : 성명(탑승자명), 이메일주소, 연락처(휴대폰 번호, 자택 번호 중 택일)</p>
                        <p>선택항목 : 국적, 생년월일</p>
                        <p><br></p>
                        <p>회사는 악기운송, 애완동물운송, 총포 및 도검류 운송, 소실보장서약, 항공권 환불 신청 위임 등 항공운송 서비스 제공 과정에서 아래와 같은 정보가 수집 될 수
                            있습니다.&nbsp;</p>
                        <p><br></p>
                        <p>필수항목 : 성명, 생년월일, 연락처(전화번호, 이메일주소), 주소, 국적, 여권번호</p>
                        <p><br></p>
                        <p>유료 서비스 대금 결제, 피해구제 신청 시 보상금 지급, 손실보상금 지급 등을 위하여 아래와 같은 정보가 수집될 수 있습니다.</p>
                        <p>필수항목</p>
                        <p>신용카드 결제 : 카드번호 및 카드 인증정보 등</p>
                        <p>실시간 계좌이체 결제 : 계좌번호 및 결제은행 코드 등</p>
                        <p>피해보상금 입금 : 성명, 이메일 주소, 연락처, 주소, 금융기관 계좌정보(예금주, 계좌번호 등)</p>
                        <p><br></p>
                        <p><br></p>
                        <p>2) 개인정보의 수집방법</p>
                        <p>인터넷 홈페이지, 서비스상담, 이벤트 참여, 오프라인서식, 제휴사로부터의 제공 등</p>
                        <p><br></p>
                        <p>서비스 제공을 위해 타 기관으로부터 다음의 정보를 제공받아 수집 이용하고 있습니다.</p>
                        <p><br></p>
                        <p>제공자 : 나이스평가정보</p>
                        <p>제공받는 항목 : 휴대폰 번호</p>
                        <p>수집, 이용 목적 : 서비스 이용에 따른 본인 식별/인증</p>
                        <p><br></p>
                        <p>제공자 : 네이버, 카카오, 구글, 페이스북</p>
                        <p>제공받는 항목 : 이용자 고유식별정보, 이메일</p>
                        <p>수집, 이용 목적 : 서비스 이용에 따른 본인 식별/인증</p>
                        <p><br></p>
                        <p><br></p>
                        <p><br></p>
                        <p>2. 개인정보의 수집 및 이용목적</p>
                        <p><br></p>
                        <p>1) 서비스 제공에 관한 계약 이행 및 서비스 제공에 따른 요금정산</p>
                        <p>콘텐츠 제공, 항공권 예약 발권 및 탑승, 항공권 등 각종 물품배송, 항공권 환불, 청구서 발송, 구매 및 요금 결제, 요금 추심, 피해구제 신청 시 보상금 지급,
                            손실보상금 지급, 악기/애완동물/총포 및 도검류 운송 서비스 제공 등</p>
                        <p><br></p>
                        <p><br></p>
                        <p>2) 회원관리</p>
                        <p>회원 서비스 제공, 회원제 서비스 이용에 따른 본인확인, 개인식별, 불량회원의 부정 이용 방지와 비인가 사용 방지, 가입 의사 확인, 가입 및 가입횟수 제한, 만
                            14세 미만 아동 개인정보 수집 시 법정대리인 동의여부 확인, 분쟁 조정을 위한 기록보존, 불만처리 등 민원처리, 고지사항 전달, 항공기 안전운항을 위한 탑승객 관리
                            등</p>
                        <p><br></p>
                        <p><br></p>
                        <p>3) 신규서비스 개발 및 마케팅 및 광고에 활용</p>
                        <p>신규 서비스 개발, 이용자의 서비스 이용에 대한 통계, 이벤트 등 광고성 정보 전달 및 참여기회 제공 등</p>
                        <p><br></p>
                        <p><br></p>
                        <p><br></p>
                        <p><br></p>
                        <p><br></p>
                        <p><br></p>
                        <p>3. 개인정보 처리위탁</p>
                        <p><br></p>
                        <p>회사는 서비스 제공을 위하여 아래와 같이 개인정보를 위탁하고 있습니다.</p>
                        <p><br></p>
                        <p>수탁사명 : 에이케이아이에스</p>
                        <p>위탁하는 업무의 내용 : 인터넷 홈페이지 및 시스템 관리</p>
                        <p><br></p>
                        <p>수탁사명 : ㈜위딘씨앤씨</p>
                        <p>위탁하는 업무의 내용 : 이벤트 진행 및 경품발송, 광고성 정보 전달</p>
                        <p><br></p>
                        <p>수탁사명 : NICE신용평가정보(주)</p>
                        <p>위탁하는 업무의 내용 : 실명인증 및 본인확인</p>
                        <p><br></p>
                        <p>수탁사명 :(주)샤프에이비에이션케이,한국도심공항자산관리㈜, 아시아나에어포트㈜, , ㈜제이에이에스, 공항철도(주), 한국철도공사, 한국공항공사</p>
                        <p>위탁하는 업무의 내용 : 탑승수속 업무</p>
                        <p><br></p>
                        <p>수탁사명 :㈜샤프에이비에이션케이, ㈜제이에이에스, 한국공항공사</p>
                        <p>위탁하는 업무의 내용 : 오프라인 서식(FORM OF INDEMNITY FOR 서약서, 악기 서약서, 애완동물 운송 서약서, 피해구제 청구 신청서, 보상금 계좌입금
                            양식, 항공권 환불 신청 위임장) 수집</p>
                        <p><br></p>
                        <p>수탁사명 : ㈜트랜스코스모스코리아, kt cs</p>
                        <p>위탁하는 업무의 내용 : 정산업무, 고객센터 및 이용자 불만사항 처리</p>
                        <p><br></p>
                        <p><br></p>
                        <p>수탁사명 : KICC, FDK, 주식회사 엑심베이, 엘지씨엔에스, 갤럭시아커뮤니케이션즈(주), KG이니시스</p>
                        <p>위탁하는 업무의 내용 : 항공권 구매에 대한 대금결제 업무</p>
                        <p><br></p>
                        <p>수탁사명 : SITA, Navitaire</p>
                        <p>위탁하는 업무의 내용 : 항공권 예약 등 항공여행에 필요한 서비스 제공</p>
                        <p><br></p>
                        <p>수탁사명 : (주)티몬</p>
                        <p>위탁하는 업무의 내용 : 티몬 서비스를 통한 회사 항공권 구매이용자 응대</p>
                        <p><br></p>
                        <p>수탁사명 : 폴렉스존</p>
                        <p>위탁하는 업무의 내용 : 제휴카드 서비스안내를 위한 TM 업무</p>
                        <p><br></p>
                        <p>수탁사명 : 엘지씨엔에스</p>
                        <p>위탁하는 업무의 내용 : 카카오톡 알림톡 발송 및 SMS / LMS / MMS 발송</p>
                        <p><br></p>
                        <p>수탁사명 : Amazon Web Service</p>
                        <p>위탁하는 업무의 내용 : 데이터 보관 및 시스템 운영</p>
                        <p><br></p>
                        <p>수탁사명 : (주)제이케이삼영</p>
                        <p>위탁하는 업무의 내용 : Aircafe 구매 물품 배송</p>
                        <p><br></p>
                        <p>수탁사명 : <a
                                onclick="window.open('http://static.jejuair.net/cms/images/file_upload/20220308113227197.pdf')">해외지점
                            협력사</a>
                        </p>
                        <p>위탁하는 업무의 내용 : 예약, 발권, 탑승수속 업무</p>
                        <p><br></p>
                        <p><br></p>
                        <p><br></p>
                        <p>4. 개인정보의 제3자 제공</p>
                        <p><br></p>
                        <p>회사는 원칙적으로 법률에 근거가 있는 경우를 제외하고는 이용자의 동의 없이 개인정보를 제3자에게 제공하거나 공유하지 않습니다. 다만 회사는 제휴서비스 및 서비스 제공에
                            대한 요금정산을 위하여 다음과 같이 개인정보를 제3자 제공할 수 있습니다.</p>
                        <p><br></p>
                        <p>제공정보 : 회원번호, Refresh Point 내역</p>
                        <p>제공 대상 제휴사 : KB국민카드, 신한카드, BC카드, 삼성카드, 우리은행</p>
                        <p>제공정보 이용목적 : 제휴카드 이용 고객 대상 맞춤형 서비스 제공, Refresh Point 적립 및 사용</p>
                        <p>제공정보 이용기간 : 제휴 서비스 종료시</p>
                        <p><br></p>
                        <p>제공정보 : 회원번호, Refresh Point 내역</p>
                        <p>제공 대상 제휴사 : AK S&amp;D㈜, 롯데멤버스㈜, Trip.com</p>
                        <p>제공정보 이용목적 : 제휴서비스 이용 고객 대상 Refresh 적립 및 사용</p>
                        <p>제공정보 이용기간 : 제휴 서비스 종료시</p>
                        <p><br></p>
                        <p>회사는 해외 현지 상품 구매 고객에 한하여 상품구매시 고객의 동의를 구하고 아래와 같이 개인정보를 제3자 제공 합니다.</p>
                        <p><br></p>
                        <p>개인정보를 제공 받는자 : 클룩트래블테크놀러지(유)</p>
                        <p>개인정보를 제공 받는자의 개인정보 이용 목적 : 서비스 제공 등 계약의 체결 및 이행</p>
                        <p>제공하는 개인정보 항목 : 회원번호, 이메일</p>
                        <p>제공받는 개인정보 보유 및 이용기간 : 서비스 제공 완료 시 (단, 관계법령의 보존기간 동안 보존 가능)</p>
                        <p><br></p>
                        <p>회사는 공동운항(CodeShare) 항공편 구매 고객에 한하여 고객의 동의를 구하고 아래와 같이 개인정보를 제3자 제공 합니다.</p>
                        <p><br></p>
                        <p>개인정보를 제공 받는자 : Jetstar Airways Pty Ltd.</p>
                        <p>개인정보를 제공 받는자의 개인정보 이용 목적 : 항공권 예약, 발권 및 서비스 제공</p>
                        <p>제공하는 개인정보 항목 : 성명, 생년월일, 이메일, 전화번호,제주항공 예약번호, 회원번호, 회원ID, 항공권 번호</p>
                        <p>제공받는 개인정보 보유 및 이용기간 : 항공편 이용 후 30개월 (단, 관계법령의 보존기간 동안 보존 가능)</p>
                        <p><br></p>
                        <p><br></p>
                        <p><br></p>
                        <p>5. 개인정보의 보유 및 이용기간</p>
                        <p><br></p>
                        <p>회사는 원칙적으로 회원이 탈퇴한 경우 또는 개인정보의 수집 및 이용목적이 달성된 경우에는 해당 회원의 개인정보를 지체 없이 파기합니다.</p>
                        <p><br></p>
                        <p>다만, 회사는 회원이 탈퇴하였거나 개인정보의 수집 및 이용목적이 달성된 경우에도 아래와같이 상법, 전자상거래 등에서의 소비자 보호에 관한 법률 등 관계 법령의 규정에
                            의하여 개인정보를 보존하여야 하는 경우 또는 사전에 보유기간을 이용자에게 구체적으로 고지하여 동의를 받은 경우에는 그에 따라 개인정보를 계속하여 보관할 수 있습니다.
                            또한 정보통신망 이용촉진 및 정보보호 등에 관한 법률(이하 ‘정보통신망법’)이 정하는 기간 동안 회사의 서비스를 이용하지 않는 이용자의 개인정보는 다른 이용자의
                            개인정보와 분리하여 별도로 관리될 수 있습니다. 별도로 관리되는 개인정보는 법률에 특별한 규정이 있는 경우를 제외하고는 이용 또는 제공되지 않습니다.</p>
                        <p><br></p>
                        <p>1) 계약 또는 청약철회 등에 관한 기록, 대금 결제 및 재화 등의 공급에 관한 기록</p>
                        <p>보존 사유 : 전자상거래 등에서의 소비자 보호에 관한 법률</p>
                        <p>보존 기간 : 5년</p>
                        <p><br></p>
                        <p>2) 소비자의 불만 또는 분쟁 처리 기록</p>
                        <p>보존 사유 : 전자상거래 등에서의 소비자 보호에 관한 법률</p>
                        <p>&nbsp;보존 기간 : 3년</p>
                        <p><br></p>
                        <p>3) 전자금융 거래에 관한 기록</p>
                        <p>보존 사유 : 전자금융거래법</p>
                        <p>보존 기간 : 5년</p>
                        <p><br></p>
                        <p>4) 홈페이지 방문에 관한 기록</p>
                        <p>보존 사유 : 통신비밀보호법</p>
                        <p>보존 기간 : 3개월</p>
                        <p><br></p>
                        <p><br></p>
                        <p><br></p>
                        <p>6. 개인정보의 국외이전에 관한 사항</p>
                        <p><br></p>
                        <p>회사는 예약발권 서비스제공 및 해외 현지 상품 구매 고객에 한하여 계약의 체결 및 이행을 위해 국외로 이전되는 개인정보는 다음과 같습니다.</p>
                        <p><br></p>
                        <p>[예약발권 서비스 제공]</p>
                        <p><br></p>
                        <p>1) 이전되는 개인정보 항목 : 항공권 예약시 - 이름, 연락처, 이메일주소, 성별, 생년월일, 여권정보(해외노선 이용고객에 한함) , 항공권 결제시 - 카드번호,
                            카드유효기간, 계좌이체승인번호</p>
                        <p><br></p>
                        <p>개인정보가 이전되는 국가, 이전일시 및 이전방법 : 이전국가 - 미국, 이전일시 - 예약 및 결제 완료 시, 이전방법 - 보안프로토콜(SSL) 처리된 인터넷망 이용
                            전송 또는 전용선 이용 전송</p>
                        <p><br></p>
                        <p>개인정보를 이전받는 자의 성명 : SITA INC N.V (psl.servicedesk@sita.aero)</p>
                        <p>개인정보를 이전받는 자의 개인정보 이용 목적 및 보유 이용 기간 : 개인정보 이용 목적 - 항공권 예약등 항공여행에 필요한 서비스 제공, 개인정보 보유 이용 기간 -
                            3년</p>
                        <p><br></p>
                        <p><br></p>
                        <p>2) 이전되는 개인정보 항목 : 회원 가입 시 - 성명, 회원번호, ID, 생년월일, 성별, 국적, 이메일주소, 전화번호</p>
                        <p><br></p>
                        <p>예약 시 - 이름, 연락처, 이메일주소, 성별, 생년월일, 여권번호(해외노선 이용고객에 한함)</p>
                        <p>결제 시 - 카드번호, 카드유효기간, 계좌이체승인번호</p>
                        <p>개인정보가 이전되는 국가, 이전일시 및 이전방법 : 이전국가 - 오스트레일리아 , 이전일시 - 회원가입, 예약 및 결제 완료 시, 이전방법 - 보안프로토콜(SSL)
                            처리된 인터넷망 이용 전송 또는 전용선 이용 전송</p>
                        <p>개인정보를 이전받는 자의 성명 : Navitaire LLC, a Delaware limited liability company
                            (servicedesk@Navitaire.com)</p>
                        <p>개인정보를 이전받는 자의 개인정보 이용 목적 및 보유 이용 기간 : 이용 목적 - 계약의 체결 및 이행, 보유 이용 기간 - 예약정보 3년, 회원정보 - 서비스 종료
                            시 (단, 관계법령의 보존기간 동안 보존 가능)</p>
                        <p><br></p>
                        <p><br></p>
                        <p>3) 이전되는 개인정보 항목 : 포인트 회원ID, 이름, 전화번호, 이메일, 문의내용</p>
                        <p><br></p>
                        <p>개인정보가 이전되는 국가, 이전일시 및 이전방법 : 이전국가 - 일본, 이전일시 - 고객센터 1:1 문의 시, 이전방법 - 보안프로토콜(SSL) 처리된 인터넷망 이용
                            전송 또는 전용선 이용 전송</p>
                        <p>개인정보를 이전받는 자의 성명 : Salesforce.com, inc. (jihye.kang@salesforce.com, hyoon@salesforce.com)</p>
                        <p>개인정보를 이전받는 자의 개인정보 이용 목적 및 보유 이용 기간 : 이용 목적 - 계약의 체결 및 이행, 보유 이용 기간 - 서비스 제공 완료 시 (단, 관계법령의
                            보존기간 동안 보존 가능)</p>
                        <p><br></p>
                        <p><br></p>
                        <p>4) 이전되는 개인정보 항목 : 성명, 생년월일, 이메일, 전화번호, 제주항공 예약번호, 회원번호, 회원ID, 항공권 번호</p>
                        <p><br></p>
                        <p>개인정보가 이전되는 국가, 이전일시 및 이전방법 : 이전국가 - 오스트레일리아, 이전일시 - 공동운항 항공편 예약시, 이전방법 - 보안프로토콜(SSL) 처리된 인터넷망
                            이용 전송 또는 전용선 이용 전송</p>
                        <p>이전받는 자의 성명 : Jetstar Airways Pty (privacyofficer@qantas.com.au)</p>
                        <p>개인정보를 이전받는 자의 개인정보 이용 목적 및 보유 이용 기간 : 이용 목적 - 계약의 체결 및 이행, 보유 이용 기간 - 항공편 이용 후 30개월 (단, 관계법령의
                            보존기간 동안 보존 가능)&nbsp; &nbsp;</p>
                        <p><br></p>
                        <p>&nbsp; &nbsp;</p>
                        <p>[해외 현지 상품구매 고객에 대한 계약의 체결 및 이행]</p>
                        <p><br></p>
                        <p>1) 이전되는 개인정보 항목 : 회원번호, 이메일</p>
                        <p><br></p>
                        <p>개인정보가 이전되는 국가, 이전일시 및 이전방법 : 이전국가 - 홍콩, 이전일시 - 해외현지 상품 구매시, 이전방법 - 보안프로토콜(SSL) 처리된 인터넷망 이용 전송
                            또는 전용선 이용 전송</p>
                        <p>개인정보를 이전받는 자의 성명 : Klook Travel Technology Limited (privacy@klook.com)</p>
                        <p><br></p>
                        <p>개인정보를 이전받는 자의 개인정보 이용 목적 및 보유 이용 기간 : 이용 목적 - 계약의 체결 및 이행, 보유 이용 기간 - 서비스 제공 완료 시 (단, 관계법령의
                            보존기간 동안 보존 가능)</p>
                        <p>&nbsp; &nbsp;</p>
                        <p><br></p>
                        <p><br></p>
                        <p>7. 개인정보의 파기절차 및 방법</p>
                        <p><br></p>
                        <p>회사는 원칙적으로 이용자의 개인정보를 그 수집 및 이용목적이 달성되면 지체 없이 파기합니다. 회사의 개인정보 파기절차 및 파기방법은 다음과 같습니다.</p>
                        <p><br></p>
                        <p>1) 파기절차</p>
                        <p>이용목적을 달성한 정보는 별도의 데이터베이스로 옮겨져 관련 법령상 근거에 따라 일정기간 저장된 후 파기됩니다.&nbsp;</p>
                        <p>별도의 데이터베이스로 옮겨진 개인정보는 법률에 근거한 경우 외에는 보유목적 이외의 목적으로 이용되지 않습니다.</p>
                        <p><br></p>
                        <p>2) 파기방법</p>
                        <p>전자적 파일형태로 저장된 개인정보는 기록을 재생할 수 없는 기술적 방법을 사용하여 삭제합니다.</p>
                        <p>종이에 출력된 개인정보는 분쇄기로 분쇄하거나 소각을 통하여 파기합니다</p>
                        <p><br></p>
                        <p><br></p>
                        <p><br></p>
                        <p>8. 고객 및 법정대리인의 권리와 그 행사방법</p>
                        <p><br></p>
                        <p>고객은 정보주체로서 다음과 같은 권리를 행사할 수 있습니다.</p>
                        <p><br></p>
                        <p>1) 이용자 및 법정 대리인은 언제든지 등록되어 있는 자신 혹은 만14세 미만 아동의 개인정보를 조회, 수정할 수 있고, 처리정지를 요구할 수 있으며, 회사의 개인정보
                            처리에 동의하지 않을 경우 동의를 철회하거나 회원 탈퇴를 요청하실 수 있습니다. 다만, 특정 개인정보가 관련 법령상 수집 대상으로 명시되어 있는 경우에는 정정, 삭제
                            요구가 거부될 수 있습니다.&nbsp;</p>
                        <p><br></p>
                        <p>2) 개인정보 조회, 수정을 위해서는 “회원정보 수정”란, 회원 탈퇴를 위해서는 "회원탈퇴"란을 클릭하시면 됩니다. 또한 아래 기재된 개인정보 보호책임자 및 담당부서
                            항목의 연락처로 연락을 주셔도 조치가 가능합니다.</p>
                        <p><br></p>
                        <p>3) 이용자가 개인정보의 오류 등에 대한 정정 또는 삭제를 요구한 경우에는 정정 또는 삭제를 완료할 때까지 당해 개인정보를 이용하거나 제공하지 않습니다.</p>
                        <p><br></p>
                        <p>4) 권리 행사는 이용자의 법정대리인이나 위임을 받은 자 등 대리인을 통하여 하실 수 있습니다. 이 경우 관련 법령상 서식에 따른 위임장을 제출하셔야 합니다.</p>
                        <p><br></p>
                        <p><br></p>
                        <p><br></p>
                        <p>9. 개인정보 자동수집 장치의 설치, 운영 및 그 거부에 관한 사항</p>
                        <p><br></p>
                        <p>1) 회사는 이용자의 정보를 수시로 저장하고 찾아내는 ‘쿠키(cookie)’ 등을 운용합니다. 쿠키란 웹사이트를 운영하는데 이용되는 서버가 이용자의 브라우저에 보내는
                            아주 작은 텍스트 파일로서 이용자의 컴퓨터 하드디스크에 저장됩니다. 회사는 다음과 같은 목적으로 쿠키를 사용합니다.</p>
                        <p>이용자의 접속 빈도, 방문 시간 등 분석; 이용자의 취향과 관심분야를 파악하고 자취를 추적; 각종 이벤트 참여 정도 및 방문 회수 파악; 이를 통한 타겟 마케팅 및
                            개인 맞춤 서비스 제공</p>
                        <p><br></p>
                        <p><br></p>
                        <p>2) 이용자는 쿠키 설치에 대한 선택권을 가지고 있습니다. 즉 이용자는 웹 브라우저에서 옵션을 설정함으로써 모든 쿠키를 허용하거나 쿠키가 저장될 때마다 확인을 거치거나
                            아니면 모든 쿠키의 저장을 거부할 수 있습니다. 다만 이용자가 쿠키 설치를 거부하였을 경우 서비스 제공에 어려움이 있을 수 있습니다.</p>
                        <p><br></p>
                        <p>설정방법 예(인터넷 익스플로어의 경우)</p>
                        <p>웹 브라우저 상단의 도구 - 인터넷 옵션 - 개인정보 탭&nbsp; - 개인정보취급 수준 설정 변경</p>
                        <p><br></p>
                        <p><br></p>
                        <p><br></p>
                        <p>10. 개인정보의 안전성 확보조치</p>
                        <p><br></p>
                        <p>회사는 이용자들의 개인정보를 처리함에 있어 개인정보가 분실, 도난, 누출, 변조 또는 훼손되지 않도록 안전성 확보를 위하여 다음과 같은 기술적∙관리적 보호 대책을
                            강구하고 있습니다.</p>
                        <p><br></p>
                        <p>1) 개인정보 보호지침의 수립 및 시행</p>
                        <p>회사는 개인정보의 오/남용, 훼손, 변조, 유출 등의 위협을 방지하고 안전하게 개인정보를 보호하기 위해 개인정보 보호지침을 수립, 시행하고 있습니다.</p>
                        <p><br></p>
                        <p><br></p>
                        <p>2) 개인정보취급자 지정의 최소화 및 교육</p>
                        <p>회사는 개인정보취급자를 최소한으로 지정하고 정기적인 교육을 시행하고 있습니다.</p>
                        <p><br></p>
                        <p><br></p>
                        <p>3) 개인정보에 대한 접근 제한</p>
                        <p>회사는 개인정보처리시스템에 대한 접근권한의 부여, 변경, 말소를 통하여 개인정보에 대한 접근을 통제하고, 침입차단시스템과 침입탐지시스템을 이용하여 외부로부터의 무단
                            접근을 통제하고 있으며, 개인정보취급자가 정보통신망을 통해 외부에서 개인정보처리시스템에 접속하는 경우에는 가상사설망(VPN: Virtual Private
                            Network)을 이용하도록 하고 있습니다. 또한 접근 권한의 부여, 변경 또는 말소에 대한 내역을 기록하고, 그 기록을 최소 5년간 보관하고 있습니다</p>
                        <p><br></p>
                        <p><br></p>
                        <p>4) 접속기록의 보관 및 위변조 방지</p>
                        <p>회사는 개인정보처리시스템에 접속한 기록(웹 로그, 요약정보 등)을 최소 1년 이상 보관, 관리하고 있으며, 접속 기록이 위·변조, 도난, 분실되지 않도록 관리하고
                            있습니다.</p>
                        <p><br></p>
                        <p><br></p>
                        <p>5) 개인정보의 암호화</p>
                        <p>회사는 이용자의 개인정보(비밀번호, 고유식별정보, 바이오정보, 카드번호, 계좌번호)를 암호화하여 저장, 관리합니다. 또한 중요한 데이터는 저장 및 전송 시 암호화하는
                            등의 보안조치를 취하고 있습니다.</p>
                        <p><br></p>
                        <p><br></p>
                        <p>6) 해킹 등에 대비한 기술적 대책</p>
                        <p>회사는 해킹이나 컴퓨터 바이러스 등에 의한 개인정보 유출 및 훼손을 막기 위하여 보안프로그램을 설치하고 주기적으로 갱신, 점검하고 있습니다. 또한 회사는 외부로부터
                            접근이 통제된 구역에 보안시스템을 설치하고 기술적·물리적으로 감시, 차단하고 있습니다.</p>
                        <p><br></p>
                        <p><br></p>
                        <p>7) 비인가자에 대한 출입 통제</p>
                        <p>회사는 개인정보처리시스템의 물리적 보관장소를 별도로 두고, 그에 대해 출입통제 절차를 수립, 운영하고 있습니다.</p>
                        <p><br></p>
                        <p><br></p>
                        <p><br></p>
                        <p>11. 개인정보 보호책임자 및 담당부서 연락처</p>
                        <p><br></p>
                        <p>1) 회사는 이용자의 개인정보를 보호하고 개인정보와 관련한 불만을 처리하기 위하여 아래와 같이 관련 부서 및 개인정보 보호책임자를 지정하고 있습니다.</p>
                        <p><br></p>
                        <p>개인정보 관련 고충처리 담당부서</p>
                        <p>고객센터</p>
                        <p>•전화 : 1599-1500 (근무시간 : 365일 09:00~19:00)</p>
                        <p>•개인정보 보호책임자</p>
                        <p>•성명 : 이혁중 실장</p>
                        <p>•주소 : 서울시 강서구 하늘길 210, 국제화물청사 366</p>
                        <p>•전화 : 1599-1500 (근무시간 : 365일 09:00~19:00)</p>
                        <p><br></p>
                        <p>이용자는 회사의 서비스 이용과 관련하여 발생하는 모든 개인정보 관련 민원을 위의 개인정보 보호책임자 또는 고충처리 담당부서로 신고하실 수 있습니다. 회사는 이용자가
                            제기한 민원에 대해 신속하게 답변을 드릴 것입니다.</p>
                        <p><br></p>
                        <p><br></p>
                        <p>2) 기타 개인정보 침해에 대한 신고나 상담이 필요하신 경우에는 아래 기관에 문의하시기 바랍니다.</p>
                        <p><br></p>
                        <p>•개인정보 침해신고센터 : (국번없이) 118 (privacy.kisa.or.kr)</p>
                        <p>•개인정보분쟁 조정위원회 : (국번없이) 1833-6972 (www.kopico.go.kr)</p>
                        <p>•대검찰청 사이버수사과 : (국번없이) 1301 (www.spo.go.kr)</p>
                        <p>•경찰청 사이버수사국 : (국번없이) 182 (cyberbureau.police.go.kr)</p>
                        <p><br></p>
                        <p><br></p>
                        <p>12. 회사의 고지의 의무</p>
                        <p><br></p>
                        <p>1) 회사는 본 개인정보 처리방침을 변경하는 경우 그 변경 사유 및 적용일자를 명시하여 홈페이지를 통해 고지합니다.</p>
                        <p><br></p>
                        <p>2) 회사가 제1항에 따라 변경 내용을 고지하였음에도 불구하고 이용자가 명시적으로 거부의사를 표시하지 않고 회사의 서비스를 이용하는 경우 이용자가 변경 내용에 동의한
                            것으로 봅니다.</p>
                        <p><br></p>
                        <p>3) 회사는 이용자로부터 개인정보를 추가로 수집하거나 제3자에게 제공할 경우 이용자로부터 별도의 추가 동의를 받습니다.</p>
                        <p><br></p>
                        <p><br></p>
                        <p><br></p>
                        <p>13. 개인정보 처리방침 변경 이력</p>
                        <p>01) 2007. 11. 05. - 목적 외 사용 및 개인정보에 대한 불만처리 접수 항목 변경</p>
                        <p>02) 2010. 01. 06. - 정보통신망법 개정에 따른 변경</p>
                        <p>03) 2011. 03. 01. - 회원제 명칭 변경(JJ Club), 개인정보 처리수탁자 추가 기재, 제3자 정보제공 항목 신규 제정</p>
                        <p>04) 2011. 11. 30. - 개인정보 보호법 시행에 따른 개정</p>
                        <p>05) 2013. 02. 05. - 개정 정보통신망법상 주민번호 수집금지 관련 내용 개정</p>
                        <p>06) 2014. 10. 16. - ‘3. 개인정보 위탁 및 제3자에 대한 제공’ 항목 변경</p>
                        <p>07) 2015. 06. 25. - 수집항목 추가/삭제, 개인정보 위수탁계약 종료 회사 삭제</p>
                        <p>08) 2015. 08. 16. - ‘3. 개인정보 취급위탁’ 수탁자 항목 추가</p>
                        <p>09) 2016. 03. 28. - '1. 수집하는 개인정보 항목 및 수집방법' 수집항목 추가, '3. 개인정보 취급위탁' 수탁자 항목 변경</p>
                        <p>10) 2016. 06. 13. - '3. 개인정보 취급위탁' 수탁자 항목 변경, ‘4. 개인정보 공유 및 제공’ 제공업체 추가</p>
                        <p>11) 2016. 07. 01. - '3. 개인정보 취급위탁' 수탁자 항목 추가</p>
                        <p>12) 2016. 08. 05. - '1. 수집하는 개인정보 항목 및 수집방법' 수집항목 추가, '3. 개인정보 취급위탁' 수탁자 항목 변경</p>
                        <p>13) 2017. 02. 03. - 기존의 개인정보 처리방침 및 개인정보 취급방침 통합, 개인정보 보호책임자 변경, '3. 개인정보 처리위탁' 수탁자 항목 추가</p>
                        <p>14) 2017. 07. 01. - 개인정보 처리 위탁 수탁사 추가</p>
                        <p>15) 2017. 08. 14. - 개인정보 수집 이용 항목 추가/삭제 및 침해사고 신고기관 연락처 현행화, 개인정보 처리 위탁 수탁사 추가</p>
                        <p>16) 2017. 11. 15. - 개인정보 수집 및 이용 목적 추가, 개인정보 국외 이전에 대한 사항 추가, 개인정보 제3자 제공에 대한 사항 추가</p>
                        <p>17) 2018. 01. 05. - 개인정보 처리 업무 수탁사 추가</p>
                        <p>18) 2018. 02. 26. - 개인정보 처리 업무 수탁사명 변경(동보공항서비스 → 제이에이에스) 및 수탁사 추가</p>
                        <p>19) 2018. 05. 11. - 개인정보 처리 업무 수탁사 추가(KTcs, 더 화이트 커뮤니케이션(주), 갤럭시아커뮤니케이션즈(주)</p>
                        <p>20) 2018. 05. 31. - 개인정보 처리 업무 수탁사 추가(한국공항공사) 및 삭제(엘지유플러스), 개인정보의 국외이전에 관한 사항 추가</p>
                        <p>21) 2018. 07. 01. - '1. 수집하는 개인정보 항목 및 수집방법' 수집항목 삭제(집주소, 자주가는 노선), '11. 개인정보 보호책임자 및 담당부서
                            연락처' 개인정보 보호책임자 변경</p>
                        <p>22) 2018. 07. 27. - 개인정보 처리 업무 수탁사 추가(TBWA, 슈퍼와이어주식회사), 용어변경(예약센터 → 고객센터)</p>
                        <p>23) 2018. 10. 12. - 개인정보처리 업무 수탁사 추가 (Zarya Travel Company, 굿데이 투어), 개인정보의 국외 이전에 관한 사항 추가
                            (Zarya Travel Company, 러시아), 개인정보의 제3자 제공 항목 추가 ((주) 이노코퍼), 수탁사 기업결합에 따른 변경(에이케이아이에스주식회사 +
                            애경유지공업주식회사 → 에이케이아이에스주식회사)</p>
                        <p>24) 2019. 01. 04. - 개인정보 보호책임자 변경</p>
                        <p>25) 2019. 11. 25. - 개인정보처리 위탁 사항 변경, 개인정보의 제3자 제공 사항 변경, 개인정보의 국외 이전에 관한 사항 변경, 개인정보 수집ㆍ이용 동의
                            사항 변경</p>
                        <p>26) 2020. 02. 28. - 개인정보의 수집 및 이용목적 수정, 비회원 필수항목 추가</p>
                        <p>27) 2020. 05. 25. - 개인정보처리 위탁 사항 변경, 개인정보의 제3자 제공 사항 변경, 개인정보의 국외 이전에 관한 사항 변경</p>
                        <p>28) 2020. 12. 01. - 회원 및 비회원 필수/선택 항목 변경, 위탁업체 추가</p>
                        <p>29) 2021. 01. 29. - 개인정보처리 위탁 사항 및 개인정보의 국외 이전에 관한 사항 변경 - Navitaire 추가</p>
                        <p>30) 2021. 04. 07. - 개인정보처리 위탁업체 삭제 - (주)에이티에스</p>
                        <p>31) 2021. 06. 28. - 개인정보처리 위탁업체 추가:(주)제이케이삼영, KG이니시스&nbsp; , 국외이전&nbsp; Navitaire&nbsp; 항목 삭제
                            :비밀번호&nbsp; &nbsp;,&nbsp; 개인정보침해신고센터 사이트 추가 - privacy.kisa.or.kr</p>
                        <p>32) 2021. 08. 31. - 외부신고기관 연락처 현행화, 개인정보처리시스템 접속기록 보관 주기 변경</p>
                        <p>33) 2021. 12. 06. - 개인정보처리 위탁업체 변경(에이케이아이에스 → 애경자산관리), 개인정보 보호책임자 변경</p>
                        <p>34) 2022. 02. 28. - 개인정보처리 위탁업체 변경(애경자산관리㈜ → 에이케이아이에스 / ㈜애드미션, 소셜엠씨 → ㈜위딘씨앤씨), 개인정보처리 위탁업체명
                            변경(㈜Sharp → ㈜샤프에이비에이션케이 / 한국도심공항㈜ → 한국도심공항자산관리㈜ / 아시아나에어포트 → 아시아나에어포트㈜ / 제이에이에스㈜ → ㈜제이에이에스),
                            개인정리처리 위탁업체 삭제(위더스에어포트, 롯데글로벌로지스, 더 화이트 커뮤니케이션㈜), 개인정보의 제3자 제공 제휴사 변경(Kt M mobile, AK MALL,
                            SPC → AK S&amp;D(주), 롯데멤버스㈜, Trip.com), 개인정보의 제3자 제공 제휴사 삭제(광주은행), 외부신고기관 연락처 현행화</p>
                        <div><br></div>

                    </div>
                </div>
            </main>
        </div>

    </div>
</div>



<!--<footer.html>-->
<div th:replace="/user/fragment/footer.html :: footer"></div>
<!--</footer> 끝-->


<div id="ifmWrap" style="height:100%; display:none; overflow:auto; text-align:center; -webkit-overflow-scrolling:touch;">
    <iframe src="" width="100%" height="100%" name="popupChkApp"></iframe>
</div>


<!-- 공통 스크립트 선언 -->

<!--<div th:replace="/user/fragment/js :: js"></div>-->
<script type="text/javascript" src="/user/lib/js/lib.min.js"></script>
<script type="text/javascript" src="/user/lib/js/common.js"></script>
<script type="text/javascript" src="/user/lib/js/plugin.js"></script>
<script type="text/javascript" src="/user/lib/js/head/head.js"></script>

<!-- 공통 스크립트 선언 끝 -->

<!--body, html 주석은 위치 고정-->
</body>
</html>
<!--body, html 주석은 위치 고정 끝-->