<!DOCTYPE html>
<html lang="ko"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org/" xmlns:v-bind="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>제주항공 | 관리자 목록</title>
    <link rel="stylesheet" type="text/css" href="/admin/lib/css/common.css">
    <link rel="icon" href="/admin/lib/images/favicon.ico">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

</head>
<body>
    <div class="container" value="10-1">
        <div th:replace="/admin/fragment/menu :: menu"></div>

        <div class="containerbody">
            <!-- main -->
            <div id="category" value="adminuser"></div>
            <div class="main">
                <div class="details">
                    <!-- order details list -->
                    <div class="recentOrders">
                        <div class="calheader">
                            <h2>관리자 목록</h2>
                        </div>
                        <div class="scheduleSearch">
                            <form action="#">
                                <div class="wrapper">
                                    <fieldset class="selectDiv">
                                        <input type="text" class="searchBox" title="검색어를 입력하세요"
                                            placeholder="검색어를 입력하세요">
                                            <button type="submit" class="button search" value="검색">검색</button>
                                    </fieldset>
                                </div>
                            </form>
                        </div>
                        <table>
                            <thead>
                                <tr class="topbanner">
                                    <td class="adm_idx">번호</td>
                                    <td class="adm_adminid">아이디</td>
                                    <td class="adm_name">성명</td>
                                    <td class="adm_num">고유번호</td>
                                    <td class="adm_tel">연락처</td>
                                    <td class="adm_regist_date">등록일자</td>
                                </tr>
                            </thead>


<!--                            <tr v-for="(dto,i) in itemList"-->
<!--                                :key="i"-->
<!--                                @click="location.href=`/admin/adminsetting/view?idx=${dto.admIdx}`">-->
<!--                            :href=`/admin/adminsetting/view/${dto.admIdx}`-->

                            <tbody id="itemList">
                                <tr v-for="(dto,i) in itemList"
                                    :key="i"
                                    @click="location.href=`/admin/adminuser/view/${dto.admIdx}`">
                                    <td class="adm_idx"><a :href=`/admin/adminuser/view/${dto.admIdx}`>{{dto.admIdx}}</a></td>
                                    <td class="adm_adminid">{{dto.admAdminId}}</td>
                                    <td class="adm_name">{{dto.admKorName}}</td>
                                    <td class="adm_num">{{dto.admEmployee}}</td>
                                    <td class="adm_tel">{{dto.admAdminHp}}</td>
                                    <td class="adm_regist_date">{{dto.admRegDate}}</td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="paging" id="pageNum"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--아이콘 사용을 위한 설치 스크립트-->
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <script src="/admin/lib/js/common.js"> </script>
    <script src="/admin/lib/js/pagination.js"></script>
</body>

</html>