<html lang="ko"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org/">
<!--head-->
<div th:replace="/user/fragment/head :: head"></div>
<!--head 끝-->

<body id="subLayoutBody" class="isPc vsc-initialized">

<!-- appAlert -->
<div th:replace="/user/fragment/appAlert :: appAlert"></div>
<!-- //appAlert 끝 -->


<!-- header -->
<div th:replace="/user/fragment/header :: header"></div>
<!-- //header 끝 -->

<div id="body">

    <!-- Google Tag Manager (noscript) -->
    <noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PD2BQQ4" height="0" width="0"
                style="display:none;visibility:hidden"></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->

    <div class="wrap NF">


        <div id="breadcrumb" class="breadcrumb pc-only" aria-label="breadcrumb">
            <nav class="breadcrumb__inner">
                <div class="breadcrumb__item">
                    <a href="javascript:;" class="breadcrumb__link" style="cursor: default;">홈</a>
                </div>


                <div class="breadcrumb__item">
                    <a href="javascript:;" class="breadcrumb__link" style="cursor: default;">탑승 수속 안내</a>
                </div>


                <div class="breadcrumb__item breadcrumb__item--current" aria-current="page" data-element="toggle"
                     data-options="{&quot;mode&quot;: &quot;slide&quot;, &quot;speed&quot;: 100, &quot;clickToClose&quot;: true}">


                    <button type="button" class="breadcrumb__link breadcrumb__link--list" data-element="toggle__anchor"
                            aria-controls="toggle-2" aria-expanded="false">수하물
                    </button>


                    <div class="breadcrumb__siblings-list" data-element="toggle__panel" id="toggle-2">
                        <a href="/user/boardingInfo/baggage" class="item">수하물 안내</a>
                        <a href="/user/boardingInfo/fastCheckIn" class="item">빠른 수속</a>
                        <a href="/user/boardingInfo/customerHelp" class="item">도움이 필요한 고객</a>
                    </div>
                </div>


            </nav>
        </div>


        <div class="content" id="content">
            <main id="main" class="main ">

                <div class="page-title-wrap">
                    <div class="page-title">수하물&nbsp;분실&nbsp;및&nbsp;배상</div>
                    <div class="page-sub-title">여행&nbsp;중에&nbsp;수하물을&nbsp;<br class="mobile-only">분실하셨나요?</div>
                </div>

                <!--20210721 배너 위치 이동-->
                <div class="section-wrap">
                    <div class="banner">
                        <div class="banner_single-img"
                             style="background-image: url(https://static.jejuair.net/hpgg/resources/images/@temp/guest-img_01.png);"></div>
                    </div>

                    <!--20210721 배너 위치 이동-->
                    <div class="tab tab--default" data-element="tab">
                        <div class="tab__buttons">
                            <div class="tab__button" data-element="tab__list" role="presentation">
                                <button class="tab__anchor is-active" type="button" data-element="tab__anchor"
                                        data-index="0" id="plugin-tab-4" role="tab" tabindex="" aria-selected="true"
                                        aria-expanded="true">수하물&nbsp;분실
                                </button>
                            </div>
                            <div class="tab__button" data-element="tab__list" role="presentation">
                                <button class="tab__anchor" type="button" data-element="tab__anchor" data-index="1"
                                        id="plugin-tab-5" role="tab" tabindex="" aria-selected="false"
                                        aria-expanded="false">수하물&nbsp;배상
                                </button>
                            </div>
                        </div>
                        <!-- 수하물 분실 -->
                        <div class="tab__panel cancel--pt is-active" data-element="tab__panel"
                             aria-labelledby="plugin-tab-4" role="tabpanel" tabindex="0">

                            <div class="sub-section">
                                <div class="section-title">이렇게&nbsp;대처하세요!</div>
                                <ul class="list-guide">
                                    <li class="list-guide__item">분실하신&nbsp;수하물은&nbsp;도착지&nbsp;공항을&nbsp;기준으로&nbsp;확인해&nbsp;주세요.</li>
                                    <li class="list-guide__item">제주항공&nbsp;규정에&nbsp;따라&nbsp;30일이&nbsp;지나면&nbsp;유실물은&nbsp;폐기될&nbsp;수&nbsp;있습니다.</li>
                                    <li class="list-guide__item">분실한&nbsp;물품은&nbsp;각&nbsp;공항&nbsp;유실물&nbsp;관련&nbsp;기관에&nbsp;문의해&nbsp;주세요.</li>
                                </ul>
                            </div>

                        </div>
                        <!-- //수하물 분실 -->
                        <!-- 수하물 배상 -->
                        <div class="tab__panel cancel--pt" data-element="tab__panel" aria-labelledby="plugin-tab-5"
                             role="tabpanel" tabindex="0" style="display: none;">
                            <!--20210721 배너 위치 이동-->
                            <div class="sub-section">
                                <ul class="list-guide">
                                    <li class="list-guide__item">제주항공은&nbsp;수하물&nbsp;운송&nbsp;중에&nbsp;항공사의&nbsp;고의&nbsp;또는&nbsp;과실로&nbsp;인해&nbsp;수하물&nbsp;손해가&nbsp;발생한&nbsp;경우&nbsp;보상&nbsp;책임을&nbsp;부담합니다.</li>
                                    <li class="list-guide__item">수하물 배상을 받으시려면 수하물이 파손된 경우 수하물을 인도받은 날로부터 7일 이내에, 수하물이
                                        지연/분실된 경우수하물 인도 예정일로부터 21일 이내에 항공사에 서면으로 신고하셔야 합니다.
                                    </li>
                                    <li class="list-guide__item">국제&nbsp;수하물&nbsp;운송은&nbsp;승객의&nbsp;여정에&nbsp;따라&nbsp;몬트리올&nbsp;협약&nbsp;또는&nbsp;바르샤바&nbsp;협약의&nbsp;적용을&nbsp;받습니다.</li>
                                    <li class="list-guide__item">위탁 수하물의 파손/지연/분실에 대한 제주항공의 최대 배상금액은 승객 1인당 1,131
                                        SDR(몬트리올 협약 적용시) 또는 수하물 1KG당 미화 USD 20(바르샤바 협약 적용 시)로 제한됩니다.
                                    </li>
                                    <li class="list-guide__item">소지품의 가격이 수하물 배상 한도액을 초과할 경우 USD 100을 초과할 때마다 USD 100당
                                        USD 0.50(또는 10,000원당 55원)의 종가 요금을 지불하는 경우 신고된 금액한도 내에서 배상받을 수 있습니다.
                                    </li>
                                    <li class="list-guide__item">신고&nbsp;가격이&nbsp;1백만&nbsp;원이&nbsp;넘는&nbsp;물품은&nbsp;제주항공과&nbsp;사전협의가&nbsp;없는&nbsp;한&nbsp;운송이&nbsp;거절될&nbsp;수&nbsp;있습니다.</li>
                                </ul>
                            </div>
                            <div class="sub-section">
                                <div class="section-title">각&nbsp;공항&nbsp;유실물&nbsp;관련&nbsp;문의</div>
                                <div class="table-horizontal">
                                    <table>
                                        <caption>공항&nbsp;유실물&nbsp;관련&nbsp;기관&nbsp;전화&nbsp;안내&nbsp;테이블</caption>
                                        <colgroup>
                                            <col style="width:30%">
                                            <col>
                                        </colgroup>
                                        <tbody class="table-horizontal__tbody">
                                        <tr>
                                            <th scope="row" class="table-horizontal__th">인천공항</th>
                                            <td class="table-horizontal__td">
                                                <a href="tel:032-741-3110">032-741-3110</a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th scope="row" class="table-horizontal__th">제주공항</th>
                                            <td class="table-horizontal__td">
                                                <a href="tel:064-797-2521">064-797-2521</a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th scope="row" class="table-horizontal__th">김포공항</th>
                                            <td class="table-horizontal__td">
                                                <a href="tel:02-2660-4097">02-2660-4097</a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th scope="row" class="table-horizontal__th">청주공항</th>
                                            <td class="table-horizontal__td">
                                                <a href="tel:043-210-6328">043-210-6328</a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th scope="row" class="table-horizontal__th">김해공항</th>
                                            <td class="table-horizontal__td">
                                                <a href="tel:051-974-3776">051-974-3776</a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th scope="row" class="table-horizontal__th">대구공항</th>
                                            <td class="table-horizontal__td">
                                                <a href="tel:053-980-5230">053-980-5230</a>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>

                        </div>
                        <!-- //수하물 배상 -->
                    </div>
                </div>
            </main>
        </div>

    </div>
</div>


<!-- footer -->
<div th:replace="user/fragment/footer :: footer"></div>
<!-- / footer 끝 -->

<div id="ifmWrap" style="height:100%; display:none; overflow:auto; text-align:center; -webkit-overflow-scrolling:touch;">
    <iframe src="" width="100%" height="100%" name="popupChkApp"></iframe>
</div>


<!-- 공통 스크립트 선언 -->

<!--<div th:replace="/user/fragment/js :: js"></div>-->
<script type="text/javascript" src="/user/lib/js/lib.min.js"></script>
<script type="text/javascript" src="/user/lib/js/common.js"></script>
<script type="text/javascript" src="/user/lib/js/plugin.js">
</script><script type="text/javascript" src="/user/lib/js/head/head.js"></script>

<!-- 공통 스크립트 선언 끝 -->

<!--body, html 주석은 위치 고정-->
</body>
</html>
<!--body, html 주석은 위치 고정 끝-->
