<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>제주항공 | 결제조회</title>
    <link rel="stylesheet" type="text/css" href="/admin/lib/css/common.css">
    <link rel="icon" href="/admin/lib/images/favicon.ico">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

</head>


<body>
    <div class="container" value="5">
        <div th:replace="/admin/fragment/menu :: menu"></div>

        <div class="containerbody">
            <!-- main -->
            <div id="category" value="payment"></div>
            <div class="main">
                <div class="details">
                    <!-- order details list -->
                    <div class="recentOrders">
                        <div class="calheader">
                            <h2>결제조회</h2>
                        </div>
                        <div class="scheduleSearch">
                            <form action="#">
                                <div class="wrapper">
                                    <fieldset class="selectDiv">
                                        <select name="menu" id="menu-select">
                                            <option value="">검색필터</option>
                                            <option value="id">아이디</option>
                                            <option value="payment_ok">결제완료</option>
                                            <option value="payment_cancel">결제취소</option>
                                        </select>
                                        <input type="text" class="searchBox" title="검색어를 입력하세요"
                                            placeholder="검색어를 입력하세요">
                                            <button type="submit" class="button search" value="검색">검색</button>
                                    </fieldset>
                                </div>
                            </form>
                        </div>
                        <table>
                            <thead>
                                <tr class="topbanner">
                                    <td class="airplaneName">NO</td>
                                    <td class="departureTime">내용</td>
                                    <td class="departureLocation">금액(P)</td>
                                    <td class="departureTime">아이디</td>
                                    <td class="arriveTime">상태</td>
                                    <td class="arriveTime">결제 일시</td>
                                </tr>
                            </thead>

                            <tbody id="itemList">
                            <tr v-for="(dto,i) in itemList"
                                :key="i"
                                @click="location.href=`/admin/payment/view/${dto.payIdx}`">
                                    <td class="pay_idx"><a :href=`/admin/payment/view/${dto.payIdx}`>{{dto.payIdx}}</a></td>
                                    <td class="pay_content">{{dto.payContent}}</td>
                                    <td class="pay_amount">{{dto.payAmount}}</td>
                                    <td class="pay_userid">{{dto.payUserid}}</td>
                                    <td class="pay_status">{{dto.payStatus}}</td>
                                    <td class="pay_date">{{dto.payDate}}</td>
                                </tr>

                            </tbody>
                        </table>

                        <div class="paging" id="pageNum"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--아이콘 사용을 위한 설치 스크립트-->
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <script src="/admin/lib/js/common.js"></script>
    <script src="/admin/lib/js/pagination.js"></script>

    
</body>

</html>