<html lang="ko"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org/">

<!--head-->
<div th:replace="/user/fragment/head :: head"></div>
<!--head 끝-->
<!--<script th:inline="javascript">-->
<!--  console.log("[[${memIdx}]]");-->
<!--  loadInfo();-->
<!--  console.log();-->

<!--  function loadInfo(){-->
<!--    $.get("/api/customer/"${memIdx}, function(response){-->
<!--      console.log(response);-->
<!--    })-->
<!--  }-->
<!--</script>-->

<body id="subLayoutBody">

<!--appAlert-->
<div th:replace="/user/fragment/appAlert :: appAlert"></div>
<!--appAlert 끝-->


<!--header-->
<div th:replace="/user/fragment/header :: header"></div>
<!--header 끝-->

<div id="body">

  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PD2BQQ4" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->

  <div class="wrap GD">


    <div id="breadcrumb" class="breadcrumb pc-only" aria-label="breadcrumb">
      <nav class="breadcrumb__inner">
        <div class="breadcrumb__item">
          <a href="javascript:;" class="breadcrumb__link" style="cursor: default;">홈</a>
        </div>

        <div class="breadcrumb__item">
          <a href="javascript:;" class="breadcrumb__link" style="cursor: default;">마이페이지</a>
        </div>

        <div class="breadcrumb__item breadcrumb__item--current" aria-current="page" data-element="toggle" data-options="{&quot;mode&quot;: &quot;slide&quot;, &quot;speed&quot;: 100, &quot;clickToClose&quot;: true}">

          <button type="button" class="breadcrumb__link breadcrumb__link--list" data-element="toggle__anchor" aria-controls="toggle-2" aria-expanded="false">회원정보 조회</button>

          <div class="breadcrumb__siblings-list" data-element="toggle__panel" id="toggle-2">
            <a href="javascript:void(0);" class="item" onclick="URL_LINK.getI18Url('/member/mypage/myFlightList.do')">나의 탑승 내역</a>
            <a href="javascript:void(0);" class="item" onclick="URL_LINK.getI18Url('/member/mypage/viewMyGiftTicketList.do')">나의 기프티켓</a>
            <a href="javascript:void(0);" class="item" onclick="URL_LINK.getI18Url('/member/mypage/viewMyPartnerCoupon.do')">나의 제휴처 쿠폰</a>
            <a href="javascript:void(0);" class="item" onclick="URL_LINK.getI18Url('/member/mypage/main.do')">마이페이지 메인</a>
            <a href="javascript:void(0);" class="item" onclick="URL_LINK.getI18Url('/ibe/mypage/viewReservationList.do')">나의 예약 현황</a>
          </div>
        </div>



      </nav>
    </div>



    <div class="content" id="content">
      <main id="main" class="main ">

        <form id="frm" name="frm" method="POST" action="/user/info_edit_mypage">

        <div class="page-title-wrap pc-only">
          <div class="page-title">회원정보 조회</div>
        </div>



        <div class="section-wrap">
          <div class="pc-pay-wrap">

            <div class="left">
              <div class="section-title">기본정보</div>
            </div>
            <div class="right">


              <!-- 국내 인 경우 -->

              <div class="pc-flex pc-flex--between ">
                <div class="pc-flex--lineup">
                  <div class="gray-box gray-box--fixed mt0 ">
                    <div class="join-info pc-row">

                      <dl class="join-info__row">
                        <dt>아이디</dt>
                        <dd><span class="color-org" id="memUserid" th:text="${userid}"></span></dd>
                      </dl>

                      <dl class="join-info__row">
                        <dt class="center">비밀번호</dt>
                        <dd>
                          <button type="button" data-action="goPwChange" class="button button--small" onclick="location.href='/user/info_edit_password'"><span class="button__text">비밀번호 변경</span></button>
                        </dd>
                      </dl>

                    </div>
                  </div>
                </div>

                <div class="pc-flex--lineup">
                  <div class="gray-box gray-box--fixed line2 gray-box__toral ">
                    <div class="join-info pc-row">

                      <dl class="join-info__row">
                        <dt>성명</dt>
                        <dd th:text="${koLastname + koFirstname}"></dd>
                      </dl>


                      <dl class="join-info__row">
                        <dt>생년월일</dt>
                        <dd class="edit-wrap" th:text="${ssn}"></dd>
                      </dl>

                      <dl class="join-info__row">
                        <dt>성별</dt>
                        <dd th:text="${gender}"></dd>
                      </dl>

                    </div>
                  </div>
                </div>
              </div>

              <div class="gray-box__toral sub-section">
                <div class="pc-flex pc-flex--between">
                  <div class="pc-flex--lineup W_100">
                    <div class="gray-box gray-box--fixed">
                      <div class="join-info join-info--divide pc-row pc-row--samll">

                        <dl class="join-info__row">
                          <dt class="w90">휴대전화번호</dt>
                          <dd class="edit-wrap" th:text="${hp}">

<!--                            <div class="link-wrap">-->
<!--                              <a href="#" data-action="goMobileChange" class="link-wrap__underline"><span>변경</span></a>-->
<!--                            </div>-->
                          </dd>
                        </dl>

                        <dl class="join-info__row">
                          <dt class="w90">이메일</dt>
                          <dd class="edit-wrap" th:text="${email}">

<!--                            <div class="link-wrap">-->
<!--                              <a href="#" data-action="goEmailChange" class="link-wrap__underline"><span>변경</span></a>-->
<!--                            </div>-->
                          </dd>
                        </dl>

                        <div class="mobile-only">
                          <dl class="join-info__row join-info__row--top">
                            <dt class="w90">영문성명</dt>
                            <dd class="edit-wrap">
                              <div class="info">
                                <div class="info-row">
                                  <div class="name-title">성</div>


                                  <div class="name" th:text="${engLastname}"></div>



                                </div>
                                <div class="info-row">
                                  <div class="name-title">이름</div>


                                  <div class="name" th:text="${engFirstname}"></div>



                                </div>
                              </div>
                              <div class="link-wrap">
                                <a href="#" style="" data-action="goNameChange" class="link-wrap__underline"><span>변경</span></a>
                              </div>
                            </dd>
                          </dl>
                        </div>

                      </div>
                    </div>
                  </div>

                  <div class="pc-flex--lineup pc-only">
                    <div class="gray-box gray-box--fixed">
                      <div class="join-info join-info--divide pc-row pc-row--samll">

                        <dl class="join-info__row join-info__row--top">
                          <dt class="w90">영문성명</dt>
                          <dd class="edit-wrap">
                            <div class="info">
                              <div class="info-row">
                                <div class="name-title">성</div>


                                <div class="name" th:text="${engLastname}"></div>



                              </div>
                              <div class="info-row">
                                <div class="name-title">이름</div>


                                <div class="name" th:text="${engFirstname}"></div>



                              </div>
                            </div>
                            <div class="link-wrap">
                              <a href="/user/nameChange" style="" data-action="goNameChange" class="link-wrap__underline"><span>변경</span></a>
                            </div>
                          </dd>
                        </dl>

                      </div>
                    </div>
                  </div>
                </div><!-- // pc-flex--between -->
              </div>


            </div><!-- //class="right" -->

          </div>
        </div>


        <div class="button-wrap section-wrap pc-type01" data-element="bottomContent">
          <button type="button" id="btnModify" class="button button--primary button--active"><span class="button__text">확인</span></button>
        </div>

        </form>
      </main>
    </div>

  </div>
</div>


<!-- footer -->
<div th:replace="/user/fragment/footer :: footer"></div>
<!-- / footer 끝 -->

<div id="ifmWrap"
     style="height:100%; display:none; overflow:auto; text-align:center; -webkit-overflow-scrolling:touch;">
  <iframe src="" width="100%" height="100%" name="popupChkApp"></iframe>
</div>

<!-- 공통 스크립트 선언 -->
<script type="text/javascript" src="/user/lib/js/lib.min.js"></script>
<script type="text/javascript" src="/user/lib/js/common.js"></script>
<script type="text/javascript" src="/user/lib/js/plugin.js"></script>
<script type="text/javascript" src="/user/lib/js/head/head.js"></script>

</body>
</html>