<html lang="ko"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org/">

<!--head-->
<div th:replace="/user/fragment/head :: head"></div>
<!--head 끝-->

<body id="subLayoutBody">

<!--appAlert-->
<div th:replace="/user/fragment/appAlert :: appAlert"></div>
<!--appAlert 끝-->


<!--header-->
<div th:replace="/user/fragment/header :: header"></div>
<!--header 끝-->
<div id="body">

  <!-- Google Tag Manager (noscript) -->
  <noscript>
    <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PD2BQQ4" height="0" width="0"
            style="display:none;visibility:hidden"></iframe>
  </noscript>
  <!-- End Google Tag Manager (noscript) -->

  <div class="wrap wrap--login pc-small">


    <div id="breadcrumb" class="breadcrumb pc-only" aria-label="breadcrumb">
      <nav class="breadcrumb__inner">
        <div class="breadcrumb__item">
          <a href="javascript:;" class="breadcrumb__link">홈</a>
        </div>
        <div class="breadcrumb__item">
          <a href="javascript:;" class="breadcrumb__link">마이페이지</a>
        </div>

        <div class="breadcrumb__item breadcrumb__item--current" aria-current="page" data-element="toggle"
             data-options='{"mode": "slide", "speed": 100, "clickToClose": true}'>

          <button type="button" class="breadcrumb__link breadcrumb__link--list" data-element="toggle__anchor">
            회원정보 수정
          </button>

          <div class="breadcrumb__siblings-list" data-element="toggle__panel">
            <a href="/user/my_history" class="item">나의 탑승 내역</a>
            <a href="/user/mypage_main_member" class="item">마이페이지 메인</a>
            <a href="/user/my_reserve" class="item">나의 예약 현황</a>
          </div>
        </div>
      </nav>
    </div>

    <div class="content" id="content">
      <main id="main" class="main ">

        <form id="frm" name="frm" method="POST" action="/user/pwCheckOK">

          <!-- 그 외 계정 (일반, 14세미만) -->
          <div class="page-title-wrap passDiv" style="">
            <div class="page-title">회원정보 수정</div>
            <div class="page-sub-title">비밀번호를 입력해 주세요.</div>
          </div>
          <div class="section-wrap passDiv" style="">
            <div class="sub-section section-sub-txt">
              제주항공은 회원님의 개인정보를<br>
              안전하게 보호하고 있습니다. 정보 수정을 위해<br>
              비밀번호를 한번 더 입력해주세요.
            </div>

            <div class="sub-section">
              <div class="input-wrap input--line">
                <div class="input-row input-row--password">
                  <div class="input-item">
                    <div class="input-box">
                      <label for="memUserpw" class="input__label">비밀번호<span title="required" class="input__label-asterisk">*</span></label>
                      <div class="input" data-element="form">
                        <input type="password" class="input__text" data-element="input" id="memUserpw" name="memUserpw" placeholder="">
                        <button type="button" class="input__remove-button" data-element="remove">삭제</button>
                        <button type="button" data-element="toggleShow" class="input__show-button" aria-label="비밀번호 보기"></button>
                      </div>
                    </div>
                    <!-- <p class="input__error" tabindex="0">비밀번호가 일치하지 않습니다.</p> -->
                  </div>
                </div>
              </div>
              <div th:if="${message =='fail'}"><span style="font-size: 14px; color: #FF5000; margin-top: 20px; text-align: left;">비밀번호를 다시 확인하세요.</span></div>
            </div>
          </div>
          <!-- //그 외 계정 (일반, 14세미만) -->
          <div id="divBtn" class="button-wrap section-wrap passDiv" data-element="bottomContent" style="">
            <button type="submit" id="btnPwNext" class="button button--primary"><span class="button__text">정보 수정하기</span></button>
          </div>
        </form>

      </main>
    </div>

  </div>
</div>


<!-- footer -->
<div th:replace="/user/fragment/footer :: footer"></div>
<!-- / footer 끝 -->

<div id="ifmWrap"
     style="height:100%; display:none; overflow:auto; text-align:center; -webkit-overflow-scrolling:touch;">
  <iframe src="" width="100%" height="100%" name="popupChkApp"></iframe>
</div>

<!-- 공통 스크립트 선언 -->
<script type="text/javascript" src="/user/lib/js/lib.min.js"></script>
<script type="text/javascript" src="/user/lib/js/common.js"></script>
<script type="text/javascript" src="/user/lib/js/plugin.js"></script>
<script type="text/javascript" src="/user/lib/js/userJs/mypage.js"></script>
</body>

<!--<script>-->
<!--  $(function () {-->
<!--    $('.button&#45;&#45;primary').on('click', function(){-->
<!--      isLogin();-->
<!--    })-->

<!--    function isLogin(){-->
<!--      if(!$('#admAdminPw').val()){-->
<!--        alert('비밀번호를 확인하세요');-->
<!--        return false;-->
<!--      }-->
<!--    }-->
<!--  });-->
<!--</script>-->
</html>