<html lang="ko"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org/">

<!--head-->
<div th:replace="/user/fragment/head :: head"></div>
<!--head 끝-->

<body id="subLayoutBody">

<!--appAlert-->
<div th:replace="/user/fragment/appAlert :: appAlert"></div>
<!--appAlert 끝-->


<!--header-->
<div th:replace="/user/fragment/header :: header"></div>
<!--header 끝-->

<div id="body">

  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PD2BQQ4" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->

  <div class="wrap wrap--button pc-small">


    <div id="breadcrumb" class="breadcrumb pc-only" aria-label="breadcrumb">
      <nav class="breadcrumb__inner">
        <div class="breadcrumb__item">
          <a href="javascript:;" class="breadcrumb__link" style="cursor: default;">홈</a>
        </div>

        <div class="breadcrumb__item">
          <a href="javascript:;" class="breadcrumb__link" style="cursor: default;">마이페이지</a>
        </div>

        <div class="breadcrumb__item breadcrumb__item--current" aria-current="page" data-element="toggle" data-options="{&quot;mode&quot;: &quot;slide&quot;, &quot;speed&quot;: 100, &quot;clickToClose&quot;: true}">

          <button type="button" class="breadcrumb__link breadcrumb__link--list" data-element="toggle__anchor" aria-controls="toggle-2" aria-expanded="false">회원정보 수정</button>

          <div class="breadcrumb__siblings-list" data-element="toggle__panel" id="toggle-2">
            <a href="javascript:void(0);" class="item" onclick="URL_LINK.getI18Url('/member/mypage/myFlightList.do')">나의 탑승 내역</a>
            <a href="javascript:void(0);" class="item" onclick="URL_LINK.getI18Url('/member/mypage/viewMyGiftTicketList.do')">나의 기프티켓</a>
            <a href="javascript:void(0);" class="item" onclick="URL_LINK.getI18Url('/member/mypage/viewMyPartnerCoupon.do')">나의 제휴처 쿠폰</a>
            <a href="javascript:void(0);" class="item" onclick="URL_LINK.getI18Url('/member/mypage/main.do')">마이페이지 메인</a>
            <a href="javascript:void(0);" class="item" onclick="URL_LINK.getI18Url('/ibe/mypage/viewReservationList.do')">나의 예약 현황</a>
          </div>
        </div>
      </nav>
    </div>


        <div class="content" id="content" id="view"> <!--id="view" 추가-->
          <main id="main" class="main">
            <div class="page-title-wrap pc-only">
              <div class="page-title">비밀번호 변경</div>
            </div>



            <!-- 일반 회원가입 계정 (비밀번호 있음) -->
            <div class="section-wrap">
              <div class="input-wrap input--line">
                <div class="input-row input-row--password">
                  <div class="input-item ">
                    <!-- D : input 오류일시 input--error 추가 -->
                    <div class="input-box">
                      <label for="inp-01" class="input__label">현재 비밀번호</label>
                      <div class="input" data-element="form">
                        <input type="password" class="input__text" data-element="input" id="inp-01">
                        <button type="button" data-element="remove" class="input__remove-button hide">삭제</button>
                        <button type="button" data-element="toggleShow" class="input__show-button" aria-label="비밀번호 보기"></button>
                      </div>
                    </div>
                    <p class="input_PW_error" tabindex="0" id="txtNowPwChk1" style="display: none;">비밀번호를 다시 확인해 주세요.</p>
                  </div>
                </div>

                <div class="input-row input-row--password">
                  <div class="input-item">
                    <div class="input-box">
                      <label for="inp-02" class="input__label">새 비밀번호</label>
                      <div class="input" data-element="form">
                        <input type="password" class="input__text new_password" data-element="input" id="inp-02">
                        <button type="button" data-element="remove" class="input__remove-button hide">삭제</button>
                        <button type="button" data-element="toggleShow" class="input__show-button" aria-label="비밀번호 보기"></button>
                      </div>
                    </div>
<!--                    <p class="input__error" tabindex="0" style="display: none;">문자, 숫자를 조합하여 6자 이상 입력해 주세요.</p>-->
<!--                    <p class="input__sub-text">영문/숫자/특수문자 중 2가지 이상 조합하여 8~20자로 입력해 주세요. </p>&lt;!&ndash;20210519 문구 수정&ndash;&gt;-->
<!--                    &lt;!&ndash; 에러메세지 노출 텍스트 &ndash;&gt;-->
<!--                    &lt;!&ndash; 6자 이상 미입력 or 문자/숫자 각 1글자 미포함 시 &ndash;&gt;-->
<!--                    <p class="input__error" tabindex="0" id="txtPwChk1" style="display: none;">영문/숫자/특수문자 중 2가지 이상 조합하여 8~20자로 입력해 주세요. </p>-->
<!--                    &lt;!&ndash; //6자 이상 미입력 or 문자/숫자 각 1글자 미포함 시 &ndash;&gt;-->

<!--                    &lt;!&ndash; 3자 이상의 반복, 연속된 문자 or 숫자 입력 시&ndash;&gt;-->
<!--                    <p class="input__error" tabindex="0" id="txtPwChk2" style="display: none;">반복되거나 연속된 문자/숫자는 사용할 수 없습니다. </p>-->
<!--                    &lt;!&ndash;  //3자 이상의 반복, 연속된 문자 or 숫자 입력 시 &ndash;&gt;-->

<!--                    &lt;!&ndash; 아이디와 4자 이상 동일한 문자 or 숫자 입력 시&ndash;&gt;-->
<!--                    <p class="input__error" tabindex="0" id="txtPwChk3" style="display: none;">아이디를 일부 포함한 비밀번호는 사용할 수 없습니다.</p>-->
<!--                    &lt;!&ndash;//아이디와 4자 이상 동일한 문자 or 숫자 입력 시 &ndash;&gt;-->

<!--                    &lt;!&ndash; 사용 불가능한 특수문자 입력 시&ndash;&gt;-->
<!--                    <p class="input__error" tabindex="0" id="txtPwChk4" style="display: none;">“사용 가능한 특수문자: !, @, $, %, ^, &amp;, *”</p>-->
<!--                    &lt;!&ndash;//사용 불가능한 특수문자 입력 시 &ndash;&gt;-->

<!--                    &lt;!&ndash; 사용 불가능한 특수문자 입력 시&ndash;&gt;-->
<!--                    <p class="input__error" tabindex="0" id="txtPwChk6" style="display: none;">현재 비밀번호와 다른 비밀번호를 입력해 주세요.</p>-->
<!--                    &lt;!&ndash;//사용 불가능한 특수문자 입력 시 &ndash;&gt;-->
<!--                    &lt;!&ndash; //에러메세지 노출 텍스트 &ndash;&gt;-->
                  </div>
                </div>

                <div class="input-row input-row--password">
                  <div class="input-item">
                    <div class="input-box">
                      <label for="inp-03" class="input__label">새 비밀번호 확인</label>
                      <div class="input" data-element="form">
                        <input type="password" class="input__text new_password_again" data-element="input" id="inp-03">
                        <button type="button" data-element="remove" class="input__remove-button hide">삭제</button>
                        <button type="button" data-element="toggleShow" class="input__show-button" aria-label="비밀번호 보기"></button>
                      </div>
                    </div>
                    <!-- 비밀번호 확인 입력 값과 불일치 시 -->
                    <p tabindex="0" class="input__error" id="txtPwChk5" style="display: none;">비밀번호가 일치하지 않습니다.</p>
                    <!-- //비밀번호 확인 입력 값과 불일치 시 -->
                  </div>
                </div>
              </div>
            </div>
            <!-- //일반 회원가입 계정 (비밀번호 있음) -->



            <!-- //SNS 간편 회원가입 (비밀번호 없음) -->
            <div class="button-wrap section-wrap" data-element="bottomContent">
              <!-- 일반 회원가입 계정 (비밀번호 있음) -->
              <button type="button" id="btnChangePw" class="button button--primary"><span class="button__text">비밀번호 변경하기</span></button>
              <!-- 버튼 active될 경우 button--active class 추가 -->

              <!-- SNS 간편 회원가입 (비밀번호 없음) -->
              <!-- <button type="button" class="button button--primary"><span class="button__text">비밀번호 설정하기</span></button> -->
            </div>
          </main>

        </div>


  </div>
</div>


<!-- footer -->
<div th:replace="/user/fragment/footer :: footer"></div>
<!-- / footer 끝 -->

<div id="ifmWrap"
     style="height:100%; display:none; overflow:auto; text-align:center; -webkit-overflow-scrolling:touch;">
  <iframe src="" width="100%" height="100%" name="popupChkApp"></iframe>
</div>

<!-- 공통 스크립트 선언 -->
<script type="text/javascript" src="/user/lib/js/lib.min.js"></script>
<script type="text/javascript" src="/user/lib/js/common.js"></script>
<script type="text/javascript" src="/user/lib/js/plugin.js"></script>
<script type="text/javascript" src="/user/lib/js/userJs/password_edit.js"></script>
</body>
</html>