<html lang="ko"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org/">

<!--head-->
<div th:replace="/user/fragment/head :: head"></div>
<!--head 끝-->

<body id="subLayoutBody">

<!--appAlert-->
<div th:replace="/user/fragment/appAlert :: appAlert"></div>
<!--appAlert 끝-->

<!--header-->
<div th:replace="/user/fragment/header :: header"></div>
<!--header 끝-->


<div id="body">

    <div class="wrap wrap--login pc-small">
        <div class="content" id="content">
            <input id="category" value="customer" style="display: none">
            <main id="main" class="main ">
                <form name="frm" id="view" method="POST" action="/user/emailOK">
                    <!--20210519 title영역 수정-->
                    <div class="page-title-wrap">
                        <div class="page-title">아이디/비밀번호 찾기</div>
                        <div class="page-sub-title">가입 시 등록한 <br class="mobile-only">이메일을 입력해 주세요.</div>
                    </div>
                    <!--//20210519 title영역 수정-->
                    <div class="section-wrap">
                        <!--20210519 class명 변경-->
                        <div class="input-wrap input--line">
                            <div id="input-box" class="input-row">
                                <div class="input-item">
                                    <div class="input-box">
                                        <!--20210428 필수 삭제-->
                                        <div class="input">
                                            <input type="text" id="email" name="email" class="input__text" PLACEHOLDER="이메일을 입력해주세요">
                                            <!--data-element="input" 추가-->
                                            <button type="button" data-element="remove"
                                                    class="input__remove-button"><span class="hidden">삭제</span></button>
                                        </div>
                                    </div>
                                    <p class="input__error" id="input__error" style="display: none">입력하신 정보의 계정을 찾을 수 없어요.<br>다시 입력해주세요.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="button-wrap section-wrap" data-element="bottomContent">
                        <button type="button" class="button button--primary" id="nextAction"><span
                                class="button__text">다음</span></button>
                    </div>
                </form>
            </main>
        </div>
    </div>

    <!-- footer -->
    <div th:replace="/user/fragment/footer :: footer"></div>
    <!-- / footer 끝 -->
</div>

<script type="text/javascript" src="/user/lib/js/lib.min.js"></script>
<script type="text/javascript" src="/user/lib/js/common.js"></script>
<script type="text/javascript" src="/user/lib/js/plugin.js"></script>
<script type="text/javascript" src="/user/lib/js/head/head.js"></script>
<script type="text/javascript" src="/user/lib/js/find/pwView.js"></script>
</body>

</html>