<html lang="ko"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org/">

<!--head-->
<div th:replace="/user/fragment/head :: head"></div>
<!--head 끝-->
<body id="subLayoutBody">

<!--appAlert-->
<div th:replace="/user/fragment/appAlert :: appAlert"></div>
<!--appAlert 끝-->


<!--header-->
<div th:replace="/user/fragment/header :: header"></div>
<!--header 끝-->

<div id="body">

    <!-- Google Tag Manager (noscript) -->
    <noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PD2BQQ4" height="0" width="0"
                style="display:none;visibility:hidden"></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->

    <div class="wrap wrap NB">


        <div id="breadcrumb" class="breadcrumb pc-only" aria-label="breadcrumb">
            <nav class="breadcrumb__inner">
                <div class="breadcrumb__item">
                    <a href="javascript:;" class="breadcrumb__link">홈</a>
                </div>


                <div class="breadcrumb__item breadcrumb__item--current" aria-current="page" data-element="toggle"
                     data-options='{"mode": "slide", "speed": 100, "clickToClose": true}'>


                    <button type="button" class="breadcrumb__link breadcrumb__link--list" data-element="toggle__anchor">
                        운항 정보
                    </button>


                    <div class="breadcrumb__siblings-list" data-element="toggle__panel">


                        <a href="../domestic_price/domestic_price.html" class="item"
                           onclick="URL_LINK.getI18Url('/prepare/fare/domesticBenefit.do')">국내선 운임</a>


                        <a href="../inter_price/inter_price.html" class="item"
                           onclick="URL_LINK.getI18Url('/prepare/fare/internationalBenefit.do')">국제선 운임</a>


                        <a href="javascript:void(0);" class="item"
                           onclick="URL_LINK.getI18Url('/ibe/booking/viewMilitaryInput.do')">민항공후급증 예약</a>


                        <a href="../ticket_reservation/ticket_reservation.html" class="item"
                           onclick="URL_LINK.getI18Url('/ibe/booking/Availability.do')">항공권 예매</a>


                    </div>
                </div>


            </nav>
        </div>


        <div class="content" id="content" >
            <main id="main" class="main ">

                <form id="scheduleSearchForm"><input type="hidden" id="scheduleSearchData" name="scheduleSearchData">
                </form>


                <div class="page-title-wrap">
                    <div class="page-title">운항 정보</div><!--  운항정보  -->
                    <div class="page-sub-title">제주항공의 항공편 현황을 편명 또는 구간으로 <br class="mobile-only">조회할 수 있습니다.</div>
                    <!-- 제주항공의 항공편 현황을 편명 또는 구간으로 조회할 수 있습니다. -->
                </div>

                <div class="section-wrap">
                    <div class="tab tab--default">
                        <div class="tab__buttons">
                            <div class="tab__button">
                                <button name="btnTitle" class="tab__anchor type is-active test" type="button"
                                        data-titleType="schedule">스케줄 조회
                                </button><!-- 스케줄 조회 -->
                            </div>
                            <div class="tab__button">
                                <button name="btnTitle" class="tab__anchor type  test" type="button"
                                        data-titleType="status">출도착 조회
                                </button> <!-- 출도착 조회 -->
                            </div>
                        </div>
                    </div>

                    <!-- 스케줄 조회 -->
                    <div class="tab__panel ">
                        <div class="quick-book-wrap">
                            <div class="section-wrap">
                                <ul id="headerListGuide" class="list-guide list-guide--color-black">
                                    <li class="list-guide__item">운항 스케줄은 정부인가 조건이며, 출도착 시간과 기종은 예고 없이 변경될 수 있습니다.</li>
                                    <!-- 운항 스케줄은 정부인가 조건이며, 출도착 시간과 기종은 예고 없이 변경될 수 있습니다. -->
                                    <li class="list-guide__item">출도착 시간은 현지시간 기준입니다. (+1은 다음날)</li>
                                    <!-- 출도착 시간은 현지시간 기준입니다. (+1은 다음날) -->
                                </ul>
                            </div>
                            <div class="section-wrap mb40">
                                <div class="quick-book-sch info-search type01">
                                    <div class="radio-wrap">
						<span class="radio">
							<input type="radio" class="radio__input inquiry test" id="tripType1-1" name="tripType1"
                                   data-tripType="RT" data-dateRange="range" data-toggle="toggle__anchor"
                                   aria-controls="tripType1-1-0" aria-expanded="true">
							<label for="tripType1-1" class="radio__label">
								<i class="radio__ico" aria-hidden="true"></i>
								<span class="text--bold">왕복</span> <!-- 왕복 -->
							</label>
						</span>
                                        <span class="radio">
							<input type="radio" class="radio__input inquiry test" id="tripType1-2" name="tripType1"
                                   data-tripType="OW" data-dateRange="single" data-toggle="toggle__anchor"
                                   aria-controls="tripType1-1-1" aria-expanded="false" checked>
							<label for="tripType1-2" class="radio__label">
								<i class="radio__ico" aria-hidden="true"></i>
								<span class="text--bold">편도</span> <!-- 편도 -->
							</label>
						</span>
                                    </div>
                                    <div class="main-ticketing one-way">
                                        <div class="ticketing-in content-guide">
                                            <div class="ticketing-row-top">
                                                <div class="ticketing-target">
                                                    <button type="button" class="start js-target-pick"><span
                                                            class="txt before-select" id="spanDepartureDesc">출발지</span>
                                                        <!-- 출발지 -->
                                                    </button>
                                                    <input type="hidden" id="departureData">
                                                    <button type="button" class="target js-target-pick"><span
                                                            class="txt before-select" id="spanArrivalDesc">도착지</span>
                                                        <!-- 도착지 -->
                                                    </button>
                                                    <input type="hidden" id="arrivalData">
                                                    <button type="button" class="btn-open js-target-pick"
                                                            onclick="javascript:exchangeRoute();"><span
                                                            class="blind">열기</span></button>  <!-- 열기 -->
                                                </div>
                                                <div class="ticketing-date">
                                                    <button type="button" class="btn-date " id="btnDatePicker"><span
                                                            class="txt">2022.06.29(수)</span></button>
                                                    <input type="hidden" id="departureDate" value="2022-06-29">
                                                    <input type="hidden" id="arrivalDate" value="2022-07-06">
                                                    <!--default 금일 날짜-->
                                                </div>
                                            </div>
                                            <div class="ticketing-row-hidden">
                                                <div class="flight-layer flight-start" id="depAirportLayer">
                                                    <div class="layer-header">
                                                        <!--자동완성기능 : .active-search 추가-->
                                                        <div class="header__input-wrap input is-focus"
                                                             data-element="form">
                                                            <button class="header__button" name="header_btn"><span
                                                                    class="hidden">비행시간</span></button>  <!-- 이전으로 -->
                                                            <button type="button" class="header__input-search"><img
                                                                    src="https://static.jejuair.net/hpgg/resources/images/icon/icon-header-search.png"
                                                                    alt='검색'></button> <!-- 검색 -->
                                                            <input type="text" id="txtDEPAirport" class="header__input"
                                                                   data-element="input" placeholder='어디에서 출발하세요?'>
                                                            <!-- 어디에서 출발하세요? -->
                                                            <p class="map-list-txt">어디에서 출발하세요?</p> <!-- 어디에서 출발하세요? -->
                                                            <button type="button" data-element="remove"
                                                                    class="input__remove-button"><span
                                                                    class="hidden">삭제</span></button> <!-- 삭제 -->
                                                        </div>
                                                        <!-- 자동완성 -->
                                                        <!-- // 자동완성 -->
                                                        <div id="divDEPAirportAC" name="search_auto"
                                                             target="txtDepAirport"></div>
                                                    </div>
                                                    <div class="txt-list">
                                                        <div class="header-sub" data-element="tab">
                                                            <div class="tab__buttons">
                                                                <div data-element="tab__list" class="tab__button"
                                                                     role="presentation">
                                                                    <button type="button" class="tab__anchor is-active"
                                                                            id="selectTab01" data-element="tab__anchor"
                                                                            data-index="0" role="tab" tabindex=""
                                                                            aria-selected="true" aria-expanded="true">최근
                                                                        검색
                                                                    </button>  <!-- 최근 검색 -->
                                                                </div>
                                                                <div data-element="tab__list" class="tab__button"
                                                                     role="presentation">
                                                                    <button type="button" class="tab__anchor"
                                                                            id="selectTab02" data-element="tab__anchor"
                                                                            data-index="1" role="tab" tabindex=""
                                                                            aria-selected="false" aria-expanded="false">
                                                                        즐겨찾기
                                                                    </button>
                                                                    <!-- 즐겨찾기 -->
                                                                </div>
                                                                <div data-element="tab__list" class="tab__button"
                                                                     role="presentation">
                                                                    <button type="button" class="tab__anchor"
                                                                            id="selectTab03" data-element="tab__anchor"
                                                                            data-index="2" role="tab" tabindex=""
                                                                            aria-selected="false" aria-expanded="false">
                                                                        프로모션
                                                                    </button>
                                                                    <!-- 프로모션 -->
                                                                </div>
                                                            </div>
                                                            <div data-element="tab__panel" class="tab__panel is-active"
                                                                 aria-labelledby="selectTab01" role="tabpanel"
                                                                 tabindex="0">
                                                                <div data-element="tab">
                                                                    <div class="tab__button-wrap">
                                                                        <div class="tag-list" data-scroll="x"
                                                                             name="latelySearch"></div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div data-element="tab__panel" class="tab__panel"
                                                                 aria-labelledby="selectTab02" role="tabpanel"
                                                                 tabindex="0" style="display: none;">
                                                                <div data-element="tab">
                                                                    <div class="tab__button-wrap">
                                                                        <div class="tag-list" data-scroll="x"
                                                                             name="favorites">
                                                                            <!-- 비활성화의 경우 disabled 추가 -->
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div data-element="tab__panel" class="tab__panel"
                                                                 aria-labelledby="selectTab03" role="tabpanel"
                                                                 tabindex="0" style="display: none;">
                                                                <div data-element="tab">
                                                                    <div class="tab__button-wrap">
                                                                        <div class="tag-list" data-scroll="x"
                                                                             name="promotionSearch">
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="main--destination-select">
                                                            <hr class="booking-line">
                                                            <div data-element="tab"
                                                                 class="tab tab--vertical tab--booking">
                                                                <div class="tab__buttons vertical_scroll_set"
                                                                     id="divDepArea">
                                                                </div>
                                                                <div class="tab__panel-wrap scrollbar-inner"
                                                                     data-element="tab__panel-wrap">
                                                                </div>
                                                            </div>
                                                            <!--<button type="button" class="floating-button btn-map" onclick="viewTabMap('start','map')"><span class="hidden">지도 보기</span></button>-->
                                                        </div>
                                                    </div>
                                                    <div class="map-list">
                                                        <div class="map-wrap">
                                                            <div id="map-start" class="flight-map"></div>
                                                            <div class="tab-top">
                                                                <ul class="tab-top-list">
                                                                </ul>
                                                            </div>
                                                            <div class="tab-swipe swiper-container">
                                                                <div class="tab-swipe-wrapper swiper-wrapper"></div>
                                                            </div>
                                                        </div>
                                                        <!--<button type="button" class="floating-button btn-list" onclick="viewTabMap('start', 'list')"><span class="hidden">리스트보기</span></button>-->
                                                    </div>
                                                    <a href="#a" class="layer-close"><span class="blind">닫기</span></a>
                                                    <!-- 닫기 -->
                                                </div>
                                                <div class="flight-layer flight-target" id="arrAirportLayer">
                                                    <div class="layer-header">
                                                        <!--자동완성기능 : .active-search 추가-->
                                                        <div class="header__input-wrap input is-focus"
                                                             data-element="form">
                                                            <button class="header__button" name="header_btn"><span
                                                                    class="hidden">비행시간</span></button> <!-- 이전으로 -->
                                                            <button type="button" class="header__input-search"><img
                                                                    src="https://static.jejuair.net/hpgg/resources/images/icon/icon-header-search.png"
                                                                    alt='검색'></button> <!-- 검색 -->
                                                            <input type="text" id="txtARRAirport" class="header__input"
                                                                   data-element="input" placeholder='어디로 여행가세요?'>
                                                            <!-- 어디로 여행가세요? -->
                                                            <p class="map-list-txt" id="mapARRAirport">어디로 여행가세요?</p>
                                                            <!-- 어디로 여행가세요? -->
                                                            <button type="button" data-element="remove"
                                                                    class="input__remove-button"><span
                                                                    class="hidden">삭제</span></button>  <!-- 삭제 -->
                                                        </div>
                                                        <div id="divARRAirportAC" name="search_auto"
                                                             target="txtArrAirport"></div>
                                                    </div>
                                                    <div class="txt-list">
                                                        <div class="header-sub" data-element="tab">
                                                            <div class="tab__buttons">
                                                                <div data-element="tab__list" class="tab__button"
                                                                     role="presentation">
                                                                    <button type="button" class="tab__anchor is-active"
                                                                            id="selectTab01" data-element="tab__anchor"
                                                                            data-index="0" role="tab" tabindex=""
                                                                            aria-selected="true" aria-expanded="true">최근
                                                                        검색
                                                                    </button>  <!-- 최근 검색 -->
                                                                </div>
                                                                <div data-element="tab__list" class="tab__button"
                                                                     role="presentation">
                                                                    <button type="button" class="tab__anchor"
                                                                            id="selectTab02" data-element="tab__anchor"
                                                                            data-index="1" role="tab" tabindex=""
                                                                            aria-selected="false" aria-expanded="false">
                                                                        즐겨찾기
                                                                    </button>  <!-- 즐겨찾기 -->
                                                                </div>
                                                                <div data-element="tab__list" class="tab__button"
                                                                     role="presentation">
                                                                    <button type="button" class="tab__anchor"
                                                                            id="selectTab03" data-element="tab__anchor"
                                                                            data-index="2" role="tab" tabindex=""
                                                                            aria-selected="false" aria-expanded="false">
                                                                        프로모션
                                                                    </button>  <!-- 프로모션 -->
                                                                </div>
                                                            </div>
                                                            <div data-element="tab__panel" class="tab__panel is-active"
                                                                 aria-labelledby="selectTab01" role="tabpanel"
                                                                 tabindex="0">
                                                                <div data-element="tab">
                                                                    <div class="tab__button-wrap">
                                                                        <div class="tag-list" data-scroll="x"
                                                                             name="latelySearch"></div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div data-element="tab__panel" class="tab__panel"
                                                                 aria-labelledby="selectTab02" role="tabpanel"
                                                                 tabindex="0" style="display: none;">
                                                                <div data-element="tab">
                                                                    <div class="tab__button-wrap">
                                                                        <div class="tag-list" data-scroll="x"
                                                                             name="favorites">
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div data-element="tab__panel" class="tab__panel"
                                                                 aria-labelledby="selectTab03" role="tabpanel"
                                                                 tabindex="0" style="display: none;">
                                                                <div data-element="tab">
                                                                    <div class="tab__button-wrap">
                                                                        <div class="tag-list" data-scroll="x"
                                                                             name="promotionSearch">
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="main--destination-select">
                                                            <hr class="booking-line">
                                                            <div data-element="tab"
                                                                 class="tab tab--vertical tab--booking">
                                                                <div class="tab__buttons vertical_scroll_set"
                                                                     id="divArrArea">
                                                                </div>
                                                                <div class="tab__panel-wrap scrollbar-inner"
                                                                     data-element="tab__panel-wrap">
                                                                </div>
                                                            </div>
                                                            <!--<button type="button" class="floating-button btn-map" onclick="viewTabMap('target', 'map')"><span class="hidden">지도 보기</span></button>-->
                                                        </div>
                                                    </div>
                                                    <div class="map-list">
                                                        <div class="map-wrap">
                                                            <div id="map-target" class="flight-map"></div>
                                                            <div class="tab-top">
                                                                <ul class="tab-top-list">
                                                                </ul>
                                                            </div>
                                                            <div class="tab-swipe swiper-container">
                                                                <div class="tab-swipe-wrapper swiper-wrapper"></div>
                                                            </div>
                                                        </div>
                                                        <!--<button type="button" class="floating-button btn-list" onclick="viewTabMap('target', 'list')"><span class="hidden">리스트보기</span></button>-->
                                                    </div>
                                                    <a href="#a" class="layer-close"><span class="blind">닫기</span></a>
                                                    <!-- 닫기 -->
                                                </div>
                                                <div class="date-layer only-date-select" id="dateLayer">
                                                    <div class="layer-header">
                                                        <button class="header__button" name="header_btn">
                                                            <span class="hidden">비행시간</span> <!-- 이전으로 -->
                                                        </button>
                                                        <h2 class="customer-layer__title">날짜를 선택해 주세요.</h2>
                                                        <!-- 날짜를 선택해주세요. -->
                                                    </div>
                                                    <div class="layer-content">
                                                        <div class="booking-trip">
                                                            <div class="booking-trip__from">
                                                                <span class="location"></span>
                                                            </div>
                                                            <!-- 편도 방향화살표 -->
                                                            <!-- 편도 방향화살표 -->

                                                            <!-- 왕복 방향화살표 -->
                                                            <span class="booking-trip__direction one-way"></span>
                                                            <!-- 왕복 방향화살표 -->

                                                            <div class="booking-trip__to">
                                                                <span class="location"></span>
                                                            </div>
                                                        </div>
                                                        <div class="picker picker--full">
                                                            <div class="info-wrap">
                                                            </div>
                                                            <input type="text" class="picker__input" id="selectDate"
                                                                   data-picker="single" data-locale="ko" data-text="선택"
                                                                   data-min-date="2022-06-29" data-max-date="2023-06-26"
                                                                   data-format="Y.m.d (D)" data-defaultDate="2022-06-29"
                                                                   data-range-text='{"start": "가는 날", "end": "오는 날", "current": "왕복"}'>
                                                        </div>
                                                        <div class="booking-button cal-button">
                                                            <button id="dateClear" type="button"
                                                                    class="button button--primary button--black pc-only"
                                                                    data-reset-date="#selectDate"><span
                                                                    class="button__text">초기화</span></button>
                                                            <!-- 초기화 -->
                                                            <button type="button"
                                                                    class="button button--primary button--active"
                                                                    data-select-date="#selectDate" rel="modal:close">
                                                                <span class="button__text">선택</span></button>
                                                            <!-- 선택 -->
                                                        </div>
                                                    </div>
                                                    <a href="#a" class="layer-close"><span class="blind">닫기</span></a>
                                                    <!-- 닫기 -->
                                                </div>
                                            </div>
                                        </div>
                                        <!-- 조회 내역이 없을 경우 노출 -->
                                        <p class="boarding-error" style="display:none;">선택하신 조건으로 항공편이 조회되지 않습니다. <br>가는
                                            편 / 오는 편 선택과 날짜를 다시 확인해 주세요.</p>
                                        <!-- 선택하신 조건으로 항공편이 조회되지 않습니다.<br>가는 편 / 오는 편 선택과 날짜를 다시 확인해 주세요. -->
                                        <!-- //조회 내역이 없을 경우 노출 -->

                                        <div class="button-wrap button-wrap--center sub-section">
                                            <button type="button" id="searchFlight"
                                                    class="button button--optional button--active"><span
                                                    class="button__text">조회</span></button>  <!-- 조회 -->
                                        </div>

                                    </div>

                                    <!--편명조회-->
                                    <div id="bottomListGuide2" class="boarding-search flight-info">
                                        <div class="boarding__input">
                                            <div class="input-wrap input--line pc-col pc-col-2">
                                                <div class="input-row">
                                                    <!-- D : 에러시  input--error 클래스 추가 -->
                                                    <div class="input-item">
                                                        <label for="inp3-1" class="input-label label-top">편명</label>
                                                        <!-- 편명 -->
                                                        <div class="input-box2">
                                                            <div data-element="form" data-change="true"
                                                                 class="input input-wraping">
                                                                <div class="default-text"><span>7</span><span>C</span>
                                                                </div>
                                                                <input type="tel" id="inp3-1" class="input__text"
                                                                       data-element="input" maxlength="4"
                                                                       placeholder="●●●●">
                                                            </div>
                                                        </div>
                                                        <p class="input__error" tabindex="0">편명을 입력해 주세요.</p>
                                                        <!-- 편명을 입력해 주세요. -->
                                                        <p class="input__sub-text mb10">편명은 숫자 4자리를 입력해 주세요(국내선의 경우 0부터
                                                            입력).</p>  <!-- 편명은 숫자 4자리를 입력해 주세요(국내선의 경우 0부터 입력). -->
                                                    </div>
                                                </div>

                                                <div class="input-row">
                                                    <div class="input-item">
                                                        <label for="inp3-1" class="input-label label-top">출발일 선택</label>
                                                        <!-- 출발일 선택 -->
                                                        <div class="input-box2">
                                                            <button type="button" id="depDate"
                                                                    class="picker picker--button is-select"
                                                                    data-element="modal_anchor"
                                                                    data-modal-type="datepicker"
                                                                    data-target="#datepicker01">2022.06.29(수)
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="button-wrap button-wrap--center sub-section"> <!-- 편명조회에서만 나오나 -->
                                            <button type="button" id="btnFlightNoSearch"
                                                    class="mt10 button button--optional button--active"><span
                                                    class="button__text">조회</span></button> <!-- 조회 -->
                                        </div>
                                    </div>
                                    <!--편명조회//-->

                                    <!--해당 스케줄은 2021년 하계 정기편 운항 스케줄 계획입니다.   결함 #1271283007 삭제요청 -->
                                    <!-- msg00015 정기편 이외 스케줄 관련 정보는 홈페이지 내 항공권 예매 페이지를 통하여 확인 부탁드립니다. -->
                                    <!-- msg00016 결항 및 지연 시간의 경우 반영되지 않을 수 있습니다. -->
                                    <div id="bottomListGuide1" class="section-wrap">
                                        <ul class="list-guide list-guide--color-black">
                                            <li class="list-guide__item">정기편 이외 스케줄 관련 정보는 홈페이지의 [항공권 예매] 메뉴에서 확인해
                                                주세요.
                                            </li>
                                            <li class="list-guide__item">결항 및 지연 시간의 경우 반영되지 않을 수 있습니다.</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <!-- //스케줄 조회 -->
                        </div>
                    </div>
                </div>
                <!-- 날짜선택 -->
                <div id="datepicker01" class="modal modal-full modal-full--picker">
                    <div class="modal-header">
                        <h2 class="header__page-name">날짜를 선택해 주세요.</h2>  <!-- 날짜를 선택해 주세요. -->
                    </div>

                    <div class="modal-content">
                        <div class="picker picker--full">
                            <div class="info-wrap">
                            </div>
                            <input type="text" class="picker__input" id="selectDate1" data-locale="ko"
                                   data-picker="single" data-min-date="2022-06-29" data-max-date="2023-06-26"
                                   data-format="Y.m.d (D)" data-defaultDate="2022-06-29" data-selected="" title="달력버튼">
                            <!-- 달력버튼 -->
                        </div>
                        <div class="booking-button">
                            <button type="button" id="scrollSet" class="button button--primary button--active"
                                    data-select-date="#selectDate1" rel="modal:close"><span
                                    class="button__text">선택</span></button>  <!-- 선택 -->
                        </div>
                    </div>
                    <a href="#" id="scrollSet1" rel="modal:close" class="modal__close"><span class="blind">닫기</span></a>
                    <!-- 닫기 -->
                </div>
                <!-- alert 팝업 -->
                <div id="alertModalLayer" class="modal modal--simple">
                    <div class="modal-content"><p class="alert-text"></p></div>
                    <div class="modal__button-area button-wrap">
                        <button type="button" class="button button--secondary button--active" rel="modal:close"
                                onclick="javascript:closeCurrentModal(this);"><span class="button__text">확인</span>
                        </button>
                    </div> <!-- 확인 -->
                </div>
            </main>
        </div>

    </div>
</div>


<!-- footer -->
<div th:replace="/user/fragment/footer :: footer"></div>
<!-- / footer 끝 -->

<form id="formPrepare" name="formPrepare" method="post">
    <input type="hidden" id="flightData" name="flightData" value="">
    <input type="hidden" id="searchData" name="searchData" value="">
</form>

<div id="ifmWrap"
     style="height:100%; display:none; overflow:auto; text-align:center; -webkit-overflow-scrolling:touch;">
    <iframe src="" width="100%" height="100%" name="popupChkApp"></iframe>
</div>


<!-- 공통 스크립트 선언 -->
<script type="text/javascript" src="/user/lib/js/lib.min.js"></script>
<script type="text/javascript" src="/user/lib/js/common.js"></script>
<script type="text/javascript" src="/user/lib/js/plugin.js"></script>

<script src="https://static.jejuair.net/hpgg/resources/js/prepare/scheduleInfo.js"></script>
<script src="https://static.jejuair.net/hpgg/resources/js/admin/lib/jquery-ui.min.js"></script>
<script type="text/javascript">
    let titleType = 'schedule'//'schedule';
    let cultureCode = I18N.language + "-" + I18N.country;
    let langCode = 'ko';
    let tripType;
    let domIntType = "";
    let searchLatelyDatas = [];
    let bookType = "Common";
    let departureAiportsMap = [];
    let arrivalAiportsMap = [];
    let airportMapLayer;
    let searchData = {};
    let searchUrl = 'https://sec.jejuair.net';
    let currentDay = '2022.06.29'

    $(document).ready(function () {
        $(document).ajaxStart(function () {
            Progress.show();
        });
        $(document).ajaxStop(function () {
            Progress.hide();
        });

        if (cultureCode.startsWith('zh-tw') || cultureCode.startsWith('zh-hk')) {
            let dates = $("#btnDatePicker").find('.txt').text().split('.');
            let startDate = new Date(dates[0], dates[1] - 1, dates[2].substring(0, 2));
// 			let endDate = new Date(dates[2].replace(/[^0-9]/gi,'').substring(2,6), dates[3]-1 , dates[4].replace(/[^0-9]/gi,''));
            moment.locale(I18N.language);
            let start = moment(startDate).format("yyyy.MM.DD(ddd)");
// 			let end = moment(endDate).format("yyyy.MM.DD(ddd)");
            $("#btnDatePicker").find('.txt').html(start);
        }

        controlHtmlOfTitleType(titleType);

        selectDepartureAirports('DEP');


        selectPromotionsAirports('DEP');
        $(document).on('click', '#searchFlight', getFlightScheduleAndStatus);
        $(document).on('click', '#btnFlightNoSearch', getFlightScheduleAndStatus);
        $(document).on('click', '.choise__button', clickChoiseButton);
        $(document).on('click', 'button[name=btnAAMChartAirport]', clickChoiseButton);
        $(document).on('click', 'button[name=btnLatelyAirport]', clickChoiseButton);
        $(document).on('click', 'button[name=btnFavoriteAirport]', clickChoiseButton);
        $(document).on('click', 'button[name=btnPromotion]', clickPromotionButton);

        $(document).on('click', '.tab-swipe-item', clickAAMChartBtn);
        $(document).on('click', '.flatpickr-prev-month , .flatpickr-next-month', pickerMoveMonth);
        $(document).on('click', '.date-layer button[data-select-date]', selectDate);
        $(document).on('click', '.date-layer button[data-reset-date]', clearDate);
        $(document).on('focus', '.header__input', autoComplete);
        $(document).on('click', 'button[name=header_btn]', clickPrevButton);


        $('#dateClear').click(function () {
            var $datePicker = $("#selectDate").flatpickr();
            $datePicker.clear();
            clearDate();
        });

        //MOBILE modal 달력 스크롤 상단 제외하고 이동 후  date-layer달력 띄울 시 깨지는문제 해결
        $('[id^=scrollSet]').click(function () {
            if ($('body').hasClass('isMobile')) {
                $('.modal-content').scrollTop(0);
                $('.date-layer .layer-content').scrollTop(0);
            }
        });

        $('.main-ticketing').sliding();

        $("#arrivalData").data("stationcode", null)
        $("#arrivalData").data("countrycode", null)
        $("#arrivalData").data("arrivalname", null)

        $("[name=btnTitle]").click(function () {
            var type = $(this).data("titletype");
            controlHtmlOfTitleType(type);
        });
        $("#inp3-1").on("input change", function () {
            $(this).val($(this).val().replace(/[^0-9]/gi, ""));
        });
    });

    let setTripType = function () {
        $("[id^=tripType1]").each(function () {
            if ($(this).is(":checked")) {
                tripType = $(this).data("triptype");
            }
        });
    }


    function setRecentRoute(trips) {
        let trip1 = {
            stationCode: $(trips).data('trips').tripRoute[0].originAirport,
            city: '',
            stationName: $(trips).data('trips').tripRoute[0].originName,
            stationType: 'DEP',
            currencyCode: $(trips).data('trips').currencyCode
        };
        <!--선택한 공항을 세팅-->
        $("#depAirportLayer").data("target", "spanDepartureDesc")
        setAirportInfo(trip1);

        let trip2 = {
            stationCode: $(trips).data('trips').tripRoute[0].destinationAirport,
            city: '',
            stationName: $(trips).data('trips').tripRoute[0].destinationName,
            stationType: 'ARR',
            currencyCode: $(trips).data('trips').currencyCode
        };

        $("#arrAirportLayer").data("target", "spanArrivalDesc")
        setAirportInfo(trip2);

        if ($(trips).data('trips').tripType === 'OW') {
            $('.ticketing-type .item-btn').eq(1).trigger('click');
        } else {
            $('.ticketing-type .item-btn').eq(0).trigger('click');
        }

        for (let i = 0; i < $(trips).data('trips').passengers.length; i++) {
            if ($(trips).data('trips').passengers[i].type === 'ADT') {
                $("#adtCount").val($(trips).data('trips').passengers[i].count)
            } else if ($(trips).data('trips').passengers[i].type === 'CHD') {
                $("#chdCount").val($(trips).data('trips').passengers[i].count)
            } else if ($(trips).data('trips').passengers[i].type === 'INF') {
                $("#infCount").val($(trips).data('trips').passengers[i].count)
            }
        }
        if ($(trips).data('trips').tripRoute.length === 1) {
            tripType = 'OW';
            $("#departureDate").val($(trips).data('trips').tripRoute[0].flightDate)
            $("#departureDate").prev().find('.txt').text(dUtil.dateWeekNameTime($("#departureDate").val().replace(/[^0-9]/gi, ''), I18N.language))
            $("#arrivalDate").val("");
            $(".booking-trip__from").next().addClass('one-way')
            $(".booking-trip__from").next().removeClass('round-trip')
        } else {
            tripType = 'RT';
            $("#departureDate").val($(trips).data('trips').tripRoute[0].flightDate)
            $("#arrivalDate").val($(trips).data('trips').tripRoute[1].flightDate)
            $("#departureDate").prev().find('.txt').text(dUtil.dateWeekNameTime($("#departureDate").val().replace(/[^0-9]/gi, ''), I18N.language) + " ~ " + dUtil.dateWeekNameTime($("#arrivalDate").val().replace(/[^0-9]/gi, ''), I18N.language));
            $(".booking-trip__from").next().removeClass('one-way')
            $(".booking-trip__from").next().addClass('round-trip')
        }
        domIntType = $(trips).data('trips').domIntType;
    }

    function getFlightScheduleAndStatus() {
        $(".boarding-error").hide();
        $("#bottomListGuide2").find('.input-item').eq(0).removeClass("input--error");

        let type = "default";
        if (titleType == "status" && $("#tripType1-2").is(":checked")) {
            type = "flightNo";
        }
        let url = "";
        let originAirport;
        let destinationAirport;
        let startDate;
        let endDate;
        let fltNo;
        let callType;

        if (searchDateCheck(type)) {

            if (type != "flightNo") {
                originAirport = $("#departureData").data("stationcode");
                destinationAirport = $("#arrivalData").data("stationcode");

                startDate = $("#departureDate").val().replaceAll("-", "");
                if (tripType == 'RT') {
                    endDate = $("#arrivalDate").val().replaceAll("-", "");
                }
                if (titleType == "schedule") {
                    url = "getFlightSchedule.json";
                } else {
                    url = "getArrivalanddeparture.json";
                    fltNo = "";
                    callType = "A";
                }
            } else {
                fltNo = "7C" + $("#inp3-1").val();
                callType = "A";
                startDate = $("#depDate").text().substring(0, 10).replaceAll(".", "");
                if (fltNo.length < 6) {
                    $("#bottomListGuide2").find('.input__error').html('편명을 입력해 주세요.'); //편명을 입력해 주세요.
                    $("#bottomListGuide2").find('.input-item').eq(0).addClass("input--error");
                    return false;
                } else {
                    $("#bottomListGuide2").find('.input-item').eq(0).removeClass("input--error");
                }

                url = "getArrivalanddeparture.json";
            }

            searchData.tripType = tripType;
            searchData.domIntType = domIntType;
            searchData.depDate = startDate;
            searchData.arrDate = endDate;
            searchData.depAirport = originAirport;
            searchData.arrAirport = destinationAirport;
            searchData.depAirportDesc = $("#spanDepartureDesc").text();
            searchData.arrAirportDesc = $("#spanArrivalDesc").text();


            $.ajax({
                async: true,
                type: "post",
                url: url,
                data: {
                    startDate: startDate,
                    endDate: endDate,
                    depStn: originAirport,
                    arrStn: destinationAirport,
                    cultureCode: cultureCode,
                    fltNo: fltNo,
                    type: callType
                },
                success: function (data) {
                    if (data.code == "0000") {
                        if (Object.keys(data.data).length === 0) {
                            $(".boarding-error").html('선택하신 조건으로 항공편이 조회되지 않습니다. <br>가는 편 / 오는 편 선택과 날짜를 다시 확인해 주세요.'); //선택하신 조건으로 항공편이 조회되지 않습니다. <br>가는 편 / 오는 편 선택과 날짜를 다시 확인해 주세요.
                            $(".boarding-error").show();
                        } else {
                            $(".boarding-error").hide();
                            var url = "";
                            if (titleType == "schedule") {
                                url = "viewScheduleInfoDetail.do";
                            } else {
                                url = "viewStatusOfFlight.do";
                            }

                            if (type == "flightNo") {
                                searchData.depAirport = data.data[0].departureAirportCd;
                                searchData.arrAirport = data.data[0].arrivalAirportCd;
                                searchData.depAirportDesc = data.data[0].departureAirportName;
                                searchData.arrAirportDesc = data.data[0].arrivalAirportName;
                            }
                            $("#flightData").val(JSON.stringify(data));
                            $("#searchData").val(JSON.stringify(searchData));

                            $("#formPrepare").attr({
                                "method": "post",
                                "onsubmit": "return true",
                                "action": url
                            }).submit();
                        }
                    } else if (data.code == "COMESV104") {
                        if (titleType == "schedule") {
                            $(".boarding-error").html('선택하신 조건으로 항공편이 조회되지 않습니다. <br>가는 편 / 오는 편 선택과 날짜를 다시 확인해 주세요.'); //선택하신 조건으로 항공편이 조회되지 않습니다. <br>가는 편 / 오는 편 선택과 날짜를 다시 확인해 주세요.
                            $(".boarding-error").show();
                        } else {
                            if (type == "flightNo") {
                                $("#bottomListGuide2").find('.input__error').html('편명을 다시 확인해 주세요.'); //편명을 다시 확인해 주세요.
                                $("#bottomListGuide2").find('.input-item').eq(0).addClass("input--error");
                            } else {
                                $(".boarding-error").show();
                            }
                        }
                    } else {
                        let datas = {title: data.code, message: data.message};
                        $.JJAlert(datas, function () {
                            return;
                        });
                    }
                }
            });
        }
    }

    let controlHtmlOfTitleType = function (type) {
        titleType = type;
        var html = "";
        clearSearchData();
        if (type != "status") {
            //운항스케줄
            $('.main-ticketing').removeClass('flight-info');
            $('.boarding-search').addClass('flight-info');
            $("[name=btnTitle]").eq(0).addClass("is-active");
            $("[name=btnTitle]").eq(1).removeClass("is-active");
            $("#bottomListGuide1").show();
            $("#bottomListGuide2").hide();
            $(".radio__label").find("span").eq(0).html('왕복');
            $(".radio__label").find("span").eq(1).html('편도');
            $("#tripType1-1").data("triptype", "RT");
            $("#tripType1-2").data("triptype", "OW");
            setTripType();
            html += '<li class="list-guide__item">운항 스케줄은 정부인가 조건이며, 출도착 시간과 기종은 예고 없이 변경될 수 있습니다.</li>'; //운항 스케줄은 정부인가 조건이며, 출도착 시간과 기종은 예고 없이 변경될 수 있습니다.
            html += '<li class="list-guide__item">출도착 시간은 현지시간 기준입니다. (+1은 다음날)</li>'; //출도착 시간은 현지시간 기준입니다.
            $("#headerListGuide").html(html);
            $("#tripType1-2").trigger("click");
        } else {
            //출도착
            $("[name=btnTitle]").eq(0).removeClass("is-active");
            $("[name=btnTitle]").eq(1).addClass("is-active");
            $("#bottomListGuide1").hide();
            $("#bottomListGuide2").show();
            $(".radio__label").find("span").eq(0).html('구간 조회'); //구간 조회
            $(".radio__label").find("span").eq(1).html('편명 조회'); //편명조회
            $("#tripType1-1").data("triptype", "OW");
            $("#tripType1-2").data("triptype", "OW");
            setTripType();
            html += '<li class="list-guide__item">탑승일과 함께 구간 또는 편명을 입력하시면 조회할 수 있습니다.</li>'; //탑승일과 함께 구간 또는 편명을 입력하시면 조회가 가능합니다.
            html += '<li class="list-guide__item">출도착 시간은 현지시간 기준입니다. (+1은 다음날)</li>'; //출도착 시간은 현지시간 기준입니다.

            $("#headerListGuide").html(html);
            $("#tripType1-1").trigger("click");
        }
    }
    let clearSearchData = function () {
        $("#spanDepartureDesc").text('출발지');	 //출발지
        $("#spanDepartureDesc").addClass("before-select")
        $("#spanArrivalDesc").text('도착지'); //도착지
        $("#spanArrivalDesc").addClass("before-select")
        $("#bottomListGuide2").find('.input-item').eq(0).removeClass("input--error");
        $(".boarding-error").hide();
        $("#selectDate1").val("");
        $("#selectDate").val("");
        $("#departureData").data("stationcode", null);
        $("#arrivalData").data("stationcode", null);
        $("[id^=inp3-]").each(function () {
            $(this).val("");
        });
    }
    let searchDateCheck = function (type) {
        if (type != "flightNo") {
            if (typeof ($("#departureData").data("stationcode")) == "undefined" || $("#departureData").data("stationcode") == null) {
                $(".boarding-error").html('출발지를 선택해 주세요.'); //출발지를 선택해 주세요.
                $(".boarding-error").show();
                $(".start.js-target-pick").focus();
                return false;
            }
            if (typeof ($("#arrivalData").data("stationcode")) == "undefined" || $("#arrivalData").data("stationcode") == null) {
                $(".boarding-error").html('도착지를 선택해 주세요.'); //도착지를 선택해 주세요.
                $(".boarding-error").show();
                $(".target.js-target-pick").focus();
                return false;
            }
        }
        return true;
    }
</script>


</body>
</html>