<html lang="ko"
	  xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org/">
<!--head-->
<div th:replace="/user/fragment/head :: head"></div>
<!--head 끝-->
<body id="subLayoutBody">

<!-- appAlert -->
<div th:replace="/user/fragment/appAlert :: appAlert"></div>
<!-- //appAlert 끝 -->

<!-- header -->
<div th:replace="/user/fragment/header :: header"></div>
<!-- //header 끝 -->


<div id="body">

	<!-- Google Tag Manager (noscript) -->
	<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PD2BQQ4" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
	<!-- End Google Tag Manager (noscript) -->

	<div class="wrap wrap--button-fixed ND" >


		<div id="breadcrumb" class="breadcrumb pc-only" aria-label="breadcrumb">
			<nav class="breadcrumb__inner">
				<div class="breadcrumb__item">
					<a href="javascript:;" class="breadcrumb__link">홈</a>
				</div>
				<div class="breadcrumb__item">
					<a href="javascript:;" class="breadcrumb__link">부가서비스 안내</a>
				</div>
				<div class="breadcrumb__item breadcrumb__item--current" aria-current="page" data-element="toggle" data-options='{"mode": "slide", "speed": 100, "clickToClose": true}'>
					<button type="button" class="breadcrumb__link breadcrumb__link--list" data-element="toggle__anchor">사전 기내식</button>
					<div class="breadcrumb__siblings-list" data-element="toggle__panel">
						<a href="/user/additionalInfo/advanceBaggage" class="item">사전 수하물</a>
						<a href="user/additionalInfo/additionalIntro" class="item">부가서비스 소개</a>
						<a href="/user/additionalInfo/advanceSeat" class="item">사전 좌석</a>
						<a href="/user/additionalInfo/insurance" class="item">보험 상품</a>
						<a href="/user/additionalInfo/afterPayment" class="item">나중에 결제</a>
						<a href="/user/additionalInfo/bundlePurchase" class="item">번들 묶음 구매</a>
						<a href="/user/additionalInfo/bicycleService" class="item">자전거 캐링백 서비스</a>
					</div>
				</div>
			</nav>
		</div>

		<div class="content" id="content">
			<main id="main" class="main ">

				<div class="page-title-wrap">
					<div class="page-title">사전 기내식</div> <!-- 사전 기내식 -->
					<div class="page-sub-title">하늘 위에서 <br class="mobile-only">특별한 식사를 즐겨보세요.</div>
				</div>

				<div class="banner">
					<div class="banner_single-img" style="background-image: url(https://static.jejuair.net/hpgg/resources/images/@temp/preorderedmeal-image-01.png);"></div>
				</div>

				<div class="section-wrap" id="itemList">
					<div class="list-product show">

						<div class="list-product__item"
							 v-for="(dto,i) in itemList"
							 :key="i">
							<div class="carousel carousel--full swiper-container" data-carousel="productItem">
								<div class="carousel__item swiper-wrapper">
									<div class="carousel__list swiper-slide">
										<div class="carousel__contents">
											<div class="list-product__image">
												<!-- 음식 이미지 -->
												<img src="https://static.jejuair.net/cms/images/aircafe_prod/20211012134308825.jpg" alt="SANDWICH ON THE CLOUD">
											</div>
										</div>
									</div>
								</div>
							</div>
							<!-- 리스트 -->
							<div class="list-product__info">
								<div class="list-product__sub-text eng">{{dto.foodEngName}}</div>
								<div class="list-product__title">{{dto.foodKorName}}</div>
								<p class="list-dsc">{{dto.foodContent}}</p>
								<div class="cost-wrap">
									<div class="cost-wrap__before">

										<!-- [-+]?[0-9]*\\.?[0-9]+$ -->

									</div>
									<div class="cost-wrap__after">
								<span class="cost">
										{{dto.foodKrwPrice}}원
								</span>
										<div class="currency-wrap eng">
											<span>USD {{dto.foodUsdPrice}}</span>
											<span>JPY {{dto.foodJpyPrice}}</span>
										</div>
									</div>
								</div>
							</div>
							<!-- 펼치기 -->
						</div>
					</div>
				</div>
			</main>
		</div>
	</div>
</div>

<!-- footer -->
<div th:replace="user/fragment/footer :: footer"></div>
<!-- / footer 끝 -->


<!-- 공통 스크립트 선언 -->
<script type="text/javascript" src="/user/lib/js/lib.min.js"></script>
<script type="text/javascript" src="/user/lib/js/common.js"></script>
<script type="text/javascript" src="/user/lib/js/plugin.js"></script>
<script type="text/javascript" src="/user/lib/js/food/foodList.js"></script>
<script type="text/javascript" src="/user/lib/js/head/head.js"></script>
<!-- 공통 스크립트 선언 끝 -->

<!--body, html 주석은 위치 고정-->
</body>
</html>
<!--body, html 주석은 위치 고정 끝-->
