<html lang="ko"
	  xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org/">
<!--head-->
<div th:replace="/user/fragment/head :: head"></div>
<!--head 끝-->

<body id="subLayoutBody">

<!-- appAlert -->
<div th:replace="/user/fragment/appAlert :: appAlert"></div>
<!-- //appAlert 끝 -->

<!-- header -->
<div th:replace="/user/fragment/header :: header"></div>
<!-- //header 끝 -->


<div id="body">

	<!-- Google Tag Manager (noscript) -->
	<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PD2BQQ4" height="0" width="0"
					  style="display:none;visibility:hidden"></iframe></noscript>
	<!-- End Google Tag Manager (noscript) -->

	<div class="wrap wrap ND">

		<div id="breadcrumb" class="breadcrumb pc-only" aria-label="breadcrumb">
			<nav class="breadcrumb__inner">
				<div class="breadcrumb__item">
					<a href="javascript:;" class="breadcrumb__link">홈</a>
				</div>
				<div class="breadcrumb__item">
					<a href="javascript:;" class="breadcrumb__link">부가서비스 안내</a>
				</div>

				<div class="breadcrumb__item breadcrumb__item--current" aria-current="page" data-element="toggle"
					 data-options='{"mode": "slide", "speed": 100, "clickToClose": true}'>

					<button type="button" class="breadcrumb__link breadcrumb__link--list" data-element="toggle__anchor">자전거 캐링백
						서비스</button>

					<div class="breadcrumb__siblings-list" data-element="toggle__panel">

						<a href="javascript:void(0);" class="item"
						   onclick="URL_LINK.getI18Url('/additionalService/service/preorderedBaggage.do')">사전 수하물</a>

						<a href="javascript:void(0);" class="item"
						   onclick="URL_LINK.getI18Url('/additionalService/service/main.do')">부가서비스 소개</a>

						<a href="javascript:void(0);" class="item"
						   onclick="URL_LINK.getI18Url('/additionalService/service/preorderedMeal.do')">사전 기내식</a>

						<a href="javascript:void(0);" class="item"
						   onclick="URL_LINK.getI18Url('/additionalService/service/preorderedSeat.do')">사전 좌석</a>

						<a href="javascript:void(0);" class="item"
						   onclick="URL_LINK.getI18Url('/additionalService/service/insurance.do')">보험 상품</a>

						<a href="javascript:void(0);" class="item"
						   onclick="URL_LINK.getI18Url('/additionalService/service/afterPayGuide.do')">나중에 결제</a>

						<a href="javascript:void(0);" class="item"
						   onclick="URL_LINK.getI18Url('/additionalService/service/bundleGuide.do')">번들 묶음 구매</a>

					</div>
				</div>

			</nav>
		</div>

		<div class="content" id="content">
			<main id="main" class="main ">

				<!-- 예제파일 부가서비스 : 사전수하물 입니다. : 컨텐츠 시작  -->

				<div class="page-title-wrap">
					<div class="page-title">
						자전거 캐링백 서비스
					</div>
					<div class="page-sub-title">
						자전거 걱정은 그만. <br class="mobile-only">캐링백이 준비되어 있어요
					</div>
				</div>

				<!--상단 배너 영역-->
				<div class="banner">
					<div class="banner_single-img"
						 style="background-image: url(https://static.jejuair.net/hpgg/resources/images/@temp/carringbag-img_01.png);">
					</div>
				</div>
				<!--//상단 배너 영역-->

				<div class="section-wrap">
					<div class="section-title">
						자전거 캐링백 서비스란?
					</div>
					<div class="section-sub-txt">
						자전거 여행을 떠나는 고객님의 편의를 위해, 자전거 위탁 시 필요한 캐링백을 대여해드리는 예약 서비스입니다.
					</div>
				</div>

				<!-- 캐링백 이용순서 -->
				<div class="section-wrap">
					<div class="section-title">캐링백 이용순서</div>
					<div class="border-box border-box__ico -type1">
						<ul class="step-wrap step-wrap__ico">
							<li>
								<i class="icon"><img
										src="https://static.jejuair.net/hpgg/resources/images/icon/icon_carringbag_use_01.png" alt=""></i>
								<dl class="step-wrap__text">
									<dd>
										1. 캐링백 수령
									</dd>
								</dl>
							</li>
							<li>
								<i class="icon"><img
										src="https://static.jejuair.net/hpgg/resources/images/icon/icon_carringbag_use_02.png" alt=""></i>
								<dl class="step-wrap__text">
									<dd>
										2. 자전거 패킹
									</dd>
								</dl>
							</li>
							<li>
								<i class="icon"><img
										src="https://static.jejuair.net/hpgg/resources/images/icon/icon_carringbag_use_03.png" alt=""></i>
								<dl class="step-wrap__text">
									<dd>
										3. 위탁수하물 처리<br />(보상/파손 위약서 작성)
									</dd>
								</dl>
							</li>
							<li>
								<i class="icon"><img
										src="https://static.jejuair.net/hpgg/resources/images/icon/icon_carringbag_use_04.png" alt=""></i>
								<dl class="step-wrap__text">
									<dd>
										4. 출발카운터 체크리스트 확인 후 반납
									</dd>
								</dl>
							</li>
						</ul>
					</div>
					<ul class="list-guide">
						<li class="list-guide__item">출/도착 시 사용자 본인이 직접 분해 및 조립을 직접 진행하여야 하며, 분해 조립으로 발생한 파손은 책임지지 않습니다.</li>
						<li class="list-guide__item">분해 및 조립에 필요한 공구는 제공되지 않습니다. (공구 반드시 지참)</li>
						<li class="list-guide__item">전자식 구동계 160WH 또는 8G 초과는 휴대 및 위탁수하물 처리가 되지 않습니다.</li>
						<li class="list-guide__item">전자식 구동계 160WH 미만인 경우 전원을 off하거나 단선하여야 합니다.
							<ul class="list-guide">
								<li class="list-guide__item hyphen">프레임 내장형 (휴대: 단선이 안되는 경우 배터리 분리 후 기내반입, 위탁수하물: 단선)</li>
								<li class="list-guide__item hyphen">스램 제품 (휴대: 배터리 탈착 후 기내반입, 위탁수하물: 불가)</li>
							</ul>
						</li>
					</ul>
				</div>

				<!-- 캐링백 사양 / 분해조립 방법 -->
				<div class="section-wrap">
					<div class="premium premium__section">
						<div class="premium__section-item">
							<div class="section-title">캐링백 사양</div>
							<img src="https://static.jejuair.net/hpgg/resources/images/etc/img_carringbag_spec.png" alt="">
						</div>
						<div class="premium__section-item">
							<div class="section-title">분해조립 방법</div>
							<div class="video-wrap carringbag">
								<iframe src="https://www.youtube.com/embed/fMQWFmcxETE" title="YouTube video player" frameborder="0"
										allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
										allowfullscreen></iframe>
							</div>
						</div>
					</div>
				</div>

				<!-- 이렇게 이용하세요 -->
				<div class="section-wrap NE">
					<div class="section-title">이렇게 이용하세요</div>
					<ul class="step-text step-text--icon sports">
						<li class="step-text__item">
							<div class="step-text__icon"><img
									src="https://static.jejuair.net/hpgg/resources/images/icon/icon_carringbag_use_06.png" alt=""></div>
							<div class="step-text__num">STEP 01</div>
							<div class="step-text__text">국내선 예약할 때, 부가서비스를 선택하세요<br>(이미 항공권 예약을 하셨다면 마이페이지에서 구매 가능합니다.)</div>
						</li>
						<li class="step-text__item">
							<div class="step-text__icon"><img
									src="https://static.jejuair.net/hpgg/resources/images/icon/icon_carringbag_use_02.png" alt=""></div>
							<div class="step-text__num">STEP 02</div>
							<div class="step-text__text">수하물 구매 화면에서 하단에 있는 스포츠용품 항목을 찾아보세요.</div>
						</li>
						<li class="step-text__item">
							<div class="step-text__icon"><img
									src="https://static.jejuair.net/hpgg/resources/images/icon/icon_carringbag_use_01.png" alt=""></div>
							<div class="step-text__num">STEP 03</div>
							<div class="step-text__text">‘위탁 수수료+자전거 캐링백 대여’ 항목을 선택하시면 캐링백 예약 끝!</div>
						</li>
					</ul>
					<ul class="list-guide">
						<li class="list-guide__item">서비스 가능 노선 : 김포-제주 노선
							<ul class="list-guide">
								<li class="list-guide__item hyphen">김포발: 103 / 107 / 135 / 117 / 119 / 155 / 125 / 137 편</li>
								<li class="list-guide__item hyphen">제주발: 106 / 142 / 114 / 116 / 144 / 138 / 146/ 126 편</li>
							</ul>
						</li>
						<li class="list-guide__item">캐링백 서비스가 마감되었을 경우 해당 상품이 보이지 않습니다.</li>
						<li class="list-guide__item">캐링백 서비스에는 스포츠용품 위탁 수수료가 포함되어 있습니다.</li>
					</ul>
				</div>

				<!-- 혜택 및 이용료 -->
				<div class="section-wrap">
					<div class="section-title">혜택 및 이용료</div>
					<div class="benefit_wrap">
						<div class="border-box border-box__ico -type1">
							<ul class="step-wrap step-wrap__ico">
								<li>
									<i class="icon"><img
											src="https://static.jejuair.net/hpgg/resources/images/icon/icon_carringbag_use_02.png" alt=""></i>
									<dl class="step-wrap__text">
										<dt>
											혜택 1
										</dt>
										<dd>
											<p>스포츠용품 위탁수수료</p>
											<p class="notice-text notice-text--type2 mt0">1만원/USD 10 상당</p>
										</dd>
									</dl>
								</li>
								<li>
									<i class="icon"><img
											src="https://static.jejuair.net/hpgg/resources/images/icon/icon_carringbag_use_07.png" alt=""></i>
									<dl class="step-wrap__text">
										<dt>
											혜택 2
										</dt>
										<dd>
											<p>추가 수하물 20KG(자전거전용) 제공</p>
											<p class="notice-text notice-text--type2 mt0">4만원/USD 40 상당</p>
										</dd>
									</dl>
								</li>
							</ul>
						</div>
						<div class="premium__benefit-box premium__benefit-box--center">
							<div class="premium__benefit-box-item">
								<div>
									<p><span class="premium__benefit-box-text">자전거 캐링백을 대여하면 이 모든 혜택 포함</span></p>
									<span class="mr5">정가</span>
									<span class="premium__benefit-box-text">
                    <span class="del">10만원 / USD 100</span>
                  </span>
									<span class="notice-text notice-text--type2 ml5">편도기준</span>
								</div>
							</div>
							<div class="premium__benefit-box-item">
								<div class="premium__benefit-box-value">
									<p class="benefit_text"><strong>할인가</strong></p>
									<p class="benefit_text">평일 <b class="color--org font-bold">4만원</b> / USD 40</p>
									<p class="benefit_text">주말 <b class="color--org font-bold">5만원</b> / USD 50 (금,토,일)</p>
								</div>
							</div>
						</div>
					</div>
				</div>


				<!-- 예제파일 부가서비스 : 사전수하물 입니다. : 컨텐츠 끝  -->
			</main>
		</div>

	</div>
</div>


<!-- footer -->
<div th:replace="user/fragment/footer :: footer"></div>
<!-- / footer 끝 -->

<div id="ifmWrap" style="height:100%; display:none; overflow:auto; text-align:center; -webkit-overflow-scrolling:touch;">
	<iframe src="" width="100%" height="100%" name="popupChkApp"></iframe>
</div>


<!-- 공통 스크립트 선언 -->

<!--<div th:replace="/user/fragment/js :: js"></div>-->
<script type="text/javascript" src="/user/lib/js/lib.min.js"></script>
<script type="text/javascript" src="/user/lib/js/common.js"></script>
<script type="text/javascript" src="/user/lib/js/plugin.js"></script>

<!-- 공통 스크립트 선언 끝 -->

<!--body, html 주석은 위치 고정-->
</body>
</html>
<!--body, html 주석은 위치 고정 끝-->
