<html lang="ko"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org/">

<!--head-->
<div th:replace="/user/fragment/head :: head"></div>
<!--head 끝-->

<body id="subLayoutBody">

<!--appAlert-->
<div th:replace="/user/fragment/appAlert :: appAlert"></div>
<!--appAlert 끝-->

<!--header-->
<div th:replace="/user/fragment/header :: header"></div>
<!--header 끝-->


<div id="body">

    <!-- Google Tag Manager (noscript) -->
    <noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PD2BQQ4" height="0" width="0"
                style="display:none;visibility:hidden"></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->

    <div class="wrap wrap--login pc-small">


        <div class="content" id="content">
            <main id="main" class="main ">

                <form name="frm" id="frm" method="post" action="./findUserInfoList.do">
                    <input type="hidden" id="apiRequestType" name="apiRequestType" value=""/>
                    <input type="hidden" id="mobileNo" name="mobileNo" value=""/>
                    <!--20210519 title영역 수정-->
                    <div class="page-title-wrap">
                        <div class="page-title">아이디/비밀번호 찾기</div>
                        <div class="page-sub-title">가입 시 등록한 <br class="mobile-only">휴대전화번호를 입력해 주세요.</div>
                    </div>
                    <!--//20210519 title영역 수정-->

                    <div class="section-wrap">
                        <!--20210519 class명 변경-->
                        <div class="input-wrap input--line">
                            <div class="input-row">
                                <div class="input-item">
                                    <div id="input-box" class="input-flex">
                                        <div class="input-box input-box--tel">
                                            <div class="select-wrap select-wrap--line">

                                                <button class="select-wrap__button active" id="btnCountryCode"
                                                        type="button"
                                                        onclick="openLayerCountry('ko', $('#hidCountryCode'), this)">+82
                                                </button>
                                                <input type="hidden" id="hidCountryCode" class="input_contact"
                                                       value="82">

                                                <!--<select id="countryMobileCode" title="거주 국가 선택" class="select-wrap__select">
                                                    <option value="">선택</option>

                                                </select> -->
                                            </div>
                                        </div>
                                        <div class="input-box">
                                            <label for="mobileNoTmp" class="input__label">휴대전화번호<span title="required"
                                                                                                      class="input__label-asterisk">*</span></label>
                                            <div data-element="form" class="input">
                                                <input type="tel" id="mobileNoTmp" name="mobileNoTmp"
                                                       class="input__text" maxlength="13" numberOnly>
                                                <button type="button" data-element="remove"
                                                        class="input__remove-button"><span class="hidden">삭제</span>
                                                </button>
                                            </div>
                                        </div>
                                    </div>

                                    <p tabindex="0" class="input__error" id="resultErrMessage" style="display: none;">
                                        입력하신 정보의 계정을 찾을 수 없어요. <br>다시 입력해주세요.</p>
                                    <p tabindex="0" class="input__error" id="inputErrMessage" style="display: none;">
                                        휴대전화번호 오류입니다. 다시 확인해 주세요.</p>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="button-wrap section-wrap" data-element="bottomContent"><!--20210519 class명 변경 -->
                        <button type="button" class="button button--primary" id="nextAction" data-action="nextBtn"><span
                                class="button__text">다음</span></button><!-- D : 버튼 활성화 클래스 button--active -->
                    </div>
                </form>
                <input type="hidden" id="lang" name="lang" value="ko">
            </main>
        </div>

    </div>
</div>


<!--footer-->
<div th:replace="/user/fragment/footer :: footer"></div>
<!--footer 끝-->


<!-- 공통 스크립트 선언 -->
<script type="text/javascript" src="/user/lib/js/lib.min.js"></script>
<script type="text/javascript" src="/user/lib/js/common.js"></script>
<script type="text/javascript" src="/user/lib/js/plugin.js"></script>

</body>
</html>