<html lang="ko"
	  xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org/">
<!--head-->
<div th:replace="/user/fragment/head :: head"></div>
<!--head 끝-->

<body id="subLayoutBody">

<!-- appAlert -->
<div th:replace="/user/fragment/appAlert :: appAlert"></div>
<!-- //appAlert 끝 -->

<!-- header -->
<div th:replace="/user/fragment/header :: header"></div>
<!-- //header 끝 -->

	<div id="body">

	<!-- Google Tag Manager (noscript) -->
	<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PD2BQQ4" height="0" width="0"
					  style="display:none;visibility:hidden"></iframe></noscript>
	<!-- End Google Tag Manager (noscript) -->

	<div class="wrap wrap--button-fixed2 ND bundle-info">


		<div id="breadcrumb" class="breadcrumb pc-only" aria-label="breadcrumb">
			<nav class="breadcrumb__inner">
				<div class="breadcrumb__item">
					<a href="javascript:;" class="breadcrumb__link">홈</a>
				</div>

				<div class="breadcrumb__item">
					<a href="javascript:;" class="breadcrumb__link">부가서비스 안내</a>
				</div>

				<div class="breadcrumb__item breadcrumb__item--current" aria-current="page" data-element="toggle"
					 data-options='{"mode": "slide", "speed": 100, "clickToClose": true}'>

					<button type="button" class="breadcrumb__link breadcrumb__link--list" data-element="toggle__anchor">나중에
						결제</button>

					<div class="breadcrumb__siblings-list" data-element="toggle__panel">
						<a href="/user/additionalInfo/advanceBaggage" class="item">사전 수하물</a>
						<a href="/user/additionalInfo/additionalIntro" class="item">부가서비스 소개</a>
						<a href="/user/additionalInfo/advanceMeal" class="item">사전 기내식</a>
						<a href="/user/additionalInfo/advanceSeat" class="item">사전 좌석</a>
						<a href="/user/additionalInfo/insurance" class="item">보험 상품</a>
						<a href="/user/additionalInfo/bundlePurchase" class="item">번들 묶음 구매</a>
						<a href="/user/additionalInfo/bicycleService" class="item">자전거 캐링백 서비스</a>
					</div>
				</div>
			</nav>
		</div>

		<div class="content" id="content">
			<main id="main" class="main ">

				<div class="page-title-wrap">
					<div class="page-title">나중에 결제</div>
					<!--나중에 결제-->
					<div class="page-sub-title">일정 수수료를 지불하면 항공권의 결제 시한을 연장할 수 있습니다.</div>
					<!--일정 수수료를 지불하면 항공권의 결제 시한을 연장할 수 있습니다.-->
				</div>


				<div class="banner">
					<div class="banner_single-img"
						 style="background-image: url(https://static.jejuair.net/hpgg/resources/images/@temp/afterpayguide-image-01.png);">
					</div>
				</div>

				<div class="section-wrap">
					<div class="section-title">이용 가능 대상 </div>
					<!--이용 가능 대상 -->
					<ul class="list-guide">
						<li class="list-guide__item">제주항공 회원 가입한 고객</li>
						<!--제주항공 회원 가입한 고객-->
					</ul>
				</div>

				<div class="section-wrap">
					<div class="section-title">나중에 결제 시 혜택</div>
					<!--나중에 결제시 혜택-->
					<div class="border-box border-box__ico ">
						<ul class="step-wrap step-wrap__ico">
							<li>
								<i class="icon"><img
										src="https://static.jejuair.net/hpgg/resources/images/icon/icon-lounge-step-01_bg.png" alt=""></i>
								<dl class="step-wrap__text">
									<dt>혜택 1</dt>
									<!--혜택 1 -->
									<dd>원하는 여정 및 운임을 미리 선점 가능</dd>
									<!--원하는 여정 및 운임을 미리 선점 가능-->
								</dl>
							</li>
							<li>
								<i class="icon"><img
										src="https://static.jejuair.net/hpgg/resources/images/icon/icon-service-option05-40.png" alt=""></i>
								<dl class="step-wrap__text">
									<dt>혜택 2</dt>
									<!--혜택 -->
									<dd>결제 시한을 24시간 또는 72시간 연장 가능</dd>
									<!--결제 시한을 24시간 또는 72시간 연장 가능-->
								</dl>
							</li>
						</ul>
					</div>
				</div>

				<div class="section-wrap">
					<div class="section-title">이용 요금</div>
					<!--이용 요금-->
					<ul class="list-guide">
						<li class="list-guide__item">요금은 이용 구간 및 인당 부과됩니다. (유아는 무료)<br>예) 24시간 연장 선택 시, 김포-제주 국내선 왕복노선으로 2명이 이용하는 경우
							2,000원 X 2(2명) X 2(왕복/2구간)=8,000원
							<!--요금은 이용 구간 및 인당 부과됩니다. (유아는 무료)<br>
                        예) 24시간 연장 선택 시, 김포-제주 국내선 왕복노선으로 2명이 이용하는 경우 2,000원 X 2(2명) X 2(왕복/2구간)=8,000원-->
						</li>
					</ul>
				</div>

				<div class="table-vertical table--center">
					<table>
						<caption>적용서비스 : 수하물, 좌석 구매</caption>
						<!--적용서비스 : 수하물, 좌석 구매-->
						<colgroup>
							<col span="3">
						</colgroup>
						<tbody class="table-vertical__tbody">
						<tr>
							<th scope="col" class="table-vertical__th">구분</th>
							<!--구분-->
							<th scope="col" class="table-vertical__th">24시간 연장</th>
							<!--24시간 연장-->
							<th scope="col" class="table-vertical__th">72시간 연장</th>
							<!--72시간 연장-->
						</tr>
						<tr>
							<td class="table-vertical__td">국내선</td>
							<!--국내선-->
							<td class="table-vertical__td">2,000원
								<!--2,000원--> (USD 2)
								<!--USD 2-->
							</td>
							<td class="table-vertical__td">3,000원
								<!--3,000원-->(USD 3)
								<!--USD 3-->
							</td>
						</tr>
						<tr>
							<td class="table-vertical__td">국제선</td>
							<!--국제선-->
							<td class="table-vertical__td">3,000원
								<!--3,000원-->(USD 3)
							</td>
							<td class="table-vertical__td">5,000원
								<!--5,000원--> (USD 5)
							</td>
						</tr>
						</tbody>
					</table>
				</div>

				<div class="section-wrap">
					<div class="section-title">이용방법</div>
					<!--이용방법-->
					<!-- 아이콘 리스트 -->
					<div class="main-sel">
						<ul class="step-wrap thum-txt pc_col3">
							<li>
								<div class="step-wrap__image">

									<img src="https://static.jejuair.net/hpgg/resources/images/@temp/guide_post payment_01.png"
										 alt="이미지설명">

								</div>
								<dl class="step-wrap__text">
									<dt>STEP 01</dt>
									<!--STEP 01 -->
									<dd>항공권 예매시 탑승자 정보 입력 후 나중에 결제 선택</dd>
									<!--항공권 예매시 탑승자 정보 입력 후 나중에 결제 선택-->
								</dl>
							</li>
							<li>
								<div class="step-wrap__image">

									<img src="https://static.jejuair.net/hpgg/resources/images/@temp/guide_post payment_02.png"
										 alt="이미지설명">

								</div>
								<dl class="step-wrap__text">
									<dt>STEP 02</dt>
									<!--STEP 02 -->
									<dd>원하는 항공권 결제 시한 선택</dd>
									<!--원하는 항공권 결제 시한 선택-->
								</dl>
							</li>

							<li>
								<div class="step-wrap__image">

									<img src="https://static.jejuair.net/hpgg/resources/images/@temp/guide_post payment_03.png"
										 alt="이미지설명">

								</div>
								<dl class="step-wrap__text">
									<dt>STEP 03</dt>
									<!--STEP 03 -->
									<dd>나중에 결제 수수료 지불</dd>
									<!--나중에 결제 수수료 지불-->
								</dl>
							</li>
							<li>
								<div class="step-wrap__image">


									<img src="https://static.jejuair.net/hpgg/resources/images/@temp/guide_post payment_04.png"
										 alt="이미지설명">

								</div>
								<dl class="step-wrap__text">
									<dt>STEP 04</dt>
									<!--STEP 04 -->
									<dd>결제기한 내에 마이페이지에서 항공권 예매 완료</dd>
									<!--결제기한 내에 마이페이지에서 항공권 예매 완료-->
								</dl>
							</li>
							<li>
								<div class="step-wrap__image">


									<img src="https://static.jejuair.net/hpgg/resources/images/@temp/guide_post payment_05.png"
										 alt="이미지설명">

								</div>
								<dl class="step-wrap__text">
									<dt>STEP 05</dt>
									<!--STEP 05 -->
									<dd>결제 완료</dd>
									<!--결제 완료-->
								</dl>
							</li>
						</ul>
					</div>
				</div>


				<div class="section-wrap">
					<div class="service-information" data-action="info-toggle" data-toggle-id="0000000500">
						<div class="service-information__title">
							<button type="button" class="service-information__anchor is-active"
									data-element="toggle__anchor">유의사항</button>
							<!--유의사항-->
						</div>
						<div class="service-information__content" data-element="toggle__panel">
						</div>
					</div>
				</div>

				<div class="fixed-wrap section-wrap">
					<div class="button-wrap button-wrap--stick pc-center">
						<button type="button" class="button button--primary button--active"
								onclick="javascript:URL_LINK.getI18Url('/ibe/booking/Availability.do')"><span
								class="button__text">구매</span></button> <!-- 구매 -->
					</div>
				</div>
			</main>
		</div>

	</div>
</div>


<!-- footer -->
<div th:replace="user/fragment/footer :: footer"></div>
<!-- / footer 끝 -->

<div id="ifmWrap" style="height:100%; display:none; overflow:auto; text-align:center; -webkit-overflow-scrolling:touch;">
	<iframe src="" width="100%" height="100%" name="popupChkApp"></iframe>
</div>


<!-- 공통 스크립트 선언 -->

<!--<div th:replace="/user/fragment/js :: js"></div>-->
<script type="text/javascript" src="/user/lib/js/lib.min.js"></script>
<script type="text/javascript" src="/user/lib/js/common.js"></script>
<script type="text/javascript" src="/user/lib/js/plugin.js"></script>
<script type="text/javascript" src="/user/lib/js/head/head.js"></script>

<!-- 공통 스크립트 선언 끝 -->

<!--body, html 주석은 위치 고정-->
</body>
</html>
<!--body, html 주석은 위치 고정 끝-->
