<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>제주항공 | ADMIN</title>
    <link rel="stylesheet" type="text/css" href="/admin/lib/css/common.css">
    <link rel="icon" href="/admin/lib/images/favicon.ico">
</head>

<script>
    function dropdown(num) {
        var droptarget = 'drop' + num;
        console.log(droptarget)
        var target = document.getElementsByClassName(droptarget);
        var uptarget;
        var up;

        for (var i = 0; i < 12; i++) {
            if (num == i) { i = i + 1; }
            console.log('들어옴' + i)
            uptarget = 'drop' + i;
            up = document.getElementsByClassName(uptarget);

            for (var j = 0; j < up.length; j++) {
                console.log('j들어옴' + j)
                up[j].style.display = 'none';
                console.log(up[j].style.display);
            }
        }

        var disStyle = target[0].style.display;
        console.log('V' + disStyle + 'V');
        console.log(disStyle == 'block');

        if (disStyle == 'block') {
            for (var i = 0; i < target.length; i++) {
                target[i].style.display = 'none';
            }
        } else {
            for (var i = 0; i < target.length; i++) {
                target[i].style.display = 'block';
            }
        }
    }
</script>

<body>
    <div class="container">
        <div th:replace="/admin/fragment/menu :: menu"></div>

        <!-- main -->
        <div class="containerbody">
            <div class="main">
                <!-- cards -->
                <div class="mainBox">
                    <div class="cardBox">
                        <div class="card">
                            <div>
                                <div class="numbers">1,504</div>
                                <div class="cardName">Daily Views</div>
                            </div>
                            <div class="iconBox">
                                <ion-icon name="eye-outline"></ion-icon>
                            </div>
                        </div>

                        <div class="card">
                            <div>
                                <div class="numbers">80</div>
                                <div class="cardName">Sales</div>
                            </div>
                            <div class="iconBox">
                                <ion-icon name="cart-outline"></ion-icon>
                            </div>
                        </div>

                        <div class="card">
                            <div>
                                <div class="numbers">284</div>
                                <div class="cardName">Comments</div>
                            </div>
                            <div class="iconBox">
                                <ion-icon name="chatbubbles-outline"></ion-icon>
                            </div>
                        </div>

                        <div class="card">
                            <div>
                                <div class="numbers">$7,842</div>
                                <div class="cardName">Earning</div>
                            </div>
                            <div class="iconBox">
                                <ion-icon name="cash-outline"></ion-icon>
                            </div>
                        </div>
                    </div>


                    <div class="details formain">
                        <!-- order details list -->
                        <div class="recentOrders" style="width: 74%;">
                            <table class="reser_list">
                                <thead>
                                    <tr class="topbanner">
                                        <td class="res_number">예약 변호</td>
                                        <td class="res_name">성명</td>
                                        <td class="res_email">이메일</td>
                                        <td class="res_ssn">생년월일</td>
                                        <td class="res_ph">연락처</td>
                                        <td class="res_status">예약 상태</td>
                                    </tr>
                                </thead>
    
                                <tbody>
                                    <tr class="lists">
                                        <td class="res_number">NF11GO</td>
                                        <td class="res_name">반하나</td>
                                        <td class="res_email">JEJU@JEJU.COM</td>
                                        <td class="res_ssn">901231</td>
                                        <td class="res_ph">010-0000-0000</td>
                                        <td><span class="status delivered">예약 대기</span></td>
                                    </tr>
    
                                    <tr class="lists">
                                        <td class="res_number">NF11GO</td>
                                        <td class="res_name">반하나</td>
                                        <td class="res_email">JEJU@JEJU.COM</td>
                                        <td class="res_ssn">901231</td>
                                        <td class="res_ph">010-0000-0000</td>
                                        <td><span class="status delivered">예약 대기</span></td>
                                    </tr>
    
                                    <tr class="lists">
                                        <td class="res_number">NF11GO</td>
                                        <td class="res_name">반하나</td>
                                        <td class="res_email">JEJU@JEJU.COM</td>
                                        <td class="res_ssn">901231</td>
                                        <td class="res_ph">010-0000-0000</td>
                                        <td><span class="status pending">예약 취소</span></td>
                                    </tr>
    
                                    <tr class="lists">
                                        <td class="res_number">NF11GO</td>
                                        <td class="res_name">반하나</td>
                                        <td class="res_email">JEJU@JEJU.COM</td>
                                        <td class="res_ssn">901231</td>
                                        <td class="res_ph">010-0000-0000</td>
                                        <td><span class="status return">예약 확정</span></td>
                                    </tr>
    
    
                                    
                                    <tr class="lists">
                                        <td class="res_number">NF11GO</td>
                                        <td class="res_name">반하나</td>
                                        <td class="res_email">JEJU@JEJU.COM</td>
                                        <td class="res_ssn">901231</td>
                                        <td class="res_ph">010-0000-0000</td>
                                        <td><span class="status return">예약 확정</span></td>
                                    </tr>
    
    
                                    
                                    <tr class="lists">
                                        <td class="res_number">NF11GO</td>
                                        <td class="res_name">반하나</td>
                                        <td class="res_email">JEJU@JEJU.COM</td>
                                        <td class="res_ssn">901231</td>
                                        <td class="res_ph">010-0000-0000</td>
                                        <td><span class="status return">예약 확정</span></td>
                                    </tr>
    
                                    
                                    <tr class="lists">
                                        <td class="res_number">NF11GO</td>
                                        <td class="res_name">반하나</td>
                                        <td class="res_email">JEJU@JEJU.COM</td>
                                        <td class="res_ssn">901231</td>
                                        <td class="res_ph">010-0000-0000</td>
                                        <td><span class="status return">예약 확정</span></td>
                                    </tr>
    
                                    
                                    <tr class="lists">
                                        <td class="res_number">NF11GO</td>
                                        <td class="res_name">반하나</td>
                                        <td class="res_email">JEJU@JEJU.COM</td>
                                        <td class="res_ssn">901231</td>
                                        <td class="res_ph">010-0000-0000</td>
                                        <td><span class="status return">예약 확정</span></td>
                                    </tr>
    
                                    
                                    <tr class="lists">
                                        <td class="res_number">NF11GO</td>
                                        <td class="res_name">반하나</td>
                                        <td class="res_email">JEJU@JEJU.COM</td>
                                        <td class="res_ssn">901231</td>
                                        <td class="res_ph">010-0000-0000</td>
                                        <td><span class="status return">예약 확정</span></td>
                                    </tr>
    
                                    
                                    <tr class="lists">
                                        <td class="res_number">NF11GO</td>
                                        <td class="res_name">반하나</td>
                                        <td class="res_email">JEJU@JEJU.COM</td>
                                        <td class="res_ssn">901231</td>
                                        <td class="res_ph">010-0000-0000</td>
                                        <td><span class="status return">예약 확정</span></td>
                                    </tr>
    
    
                                </tbody>
                            </table>
                        </div>

                        <!-- New Customers -->
                        <div class="recentCustomers">
                            <div class="cardheader">
                                <h2>Recent Customers</h2>
                            </div>
                            <table>
                                <tr>
                                    <td width="60px">
                                        <div class="imgBx"><img src="/admin/lib/images/img1.jpg"></div>
                                    </td>
                                    <td>
                                        <h4>David<br><span>Italy</span></h4>
                                    </td>
                                </tr>
                                <tr>
                                    <td width="60px">
                                        <div class="imgBx"><img src="/admin/lib/images/img1.jpg"></div>
                                    </td>
                                    <td>
                                        <h4>David<br><span>Italy</span></h4>
                                    </td>
                                </tr>
                                <tr>
                                    <td width="60px">
                                        <div class="imgBx"><img src="/admin/lib/images/img1.jpg"></div>
                                    </td>
                                    <td>
                                        <h4>David<br><span>Italy</span></h4>
                                    </td>
                                </tr>
                                <tr>
                                    <td width="60px">
                                        <div class="imgBx"><img src="/admin/lib/images/img1.jpg"></div>
                                    </td>
                                    <td>
                                        <h4>David<br><span>Italy</span></h4>
                                    </td>
                                </tr>
                                <tr>
                                    <td width="60px">
                                        <div class="imgBx"><img src="/admin/lib/images/img1.jpg"></div>
                                    </td>
                                    <td>
                                        <h4>David<br><span>Italy</span></h4>
                                    </td>
                                </tr>
                                <tr>
                                    <td width="60px">
                                        <div class="imgBx"><img src="/admin/lib/images/img1.jpg"></div>
                                    </td>
                                    <td>
                                        <h4>David<br><span>Italy</span></h4>
                                    </td>
                                </tr>

                                <tr>
                                    <td width="60px">
                                        <div class="imgBx"><img src="/admin/lib/images/img1.jpg"></div>
                                    </td>
                                    <td>
                                        <h4>David<br><span>Italy</span></h4>
                                    </td>
                                </tr>
                                <tr>
                                    <td width="60px">
                                        <div class="imgBx"><img src="/admin/lib/images/img1.jpg"></div>
                                    </td>
                                    <td>
                                        <h4>David<br><span>Italy</span></h4>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <!--아이콘 사용을 위한 설치 스크립트-->
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

    <script>
        console.log("헬로우")
    console.log(document.title.substr(7));
    var name2 = document.title.substr(7);
    var span = document.querySelectorAll('.navigation span');
    var regex = /[^0-9]/g;
    for(var i=0; i<span.length; i++){
        if(span[i].innerHTML == name2){
            console.log("같은게 들어옴 " + i + "번")
            var li = span[i].parentElement.parentElement
            var num;
            var str;
            if(li.className.substr(0, 4) == 'drop'){
                str = li.parentElement.parentElement.firstElementChild.getAttribute("onclick");
                num = str.replace(regex, "");
                dropdown(num);
                li.classList.add('thispage');
                li.parentElement.parentElement.classList.add('thispage');
            }else{
                str = li.firstElementChild.getAttribute("onclick");
                num = str.replace(regex, "");
                dropdown(num);
                li.classList.add('thispage');
            }
        }
    }

</script>
</body>
