<!DOCTYPE html>
<html lang="ko"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org/">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>제주항공 | ADMIN</title>
    <link rel="stylesheet" type="text/css" href="/admin/lib/css/common.css">
    <link rel="icon" href="/admin/lib/images/favicon.ico">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

</head>

<body>
    <div class="background">
        <form class="login" id="login" method="POST" action="/admin/loginOk">
            <div class="login_box"><img class="login_logo" src="/admin/lib/images/Jejuair_logo.png"></div>
            <div class="login_box"><span>ID</span><input id="admAdminId" name="admAdminId" type="text" class="textBox"></div>
            <div class="login_box"><span>PASSWORD</span><input id="admAdminPw" name="admAdminPw" type="password" class="textBox"></div>
            <div class="login_box"><button type="submit" class="button register" value="로그인">로그인</button></div>
            <div th:if="${message =='fail'}"><span style="font-size: 14px; color: var(--orange);">아이디, 비밀번호를 확인하세요.</span></div>
        </form>
    </div>
</body>

    <script>
        $(function () {
            $('.button').on('click', function(){
                isLogin();
            })

            function isLogin(){
                if( !$('#admAdminId').val() || !$('#admAdminPw').val()){
                    alert('아이디 비밀번호를 확인하세요');
                    return false;
                }
            }
        });
    </script>

</html>