<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>제주항공 | ADMIN</title>
    <link rel="stylesheet" type="text/css" href="/admin/lib/css/common.css">
    <link rel="icon" href="/admin/lib/images/favicon.ico">
</head>

<body>
    <div class="background">
        <form class="login">
            <div class="login_box"><img class="login_logo" src="/admin/lib/images/Jejuair_logo.png"></div>
            <div class="login_box"><span>ID</span><input name="login_id" type="text" class="textBox"></div>
            <div class="login_box"><span>PASSWORD</span><input name="login_pw" type="password" class="textBox"></div>
            <div class="login_box"><button type="submit" class="button register" form="regForm modal1 modal2" value="로그인">로그인</button></div>
        </form>
    </div>
</body>

</html>