<html lang="ko"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org/">
<!--head-->
<div th:replace="/user/fragment/head :: head"></div>
<!--head 끝-->

<body id="subLayoutBody">

<!-- appAlert -->
<div th:replace="/user/fragment/appAlert :: appAlert"></div>
<!-- //appAlert 끝 -->

<!-- header -->
<div th:replace="/user/fragment/header :: header"></div>
<!-- //header 끝 -->


<div id="body">

    <!-- Google Tag Manager (noscript) -->
    <noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PD2BQQ4" height="0" width="0"
                style="display:none;visibility:hidden"></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->

    <div class="wrap wrap--no-pab NG air-service">


        <div id="breadcrumb" class="breadcrumb pc-only" aria-label="breadcrumb">
            <nav class="breadcrumb__inner">
                <div class="breadcrumb__item">
                    <a href="javascript:;" class="breadcrumb__link">홈</a>
                </div>


                <div class="breadcrumb__item">
                    <a href="javascript:;" class="breadcrumb__link">기내 서비스 안내</a>
                </div>


                <div class="breadcrumb__item breadcrumb__item--current" aria-current="page" data-element="toggle"
                     data-options='{"mode": "slide", "speed": 100, "clickToClose": true}'>


                    <button type="button" class="breadcrumb__link breadcrumb__link--list" data-element="toggle__anchor">
                        출입국 신고서 작성방법
                    </button>


                    <div class="breadcrumb__siblings-list" data-element="toggle__panel">


                        <a href="javascript:void(0);" class="item"
                           onclick="URL_LINK.getI18Url('/cabinService/service/funService.do')">기내 FUN 서비스</a>


                        <a href="javascript:void(0);" class="item"
                           onclick="URL_LINK.getI18Url('/cabinService/service/airCafe.do')">에어카페</a>


                        <a href="javascript:void(0);" class="item"
                           onclick="URL_LINK.getI18Url('http://jejuair.granddfs.com/?jjout=Y')">기내 면세</a>


                    </div>
                </div>


            </nav>
        </div>


        <div class="content" id="content">
            <main id="main" class="main ">

                <div class="page-title-wrap type_flex">
                    <div class="left">
                        <div class="page-title">출입국 신고서 작성방법</div>
                        <div class="page-sub-title">출입국 신고서 작성을<br class="mobile-only"> 도와드릴게요.</div>
                    </div>
                    <div class="select-route">
                        <div class="select-wrap select-wrap--line select-wrap--top">
                            <select title="노선 선택" class="select-wrap__select" id="countrySelector">


                                <option value="0000000005" selected>대만</option>


                                <option value="0000000006">괌</option>


                                <option value="0000000008">필리핀</option>


                                <option value="0000000009">태국</option>


                                <option value="0000000007">사이판</option>


                                <option value="0000000001">대한민국</option>


                                <option value="0000000002">일본</option>


                                <option value="0000000015">홍콩</option>

                            </select>
                        </div>
                    </div>
                </div>


                <div class="section-wrap">


                    <div class="immigration">
                        <div class="immigration__center">
                            <div class="immigration__image">
                                <img src="https://static.jejuair.net/cms/images/immigration_card/20211014184807479.jpg"
                                     alt="출입국신고서">
                                <a class="immigration__zoom"
                                   onclick="window.open('https://static.jejuair.net/cms/images/immigration_card/20211014184807479.jpg', '_blank'); return false;"
                                   title="이미지새창">
                                    <span class="hidden">자세히 보기</span>
                                </a>
                            </div>
                            <p class="notice-text">*기재된 내용은 모두 예시입니다.</p>
                        </div>
                        <div class="immigration__info-wrap">
                            <div class="immigration__list">

                                <div class="immigration__info">
                                    <span class="num">1</span>
                                    <span class="text">영문 성</span>

                                    <span class="text--sub">Last Name</span>

                                </div>

                                <div class="immigration__info">
                                    <span class="num">2</span>
                                    <span class="text">영문 이름</span>

                                    <span class="text--sub">First Name</span>

                                </div>

                                <div class="immigration__info">
                                    <span class="num">3</span>
                                    <span class="text">여권번호</span>

                                    <span class="text--sub">Passport No.</span>

                                </div>

                                <div class="immigration__info">
                                    <span class="num">4</span>
                                    <span class="text">생년월일</span>

                                    <span class="text--sub">Date of Birth</span>

                                </div>

                                <div class="immigration__info">
                                    <span class="num">5</span>
                                    <span class="text">국적</span>

                                    <span class="text--sub">Nationality</span>

                                </div>

                                <div class="immigration__info">
                                    <span class="num">6</span>
                                    <span class="text">성별</span>

                                    <span class="text--sub">Gender</span>

                                </div>

                                <div class="immigration__info">
                                    <span class="num">7</span>
                                    <span class="text">항공편명</span>

                                    <span class="text--sub">Flight No.</span>

                                </div>

                                <div class="immigration__info">
                                    <span class="num">8</span>
                                    <span class="text">비자 타입</span>

                                    <span class="text--sub">Visa Type</span>

                                </div>

                                <div class="immigration__info">
                                    <span class="num">9</span>
                                    <span class="text">비자 번호</span>

                                    <span class="text--sub">Visa No.</span>

                                </div>

                                <div class="immigration__info">
                                    <span class="num">10</span>
                                    <span class="text">현재 주소</span>

                                    <span class="text--sub">Home Address</span>

                                </div>

                                <div class="immigration__info">
                                    <span class="num">11</span>
                                    <span class="text">체류 주소</span>

                                    <span class="text--sub">Residential Address or Hotel Name in Taiwan</span>

                                </div>

                                <div class="immigration__info">
                                    <span class="num">12</span>
                                    <span class="text">방문 목적</span>

                                    <span class="text--sub">Purpose of visit</span>

                                </div>

                                <div class="immigration__info">
                                    <span class="num">13</span>
                                    <span class="text">서명</span>

                                    <span class="text--sub">Signature</span>

                                </div>

                            </div>
                        </div>
                    </div>


                </div>


                <div class="section-wrap">
                    <div class="service-information" data-action="info-toggle" data-options='{"mode": "move scroll"}'
                         data-toggle-id="0000000121">
                        <!--			<div class="service-information__title">-->
                        <!--				<button type="button" class="service-information__anchor is-active" data-element="toggle__anchor">작성 안내</button> &lt;!&ndash; 이용안내 &ndash;&gt;-->
                        <!--			</div>-->
                        <div class="service-information__content" data-element="toggle__panel" id="toggle-2"
                             data-last=true></div>
                    </div>
                </div>
            </main>
        </div>

    </div>
</div>


<!--<footer.html>-->
<div th:replace="/user/fragment/footer.html :: footer"></div>
<!--</footer> 끝-->


<div id="ifmWrap"
     style="height:100%; display:none; overflow:auto; text-align:center; -webkit-overflow-scrolling:touch;">
    <iframe src="" width="100%" height="100%" name="popupChkApp"></iframe>
</div>


<!-- 공통 스크립트 선언 -->

<!--<div th:replace="/user/fragment/js :: js"></div>-->
<script type="text/javascript" src="/user/lib/js/lib.min.js"></script>
<script type="text/javascript" src="/user/lib/js/common.js"></script>
<script type="text/javascript" src="/user/lib/js/plugin.js"></script>

<!-- 공통 스크립트 선언 끝 -->

<!--body, html 주석은 위치 고정-->
</body>
</html>
<!--body, html 주석은 위치 고정 끝-->