<!DOCTYPE html>
<html lang="ko"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org/" xmlns:v-bind="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>제주항공 | 1:1문의 목록</title>
    <link rel="stylesheet" type="text/css" href="/admin/lib/css/common.css">
    <link rel="icon" href="/admin/lib/images/favicon.ico">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
</head>

<body>
    <div class="container">
        <div th:replace="/admin/fragment/menu :: menu"></div>

        <div class="containerbody" value="7-1">
            <!-- main -->
            <div id="category" value="inquiry"></div>
            <div class="main">
                <div class="details">
                    <!-- order details list -->
                    <div class="recentOrders">
                        <div class="calheader">
                            <h2>1:1문의 목록</h2>
                        </div>
                        <div class="scheduleSearch">
                            <form action="#">
                                <div class="wrapper">
                                    <fieldset class="selectDiv">
                                        <select name="menu" id="menu-select">
                                            <option value="">전체</option>
                                            <option value="Q&A">Q&A</option>
                                        </select>
                                        <input type="text" class="searchBox" title="검색어를 입력하세요"
                                            placeholder="검색어를 입력하세요">
                                            <button type="submit" class="button search" value="검색">검색</button>
                                    </fieldset>
                                </div>
                            </form>
                        </div>

                        <table>
                            <thead>
                                <tr class="topbanner">
                                    <td class="personal_inquiryNum">번호</td>
                                    <td class="personal_inquiryTitle">제목</td>
                                    <td class="personal_inquiryWriter">작성자</td>
                                    <td class="personal_inquiryAnswer">답변여부</td>
                                    <td class="personal_inquiryRegdate">질문 등록일</td>
                                </tr>
                            </thead>
                            
                            <tbody id="itemList">
                                <tr v-for="(dto,i) in itemList"
                                    :key="i"
                                    onclick='location.href="/admin/coupon/view/${dto.ansIdx}"'>
                                    <td class="personal_inquiryNum"><a :href=`/admin/inquiry/view/${dto.ansIdx}`>{{dto.ansIdx}}</a></td>
                                    <td class="personal_inquiryTitle">{{dto.ansInquiryTitle}}</td>
                                    <td class="personal_inquiryWriter">{{dto.ansUserid}}</td>
                                    <td class="personal_inquiryAnswer">{{dto.ansAnswerCheck}}</td>
                                    <td class="personal_inquiryRegdate">{{dto.ansInquiryRegDate}}</td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="paging" id="pageNum"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--아이콘 사용을 위한 설치 스크립트-->
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

    <script src="/admin/lib/js/common.js"> </script>
    <script src="/admin/lib/js/pagination.js"></script>

    <!-- 날짜 만 추출하기(미완성) -->
    <script>
        let date = document.getElementById("regdate").getAttribute("value").substring(0, 10);
        console.log(date)
    </script>

</body>

</html>