<html lang="ko"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org/">
<!--head-->
<div th:replace="/user/fragment/head :: head"></div>
<!--head 끝-->


<body id="subLayoutBody" class="isPc vsc-initialized">


<!-- appAlert -->
<div th:replace="/user/fragment/appAlert :: appAlert"></div>
<!-- //appAlert 끝 -->

<!-- header -->
<div th:replace="/user/fragment/header :: header"></div>
<!-- //header 끝 -->


<div id="body">

    <!-- Google Tag Manager (noscript) -->
    <noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PD2BQQ4" height="0" width="0"
                style="display:none;visibility:hidden"></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->

    <div class="wrap wrap wrap--no-pab NF_5_3">


        <div id="breadcrumb" class="breadcrumb pc-only" aria-label="breadcrumb">
            <nav class="breadcrumb__inner">
                <div class="breadcrumb__item">
                    <a href="javascript:;" class="breadcrumb__link" style="cursor: default;">홈</a>
                </div>


                <div class="breadcrumb__item">
                    <a href="javascript:;" class="breadcrumb__link" style="cursor: default;">탑승 수속 안내</a>
                </div>


                <div class="breadcrumb__item breadcrumb__item--current" aria-current="page" data-element="toggle"
                     data-options="{&quot;mode&quot;: &quot;slide&quot;, &quot;speed&quot;: 100, &quot;clickToClose&quot;: true}">


                    <button type="button" class="breadcrumb__link breadcrumb__link--list" data-element="toggle__anchor"
                            aria-controls="toggle-2" aria-expanded="false">수하물
                    </button>


                    <div class="breadcrumb__siblings-list" data-element="toggle__panel" id="toggle-2">
                        <a href="/user/boardingInfo/baggage" class="item">수하물 안내</a>
                        <a href="/user/boardingInfo/fastCheckIn" class="item">빠른 수속</a>
                        <a href="/user/boardingInfo/customerHelp" class="item">도움이 필요한 고객</a>
                    </div>
                </div>


            </nav>
        </div>


        <div class="content" id="content">
            <main id="main" class="main ">

                <div class="page-title-wrap">
                    <div class="page-title">특수&nbsp;수하물</div>
                    <div class="page-sub-title">위탁&nbsp;가능한&nbsp;수하물인지&nbsp;<br class="mobile-only">확인해&nbsp;주세요.</div>
                </div>

                <div class="section-wrap">
                    <div class="gray-box pc-search pc-search--flex">
                        <div class="input-wrap input--line">
                            <div class="input-row">
                                <div class="input-label label-top">수하물선택</div>
                                <div class="select-wrap select-wrap--line">
                                    <select title="특수 수하물 선택" id="categoryChoice"
                                            class="select-wrap__select select-special-cargo selected">
                                        <option disabled="" selected="" hidden="">선택해&nbsp;주세요</option>
                                        <option value="#modalLayer01">골프클럽</option>
                                        <option value="#modalLayer02">스포츠&nbsp;용품</option>
                                        <option value="#modalLayer03">스쿠버&nbsp;다이빙&nbsp;장비</option>
                                        <option value="#modalLayer04">낚시&nbsp;장비</option>
                                        <option value="#modalLayer05">하키/라크로스&nbsp;장비</option>
                                        <option value="#modalLayer06">라켓</option>
                                        <option value="#modalLayer07">스케이드&nbsp;보드</option>
                                        <option value="#modalLayer08">총기&nbsp;및&nbsp;실탄</option>
                                        <option value="#modalLayer09">악기(기타,&nbsp;바이올린,&nbsp;관악기&nbsp;등)</option>
                                    </select>

                                    <a href="#" data-element="modal_anchor" style="display:none;"
                                       data-target="#modalLayer01" data-modal-type="full" data-action="modalLayer">특수&nbsp;수하물&nbsp;상세&nbsp;(골프클럽)</a>
                                    <a href="#" data-element="modal_anchor" style="display:none;"
                                       data-target="#modalLayer02" data-modal-type="full" data-action="modalLayer">특수&nbsp;수하물&nbsp;상세&nbsp;(스포츠&nbsp;용품)</a>
                                    <a href="#" data-element="modal_anchor" style="display:none;"
                                       data-target="#modalLayer03" data-modal-type="full" data-action="modalLayer">특수&nbsp;수하물&nbsp;상세&nbsp;(스쿠버&nbsp;다이빙&nbsp;장비)</a>
                                    <a href="#" data-element="modal_anchor" style="display:none;"
                                       data-target="#modalLayer04" data-modal-type="full" data-action="modalLayer">특수&nbsp;수하물&nbsp;상세&nbsp;(낚시&nbsp;장비)</a>
                                    <a href="#" data-element="modal_anchor" style="display:none;"
                                       data-target="#modalLayer05" data-modal-type="full" data-action="modalLayer">특수&nbsp;수하물&nbsp;상세&nbsp;(하키/라크로스&nbsp;장비)</a>
                                    <a href="#" data-element="modal_anchor" style="display:none;"
                                       data-target="#modalLayer06" data-modal-type="full" data-action="modalLayer">특수&nbsp;수하물&nbsp;상세&nbsp;(라켓(테니스,&nbsp;스쿼시,&nbsp;배드민턴&nbsp;등))</a>
                                    <a href="#" data-element="modal_anchor" style="display:none;"
                                       data-target="#modalLayer07" data-modal-type="full" data-action="modalLayer">특수&nbsp;수하물&nbsp;상세&nbsp;(스케이드&nbsp;보드)</a>
                                    <a href="#" data-element="modal_anchor" style="display:none;"
                                       data-target="#modalLayer08" data-modal-type="full" data-action="modalLayer">특수&nbsp;수하물&nbsp;상세&nbsp;(총기&nbsp;및&nbsp;실탄)</a>
                                    <a href="#" data-element="modal_anchor" style="display:none;"
                                       data-target="#modalLayer09" data-modal-type="full" data-action="modalLayer">특수&nbsp;수하물&nbsp;상세&nbsp;(악기(기타,바이올린,관악기&nbsp;등))</a>

                                </div>
                            </div>
                        </div>
                        <div class="button-wrap sub-section">
                            <button type="button" class="button button--optional" id="categoryBtn"><span
                                    class="button__text">조회</span></button>
                        </div>
                    </div>
                </div>

                <div class="container--xlarge">
                    <div class="title">
                        <div class="title__wrap">
                            <h2 class="title__section title__section--small">특수&nbsp;수하물&nbsp;위탁&nbsp;시</h2>
                            <ul class="list-guide">
                                <li class="list-guide__item">위탁하는 특수수하물(악기, 자전거 등)의 크기는 모든 탑승 클래스에서 케이스를 포함하여 세 변의
                                    합(가로+세로 +높이의 합) 277CM를 초과해서는 안 됩니다.
                                </li>
                                <li class="list-guide__item">특수&nbsp;수하물은&nbsp;모양과&nbsp;크기가&nbsp;일반&nbsp;수하물과&nbsp;달리&nbsp;운송&nbsp;도중&nbsp;파손&nbsp;가능성이&nbsp;높으므로&nbsp;포장에&nbsp;각별히&nbsp;유의해&nbsp;주세요.</li>
                                <li class="list-guide__item">공항 탑승수속 카운터에서 특수 수하물 위탁 시 특수 수하물에 위탁에 따른 서약서를 작성해야 합니다.
                                    <br> *항공기&nbsp;내&nbsp;탑재상황,&nbsp;노선,&nbsp;기상상황에&nbsp;따라&nbsp;위탁이&nbsp;어려울&nbsp;수&nbsp;있습니다.
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <!--골프클럽-->
                <div id="modalLayer01" class="modal modal-full modal-scroll">
                    <div class="modal-header">
                        <div class="modal-header__title">특수&nbsp;수하물&nbsp;상세</div>
                    </div>
                    <div class="modal-content">
                        <div class="first-margin">
                            <div class="section-title">골프클럽</div>
                            <div class="img-wrap">
                                <img src="https://static.jejuair.net/hpgg/resources/images/@temp/@sports_1.png" alt="">
                            </div>
                            <div class="sub-section">
                                <div class="section-title">특수&nbsp;수하물&nbsp;안내</div>
                                <ul class="list-guide">
                                    <li class="list-guide__item">골프클럽은&nbsp;낱개의&nbsp;골프채라도&nbsp;항공안전&nbsp;및&nbsp;보안에&nbsp;관한&nbsp;법률에&nbsp;따라&nbsp;기내&nbsp;반입이&nbsp;금지되어&nbsp;있으므로&nbsp;반드시&nbsp;위탁&nbsp;수하물로&nbsp;처리해야&nbsp;합니다.</li>
                                    <li class="list-guide__item">골프채는&nbsp;운송&nbsp;도중&nbsp;휘거나&nbsp;파손될&nbsp;위험이&nbsp;높아&nbsp;전용&nbsp;하드케이스에&nbsp;넣어야&nbsp;합니다.</li>
                                    <li class="list-guide__item">전용&nbsp;하드케이스에&nbsp;넣지&nbsp;않은&nbsp;골프채는&nbsp;파손&nbsp;시&nbsp;보상하지&nbsp;않습니다.</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <a href="#" rel="modal:close" class="modal__close"><span class="blind">닫기</span></a>
                </div>
                <!--//골프클럽-->

                <!--스포츠 용품-->
                <div id="modalLayer02" class="modal modal-full modal-scroll" style="">
                    <div class="modal-header">
                        <div class="modal-header__title">특수&nbsp;수하물&nbsp;상세</div>
                    </div>
                    <div class="modal-content">

                        <div class="first-margin">
                            <div class="section-title">스포츠&nbsp;용품</div>
                            <ul class="list-guide">
                                <li class="list-guide__item">스포츠&nbsp;용품은&nbsp;무료&nbsp;수하물&nbsp;허용량과&nbsp;별개로&nbsp;요금이&nbsp;부과됩니다.</li>
                            </ul>

                            <div class="sub-section sports-pop-box">
                                <div class="section-title">공항에서</div>
                                <div class="icon-inner-box">
                                    <div class="icon-items">
                                        <p class="img"><img
                                                src="https://static.jejuair.net/hpgg/resources/images/icon/icon_sptors_0.png">
                                        </p>
                                        <!--20210708 아이콘 이미지 변경-->
                                        <p class="txt">스포츠&nbsp;용품&nbsp;수수료</p>
                                    </div>
                                </div>
                                <p class="text__default text--bold">10,000원/USD&nbsp;10&nbsp;(개당)</p>
                                <ul class="list-guide list-guide--asterisk  list-guide--asterisk">
                                    <li class="list-guide__item">개수당,&nbsp;출발지&nbsp;현지&nbsp;통화&nbsp;기준</li>
                                    <li class="list-guide__item">위탁&nbsp;수하물&nbsp;무료&nbsp;허용량&nbsp;초과&nbsp;시&nbsp;초과&nbsp;수하물&nbsp;요금&nbsp;별도</li>
                                </ul>
                            </div>

                            <div class="sub-section sports-pop-box">
                                <div class="section-title">온라인에서</div>
                                <div class="icon-inner-box">
                                    <div class="icon-items">
                                        <p class="red-badge">할인</p>
                                        <p class="img"><img
                                                src="https://static.jejuair.net/hpgg/resources/images/icon/icon_sptors_0.png">
                                        </p>
                                        <!--20210708 아이콘 이미지 변경-->
                                        <p class="txt">스포츠&nbsp;용품&nbsp;수수료</p>
                                    </div>
                                </div>
                                <ul class="list-normal sub-box">
                                    <li>온라인&nbsp;상품은&nbsp;출발&nbsp;24시간&nbsp;전까지&nbsp;구매/취소&nbsp;가능하며&nbsp;일부&nbsp;노선에서는&nbsp;구매가&nbsp;불가할&nbsp;수&nbsp;있습니다.</li>
                                </ul>
                            </div>


                            <div class="sub-section sports-tab">
                                <div data-element="tab" data-options="{&quot;tabType&quot;: &quot;scroll&quot;}"
                                     class="tab tab--round">
                                    <div data-element="tab__scroll-wrap" class="tab__button-wrap section-wrap">
                                        <div data-element="tab__scroll" class="tab__buttons" style="width: 30px;">
                                            <div data-element="tab__list" class="tab__button" role="presentation">
                                                <button type="button" data-element="tab__anchor"
                                                        class="tab__anchor is-active" data-index="0" id="plugin-tab-4"
                                                        role="tab" tabindex="" aria-selected="true"
                                                        aria-expanded="true">자전거
                                                </button>
                                            </div>
                                            <div data-element="tab__list" class="tab__button" role="presentation">
                                                <button type="button" data-element="tab__anchor" class="tab__anchor"
                                                        data-index="1" id="plugin-tab-5" role="tab" tabindex=""
                                                        aria-selected="false" aria-expanded="false">스키/스노우보드
                                                </button>
                                            </div>
                                            <div data-element="tab__list" class="tab__button" role="presentation">
                                                <button type="button" data-element="tab__anchor" class="tab__anchor"
                                                        data-index="2" id="plugin-tab-6" role="tab" tabindex=""
                                                        aria-selected="false" aria-expanded="false">서핑보드
                                                </button>
                                            </div>
                                            <div data-element="tab__list" class="tab__button" role="presentation">
                                                <button type="button" data-element="tab__anchor" class="tab__anchor"
                                                        data-index="3" id="plugin-tab-7" role="tab" tabindex=""
                                                        aria-selected="false" aria-expanded="false">윈드서핑
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    <!--자전거-->


                                    <div data-element="tab__panel" class="tab__panel sub-section is-active"
                                         aria-labelledby="plugin-tab-4" role="tabpanel" tabindex="0">
                                        <div class="img-wrap">
                                            <img src="https://static.jejuair.net/hpgg/resources/images/@temp/@sports_2.png"
                                                 alt="">
                                        </div>
                                        <div class="sub-section">
                                            <div class="section-title">특수&nbsp;수하물&nbsp;안내</div>
                                            <ul class="list-guide">
                                                <li class="list-guide__item">바퀴나&nbsp;프레임,&nbsp;핸들&nbsp;등이&nbsp;휠&nbsp;수&nbsp;있으므로,&nbsp;반드시&nbsp;페달을&nbsp;분리하고&nbsp;핸들을&nbsp;고정시킨&nbsp;후&nbsp;완충제가&nbsp;내장된&nbsp;전용&nbsp;하드케이스에&nbsp;포장하셔야&nbsp;합니다.</li>
                                                <li class="list-guide__item">자전거&nbsp;1대는&nbsp;위탁&nbsp;수하물&nbsp;1개로&nbsp;간주합니다.</li>
                                                <li class="list-guide__item">일반&nbsp;위탁&nbsp;수하물&nbsp;규정과&nbsp;동일하게&nbsp;적용합니다.</li>
                                            </ul>
                                        </div>
                                        <div class="sub-section">
                                            <div class="section-title">제한&nbsp;운송&nbsp;품목</div>
                                            <ul class="list-guide">
                                                <li class="list-guide__item">엔진이&nbsp;장착된&nbsp;동력&nbsp;자전거나&nbsp;스쿠터,&nbsp;오토바이,&nbsp;제트스키&nbsp;등은&nbsp;화재나&nbsp;폭발&nbsp;가능성이&nbsp;있어&nbsp;수하물로&nbsp;운송할&nbsp;수&nbsp;없습니다.</li>
                                            </ul>
                                        </div>
                                        <div class="sub-section">
                                            <div class="section-title">연결 서비스</div>
                                            <ul class="list-guide">
                                                <li class="list-guide__item">제주항공과 함께 자전거 여행을 더욱 쉽게.<br>캐링백이 준비되어 있어요.
                                                </li>
                                            </ul>
                                            <div class="button-wrap left">
                                                <button type="button" class="button button--small"
                                                        onclick="URL_LINK.getI18Url('/additionalService/service/carringBagGuide.do');">
                                                    <span class="button__text">자전거 캐링백 서비스 안내</span></button>
                                            </div>
                                        </div>
                                    </div>
                                    <!--스키/스노우보드-->
                                    <div data-element="tab__panel" class="tab__panel" aria-labelledby="plugin-tab-5"
                                         role="tabpanel" tabindex="0" style="display: none;">
                                        <div class="img-wrap">
                                            <img src="https://static.jejuair.net/hpgg/resources/images/@temp/@sports_3.png"
                                                 alt="">
                                        </div>
                                        <div class="sub-section">
                                            <div class="section-title">특수&nbsp;수하물&nbsp;안내</div>
                                            <ul class="list-guide">
                                                <li class="list-guide__item">스키,&nbsp;스노우보드&nbsp;장비는&nbsp;운송&nbsp;도중&nbsp;파손될&nbsp;가능성이&nbsp;높으므로,&nbsp;전용&nbsp;가방에&nbsp;안전하게&nbsp;포장한&nbsp;상태로&nbsp;위탁해야&nbsp;합니다.</li>
                                                <li class="list-guide__item">스키/스노우보드&nbsp;장비는&nbsp;가방&nbsp;단위로&nbsp;요금이&nbsp;부과됩니다.</li>
                                            </ul>
                                        </div>

                                    </div>
                                    <!--서핑보드-->
                                    <div data-element="tab__panel" class="tab__panel" aria-labelledby="plugin-tab-6"
                                         role="tabpanel" tabindex="0" style="display: none;">
                                        <div class="img-wrap">
                                            <img src="https://static.jejuair.net/hpgg/resources/images/@temp/@sports_4.png"
                                                 alt="">
                                        </div>
                                        <div class="sub-section">
                                            <div class="section-title">특수&nbsp;수하물&nbsp;안내</div>
                                            <ul class="list-guide">
                                                <li class="list-guide__item">위탁&nbsp;수하물&nbsp;1개로&nbsp;간주합니다.</li>
                                            </ul>
                                        </div>
                                    </div>
                                    <!--윈드서핑-->
                                    <div data-element="tab__panel" class="tab__panel" aria-labelledby="plugin-tab-7"
                                         role="tabpanel" tabindex="0" style="display: none;">
                                        <div class="img-wrap">
                                            <img src="https://static.jejuair.net/hpgg/resources/images/@temp/@sports_5.png"
                                                 alt="">
                                        </div>
                                        <div class="sub-section">
                                            <div class="section-title">특수&nbsp;수하물&nbsp;안내</div>
                                            <ul class="list-guide">
                                                <li class="list-guide__item">위탁&nbsp;수하물&nbsp;1개로&nbsp;간주합니다.</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>
                    <a href="#" rel="modal:close" class="modal__close"><span class="blind">닫기</span></a>
                </div>
                <!--//스포츠 용품-->

                <!--스쿠버 다이빙 장비-->

                <!--//스쿠버 다이빙 장비-->

                <!--낚시 장비-->
                <div id="modalLayer04" class="modal modal-full modal-scroll">
                    <div class="modal-header">
                        <div class="modal-header__title">특수&nbsp;수하물&nbsp;상세</div>
                    </div>
                    <div class="modal-content">

                        <div class="first-margin">
                            <div class="section-title">낚시&nbsp;장비</div>
                            <div class="img-wrap">
                                <img src="https://static.jejuair.net/hpgg/resources/images/@temp/@sports_7.jpg" alt="">
                            </div>
                            <div class="sub-section">
                                <div class="section-title">특수&nbsp;수하물&nbsp;안내</div>
                                <ul class="list-guide">
                                    <li class="list-guide__item">낚싯대(가방)와&nbsp;장비가방&nbsp;1개는&nbsp;위탁&nbsp;수하물&nbsp;1개로&nbsp;간주합니다.</li>
                                </ul>
                            </div>
                        </div>

                    </div>
                    <a href="#" rel="modal:close" class="modal__close"><span class="blind">닫기</span></a>
                </div>
                <!--//낚시 장비-->

                <!--하키/라크로스 장비-->
                <div id="modalLayer05" class="modal modal-full modal-scroll">
                    <div class="modal-header">
                        <div class="modal-header__title">특수&nbsp;수하물&nbsp;상세</div>
                    </div>
                    <div class="modal-content">

                        <div class="first-margin">
                            <div class="section-title">하키/라크로스&nbsp;장비</div>
                            <div class="img-wrap">
                                <img src="https://static.jejuair.net/hpgg/resources/images/@temp/@sports_8.png" alt="">
                            </div>
                            <div class="sub-section">
                                <div class="section-title">특수&nbsp;수하물&nbsp;안내</div>
                                <ul class="list-guide">
                                    <li class="list-guide__item">[장비가방&nbsp;1개&nbsp;+&nbsp;스틱(테이핑&nbsp;처리하여&nbsp;묶는&nbsp;경우&nbsp;최대&nbsp;2개)]은&nbsp;위탁&nbsp;수하물&nbsp;1개로&nbsp;간주합니다.</li>
                                    <li class="list-guide__item">장비가방&nbsp;없이&nbsp;스틱만&nbsp;위탁하는&nbsp;경우에도&nbsp;위탁&nbsp;수하물&nbsp;1개로&nbsp;간주합니다.</li>
                                </ul>
                            </div>
                        </div>

                    </div>
                    <a href="#" rel="modal:close" class="modal__close"><span class="blind">닫기</span></a>
                </div>
                <!--//하키/라크로스 장비-->

                <!--라켓(테니스, 스쿼시, 배드민턴 등)-->
                <div id="modalLayer06" class="modal modal-full modal-scroll">
                    <div class="modal-header">
                        <div class="modal-header__title">특수&nbsp;수하물&nbsp;상세</div>
                    </div>
                    <div class="modal-content">

                        <div class="first-margin">
                            <div class="section-title">라켓(테니스,&nbsp;스쿼시,&nbsp;배드민턴&nbsp;등)</div>
                            <div class="img-wrap">
                                <img src="https://static.jejuair.net/hpgg/resources/images/@temp/@sports_9.png" alt="">
                            </div>
                            <div class="sub-section">
                                <div class="section-title">특수&nbsp;수하물&nbsp;안내</div>
                                <ul class="list-guide">
                                    <li class="list-guide__item">라켓(또는&nbsp;가방)&nbsp;1개는&nbsp;위탁&nbsp;수하물&nbsp;1개로&nbsp;간주합니다.</li>
                                </ul>
                            </div>
                        </div>

                    </div>
                    <a href="#" rel="modal:close" class="modal__close"><span class="blind">닫기</span></a>
                </div>
                <!--//라켓(테니스, 스쿼시, 배드민턴 등)-->

                <!--스케이드 보드-->
                <div id="modalLayer07" class="modal modal-full modal-scroll">
                    <div class="modal-header">
                        <div class="modal-header__title">특수&nbsp;수하물&nbsp;상세</div>
                    </div>
                    <div class="modal-content">

                        <div class="first-margin">
                            <div class="section-title">스케이드&nbsp;보드</div>
                            <div class="img-wrap">
                                <img src="https://static.jejuair.net/hpgg/resources/images/@temp/@sports_10.png" alt="">
                            </div>
                            <div class="sub-section">
                                <div class="section-title">특수&nbsp;수하물&nbsp;안내</div>
                                <ul class="list-guide">
                                    <li class="list-guide__item">스케이트&nbsp;보드(또는&nbsp;가방)&nbsp;1개는&nbsp;위탁&nbsp;수하물&nbsp;1개로&nbsp;간주합니다.</li>
                                    <li class="list-guide__item">일반&nbsp;위탁&nbsp;수하물&nbsp;규정과&nbsp;동일하게&nbsp;적용합니다.</li>
                                </ul>
                            </div>
                        </div>

                    </div>
                    <a href="#" rel="modal:close" class="modal__close"><span class="blind">닫기</span></a>
                </div>
                <!--//스케이드 보드-->

                <!--총기 및 실탄-->
                <div id="modalLayer08" class="modal modal-full modal-scroll">
                    <div class="modal-header">
                        <div class="modal-header__title">특수&nbsp;수하물&nbsp;상세</div>
                    </div>
                    <div class="modal-content">

                        <!--총기 및 실탄-->
                        <div class="first-margin">
                            <div class="section-title">총기&nbsp;및&nbsp;실탄</div>
                            <div class="img-wrap">
                                <img src="https://static.jejuair.net/hpgg/resources/images/@temp/@sports_11.png" alt="">
                            </div>
                            <div class="sub-section">
                                <div class="section-title">특수&nbsp;수하물&nbsp;안내</div>
                                <ul class="list-guide">
                                    <li class="list-guide__item">총기&nbsp;및&nbsp;실탄은&nbsp;탑승수속&nbsp;시&nbsp;신고서를&nbsp;작성하고,&nbsp;미리&nbsp;신고해야&nbsp;합니다.</li>
                                    <li class="list-guide__item">총기&nbsp;및&nbsp;실탄은&nbsp;장전되지&nbsp;않은&nbsp;상태로&nbsp;위탁&nbsp;수하물로만&nbsp;운송할&nbsp;수&nbsp;있습니다.</li>
                                    <li class="list-guide__item">개인이&nbsp;직접&nbsp;사용할&nbsp;스포츠용&nbsp;실탄만&nbsp;허용되며&nbsp;폭발이나&nbsp;방화용&nbsp;실탄은&nbsp;운송할&nbsp;수&nbsp;없습니다.</li>
                                    <li class="list-guide__item">실탄은&nbsp;1인당&nbsp;5KG까지만&nbsp;허용되며&nbsp;안전하게&nbsp;따로&nbsp;포장되어야&nbsp;합니다.</li>
                                    <li class="list-guide__item">[총기&nbsp;상자&nbsp;1개&nbsp;+&nbsp;실탄&nbsp;상자&nbsp;1개]는&nbsp;위탁&nbsp;수하물&nbsp;1개로&nbsp;간주합니다.</li>
                                    <li class="list-guide__item">총기함&nbsp;및&nbsp;실탄함은&nbsp;반드시&nbsp;잠근&nbsp;상태여야&nbsp;합니다.</li>
                                </ul>
                            </div>
                        </div>

                    </div>
                    <a href="#" rel="modal:close" class="modal__close"><span class="blind">닫기</span></a>
                </div>
                <!--//총기 및 실탄-->

                <!--악기(기타,바이올린,관악기 등)-->
                <div id="modalLayer09" class="modal modal-full modal-scroll">
                    <div class="modal-header">
                        <div class="modal-header__title">특수 수하물 상세</div>
                    </div>
                    <div class="modal-content">

                        <div class="first-margin">
                            <div class="section-title">악기(기타,바이올린,관악기&nbsp;등)</div>
                            <div class="img-wrap">
                                <img src="https://static.jejuair.net/hpgg/resources/images/@temp/@sports_12.png" alt="">
                            </div>
                            <div class="sub-section">
                                <div class="section-title">악기를 기내로 반입하는 경우</div>
                                <ul class="list-guide">
                                    <li class="list-guide__item">바이올린과 같은 세변의 합이(가로+세로+높이) 이 115CM 이하인 악기는 무료로 기내에 반입할 수
                                        있습니다. [기내 선반 혹은 좌석 밑 보관(맨 앞열 및 비상구열 제외) 가능해야 함]
                                    </li>
                                    <li class="list-guide__item">첼로, 더블베이스, 거문고 등 세변의 합이 115CM를 초과하는 악기는 별도의 좌석을 구매해야
                                        합니다. (고객센터를 통해 별도 예약 필요 함 )
                                    </li>
                                </ul>
                            </div>
                            <div class="sub-section">
                                <div class="section-title">악기를 위탁수하물로 보내는 경우</div>
                                <ul class="list-guide">
                                    <li class="list-guide__item">악기류는 파손 가능성이 매우 크므로 기내 휴대 혹은 별도 좌석 구매 후 운송을 권장합니다.</li>
                                    <li class="list-guide__item">총 수하물(악기류+기타 위탁 수하물) 개수, 크기, 무게가 무료 허용량을 초과하는 경우에는 추가
                                        요금이 적용됩니다.
                                    </li>
                                    <li class="list-guide__item">세 변의 합(가로+세로+높이)이 203CM 를 초과할 경우 별도 좌석을 구매하여 기내로 반입하거나
                                        화물 업체를 운송해야 합니다.
                                    </li>
                                    <li class="list-guide__item">완충제가 내장된 악기 운송용 하드케이스로 포장해야 하며, 공항 탑승 수속 카운터에서 ‘악기 운송
                                        서약서’를 작성해야 합니다
                                    </li>
                                </ul>
                            </div>
                        </div>

                    </div>
                    <a href="#" rel="modal:close" class="modal__close"><span class="blind">닫기</span></a>
                </div>
            </main>
        </div>

    </div>
</div>


<!-- footer -->
<div th:replace="user/fragment/footer :: footer"></div>
<!-- / footer 끝 -->



<script>
    $(document).ready(function () {
        $("body").on("click", "#categoryBtn", function (e) {

            var v = $("#categoryChoice").val();
            if (v == null || v == "") {
                alert("선택해 주세요");
                return;
            }
            $("[data-action='modalLayer'][data-target='" + v + "']").trigger("click");
        });

    });
</script>

<div id="ifmWrap"
     style="height:100%; display:none; overflow:auto; text-align:center; -webkit-overflow-scrolling:touch;">
    <iframe src="" width="100%" height="100%" name="popupChkApp"></iframe>
</div>
<script type="text/javascript" src="/64eUBUeRMVPTlqH-grKuOHvY/kupYtS2D3a/Clx4AQ/LyRlKRN/EZmY"></script>
<div class="jjLoading" data-load="Y" style="display: none;">
    <!--
       <div class="loading">
          <div class="loading__img">
            <img src="https://static.jejuair.net/hpgg/resources/images/etc/img_loading.gif">
            <div class="loading__text">LOADING</div>
          </div>
        </div>
    -->
    <div class="loading2">
        <div class="loading__img">
            <img src="https://static.jejuair.net/hpgg/resources/images/etc/loading2.gif">
        </div>

        <div class="loading2_dim"></div>
    </div>
</div>
<iframe src="https://bid.g.doubleclick.net/xbbe/pixel?d=KAE" style="display: none;"></iframe>
<div id="modalLayer03" class="modal modal-full modal-scroll" style="display: none;">
    <div class="modal-header">
        <div class="modal-header__title">특수&nbsp;수하물&nbsp;상세</div>
    </div>
    <div class="modal-content" style="height: 598px;">

        <div class="first-margin">
            <div class="section-title">스쿠버&nbsp;다이빙&nbsp;장비</div>
            <div class="img-wrap">
                <img src="https://static.jejuair.net/hpgg/resources/images/@temp/@sports_6.png" alt="">
            </div>
            <div class="sub-section">
                <div class="section-title">특수&nbsp;수하물&nbsp;안내</div>
                <ul class="list-guide">
                    <li class="list-guide__item">스쿠버&nbsp;다이빙&nbsp;장비는&nbsp;공기통이&nbsp;완전히&nbsp;빈&nbsp;상태로&nbsp;전용&nbsp;가방에&nbsp;안전하게&nbsp;포장되어야&nbsp;합니다.</li>
                    <li class="list-guide__item">스쿠버&nbsp;다이빙&nbsp;장비는&nbsp;가방&nbsp;단위로&nbsp;요금이&nbsp;부과됩니다.</li>
                </ul>
            </div>
        </div>

    </div>
    <a href="#" rel="modal:close" class="modal__close"><span class="blind">닫기</span></a>
</div>

<!-- 공통 스크립트 선언 -->

<!--<div th:replace="/user/fragment/js :: js"></div>-->
<script type="text/javascript" src="/user/lib/js/lib.min.js"></script>
<script type="text/javascript" src="/user/lib/js/common.js"></script>
<script type="text/javascript" src="/user/lib/js/plugin.js"></script>
<script type="text/javascript" src="/user/lib/js/head/head.js"></script>

<!-- 공통 스크립트 선언 끝 -->

<!--body, html 주석은 위치 고정-->
</body>

</html>
<!--body, html 주석은 위치 고정 끝-->